{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlindustryServicesFormalSecApp" ng-controller="dlindustryServicesFormalSecController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:industry_services_main' %}">Industry & Services Sector</a>
        </li>


        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;"> Table 3.Damages and Losses of a Firm in the Formal Sector</span></li>

        <li style="float:right;"> <a href="{% static 'dashboard/doc/Industry_and_Services.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>


    <div class="container-fluid" ng-form name="form_dl_ind_serv_informl_sec">
        <ul class='nav nav-wizard'>
            <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 Firm Info </a></li>
            <li id="li2"><a href='#step2' data-toggle="tab">2 Damages  </a></li>
            <li id="li3"><a href='#step3' data-toggle="tab">3 Losses</a></li>



        </ul>


        <div id="myTabContent" class="tab-content">


            <div class="tab-pane active" id="step1">
                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Incident
                        </td>
                        <td height="19" width="108">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" height="19" width="220">
                            District
                        </td>
                        <td colspan="3" height="19" width="343">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="changedValue(false);" required>

                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Ownership
                        </td>
                        <td colspan="6" height="19" width="661">
                            <select id="selectbasic" name="selectbasic" ng-model="selectedFirm.ownership"  class="form-control" style="width:100%;font-weight:400;" required="true">
                                <option value="" selected="true">Select Ownership</option>
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>

                            </select>
                        </td>
                    </tr>
                    <!--formal_formal_type-->
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Type of Business
                        </td>
                        <td colspan="6" height="19" width="661">
                            <select ng-options="formal_formal_type as formal_formal_type.firm_type
                            for formal_formal_type in formal_formal_types track by formal_formal_type.id"
                                    name="formal_formal_type" id="ccyear" ng-model="selected_formal_type" ng-value="formal_formal_type.id"
                                    class="form-control" ng-change="changeBusinessSubSectors()" required="true">

                                <option value="" selected>Select Type of Business</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19" >
                        <td height="19" width="212">
                            Industry sub Sector
                        </td>
                        <td colspan="6" height="19" width="661" >

                            <select ng-model="subSector" ng-change="changeSubSector()" class="form-control" ng-disabled="isIndustrySelected">
                                <option value="" selected="true">Select Industry sub sector</option>
                                <option ng-repeat="subSec in indSubSec" ng-bind="subSec.industry" ng-value="subSec.industry">{{ subSec.industry }}</option>
                            </select>
                        </td>
                        <!--<td colspan="6" height="19" width="661" ng-if="is_edit" >-->
                        <!--<input type="text" ng-model="selectedFirm.sector" class="form-control" disabled="true">-->
                        <!--</td>-->
                    </tr>
                    <tr class="trhead1" height="19" >
                        <td height="19" width="212">
                            Service sub Sector
                        </td>
                        <td colspan="6" height="19" width="661" >

                            <select ng-model="selectedFirm.sector" class="form-control" ng-disabled="!isIndustrySelected">
                                <option value="" selected="true">Select Service sub sector</option>
                                <option ng-repeat="subSec in serSubSec" ng-bind="subSec.service" ng-value="subSec.service">{{ subSec.service }}</option>
                            </select>
                        </td>
                        <!--<td colspan="6" height="19" width="661" ng-if="is_edit && !isIndustrySelected" >-->
                        <!--<input type="text" ng-model="selectedFirm.sector" class="form-control" disabled="true">-->
                        <!--</td>-->
                        <!--</tr>-->
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Classification of Firm
                        </td>
                        <!--classificationTypes-->
                        <td colspan="6" height="19" width="661">
                            <!--<select ng-options="classificationType as classificationType.classification for classificationType in classificationTypes"-->
                            <!--name="formal_formal_type" id="ccyear" ng-model="selectedFirm.classification_id" ng-value="classificationType.id"-->
                            <!--class="form-control" required="true">-->

                            <!--<option value="" selected>Select Service classification</option>-->
                            <!--</select>-->
                            <select ng-options="classificationType as classificationType.classification for

                            classificationType in classificationTypes track by classificationType.id"
                                    name="district" id="ccyear" ng-model="classification" ng-value="classificationType.id"
                                    class="form-control"  required ng-change="setClassificationID()">

                                <option value="" selected="true">Select Service classification</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Firm Name
                        </td>
                        <td colspan="6" height="19" width="661">
                            <input id="textinput" name="firm_name" type="text"  ng-model="selectedFirm.firm_name" required="true" placeholder="Firm Name" class="form-control input-md">
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Brief Description of Firm
                        </td>
                        <td colspan="6" height="19" width="661">
                            <input id="textinput" name="firm_name" type="text" ng-model="selectedFirm.description" required="true" placeholder="Brief Description of Firm" class="form-control input-md">
                        </td>
                    </tr>

                    <tr class="trheadc1" height="19">
                        <td height="19" width="212">
                            Number of Employees
                        </td>
                        <td colspan="2" height="19" width="216">
                            Male
                        </td>
                        <td colspan="2" height="19" width="200">
                            Female
                        </td>
                        <td colspan="2" height="19" width="254">
                            Total
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                        </td>
                        <td colspan="2" height="21" width="216">
                            <input id="textinput" name="textinput" type="number"  ng-model="selectedFirm.num_male_emp" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="21" width="200">
                            <input id="textinput" name="textinput" type="number"  ng-model="selectedFirm.num_female_emp" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="21" width="254" ng-bind="selectedFirm.tot_num_emp = getSum2(selectedFirm.num_male_emp, selectedFirm.num_female_emp)">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span class="glyphicon glyphicon-arrow-right"></span> Fill Damaged  Informations</a>
                <br>
            </div>

            <div class="tab-pane " id="step2">

                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                    </colgroup>
                    <tbody>

                    <tr class="trheadc1" height="53">
                        <td height="53" width="212">
                            Assets
                        </td>
                        <td colspan="2" height="53" width="216">
                            Replacement Value of Totally Destroyed Assets (LKR)
                        </td>
                        <td colspan="2" height="53" width="200">
                            Repair Cost for Partially Damaged Assets (LKR)
                        </td>
                        <td colspan="2" height="53" width="254">
                            Total Damages (LKR)
                        </td>
                    </tr>
                    <!--dl_dmg_loss_foml_sec-->
                    <tr class="trheadc" height="19" >
                        <td height="19" width="212">
                            Structures
                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">
                        </td>
                    </tr>

                    <tr height="19" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstStructures" ng-if="dmgRow.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgRow.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgAstStructures', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgAstStructures_{{$index}}" ng-model="dmgRow.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgAstStructures_' + $index].$dirty && !form_pop_lat_census['DmgAstStructures_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" height="19" width="216" >
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.replace_val_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="200">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.repair_val_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="254" ng-bind="dmgRow.tot_damaged =
                        getSum2(dmgRow.replace_val_destroyed, dmgRow.repair_val_damaged)">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertRow('DmgAstStructures')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">

                        </td>
                    </tr>
                    <tr height="21" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstStructures" ng-if="dmgRow.assets == 'Total'">
                        <td class="tdpa" height="21" width="212"  >
                            Total
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216"
                            ng-bind="dmgRow.replace_val_destroyed = getTotalCol('DmgAstStructures', 'replace_val_destroyed', dmgRow )">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200"
                            ng-bind="dmgRow.repair_val_damaged = getTotalCol('DmgAstStructures', 'repair_val_damaged', dmgRow )">
                        </td>
                        <td colspan="2" height="21" width="254"
                            ng-bind="dmgRow.tot_damaged = getTotalCol('DmgAstStructures', 'tot_damaged', dmgRow )">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Equipment
                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">
                        </td>
                    </tr>
                    <!--Equipments-->

                    <tr height="19" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstEquipment" ng-if="dmgRow.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgRow.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgAstEquipment', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgAstEquipment_{{$index}}" ng-model="dmgRow.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgAstEquipment_' + $index].$dirty && !form_pop_lat_census['DmgAstEquipment_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" height="19" width="216" >
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.replace_val_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="200">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.repair_val_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="254" ng-bind="dmgRow.tot_damaged =
                        getSum2(dmgRow.replace_val_destroyed, dmgRow.repair_val_damaged)">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertRow('DmgAstEquipment')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">

                        </td>
                    </tr>
                    <tr height="21" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstEquipment" ng-if="dmgRow.assets == 'Total'">
                        <td class="tdpa" height="21" width="212"  >
                            Total
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216"
                            ng-bind="dmgRow.replace_val_destroyed = getTotalCol('DmgAstEquipment', 'replace_val_destroyed', dmgRow )">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200"
                            ng-bind="dmgRow.repair_val_damaged = getTotalCol('DmgAstEquipment', 'repair_val_damaged', dmgRow )">
                        </td>
                        <td colspan="2" height="21" width="254"
                            ng-bind="dmgRow.tot_damaged = getTotalCol('DmgAstEquipment', 'tot_damaged', dmgRow )">
                            -
                        </td>
                    </tr>

                    <!--Machinery-->
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Machinery
                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstMachinery" ng-if="dmgRow.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgRow.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgAstMachinery', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgAstMachinery_{{$index}}" ng-model="dmgRow.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgAstMachinery_' + $index].$dirty && !form_pop_lat_census['DmgAstMachinery_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" height="19" width="216" >
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.replace_val_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="200">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.repair_val_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="254" ng-bind="dmgRow.tot_damaged =
                        getSum2(dmgRow.replace_val_destroyed, dmgRow.repair_val_damaged)">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertRow('DmgAstMachinery')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">

                        </td>
                    </tr>
                    <tr height="21" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstMachinery" ng-if="dmgRow.assets == 'Total'">
                        <td class="tdpa" height="21" width="212"  >
                            Total
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216"
                            ng-bind="dmgRow.replace_val_destroyed = getTotalCol('DmgAstMachinery', 'replace_val_destroyed', dmgRow )">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200"
                            ng-bind="dmgRow.repair_val_damaged = getTotalCol('DmgAstMachinery', 'repair_val_damaged', dmgRow )">
                        </td>
                        <td colspan="2" height="21" width="254"
                            ng-bind="dmgRow.tot_damaged = getTotalCol('DmgAstMachinerys', 'tot_damaged', dmgRow )">
                            -
                        </td>
                    </tr>

                    <!--Vehicles-->
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Vehicles
                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">
                        </td>
                    </tr>

                    <tr height="19" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstVehicles" ng-if="dmgRow.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgRow.assets" ng-if="$index < 2">
                        </td>
                        <td width="98" ng-if="$index > 1">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgAstVehicles', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgAstVehicles_{{$index}}" ng-model="dmgRow.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgAstVehicles_' + $index].$dirty &&
                                   !form_pop_lat_census['DmgAstVehicles_' + $index].$valid"

                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" height="19" width="216" >
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.replace_val_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="200">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.repair_val_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="254" ng-bind="dmgRow.tot_damaged =
                        getSum2(dmgRow.replace_val_destroyed, dmgRow.repair_val_damaged)">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertRow('DmgAstVehicles')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">

                        </td>
                    </tr>
                    <tr height="21" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstVehicles" ng-if="dmgRow.assets == 'Total'">
                        <td class="tdpa" height="21" width="212"  >
                            Total
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216"
                            ng-bind="dmgRow.replace_val_destroyed = getTotalCol('DmgAstVehicles', 'replace_val_destroyed', dmgRow )">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200"
                            ng-bind="dmgRow.repair_val_damaged = getTotalCol('DmgAstVehicles', 'repair_val_damaged', dmgRow )">
                        </td>
                        <td colspan="2" height="21" width="254"
                            ng-bind="dmgRow.tot_damaged = getTotalCol('DmgAstVehicles', 'tot_damaged', dmgRow )">
                            -
                        </td>
                    </tr>

                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Stocks
                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">
                        </td>
                    </tr>

                    <tr height="19" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstStocks" ng-if="dmgRow.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgRow.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgAstStocks', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgAstStocks_{{$index}}" ng-model="dmgRow.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgAstStocks_' + $index].$dirty &&
                                   !form_pop_lat_census['DmgAstStocks_' + $index].$valid"

                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" height="19" width="216" >
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.replace_val_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="200">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="dmgRow.repair_val_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="254" ng-bind="dmgRow.tot_damaged =
                        getSum2(dmgRow.replace_val_destroyed, dmgRow.repair_val_damaged)">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertRow('DmgAstStocks')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" height="19" width="216">
                        </td>
                        <td colspan="2" height="19" width="200">
                        </td>
                        <td colspan="2" height="19" width="254">

                        </td>
                    </tr>
                    <tr height="21" ng-repeat="dmgRow in
                dl_dmg_loss_foml_sec.industry_services.Table_3.DmgAstStocks" ng-if="dmgRow.assets == 'Total'">
                        <td class="tdpa" height="21" width="212"  >
                            Total
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216"
                            ng-bind="dmgRow.replace_val_destroyed = getTotalCol('DmgAstStocks', 'replace_val_destroyed', dmgRow )">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200"
                            ng-bind="dmgRow.repair_val_damaged = getTotalCol('DmgAstStocks', 'repair_val_damaged', dmgRow )">
                        </td>
                        <td colspan="2" height="21" width="254"
                            ng-bind="dmgRow.tot_damaged = getTotalCol('DmgAstStocks', 'tot_damaged', dmgRow )">
                            -
                        </td>
                    </tr>

                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            GRAND TOTAL
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="216" ng-bind="getGrandTotalCol('replace_val_destroyed')">
                        </td>
                        <td class="tdpa" colspan="2" height="21" width="200" ng-bind="getGrandTotalCol('repair_val_damaged')">
                        </td>
                        <td colspan="2" height="21" width="254" ng-bind="getGrandTotalCol('tot_damaged')">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <a href="#step3" id="s2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span class="glyphicon glyphicon-arrow-right"></span> Fill Losses Informations</a>
                <br>
            </div>

            <div class="tab-pane" id="step3">
                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                    </colgroup>
                    <tbody>

                    <tr class="trheadc1" height="34">
                        <td height="34" width="212">
                            Types of Losses
                        </td>
                        <td height="34" width="108">
                            Average Value of Output per Year
                        </td>
                        <td colspan="2" height="34" width="220">
                            Estimated Reduction in Value of Output (%)
                        </td>
                        <td colspan="2" height="34" width="216">
                            Losses (LKR)
                        </td>
                        <td height="34" width="143">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="212">
                        </td>
                        <td height="19" width="108">
                            LKR/Year
                        </td>
                        <td height="19" width="110">
                            Year 1
                        </td>
                        <td height="19" width="100">
                            Year 2
                        </td>
                        <td height="19" width="108">
                            Year 1
                        </td>
                        <td height="19" width="127">
                            Year 2
                        </td>
                        <td height="19" width="143">
                        </td>
                    </tr>

                    <tr height="19" ng-repeat="losTypeLossses in dl_dmg_loss_foml_sec.industry_services.Table_3.LosTypeLossses"
                        ng-if="(dlBusLosses.los_type != 'Total') && ($index < 1)">
                        <td class="tdpa" height="19" width="212" ng-bind="losTypeLossses.assets">
                            Production Losses
                        </td>
                        <td height="19" width="108">
                            <input id="textinput" name="textinput"
                                   type="number" ng-model="losTypeLossses.avg_val_output_year" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="110">
                            <input id="textinput" name="textinput"
                                   type="number" ng-model="losTypeLossses.est_val_output_year1" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="100">
                            <input id="textinput" name="textinput"
                                   type="number" ng-model="losTypeLossses.est_val_output_year2" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="108"
                            ng-bind="losTypeLossses.los_year1 = getMultiply2(losTypeLossses.avg_val_output_year, losTypeLossses.est_val_output_year1)">
                            -
                        </td>
                        <td height="19" width="127"
                            ng-bind="losTypeLossses.los_year2 = getMultiply2(losTypeLossses.avg_val_output_year, losTypeLossses.est_val_output_year2)">
                            -
                        </td>
                        <td height="19" width="143" ng-bind="losTypeLossses.tot_losses = getSum2(losTypeLossses.los_year1,losTypeLossses.los_year2)">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="losTypeLossses in dl_dmg_loss_foml_sec.industry_services.Table_3.LosTypeLossses"
                        ng-if="(losTypeLossses.assets != 'Total') && ($index > 0)">
                        <td class="tdpa" height="19" width="212"  ng-bind="losTypeLossses.assets">
                            Cleaning up of debris
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td height="19" width="108">
                            <input id="textinput" name="textinput"
                                   type="number" ng-model="losTypeLossses.los_year1" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="127">
                            <input id="textinput" name="textinput"
                                   type="number" ng-model="losTypeLossses.los_year2" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="143" ng-bind="losTypeLossses.tot_losses = getSum2(losTypeLossses.los_year1,losTypeLossses.los_year2)">
                            -
                        </td>
                    </tr>

                    <tr height="21" ng-repeat="losTypeLossses in dl_dmg_loss_foml_sec.industry_services.Table_3.LosTypeLossses"
                        ng-if="losTypeLossses.assets == 'Total'">
                        <td class="tdpa" height="21" width="212">
                            TOTAL
                        </td>
                        <td class="tdpa" height="21" width="108" >
                        </td>
                        <td class="tdpa" height="21" width="110">
                        </td>
                        <td class="tdpa" height="21" width="100">
                        </td>
                        <td height="21" width="108" ng-bind="getTotalCol('LosTypeLossses', 'los_year1', losTypeLossses)">
                            -
                        </td>
                        <td height="21" width="127" ng-bind="getTotalCol('LosTypeLossses', 'los_year2', losTypeLossses)">
                            -
                        </td>
                        <td height="21" width="143" ng-bind="getTotalCol('LosTypeLossses', 'tot_losses', losTypeLossses)">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                    <!--<button type="button" ng-click="dataEdit(form_dl_ind_serv_forml_sec)"-->
                    <!--ng-if="!is_edit" class="btn btn-success">Edit-->
                    <!--</button>-->
                    <button type="button" ng-click="initiateEdit()"
                            ng-if="!is_edit" class="btn btn-success">Edit
                    </button>
                    <button type="button" ng-click="clear()" ng-if="is_edit" class="btn btn-warning">Cancel
                        Edit
                    </button>
                    <button type="button" class="btn btn-success" ng-click="saveData(form_dl_ind_serv_informl_sec)">Submit</button>
                </div>
                <br><br><br>
            </div>




        </div>
    </div>






    <div class="col-md-12">

        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;" ng-form name="form_tourism_firm_select">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title" >
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">

                        <!--<div class="clearfix"></div>-->
                        <!--<div class="form-group" style="margin-top:5px;">-->
                            <!--<label class="col-md-4 control-label" for="textinput">Select Sub Sector</label>-->

                            <!--<select ng-options="classificationType as classificationType.classification for-->

                            <!--classificationType in classificationTypes track by classificationType.id"-->
                                    <!--name="district" id="ccyear" ng-model="classification" ng-value="classificationType.id"-->
                                    <!--class="form-control"  required ng-change="setClassificationID()">-->

                                <!--<option value="" selected="true">Select Service classification</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Firm</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="selectbasic"
                                        ng-options="firm as firm.firm_name for  firm in firms | filter:{ classification_id : classification.id }"
                                        name="selectedType" id="ccyear" ng-model="selectedFirm"
                                        class="form-control"
                                        style="width:100%;font-weight:400;">

                                    <option value="" selected="true">Select Business Type</option>
                                </select>


                            </div>
                        </div>
                        <br>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="dataEdit()">
                            Submit
                        </button>
                    </div>
                </div>

            </div>

            <!--Toselect firm in the edit mode-->
            <div class="modal fade" id="modal-container-218030" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
                <div class="modal-dialog" style="width:50%;" ng-form name="form_tourism_firm_select">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h5 class="modal-title" >
                                <span id="bookId"> </span>
                            </h5>
                        </div>
                        <div class="modal-body">

                            <div class="clearfix"></div>
                            <div class="form-group" style="margin-top:5px;">
                                <label class="col-md-4 control-label" for="textinput">Firm</label>
                                <div class="col-md-5">
                                    <select id="selectbasic" name="selectbasic"
                                            ng-options="firm as firm.firm_name for  firm in firms"
                                            name="selectedType" id="ccyear" ng-model="selectedFirm"
                                            class="form-control"
                                            style="width:100%;font-weight:400;">

                                        <option value="" selected="true">Select Business Type</option>
                                    </select>


                                </div>
                            </div>
                            <br>
                        </div>
                        <br><br>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="loadAllData()">
                                Submit
                            </button>
                        </div>
                    </div>

                </div>



            </div>



        </div>           </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
