{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlindustryServicesInfoSecApp" ng-controller="dlindustryServicesInfoSecController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:industry_services_main' %}">Industry & Services Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 4. Damages and Losses of the Informal Sector
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Industry_and_Services.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_ind_serv_informl_sec">
        <ul class='nav nav-wizard'>
            <li id="li1" class="active">
                <a href='#step1' data-toggle="tab">1 Damages</a>
            </li>
            <li id="li2">
                <a href='#step2' data-toggle="tab">2 Losses</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                        <td style="width:100px;"> <span ng-if="!check_search">
									<button ng-if="!is_search" class="btn btn-info" disabled><span class="fa fa-search"></span></button>
									</span> <span ng-if="check_search">
									<button ng-click="searchDlData(form_dl_ind_serv_informl_sec)" ng-if="!is_search" class="btn btn-info"><span class="fa fa-search"></span></button>
									</span>
									<button ng-click="clear()" ng-if="is_search" class="btn btn-warning">Cancel Search</button>
								</td>
                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_dl_ind_serv_informl_sec.incident.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_dl_ind_serv_informl_sec.district.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Incident
                        </td>
                        <td height="19" width="108">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" height="19" width="220">
                            District
                        </td>
                        <td colspan="3" height="19" width="343">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="changedValue(false);" required>
                                <!--fetchFirms();-->
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="51">
                        <td height="51" width="212">
                            Type of businesses
                        </td>
                        <td height="51" width="108" style="width:15%;">
                            Total Number of Businesses Affected
                        </td>
                        <td colspan="2" height="51" width="220" style="width:15%;">
                            Replacement Value of Totally Destroyed Assets (LKR)
                        </td>
                        <td colspan="2" height="51" width="216" style="width:15%;">
                            Repair Cost for Partially Damaged Assets (LKR)
                        </td>
                        <td height="51" width="143" style="width:15%;">
                            Total Damages (LKR)
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlInfDmgTypBusiness in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfDmgTypBusiness" ng-if="dlInfDmgTypBusiness.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="dlInfDmgTypBusiness.assets">
                            Asset Name
                        </td>
                        <td height="19" width="108" >
                            <input id="textinput" name="textinput" type="number" min="0" patten="[0-9]*"
                                   ng-model="dlInfDmgTypBusiness.tot_num_bus_affected" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="220">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfDmgTypBusiness.replace_val_ast_destroyed" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" height="19" width="216">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfDmgTypBusiness.repair_val_ast_damaged" placeholder="" class="form-control input-md">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="dlInfDmgTypBusiness.tot_damages = getSum2(dlInfDmgTypBusiness.replace_val_ast_destroyed, dlInfDmgTypBusiness.repair_val_ast_damaged)">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlInfDmgTypBusiness in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfDmgTypBusiness" ng-if="dlInfDmgTypBusiness.assets == 'Total'">
                        <td class="tdpa" height="19" width="212">
                            Total
                        </td>
                        <td class="right" height="19" width="108" ng-bind="dlInfDmgTypBusiness.tot_num_bus_affected = getTotalCol('DlInfDmgTypBusiness', 'tot_num_bus_affected', dlInfDmgTypBusiness)">
                        </td>
                        <td class="right" colspan="2" height="19" width="220" ng-bind="dlInfDmgTypBusiness.replace_val_ast_destroyed = getTotalCol('DlInfDmgTypBusiness', 'replace_val_ast_destroyed', dlInfDmgTypBusiness)">
                        </td>
                        <td class="right" colspan="2" height="19" width="216" ng-bind="dlInfDmgTypBusiness.repair_val_ast_damaged = getTotalCol('DlInfDmgTypBusiness', 'repair_val_ast_damaged', dlInfDmgTypBusiness)">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="getTotalCol('DlInfDmgTypBusiness', 'tot_damages', dlInfDmgTypBusiness)">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    Fill Losses Informations
                </a>
                <br>
            </div>
            <div class="tab-pane " id="step2">
                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                    </colgroup>
                    <tbody>
                    <tr class="trheadc1" height="34">
                        <td height="34" width="212">
                            Types of Losses
                        </td>
                        <td height="34" width="108">
                            Average Value of Output per Year
                        </td>
                        <td colspan="2" height="34" width="220">
                            Reduction in Value 0f Output (%)
                        </td>
                        <td colspan="2" height="34" width="216">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" height="53" width="143">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="212">
                            Trading
                        </td>
                        <td height="19" width="108">
                            LKR/Year
                        </td>
                        <td height="19" width="110">
                            Year 1
                        </td>
                        <td height="19" width="100">
                            Year 2
                        </td>
                        <td height="19" width="108">
                            Year 1
                        </td>
                        <td height="19" width="127">
                            Year 2
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlInfLosTypTrading in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypTrading" ng-if="dlInfLosTypTrading.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="dlInfLosTypTrading.assets">
                            Production Losses
                        </td>
                        <td height="19" width="108" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfLosTypTrading.avg_val_output_year" placeholder="" class="form-control input-md" >
                        </td>
                        <td  height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="110" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfLosTypTrading.est_val_output_year1" placeholder="" class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="100" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfLosTypTrading.est_val_output_year2" placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="dlInfLosTypTrading.los_year1 = getMultiply2(dlInfLosTypTrading.avg_val_output_year,dlInfLosTypTrading.est_val_output_year1 )">
                        </td>
                        <td height="19" width="108" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfLosTypTrading.los_year1" placeholder="" class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="dlInfLosTypTrading.los_year2 = getMultiply2(dlInfLosTypTrading.avg_val_output_year,dlInfLosTypTrading.est_val_output_year2 )">
                        </td>
                        <td height="19" width="127" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="dlInfLosTypTrading.los_year2" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-bind="dlInfLosTypTrading.tot_losses = getSum2(dlInfLosTypTrading.los_year1, dlInfLosTypTrading.los_year2)">
                            Tot row
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlInfLosTypTrading in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypTrading" ng-if="dlInfLosTypTrading.assets == 'Total'">
                        <td class="tdpa" height="19" width="212">
                            Total
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="dlInfLosTypTrading.los_year1 = getTotalCol('DlInfLosTypTrading', 'los_year1', dlInfLosTypTrading)">
                        </td>
                        <td class="right" height="19" width="127" ng-bind="dlInfLosTypTrading.los_year2 = getTotalCol('DlInfLosTypTrading', 'los_year2', dlInfLosTypTrading)">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="dlInfLosTypTrading.tot_losses =getTotalCol('DlInfLosTypTrading', 'tot_losses', dlInfLosTypTrading)">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Services
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypServices" ng-if="tableRow.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="tableRow.assets">
                            Production Losses
                        </td>
                        <td height="19" width="108" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.avg_val_output_year" placeholder="" class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="110" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year1" placeholder="" class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="100" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year2" placeholder="" class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year1 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year1 )">
                        </td>
                        <td height="19" width="108" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year1" placeholder="" class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year2 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year2 )">
                        </td>
                        <td height="19" width="127" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year2" placeholder="" class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-bind="tableRow.tot_losses = getSum2(tableRow.los_year1, tableRow.los_year2)">
                            Tot row
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypServices" ng-if="tableRow.assets == 'Total'">
                        <td class="tdpa" height="19" width="212">
                            Total
                        </td>
                        <td class="tdpa" height="19" width="108" >
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="tableRow.los_year1 = getTotalCol('DlInfLosTypServices', 'los_year1', tableRow)">
                        </td>
                        <td class="right" height="19" width="127" ng-bind="tableRow.los_year2 = getTotalCol('DlInfLosTypServices', 'los_year2', tableRow)">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="tableRow.tot_losses = getTotalCol('DlInfLosTypServices', 'tot_losses', tableRow)">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Food processing
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                    </tr>
                    <!--Food-->
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypFood" ng-if="tableRow.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="tableRow.assets">
                            Production Losses
                        </td>
                        <td height="19" width="108" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.avg_val_output_year" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="110" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year1" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="100" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year2" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year1 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year1 )">
                        </td>
                        <td height="19" width="108" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year1" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year2 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year2 )">
                        </td>
                        <td height="19" width="127" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year2" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td class="right" height="19" width="100" ng-bind="tableRow.tot_losses = getSum2(tableRow.los_year1, tableRow.los_year2)">
                            Tot row
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypFood" ng-if="tableRow.assets == 'Total'">
                        <td class="tdpa" height="19" width="212">
                            Total
                        </td>
                        <td class="tdpa" height="19" width="108" >
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="tableRow.los_year1 = getTotalCol('DlInfLosTypFood', 'los_year1', tableRow)">
                        </td>
                        <td class="right" height="19" width="127" ng-bind="tableRow.los_year2 = getTotalCol('DlInfLosTypFood', 'los_year2', tableRow)">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="tableRow.tot_losses = getTotalCol('DlInfLosTypFood', 'tot_losses', tableRow)">
                        </td>
                    </tr>
                    <!--Others-->
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Others
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypOther" ng-if="tableRow.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="tableRow.assets">
                            Production Losses
                        </td>
                        <td height="19" width="108" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.avg_val_output_year" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="110" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year1" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td height="19" width="100" ng-if="$index == 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.est_val_output_year2" placeholder=""
                                   class="form-control input-md" >
                        </td>
                        <td height="19" class="tdpa" width="108" ng-if="$index != 0">
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year1 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year1 )">
                        </td>
                        <td height="19" width="108" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year1" placeholder="" class="form-control input-md">
                        </td>
                        <td class="right" height="19" width="100" ng-if="$index == 0"
                            ng-bind="tableRow.los_year2 = getMultiply2(tableRow.avg_val_output_year,tableRow.est_val_output_year2 )">
                        </td>
                        <td height="19" width="127" ng-if="$index != 0">
                            <input id="textinput" name="textinput" type="number" min="0"
                                   ng-model="tableRow.los_year2" placeholder="" class="form-control input-md">
                        </td>
                        <td class="right" height="19" width="100" ng-bind="tableRow.tot_losses = getSum2(tableRow.los_year1, tableRow.los_year2)">
                            Tot row
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="tableRow in dl_dmg_loss_infoml_sec.industry_services.Table_4.DlInfLosTypOther" ng-if="tableRow.assets == 'Total'">
                        <td class="tdpa" height="19" width="212">
                            Total
                        </td>
                        <td class="tdpa" height="19" width="108" >
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="tableRow.los_year1 = getTotalCol('DlInfLosTypOther', 'los_year1', tableRow)">
                        </td>
                        <td class="right" height="19" width="127" ng-bind="tableRow.los_year2 = getTotalCol('DlInfLosTypOther', 'los_year2', tableRow)">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="tableRow.tot_losses = getTotalCol('DlInfLosTypOther', 'tot_losses', tableRow)">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="212">
                            GRAND TOTAL
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="tdpa" height="19" width="110">
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="getGrandTotalCol('los_year1')">
                        </td>
                        <td class="right" height="19" width="127" ng-bind="getGrandTotalCol('los_year2')">
                        </td>
                        <td class="right" height="19" width="143" ng-bind="getGrandTotalCol('tot_losses')">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>
                    <button id="clearbtn" type="button" ng-click="clear()" class="btn btn-info">
                        Clear
                    </button>
                    <span ng-if="is_edit_disable">
                        <button id="editbtn" type="button" ng-click="editDlData(form_dl_ind_serv_informl_sec)" ng-if="!is_edit"
                                class="btn btn-success">
                            Edit
                        </button>
                    </span>
                        <span ng-if="!is_edit_disable">
                        <button id="editbtn" type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                    <button id="editbtn"  type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button id="subbtn"type="button" ng-click="saveDlData(form_dl_ind_serv_informl_sec)" class="btn btn-success">
                        Submit
                    </button>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title" >
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
