{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<main class="main" ng-app="dlSummFormlInformldisApp" ng-controller="dlSummFormlInformldisController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:industry_services_main' %}">Industry & Services
            Sector</a>
        </li>


        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 6.  Summary of Damages and Losses of the Formal and Informal Sectors in the District</span>
        </li>
        <li style="float:right;"><a href="{% static 'dashboard/doc/Industry_and_Services.pdf' %}" target="_blank"
                                    style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
                                    data-toggle="tooltip" title="Veiw Document"></a></li>

    </ol>


    <div class="container-fluid">


        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">

                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>

                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            Incident
                        </td>
                        <td height="19" colspan="3" width="108">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" height="19" width="220">
                            District
                        </td>
                        <td colspan="5" height="19" width="675">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="changedValue(false);" required>

                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>

                    <tr class="trheadc1" height="19">
                        <td colspan="11" height="19" width="1309">
                            Damages and Losses in the Formal Sector
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" height="59" width="212">
                            Types of Businesses
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="216">
                            Number of Affected Businesses
                        </td>
                        <td colspan="4" height="19" width="435">
                            Year 1
                        </td>
                        <td colspan="2" height="19" width="126">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="126">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" height="19" width="200">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="19" width="254">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="19" width="126">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="21">
                        <td height="21" width="108">
                            Public
                        </td>
                        <td height="21" width="110">
                            Private
                        </td>
                        <td height="21" width="100">
                            Public
                        </td>
                        <td height="21" width="108">
                            Private
                        </td>
                        <td height="21" width="127">
                            Public
                        </td>
                        <td height="21" width="143">
                            Private
                        </td>
                        <td height="21" width="63">
                            Public
                        </td>
                        <td height="21" width="63">
                            Private
                        </td>
                        <td height="21" width="63">
                            Public
                        </td>
                        <td height="21" width="63">
                            Private
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Industry
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="ind in indSubSec">
                        <td class="tdpa" height="19" width="212" ng-bind="ind.industry">
                            Textile and Garments
                        </td>
                        <td class="right" height="19" width="108"
                            ng-bind="industryTotals[$index].numAffPub = getConvertedVal(table.industry[ind.industry].numAffected.num_bus_public)">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="industryTotals[$index].numAffPri = getConvertedVal(table.industry[ind.industry].numAffected.num_bus_private)">
                        </td>
                        <td class="right" height="19" width="100"
                            ng-bind="industryTotals[$index].y1DamPubBus = getConvertedVal(table.industry[ind.industry].year1Damage.Public)">

                        </td>
                        <td class="right" height="19" width="108"
                            ng-bind="industryTotals[$index].y1DamPriBus = getConvertedVal(table.industry[ind.industry].year1Damage.Private)">
                        </td>
                        <td class="right" width="114"
                            ng-bind="industryTotals[$index].y1LossPubBus = getConvertedVal(table.industry[ind.industry].year1Loss.Public)">

                        </td>
                        <td class="right" width="118"
                            ng-bind="industryTotals[$index].y1LossPriBus = getConvertedVal(table.industry[ind.industry].year1Loss.Private)">

                        </td>
                        <td class="right" width="85"
                            ng-bind="industryTotals[$index].y2LossPubBus = getConvertedVal(table.industry[ind.industry].year2Loss.Public)">

                        </td>
                        <td class="right" width="85"
                            ng-bind="industryTotals[$index].y2LossPriBus = getConvertedVal(table.industry[ind.industry].year2Loss.Private)">

                        </td>
                        <td class="right" width="85" ng-bind="industryTotals[$index].PubTotBus = getSum3(table.industry[ind.industry].year1Damage.Public,
                                                table.industry[ind.industry].year1Loss.Public,
                                                table.industry[ind.industry].year2Loss.Public)
                                                ">

                        </td>
                        <td class="right" width="85" ng-bind="industryTotals[$index].PriTotBus = getSum3(table.industry[ind.industry].year1Damage.Private,
                                                table.industry[ind.industry].year1Loss.Private,
                                                table.industry[ind.industry].year2Loss.Private)
                                                ">

                        </td>
                    </tr>

                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            Total
                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind=" industryTotal.numAffPub = getindustryTotal( 'numAffPub' )">

                        </td>
                        <td class="right" height="21" width="110"
                            ng-bind=" industryTotal.numAffPri = getindustryTotal( 'numAffPri' )">

                        </td>
                        <td class="right" height="21" width="100"
                            ng-bind=" industryTotal.y1DamPubBus = getindustryTotal( 'y1DamPubBus' )">

                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind=" industryTotal.y1DamPriBus = getindustryTotal( 'y1DamPriBus' )">

                        </td>
                        <td class="right" height="21" width="127"
                            ng-bind=" industryTotal.y1LossPubBus = getindustryTotal( 'y1LossPubBus' )">
                        </td>
                        <td class="right" height="21" width="127"
                            ng-bind=" industryTotal.y1LossPriBus = getindustryTotal( 'y1LossPriBus' )">
                        </td>
                        <td class="right" height="21" width="143"
                            ng-bind=" industryTotal.y2LossPubBus = getindustryTotal( 'y2LossPubBus' )">

                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" industryTotal.y2LossPriBus = getindustryTotal( 'y2LossPriBus' )">
                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" industryTotal.PubTotBus = getindustryTotal( 'PubTotBus' )">

                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" industryTotal.PriTotBus = getindustryTotal( 'PriTotBus' )">

                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Services
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="ser in serSubSec">
                        <td class="tdpa" height="19" width="212" ng-bind="ser.service">
                        </td>
                        <td class="right" height="19" width="108"
                            ng-bind="serviceTotals[$index].numAffPub = getConvertedVal(table.service[ser.service].numAffected.num_bus_public)">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="serviceTotals[$index].numAffPri = getConvertedVal(table.service[ser.service].numAffected.num_bus_private)">
                        </td>
                        <td class="right" height="19" width="100"
                            ng-bind="serviceTotals[$index].y1DamPubBus = getConvertedVal(table.service[ser.service].year1Damage.Public)">

                        </td>
                        <td class="right" height="19" width="108"
                            ng-bind="serviceTotals[$index].y1DamPriBus = getConvertedVal(table.service[ser.service].year1Damage.Private)">
                        </td>
                        <td class="right" width="114"
                            ng-bind="serviceTotals[$index].y1LossPubBus = getConvertedVal(table.service[ser.service].year1Loss.Public)">

                        </td>
                        <td class="right" width="118"
                            ng-bind="serviceTotals[$index].y1LossPriBus = getConvertedVal(table.service[ser.service].year1Loss.Private)">

                        </td>
                        <td class="right" width="85"
                            ng-bind="serviceTotals[$index].y2LossPubBus = getConvertedVal(table.service[ser.service].year2Loss.Public)">

                        </td>
                        <td class="right" width="85"
                            ng-bind="serviceTotals[$index].y2LossPriBus = getConvertedVal(table.service[ser.service].year2Loss.Private)">

                        </td>
                        <td class="right" width="85" ng-bind="serviceTotals[$index].PubTotBus = getSum3(table.service[ser.service].year1Damage.Public,
                                                table.service[ser.service].year1Loss.Public,
                                                table.service[ser.service].year2Loss.Public)
                                                ">

                        </td>
                        <td class="right" width="85" ng-bind="serviceTotals[$index].PriTotBus = getSum3(table.service[ser.service].year1Damage.Private,
                                                table.service[ser.service].year1Loss.Private,
                                                table.service[ser.service].year2Loss.Private)
                                                ">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="21" width="212">
                            Total
                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind=" serviceTotal.numAffPub = getserviceTotal( 'numAffPub' )">

                        </td>
                        <td class="right" height="21" width="110"
                            ng-bind=" serviceTotal.numAffPri = getserviceTotal( 'numAffPri' )">

                        </td>
                        <td class="right" height="21" width="100"
                            ng-bind=" serviceTotal.y1DamPubBus = getserviceTotal( 'y1DamPubBus' )">

                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind=" serviceTotal.y1DamPriBus = getserviceTotal( 'y1DamPriBus' )">

                        </td>
                        <td class="right" height="21" width="127"
                            ng-bind=" serviceTotal.y1LossPubBus = getserviceTotal( 'y1LossPubBus' )">
                        </td>
                        <td class="right" height="21" width="127"
                            ng-bind=" serviceTotal.y1LossPriBus = getserviceTotal( 'y1LossPriBus' )">
                        </td>
                        <td class="right" height="21" width="143"
                            ng-bind=" serviceTotal.y2LossPubBus = getserviceTotal( 'y2LossPubBus' )">

                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" serviceTotal.y2LossPriBus = getserviceTotal( 'y2LossPriBus' )">
                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" serviceTotal.PubTotBus = getserviceTotal( 'PubTotBus' )">

                        </td>
                        <td class="right" height="21" width="63"
                            ng-bind=" serviceTotal.PriTotBus = getserviceTotal( 'PriTotBus' )">

                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="11" height="19" width="1309">
                            Damages and Losses in the Informal Sector
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" height="57" width="212">
                            Types of Businesses
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="216">
                            Number of Affected Businesses
                        </td>
                        <td colspan="4" height="19" width="435">
                            Year 1
                        </td>
                        <td colspan="2" height="19" width="126">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="126">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" height="19" width="200">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="19" width="254">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="19" width="126">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="108">
                            Public
                        </td>
                        <td height="19" width="110">
                            Private
                        </td>
                        <td height="19" width="100">
                            Public
                        </td>
                        <td height="19" width="108">
                            Private
                        </td>
                        <td height="19" width="127">
                            Public
                        </td>
                        <td height="19" width="143">
                            Private
                        </td>
                        <td height="19" width="63">
                            Public
                        </td>
                        <td height="19" width="63">
                            Private
                        </td>
                        <td height="19" width="63">
                            Public
                        </td>
                        <td height="19" width="63">
                            Private
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="business in data2.DlInfNumBusDistrict"
                        ng-if="business.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="business.assets">
                            Trading
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].numAff = table2[business.assets].tot_num_bus_affected">

                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].y1Dmg = table3[business.assets].tot_damages">

                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].tot_los_year1 = table2[business.assets].tot_los_year1">

                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].tot_los_year2 = table2[business.assets].tot_los_year2">

                        </td>

                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="businessData[$index].tot = getSum3(businessData[$index].y1Dmg, businessData[$index].tot_los_year1 , businessData[$index].tot_los_year2)">

                        </td>

                    </tr>
                    <tr height="19" ng-repeat="business in data2.DlInfNumBusDistrict"
                        ng-if="business.assets == 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="business.assets">
                            Trading
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="right" height="19" width="110" ng-bind="(businessData[0].numAff + businessData[1].numAff + businessData[2].numAff
                        + businessData[3].numAff + businessData[4].numAff)">

                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110" ng-bind="(businessData[0].y1Dmg + businessData[1].y1Dmg + businessData[2].y1Dmg
                        + businessData[3].y1Dmg + businessData[4].y1Dmg)">

                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="(businessData[0].tot_los_year1 + businessData[1].tot_los_year1 + businessData[2].tot_los_year1
                        + businessData[3].tot_los_year1 + businessData[4].tot_los_year1)">>

                        </td>
                        <td class="tdpa" height="19" width="63">

                        </td>
                        <td class="right" height="19" width="108" ng-bind="(businessData[0].tot_los_year2 + businessData[1].tot_los_year2 +
                        businessData[2].tot_los_year2
                        + businessData[3].tot_los_year2 + businessData[4].tot_los_year2)">>

                        </td>

                        <td class="tdpa" height="19" width="127">
                        </td>
                        <td class="right" height="19" width="63" ng-bind="(businessData[0].tot + businessData[1].tot +
                        businessData[2].tot
                        + businessData[3].tot + businessData[4].tot)">

                        </td>

                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="11" height="19" width="1309">
                            SUMMARY OF DAMAGES AND LOSSES IN THE DISTRICT
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" height="57" width="212">
                        </td>
                        <td colspan="4" height="19" width="426">
                            Year 1
                        </td>
                        <td colspan="2" height="19" width="254">
                            Year 2
                        </td>
                        <td colspan="4" rowspan="2" height="38" width="252">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" height="19" width="216">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="19" width="200">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="19" width="254">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="108">
                            Public
                        </td>
                        <td height="19" width="110">
                            Private
                        </td>
                        <td height="19" width="100">
                            Public
                        </td>
                        <td height="19" width="108">
                            Private
                        </td>
                        <td height="19" width="127">
                            Public
                        </td>
                        <td height="19" width="143">
                            Private
                        </td>
                        <td colspan="2" height="19" width="126">
                            Public
                        </td>
                        <td colspan="2" height="19" width="126">
                            Private
                        </td>
                    </tr>

                    <!--formal-->

                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Formal Sector
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                        <td height="19" colspan="2" width="63">
                        </td>
                        <td height="19" colspan="2" width="63">
                        </td>


                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="212">
                            Industry
                        </td>
                        <td class="right" height="19" width="108" ng-bind="industryTotal.numAffPub">
                            -
                        </td>
                        <td class="right" height="21" width="110" ng-bind=" industryTotal.numAffPri">
                            -
                        </td>
                        <td class="right" height="21" width="100" ng-bind=" industryTotal.y1DamPubBus">
                            -
                        </td>
                        <td class="right" height="21" width="108" ng-bind=" industryTotal.y1DamPriBus">
                            -
                        </td>
                        <td class="right" height="21" width="127" ng-bind=" industryTotal.y1LossPubBus">
                        </td>
                        <td class="right" height="21" width="127" ng-bind=" industryTotal.y1LossPriBus">
                        </td>
                        <td class="right" colspan="2" height="19" width="126"
                            ng-bind="summaryTotal.indPub = getSum3(industryTotal.numAffPub, industryTotal.y1DamPubBus, industryTotal.y1LossPubBus)">
                            -
                        </td>
                        <td class="right" colspan="2" height="19" width="126"
                            ng-bind="summaryTotal.indPri = getSum3(industryTotal.numAffPri, industryTotal.y1DamPriBus, industryTotal.y1LossPriBus)">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="212">
                            Services
                        </td>
                        <td class="right" height="21" width="108" ng-bind=" serviceTotal.numAffPub">
                            -
                        </td>
                        <td class="right" height="21" width="110" ng-bind=" serviceTotal.numAffPri">
                            -
                        </td>
                        <td class="right" height="21" width="100" ng-bind=" serviceTotal.y1DamPubBus">
                            -
                        </td>
                        <td class="right" height="21" width="108" ng-bind=" serviceTotal.y1DamPriBus">
                            -
                        </td>
                        <td class="right" height="21" width="127" ng-bind=" serviceTotal.y1LossPubBus">
                        </td>
                        <td class="right" height="21" width="127" ng-bind=" serviceTotal.y1LossPriBus">
                        </td>

                        <td class="right" colspan="2" height="19" width="126"
                            ng-bind="summaryTotal.serPub = getSum3(serviceTotal.numAffPub, serviceTotal.y1DamPubBus, serviceTotal.y1LossPubBus)">
                            -
                        </td>
                        <td class="right" colspan="2" height="19" width="126"
                            ng-bind="summaryTotal.serPri = getSum3(serviceTotal.numAffPub, serviceTotal.y1DamPubBus, serviceTotal.y1LossPubBus)">
                            -
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            Total
                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind="summaryTotal.numAffPub = getSum2(industryTotal.numAffPub, serviceTotal.numAffPub)">
                            -
                        </td>
                        <td class="right" height="21" width="110"
                            ng-bind="summaryTotal.numAffPri = getSum2(industryTotal.numAffPri, serviceTotal.numAffPri)">
                            -
                        </td>
                        <td class="right" height="21" width="100"
                            ng-bind="summaryTotal.y1DamPubBus = getSum2(industryTotal.y1DamPubBus, serviceTotal.y1DamPubBus)">
                            -
                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind="summaryTotal.y1DamPriBus = getSum2(industryTotal.y1DamPriBus, serviceTotal.y1DamPriBus)">
                            -
                        </td>
                        <td class="right" height="21" width="127"
                            ng-bind="summaryTotal.y1LossPubBus = getSum2(industryTotal.y1LossPubBus, serviceTotal.y1LossPubBus)">
                            -
                        </td>
                        <td class="right" height="21" width="143"
                            ng-bind="summaryTotal.y1LossPriBus = getSum2(industryTotal.y1LossPriBus, serviceTotal.y1LossPriBus)">
                            -
                        </td>
                        <td class="right" colspan="2" height="21" width="126"
                            ng-bind="summaryTotal.PubTot = getSum2(summaryTotal.serPub, summaryTotal.indPub)">
                            -
                        </td>
                        <td class="right" colspan="2" height="21" width="126"
                            ng-bind="summaryTotal.PriTot = getSum2(summaryTotal.serPri, summaryTotal.indPri)">
                            -
                        </td>
                    </tr>


                    <tr class="trheadc" height="19">
                        <td height="19" width="212">
                            Informal Sector
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="127">
                        </td>
                        <td height="19" width="143">
                        </td>
                        <td colspan="2" height="19" width="126">
                        </td>
                        <td colspan="2" height="19" width="126">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="business in data2.DlInfNumBusDistrict"
                        ng-if="business.assets != 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="business.assets">
                            Trading
                        </td>
                        <!--<td class="tdpa" height="19" width="108">-->
                        <!--</td>-->
                        <!--<td height="19" width="110" ng-bind="businessData[$index].numAff = table2[business.assets].tot_num_bus_affected">-->
                        <!-- - -->
                        <!--</td>-->
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].y1Dmg = table3[business.assets].tot_damages">
                            -
                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].tot_los_year1 = table2[business.assets].tot_los_year1">
                            -
                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110"
                            ng-bind="businessData[$index].tot_los_year2 = table2[business.assets].tot_los_year2">
                            -
                        </td>

                        <td class="tdpa" height="19" colspan="2" width="63">
                        </td>
                        <td class="right" height="19" width="63" colspan="2"
                            ng-bind="businessData[$index].tot = getSum3(businessData[$index].y1Dmg, businessData[$index].tot_los_year1 , businessData[$index].tot_los_year2)">
                            -
                        </td>

                    </tr>
                    <tr height="19" ng-repeat="business in data2.DlInfNumBusDistrict"
                        ng-if="business.assets == 'Total'">
                        <td class="tdpa" height="19" width="212" ng-bind="business.assets">
                            Trading
                        </td>
                        <td class="tdpa" height="19" width="108">
                        </td>
                        <td class="right" height="19" width="110" ng-bind="summaryTotalInf.numAff = (businessData[0].numAff + businessData[1].numAff + businessData[2].numAff
                        + businessData[3].numAff + businessData[4].numAff)">
                            -
                        </td>
                        <td class="tdpa" height="19" width="63">
                        </td>
                        <td class="right" height="19" width="110" ng-bind="summaryTotalInf.y1Dmg = (businessData[0].y1Dmg + businessData[1].y1Dmg + businessData[2].y1Dmg
                        + businessData[3].y1Dmg + businessData[4].y1Dmg)">
                            -
                        </td>
                        <td class="tdpa" height="19" width="100">
                        </td>
                        <td class="right" height="19" width="108" ng-bind="summaryTotalInf.tot_los_year1 = (businessData[0].tot_los_year1 + businessData[1].tot_los_year1 + businessData[2].tot_los_year1
                        + businessData[3].tot_los_year1 + businessData[4].tot_los_year1)">
                            -
                        </td>
                        <td class="tdpa" colspan="2" height="19" width="63">

                        </td>
                        <td class="right" height="19" width="108" colspan="2" ng-bind="summaryTotalInf.PriTot = (businessData[0].tot_los_year2 + businessData[1].tot_los_year2 +
                        businessData[2].tot_los_year2
                        + businessData[3].tot_los_year2 + businessData[4].tot_los_year2)">
                            -
                        </td>

                        <!--<td class="tdpa" height="19" width="127">-->
                        <!--</td>-->
                        <!--<td height="19" width="63" ng-bind="summaryTotalInf.tot = (businessData[0].tot + businessData[1].tot +-->
                        <!--businessData[2].tot-->
                        <!--+ businessData[3].tot + businessData[4].tot)">-->
                        <!-- - -->
                        <!--</td>-->
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            GRAND TOTAL
                        </td>
                        <td class="right" height="21" width="108" ng-bind="summaryTotal.numAffPub">
                            -
                        </td>
                        <td class="right" height="21" width="110"
                            ng-bind="getSum2(summaryTotal.numAffPri , summaryTotalInf.numAff)">
                            -
                        </td>
                        <td class="right" height="21" width="100" ng-bind="summaryTotal.y1DamPubBus">

                        </td>
                        <td class="right" height="21" width="108"
                            ng-bind="getSum2(summaryTotal.y1DamPriBus, summaryTotalInf.tot_los_year1)">
                            -
                        </td>
                        <td class="right" height="21" width="127" ng-bind="summaryTotal.y1LossPubBus">
                            -
                        </td>
                        <td class="right" height="21" width="143"
                            ng-bind="getSum2(summaryTotal.y1LossPriBus, summaryTotalInf.tot_los_year2)">
                            -
                        </td>
                        <td class="right" colspan="2" height="21" width="126" ng-bind="summaryTotal.PubTot">
                            -
                        </td>
                        <td class="right" colspan="2" height="21" width="126"
                            ng-bind="getSum2(summaryTotal.PriTot, summaryTotalInf.PriTot)">
                            -
                        </td>
                    </tr>


                    </tbody>
                </table>


                <br>

            </div>


        </div>
    </div>


    <div class="col-md-12">


        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
