{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSummIndSerPovApp" ng-controller="dlSummIndSerPovController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:industry_services_main' %}">
                Industry & Services Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 6. Summary of Damages and Losses in a Province
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Industry_and_Services.pdf' %}" target="_blank"
                style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"data-toggle="tooltip" title="Veiw Document">
            </a>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                        <col width="108"/>
                        <col width="127"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" height="19">
                        <td colspan="2" height="19" width="220">
                            Incident
                        </td>
                        <td colspan="3" height="19" width="549">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td height="19"  width="212">
                            Province
                        </td>
                        <td height="19" colspan="3" width="108">
                            <select name="province" ng-model="province" ng-change="fetchData()"
                                    class="form-control" style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="40" width="212">
                            Name of District
                        </td>
                        <td colspan="4" height="19" width="426">
                            Year 1
                        </td>
                        <td colspan="2" height="19" width="254">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" height="40" width="126">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="21">
                        <td colspan="2" height="21" width="216">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="21" width="200">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="21" width="254">
                            Losses (LKR)
                        </td>
                    </tr>
                    <!--Dist 1-->
                    <tbody ng-repeat="(key, value) in dlSummIndSerPov.industry_services.Table_6">
                        <tr class="trsubc" height="19">
                            <td height="19" width="212" ng-bind="key">
                            </td>
                            <td height="19" width="108">
                                Public
                            </td>
                            <td height="19" width="110">
                                Private
                            </td>
                            <td height="19" width="100">
                                Public
                            </td>
                            <td height="19" width="108">
                                Private
                            </td>
                            <td height="19" width="127">
                                Public
                            </td>
                            <td height="19" width="143">
                                Private
                            </td>
                            <td height="19" width="63">
                                Public
                            </td>
                            <td height="19" width="63">
                                Private
                            </td>
                        </tr>
                        <tr height="19">
                            <td class="tdpa" height="19" width="212">
                                Formal Sector
                            </td>
                            <td class="right" height="19" width="108"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pub">
                            </td>
                            <td class="right" width="114"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pvt">
                            </td>
                            <td class="right" width="114"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pub">
                            </td>
                            <td class="right" width="118"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pvt">
                            </td>
                            <td class="right" width="85"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pub">
                            </td>
                            <td class="right" width="85"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pvt">
                            </td>
                            <td class="right" width="85"
                                ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pub) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pub) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pub)">
                            </td>
                            <td class="right" width="85"
                                ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pvt)">
                            </td>
                        </tr>
                        <tr height="19">
                            <td class="tdpa" height="19" width="212">
                                Informal Sector
                            </td>
                            <td class="tdpa" width="115">
                            </td>
                            <td class="right" width="114"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].DmgTotInfY1SumProvince[0].tot_damages_pvt">
                            </td>
                            <td class="tdpa" width="114">
                            </td>
                            <td class="right" width="118"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY1SumProvince[0].tot_los_year1_pvt">
                            </td>
                            <td class="tdpa"  width="85">
                            </td>
                            <td class="right" width="85"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY2SumProvince[0].tot_los_year2_pvt">
                            </td>
                            <td class="tdpa" width="85">
                            </td>
                            <td class="right" width="85"
                                ng-bind="dlSummIndSerPov.industry_services.Table_6[key].DmgTotInfY1SumProvince[0].tot_damages_pvt +
                                    dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY1SumProvince[0].tot_los_year1_pvt +
                                    dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY2SumProvince[0].tot_los_year2_pvt">
                            </td>
                        </tr>
                        <tr height="21">
                            <td class="tdpa" height="21" width="212">
                                Total
                            </td>
                            <td class="right" width="115" ng-bind="dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pub">
                            </td>
                            <td class="right" width="114" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].DmgTotInfY1SumProvince[0].tot_damages_pvt)">
                            </td>
                            <td class="right" width="114" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pub)">
                            </td>
                            <td class="right" width="118" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY1SumProvince[0].tot_los_year1_pvt)">
                            </td>
                            <td class="right" width="85" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pub)">
                            </td>
                            <td class="right" width="85" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY2SumProvince[0].tot_los_year2_pvt)">
                            </td>
                            <td class="right" width="85" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pub) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pub) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pub)">
                            </td>
                            <td class="right" width="85" ng-bind="(dlSummIndSerPov.industry_services.Table_6[key].DmgTotFrmYear1SumProvince[0].tot_damages_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year1_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].LosTotFrmSumProvince[0].los_year2_pvt) +
                                (dlSummIndSerPov.industry_services.Table_6[key].DmgTotInfY1SumProvince[0].tot_damages_pvt +
                                dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY1SumProvince[0].tot_los_year1_pvt +
                                dlSummIndSerPov.industry_services.Table_6[key].LosTotInfY2SumProvince[0].tot_los_year2_pvt)">
                            </td>
                        </tr>
                    </tbody>
                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            GRAND TOTAL
                        </td>
                        <td class="right" width="115" ng-bind="grndTotDmgPub()">
                        </td>
                        <td class="right" width="114" ng-bind="grndTotDmgPvt()">
                        </td>
                        <td class="right" width="114" ng-bind="grndTotLosY1Pub()">
                        </td>
                        <td class="right" width="118" ng-bind="grndTotLosY1Pvt()">
                        </td>
                        <td class="right" width="85" ng-bind="grndTotLosY2Pub()">
                        </td>
                        <td class="right" width="85" ng-bind="grndTotLosY2Pvt()">
                        </td>
                        <td class="right" width="85" ng-bind="grndTotDmgPub() + grndTotLosY1Pub() + grndTotLosY2Pub()">
                        </td>
                        <td class="right" width="85" ng-bind="grndTotDmgPvt() + grndTotLosY1Pvt() + grndTotLosY2Pvt()">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
