{% extends "dashboard/base.html" %} {% block content %} {% load static %}
<script>
$(document).ready(function() {
	var nicesx = $("#boxscroll1").niceScroll({
		touchbehavior: false,
		cursorcolor: "#4679B2",
		cursoropacitymax: 0.6,
		cursorwidth: 8
	});
});
</script>
<!-- Main content -->
<main class="main" ng-app="bsInfoforCostsOfAssetsOnTheDistrictApp" ng-controller="bsInfoforCostsOfAssetsOnTheDistrictController">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'dashboard:index' %}">
				Dashboard
			</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{% url 'dashboard:othergov_main' %}">
				Other Government Sector
			</a>
		</li>
		<li class="breadcrumb-item active">
			<span class="label label-success" style="font-size:14px;">
                Table 1. Baseline Information for the Costs of Structures and Other Assets in the District
            </span>
		</li>
		<li style="float:right;">
			<a href="{% static 'dashboard/doc/Other_Government Services.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;"
			   class="icon-info" data-toggle="tooltip" title="Veiw Document">
			</a>
		</li>
	</ol>
	<div class="container-fluid">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane active" id="step1" ng-form name="form_other_services_bs_assets_district">
				<span style="color:red" ng-show="submitted && form_other_services_bs_assets_district.$error.required">
                    Please Fill All Required Fields
                </span>
				<span style="color:red" ng-show="!is_valid_data">
                    This request can't be proceed, there is data-set available for this selection.
                </span>
				<table class="table table-bordered">
					<colgroup>
						<col width="241"/>
						<col width="124"/>
						<col width="100" span="3"/>
					</colgroup>
					<tbody>
						<tr style="background:#fff;border:1px solid #fff;text-align:center;">
							<td style="background:#fff;border:1px solid #fff;text-align:center;" border="0"></td>
							<td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
								<span class="arrow_box" ng-show="submitted && form_other_services_bs_assets_district.district.$error.required">
									Please Select District
								</span>
							</td>
							<td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;"></td>
							<td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
								<span class="arrow_box" ng-show="submitted && form_other_services_bs_assets_district.baselineDate.$error.required">
									Please Select Date
								</span>
							</td>
						</tr>
						<tr class="trhead1" height="19">
							<td style="padding-left:5px;" height="19" width="171"> District </td>
							<td colspan="1" height="19" style="font-weight:normal;" width="427">
								<select id="selectbasic" name="selectbasic" class="form-control" ng-change="changeDis()"
										ng-model="district" style="width:100%;font-weight:400;" required>
									<option value="" selected="true">Select a District</option>
									{% for district in districts %}
									<option value={{ district.id }}>{{ district.name }}</option>
									{% endfor %}
								</select>
							</td>
							<td style="padding-left:5px;" height="19" width="171"> Year/Month </td>
							<td colspan="1" height="19" style="font-weight:normal;" width="427">
								<input name="textinput" type="text" placeholder="mm/yy" ng-change="changeDis()" id="datepicker"
									   ng-model="baselineDate" class="form-control input-md" required>
							</td>
							<td style="width:100px;">
								<span ng-if="!check_search">
									<button ng-if="!is_search" class="btn btn-info" disabled>
										<span class="fa fa-search"></span>
									</button>
								</span>
								<span ng-if="check_search">
									<button ng-click="searchBsData(form_other_services_bs_assets_district)" ng-if="!is_search"
											class="btn btn-info">
										<span class="fa fa-search"></span>
									</button>
								</span>
								<button ng-click="clear()" ng-if="is_search" class="btn btn-warning">
									<span class="fa fa-times" aria-hidden="true"></span>
								</button>
							</td>
							<span ng-bind="user_id={{user.id}}" style="display:none;"></span>
						</tr>
						<tr class="trheadc1" height="30">
							<td rowspan="2" width="241" height="50">
								Asset
							</td>
							<td rowspan="2" width="124">
								Average Replacement Cost (LKR/sqm)
							</td>
							<td colspan="3" width="300">
								Average Repair Cost (LKR/sqm)
							</td>
						</tr>
						<tr class="trsubc" height="20">
							<td width="100" height="20" style="width:10%;">
								Roof
							</td>
							<td width="100" style="width:10%;">
								Wall
							</td>
							<td width="100" style="width:10%;">
								Flooring
							</td>
						</tr>
						<tr class="trheadc" height="20">
							<td width="241" height="20">
								Structure
							</td>
							<td width="124"></td>
							<td width="100"></td>
							<td width="100"></td>
							<td width="100"></td>
						</tr>
						<tr height="20" ng-repeat="bcsStructure in bsCostsOfAssetsOnTheDistrict.other_govn_services.Table_1.BcsStructure">
							<td ng-bind="bcsStructure.asset" height="20" width="264" class="tdpa">
							</td>
							<td width="98">
								<input ng-model="bcsStructure.avg_rep_cost" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
							<td width="98">
								<input ng-model="bcsStructure.avg_repair_cost_roof" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
							<td width="98">
								<input ng-model="bcsStructure.avg_repair_cost_wall" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
							<td width="98">
								<input ng-model="bcsStructure.avg_repair_cost_flooring" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
						</tr>
						<tr class="trheadc" height="51">
							<td width="241" height="51"> Office Equipment </td>
							<td width="124"> Average replacement cost (LKR/Unit) </td>
							<td colspan="3" width="300"> Average repair cost (LKR/Unit) </td>
						</tr>
						<tr height="20" ng-repeat="bcsOfficeEquipment in bsCostsOfAssetsOnTheDistrict.other_govn_services.Table_1.BcsOfficeEquipment">
							<td ng-bind="bcsOfficeEquipment.asset" ng-if="$index < 2" height="20" width="264" class="tdpa"> </td>
							<td width="98" ng-if="$index > 1"> {% verbatim %}
								<button id="delete" ng-click="removeItem('BcsOfficeEquipment', $index)" class="btn btn-sm btn-danger btn-circle">
									<i class="fa fa-minus"></i>
								</button>
								<input style="width:80%;float:right;" name="comDisease_{{$index}}" ng-model="bcsOfficeEquipment.asset"
									   popover="This field is required" popover-toggle="form_pop_lat_census['comDisease_' + $index].$dirty && !form_pop_lat_census['comDisease_' + $index].$valid"
									   popover-placement="top" required type="text" class="form-control input-md"> {% endverbatim %} </td>
							<td width="98">
								<input ng-model="bcsOfficeEquipment.avg_rep_cost" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
							<td colspan="3" width="98">
								<input ng-model="bcsOfficeEquipment.avg_repair_cost" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
						</tr>
						<tr class="tdpa" height="20">
							<td width="241" height="20"> Others
								<button ng-click="insertAsset('BcsOfficeEquipment')" class="btn btn-sm btn-info btn-circle" id="insert">
									<span class="fa fa-plus"></span>
								</button>
							</td>
							<td width="124"> </td>
							<td colspan="3" width="300"> </td>
						</tr>
						<tr class="trheadc" height="20">
							<td width="241" height="20"> Machinery </td>
							<td width="124"> </td>
							<td colspan="3" width="300"> </td>
						</tr>
						<tr height="20" ng-repeat="bcsMachinery in bsCostsOfAssetsOnTheDistrict.other_govn_services.Table_1.BcsMachinery">
							<td ng-bind="bcsMachinery.asset" ng-if="$index < 3" height="20" width="264" class="tdpa">
							</td>
							<td width="98" ng-if="$index > 2"> {% verbatim %}
								<button id="delete" ng-click="removeItem('BcsMachinery', $index)" class="btn btn-sm btn-danger btn-circle">
									<i class="fa fa-minus"></i>
								</button>
								<input style="width:80%;float:right;" name="comDisease_{{$index}}" ng-model="bcsMachinery.asset"
									   popover="This field is required"
									   popover-toggle="form_pop_lat_census['comDisease_' + $index].$dirty && !form_pop_lat_census['comDisease_' + $index].$valid"
									   popover-placement="top" required type="text" class="form-control input-md">
								{% endverbatim %}
							</td>
							<td width="98">
								<input ng-model="bcsMachinery.avg_rep_cost" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
							<td colspan="3" width="98">
								<input ng-model="bcsMachinery.avg_repair_cost" id="textinput" name="textinput" type="number"
									   placeholder="" class="form-control input-md">
							</td>
						</tr>
						<tr class="tdpa" height="20">
							<td width="241" height="20"> Others
								<button ng-click="insertAsset('BcsMachinery')" class="btn btn-sm btn-info btn-circle" id="insert">
									<span class="fa fa-plus"></span>
								</button>
							</td>
							<td width="124"></td>
							<td colspan="3" width="300"></td>
						</tr>
					</tbody>
				</table>
				<br>
				<div class="pull-right">
					<br>
					<button id="clearbtn" type="button" ng-click="clear()" class="btn btn-info">
						Clear
					</button>
					<span ng-if="is_edit_disable">
                        <button id="editbtn" type="button" ng-click="editBsData(form_other_services_bs_assets_district)" ng-if="!is_edit"
                                class="btn btn-success">
                            Edit
                        </button>
                    </span>
					<span ng-if="!is_edit_disable">
                        <button id="editbtn" type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
					<button id="editbtn" type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
						Cancel Edit
					</button>
					<button id="subbtn" type="button" ng-disabled="form_pop_lat_census.$invalid"
							ng-click="saveBsData(form_other_services_bs_assets_district)" class="btn btn-success">
						Submit
					</button>
				</div>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
	<!-- /.conainer-fluid -->
</main>
<script>
/*var button = document.getElementById('insert');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 4);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" placeholder="Name" style="width:90%;float:right;" name="textinput" type="text" placeholder="" class="form-control input-md"><span></span></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+ '<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"> </td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';

	$("#delete").click(function(){
 $(this).parent().parent().remove();
});
}
*/
</script>
<script>
/*var button = document.getElementById('insert4');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 2);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete1" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" placeholder="Name" style="width:90%;float:right;" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+ '<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"> </td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';

	$("#delete1").click(function(){
 $(this).parent().parent().remove();
});
}*/
</script>
<script>
/*var button = document.getElementById('insert2');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 1);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete2" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" style="width:90%;float:right;" placeholder="Name" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td colspan="4" width="392"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';
	$("#delete2").click(function(){
 $(this).parent().parent().remove();
});
}*/
</script> {% endblock content %}
