{% extends "dashboard/base.html" %}
{% block content %}
<style>
a:hover {text-decoration:none;}
.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}


</style>

<!-- Main content -->
<main class="main" ng-app="dlHsProvinceChartApp" ng-controller="DlHsProvinceChartController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Health Sector</li>


    </ol>


    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <strong>Search</strong>

            </div>
            <div class="card-block">


                <div class="row" ng-form name="chart_sum_dl_province">

                    <div class="col-sm-3">

                        <div class="form-group">
                            <label for="cvv">Incident</label>
                            <select ng-change="fetchProvinces()" id="ccyear" ng-model="incident" name="incident" class="form-control" required>
                                <option value="">-- Select --</option>
                                {% for incident in incidents %}
                                <option value="{{ incident.id }}">{{ incident.reported_date_time }}{{
                                    incident.disaster_type }}
                                </option>
                                {% endfor %}
                            </select>
                            <span style="color:red" ng-show="submitted && chart_sum_dl_province.incident.$error.required">
                                       Please select Incident
                            </span>
                        </div>

                    </div>


                    <div class="form-group col-sm-3">
                        <label for="ccyear">Province</label>
                        <select id="ccyear" name="province" ng-model="province" class="form-control" required>
                            <option value="">-- Select --</option>

                            <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                    ng-bind="province.district__province__name"></option>

                        </select>
                        <span style="color:red" ng-show="submitted && chart_sum_dl_province.province.$error.required">
                             Please select District
                        </span>
                    </div>


                    <div class="col-sm-2">

                        <div class="form-group">

                            <button ng-click="generateCharts(chart_sum_dl_province)" type="button"
                                    class="btn btn-sm btn-primary"
                                    style="padding:7px;margin-top:28px;"><i
                                    class="fa fa-search"></i> Search
                            </button>
                        </div>

                    </div>

                </div>
                <!--/row-->
            </div>
        </div>

<h3 style="width:100%;background:#FF5733;padding:6px;color:#fff;">Damage and Losses</h3>
<div class="row">
<div class="col-md-6">
<div class="card">
                    <div class="card-header">
                        
                        Public Sector - Line Ministry Health System

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnLmhDl' api="api1"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
<div class="card">
                    <div class="card-header">
                        Public Sector - Other Medical Facilities

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnOmcDl' api="api3"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
 <div class="card">
                    <div class="card-header">
                        Ownership

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspTdlOwship' api="api5"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

</div>

<div class="col-md-6">

 <div class="card">
                    <div class="card-header">
                        Public Sector - MOH

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnMohDl' api="api2"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

 <div class="card">
                    <div class="card-header">
                        Private Sector

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPvtDn' api="api4"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
</div>

</div>

<!-- first category -->

<h3 style="width:100%;background:#FF5733;padding:6px;color:#fff;">Total number of health facilities and assets affected</h3>
<div class="row">
<div class="col-md-6">
<div class="card">
                    <div class="card-header">
                        
                        Public Sector - Line Ministry Health System

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='optionsDiscrete' data='dspPubDnLmhTotAfc' api="api6"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
<div class="card">
                    <div class="card-header">
                        Public Sector - Other Medical Facilities

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='optionsDiscrete' data='dspPubDnOmcTotAfc' api="api8"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

</div>

<div class="col-md-6">
<div class="card">
                    <div class="card-header">
                        Public Sector - MOH

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='optionsDiscrete' data='dspPubDnMohTotAfc' api="api7"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
 <div class="card">
                    <div class="card-header">
                        Private Sector

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='optionsDiscrete' data='dspPvtDnTotAfc' api="api9"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

</div>
</div>

<h3 style="width:100%;background:#FF5733;padding:6px;color:#fff;"> Total number of patients affected</h3>
<div class="row">
<div class="col-md-6">
 <div class="card">
                    <div class="card-header">
                       
                        Public Sector - Line Ministry Health System

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnLmhTotPaAfc' api="api10"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

 <div class="card">
                    <div class="card-header">
                        Public Sector - Other Medical Facilities

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnOmcTotPaAfc' api="api12"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
</div>

<div class="col-md-6">
<div class="card">
                    <div class="card-header">
                        Public Sector - MOH

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPubDnMohTotPaAfc' api="api11"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>

  <div class="card">
                    <div class="card-header">
                        Private Sector

                    </div>
                    <div class="card-block">
                        <div class="chart-wrapper">
                            <nvd3 id="line_chart" options='options' data='dspPvtDnTotPaAfc' api="api13"
                                  config="{refreshDataOnly: true, deepWatchData: true}"></nvd3>
                        </div>
                    </div>
                </div>
</div>
</div>




        <div class="animated fadeIn">
            <div class="card-columns col-2">
                





               
                
               
               

                
                
                
               
               
                
               
              

            </div>
        </div>

    </div>
    <!-- /.conainer-fluid -->
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
