{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSumTrnsAirDistApp" ng-controller="DlSumTrnsAirDistController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>

        <li class="breadcrumb-item"><a href="{% url 'dashboard:transport_air_main' %}">Transport Air Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 3. Summary of Damages and Losses to Air Transportation in a District</span>
        </li>
         <li style="float:right;"> <a href="{% static 'dashboard/doc/1B-Air Transportation-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dlsum_air_distr">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
               
                <table class="table table-bordered">
                    <colgroup>
                        <col width="218"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dlsum_air_distr.incident.$error.required">
                                Please select Incident
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dlsum_air_distr.district.$error.required">
                                Please select District
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td class="trhead1" width="218" height="19">
                            Incident:
                        </td>
                        <td colspan="0" width="567" height="19">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);LoadData(form_dlsum_air_distr);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                    <option value={{incident.id}}>
                                        <!--{{incident.disaster_type.name}}-->
                                        <!--{{incident.reported_date_time}}-->
                                        {{incident.incident_name}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" colspan="2">
                            District:
                        </td>
                        <td colspan="3">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-change="LoadData(form_dlsum_air_distr);" ng-value="district.district__id" style="font-weight:400;"
                                    class="form-control" required>
                                <option value="" selected>Select district</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" width="218" height="38" style="width:20%;">
                            Assets
                        </td>
                        <td colspan="6" width="378" height="19">
                            Damages (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td colspan="2" width="126" height="19" style="width:10%;">
                            Public
                        </td>
                        <td colspan="2" width="126" height="19" style="width:10%;">
                            Private
                        </td>
                        <td colspan="2" width="126" height="19" style="width:10%;">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Aircrafts
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pub">
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pvt">
                        </td>
                        <td class="right" colspan="2" width="126" height="19"
                            ng-bind="convertTotTwo(data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pub,
                            data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pvt)">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Structures
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgGstructuresDistrict[0].tot_pub">
                        </td>
                        <td class="tdpa" colspan="2" width="126" height="19">
                            <br/>
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgGstructuresDistrict[0].tot_pub">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Equipment
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgEquipmentDistrict[0].tot_dmg_pub">
                        </td>
                        <td class="tdpa" colspan="2" width="126" height="19">
                            <br/>
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgEquipmentDistrict[0].tot_dmg_pub">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Materials and Supplies
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pub">
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pvt">
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pub + data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pvt">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Others
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgOthersDistrict[0].tot_dmg_pub">
                        </td>
                        <td class="tdpa" colspan="2" width="126" height="19">
                            <br/>
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="data.transport_air.Table_3.DlAirDmgOthersDistrict[0].tot_dmg_pub">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" width="218" height="19">
                            TOTAL
                        </td>
                        <td class="right" colspan="2" width="126" height="19"
                            ng-bind="convertTotOne(data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pub,
                                    data.transport_air.Table_3.DlAirDmgGstructuresDistrict[0].tot_pub ,
                                    data.transport_air.Table_3.DlAirDmgEquipmentDistrict[0].tot_dmg_pub,
                                    data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pub ,
                                    data.transport_air.Table_3.DlAirDmgOthersDistrict[0].tot_dmg_pub)">
                        </td>
                        <td class="right" colspan="2" width="126" height="19"
                            ng-bind="convertTotTwo(data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pvt,
                                    data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pvt)">
                        </td>
                        <td class="right" colspan="2" width="126" height="19" ng-bind="
                                    convertTotThree(data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pub,
                                    data.transport_air.Table_3.DlAirDmgGstructuresDistrict[0].tot_pub,
                                    data.transport_air.Table_3.DlAirDmgEquipmentDistrict[0].tot_dmg_pub ,
                                    data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pub ,
                                    data.transport_air.Table_3.DlAirDmgOthersDistrict[0].tot_dmg_pub ,
                                    data.transport_air.Table_3.DlAirDmgAircraftsDistrict[0].tot_destroyed_pvt,
                                    data.transport_air.Table_3.DlAirDmgSuppliesDistrict[0].tot_dmg_pvt)">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td width="218" height="19">
                            <br/>
                        </td>
                        <td colspan="6" width="378" height="19">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" width="218" height="38">
                            Type of Losses
                        </td>
                        <td colspan="2" width="126" height="19">
                            Year 1
                        </td>
                        <td colspan="2" width="126" height="19">
                            Year2
                        </td>
                        <td colspan="2" width="126" height="19">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td width="63" height="19" style="width:5%;">
                            Public
                        </td>
                        <td width="63" height="19" style="width:5%;">
                            Private
                        </td>
                        <td width="63" height="19" style="width:5%;">
                            Public
                        </td>
                        <td width="63" height="19" style="width:5%;">
                            Private
                        </td>
                        <td width="63" height="19" style="width:5%;">
                            Public
                        </td>
                        <td width="63" height="19" style="width:5%;">
                            Private
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Foregone Income
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_1_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].tot_los_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].tot_los_pvt">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Higher Operating Costs
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].year_1_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].tot_los_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosHocDistrict[0].tot_los_pvt">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Cleaning costs
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].year_1_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].tot_los_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[0].tot_los_pvt">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="218" height="19">
                            Other Unexpected Expenses
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].year_1_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].year_2_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].tot_los_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosOther[1].tot_los_pvt">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" width="218" height="19">
                            TOTAL
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_1_pub +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].year_1_pub +
                            data.transport_air.Table_3.DlAirLosOther[0].year_1_pub +
                            data.transport_air.Table_3.DlAirLosOther[1].year_1_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_1_pvt +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].year_1_pvt +
                            data.transport_air.Table_3.DlAirLosOther[0].year_1_pvt +
                            data.transport_air.Table_3.DlAirLosOther[1].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_2_pub +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].year_2_pub +
                            data.transport_air.Table_3.DlAirLosOther[0].year_2_pub +
                            data.transport_air.Table_3.DlAirLosOther[1].year_2_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].year_2_pvt +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].year_2_pvt +
                            data.transport_air.Table_3.DlAirLosOther[0].year_2_pvt +
                            data.transport_air.Table_3.DlAirLosOther[1].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].tot_los_pub +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].tot_los_pub +
                            data.transport_air.Table_3.DlAirLosOther[0].tot_los_pub +
                            data.transport_air.Table_3.DlAirLosOther[1].tot_los_pub">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="data.transport_air.Table_3.DlAirLosFiDistrict[0].tot_los_pvt +
                            data.transport_air.Table_3.DlAirLosHocDistrict[0].tot_los_pvt +
                            data.transport_air.Table_3.DlAirLosOther[0].tot_los_pvt +
                            data.transport_air.Table_3.DlAirLosOther[1].tot_los_pvt">
                        </td>
                    </tr>
                    </tbody>
                </table>
               
            </div>
            <br>
            <br><br>
        </div>
    </div>
    </div>
    </div>
    <!-- add model -->
    <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Add Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- edit model -->
    <div class="modal fade" id="modal-container-218028" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Edit Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
