{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSumTeleNatApp" ng-controller="dlSumTeleNatController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:telecom_main' %}">Telecommunication Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 5.  Summary of Damages and Losses in a Nationwide
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Telecommunications.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_sum_tele_nat">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="293"/>
                        <col width="254"/>
                        <col width="145"/>
                        <col width="221"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" height="19">
                        <td height="19" width="293">
                            Incident
                        </td>
                        <td height="19" colspan="8" width="254">
                            <select id="select" name="incident" ng-model="incident"
                                    class="form-control" style="width:100%;font-weight:400;" ng-change="changedValue(incident);fetchProvinces();
                                    fetchDlData(form_dl_sum_tele_nat)" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>{{incident.disaster_type.name}}
                                    {{incident.reported_date_time}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" height="59" width="293">
                            Province
                        </td>
                        <td colspan="4" height="19" width="874">
                            Year 1
                        </td>
                        <td colspan="2" height="19" width="126">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="126">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" height="19" width="508">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="19" width="442">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="19" width="126">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="21">
                        <td height="21" width="254" style="width:10%;">
                            Public
                        </td>
                        <td height="21" width="145" style="width:10%;">
                            Private
                        </td>
                        <td height="21" width="221" style="width:10%;">
                            Public
                        </td>
                        <td height="21" width="63" style="width:10%;">
                            Private
                        </td>
                        <td height="21" width="63" style="width:10%;">
                            Public
                        </td>
                        <td height="21" width="63" style="width:10%;">
                            Private
                        </td>
                        <td height="21" width="63" style="width:10%;">
                            Public
                        </td>
                        <td height="21" width="63" style="width:10%;">
                            Private
                        </td>
                    </tr>
                    <tr class="trheadc" height="19" ng-repeat="(key, value) in data.telecommunication.Table_5">
                        <td height="19" width="293" ng-bind="key" >
                        </td>
                        <td height="19" width="254" style="width:10%;">
                        </td>
                        <td height="19" width="145" style="width:10%;">
                        </td>
                        <td height="19" width="221" style="width:10%;">
                        </td>
                        <td height="19" width="63" style="width:10%;">
                        </td>
                        <td height="19" width="63" style="width:10%;">
                        </td>
                        <td height="19" width="63" style="width:10%;">
                        </td>
                        <td height="19" width="63" style="width:10%;">
                        </td>
                        <td height="19" width="63" style="width:10%;">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="temp in value">
                        <td class="tdpa" height="19" width="293" ng-bind="temp.DlDmgBusTotNational">
                            Firm 1**
                        </td>
                        <td height="19" width="254">
                            <!-- - -->
                        </td>
                        <td height="19" width="145">
                            <!-- - -->
                        </td>
                        <td height="19" width="221">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                    </tr>

                    <tr height="19">
                        <td class="tdpa" height="19" width="293">
                            Firm N
                        </td>
                        <td height="19" width="254">
                            <!-- - -->
                        </td>
                        <td height="19" width="145">
                            <!-- - -->
                        </td>
                        <td height="19" width="221">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="293">
                            Total
                        </td>
                        <td height="21" width="254">
                            <!-- - -->
                        </td>
                        <td height="21" width="145">
                            <!-- - -->
                        </td>
                        <td height="21" width="221">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="293">
                            Province N
                        </td>
                        <td height="19" width="254">
                        </td>
                        <td height="19" width="145">
                        </td>
                        <td height="19" width="221">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="293">
                            Firm 1
                        </td>
                        <td height="19" width="254">
                        </td>
                        <td height="19" width="145">
                        </td>
                        <td height="19" width="221">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="293">
                            Firm N
                        </td>
                        <td height="19" width="254">
                        </td>
                        <td height="19" width="145">
                        </td>
                        <td height="19" width="221">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="293">
                            Total
                        </td>
                        <td height="19" width="254">
                            <!-- - -->
                        </td>
                        <td height="19" width="145">
                            <!-- - -->
                        </td>
                        <td height="19" width="221">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                        <td height="19" width="63">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="293">
                            GRAND TOTAL
                        </td>
                        <td height="21" width="254">
                            <!-- - -->
                        </td>
                        <td height="21" width="145">
                            <!-- - -->
                        </td>
                        <td height="21" width="221">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                        <td height="21" width="63">
                            <!-- - -->
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /.conainer-fluid -->
</main>
{% endblock content %}
