*.pyc
base_line/migrations damage_losses/migrations dashboard/migrations incidents/migrations reports/migrations settings/migrations
.idea/vcs.xml
*.pyc
dashboard/migrations education/migrations incidents/migrations mining/migrations other_govn_services/migrations reports/migrations settings/migrations
