{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

<!-- Main content -->
<main class="main" ng-app="dlRailTransSumDisApp" ng-controller="dlRailTransSumDisController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>

        <li class="breadcrumb-item"><a href="{% url 'dashboard:transport_rail_main' %}">Transport Rail Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 3. Summary of Damages and Losses in the Rail Transportation in a District</span>
        </li>
        <li style="float:right;"> <a href="{% static 'dashboard/doc/1D-Rail_Transportation-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1" ng-form name="form_dl_rail_transpot">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="281"/>
                        <col width="170"/>
                        <col width="130"/>
                        <col width="125"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan=""  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="4" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dl_rail_transpot.incident.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td colspan="" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="4" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dl_rail_transpot.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                    </tr>
                    <tr height="20">
                        <td class="trhead1" width="130">
                            Incident
                        </td>
                        <td class="trhead1" width="125">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);fetchDlData(form_dl_rail_transpot);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                    {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" width="281" >
                            Province
                        </td>
                        <td class="trhead1" colspan="2" width="170">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false);fetchDlData(form_dl_rail_transpot);" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                    </table>

                    <table class="table table-bordered" ng-if="!checkIfNull()" ng-repeat="(key, value) in dlRailTransSumDis.transport_rail.Table_3" >
                        <tbody>
                        <tr class="trheadc1" height="20">
                        <td colspan="3" width="281" height="20" style="width:41%;">
                            Name of District
                        </td>
                        <td colspan="3" width="425">
                            Total Damage (LKR)
                        </td>
                    </tr>
                        <tr  height="20" ng-init="getTotal('TotDmgProvince','tot_damages', $index,key);">
                            <td colspan="3" ng-bind="key"  class="tdpa" width="275">
                            </td>
                            <td class="right" colspan="3" width="400" ng-bind="value.TotDmgProvince[0].tot_damages" >
                            </td>

                        </tr>


                    </tbody>
                        </table>
                <table class="table table-bordered" ng-if="!checkIfNull()" >
                        <tr height="20">
                        <td class="boldash" width="281" height="20">
                            TOTAL
                        </td>
                        <td width="425" colspan="3" class="right">
                            <span class="right" ng-bind="total"></span>
                        </td>

                    </tr>
                </table>


                <div class="pull-right">
                    <br>

                </div>


            </div>


            <br><br><br>

        </div>


    </div>
    </div>


    </div>
    <!-- add model -->
    <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Add Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">

                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>

        </div>

    </div>
    <!-- edit model -->
    <div class="modal fade" id="modal-container-218028" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Edit Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">

                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>

        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
