{% extends "dashboard/base.html" %}
{% block content %}

<!-- Main content -->
<main class="main" ng-app="bsAstTransWaterApp" ng-controller="BsAstTransWaterController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Transport Sector</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Water Sub Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 1. Assets in the water transportation sub-sector</span>
        </li>


    </ol>


    <div class="container-fluid">

        <ul class='nav nav-wizard'>
            <li class="active"><a href='#step1' data-toggle="tab">1 - Assets</a></li>
            <li class=""><a href='#step2' data-toggle="tab">2 - Equipment and machinery</a></li>
            <li><a href='#step3' data-toggle="tab">3 - Buildings</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">


                <table class="table table-bordered">
                    <colgroup>
                        <col width="253"/>
                        <col width="147"/>
                        <col width="151"/>
                        <col width="165"/>
                        <col width="170"/>
                    </colgroup>
                    <tbody>
                    <tr height="19">
                        <td class="trhead"> Name of District or RDH</td>

                        <td colspan="2" style="background:#EFEFEF;">

                            <select ng-model="district" id="selectbasic" name="district" class="form-control"
                                    style="font-weight:400;" required>
                                <option value="">Select District</option>
                                {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                                {% endfor %}
                            </select>

                        </td>

                        <td class="trhead" colspan="1" style="padding-right:5px;text-align:right;">
                            Year/Month
                        </td>
                        <td colspan="2" style="background:#EFEFEF;font-weight:normal;">
                            <input ng-model="bs_date" required name="bs_date" type="text" placeholder=""
                                   id="datepicker"
                                   class="form-control input-md">

                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td rowspan="2" width="253" height="19">
                            Assets
                        </td>
                        <td colspan="2" width="298">
                            Number
                        </td>
                        <td width="165">
                            Average Replacement Cost
                        </td>
                        <td width="170">
                            Average Repair Cost
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">

                        <td width="147">
                            Public
                        </td>
                        <td width="151">
                            Private
                        </td>
                        <td width="165">
                            (LKR/Unit)
                        </td>
                        <td width="170">
                            (LKR/Unit)
                        </td>
                    </tr>

                    <tr height="19"
                        ng-repeat="bsAstWaterWcrafts in bsAstTransWater.transport_water.Table_1.BsAstWaterWcrafts">
                        <!-- Fixed rows -->
                        <td ng-bind="bsAstWaterWcrafts.assets" ng-if="$index < 2" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98" ng-if="$index > 1">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsAstWaterWcrafts', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i>
                            </button>
                            <input style="width:90%;float:right;" name="bsAstWaterWcrafts_{{$index}}"
                                   ng-model="bsAstWaterWcrafts.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['bsAstWaterWcrafts_' + $index].$dirty && !form_pop_lat_census['bsAstWaterWcrafts_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterWcrafts.public"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterWcrafts.private"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterWcrafts.avg_replace_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterWcrafts.avg_repair_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>

                    </tr>
                    <tr height="20">
                        <td height="20" width="264" class="tdpa">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertAssets('BsAstWaterWcrafts')"
                                    class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                        <td width="98" colspan="4" class="tdpa">

                        </td>
                    </tr>


                    </tbody>
                </table>

                <br>
                <a href="#step2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Equipment and machinery Informations</a>
                <br>
            </div>
            <div class="tab-pane" id="step2">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="253"/>
                        <col width="147"/>
                        <col width="151"/>
                        <col width="165"/>
                        <col width="170"/>
                    </colgroup>

                    <tr class="trheadc" height="19">
                        <td rowspan="2" width="253" height="38">
                            Equipment and machinery
                        </td>
                        <td colspan="2" width="298">
                            Average Replacement Cost
                        </td>
                        <td colspan="2" width="335">
                            Average Repair Cost
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td colspan="2" width="298" height="19">
                            (LKR/Unit)
                        </td>
                        <td colspan="2" width="335">
                            (LKR/Unit)
                        </td>
                    </tr>


                    <tr height="19"
                        ng-repeat="bsAstWaterEquipment in bsAstTransWater.transport_water.Table_1.BsAstWaterEquipment">
                        <!-- Fixed rows -->
                        <td ng-bind="bsAstWaterEquipment.assets" ng-if="$index < 5" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98" ng-if="$index >4 ">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsAstWaterEquipment', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i>
                            </button>
                            <input style="width:90%;float:right;" name="bsAstWaterEquipment_{{$index}}"
                                   ng-model="bsAstWaterEquipment.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['bsAstWaterEquipment_' + $index].$dirty && !form_pop_lat_census['bsAstWaterEquipment_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>
                        <td width="98" colspan="2">
                            <input ng-model="bsAstWaterEquipment.avg_replace_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98" colspan="2">
                            <input ng-model="bsAstWaterEquipment.avg_repair_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>


                    </tr>
                    <tr height="20">
                        <td height="20" width="264" class="tdpa">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertAssets('BsAstWaterEquipment')"
                                    class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                        <td width="98" colspan="4" class="tdpa">

                        </td>
                    </tr>

                    <tr class="trheadc" height="19">
                        <td width="253" height="19">
                            Materials and supplies
                        </td>
                        <td colspan="2" width="298">
                            (LKR/Unit)
                        </td>
                        <td colspan="2" width="335">
                            (LKR/Unit)
                        </td>
                    </tr>


                    <tr height="19"
                        ng-repeat="bsAstWaterMaterials in bsAstTransWater.transport_water.Table_1.BsAstWaterMaterials">
                        <!-- Fixed rows -->
                        <td ng-bind="bsAstWaterMaterials.assets" ng-if="$index < 1" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98" ng-if="$index >0 ">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsAstWaterMaterials', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i>
                            </button>
                            <input style="width:90%;float:right;" name="bsAstWaterMaterials_{{$index}}"
                                   ng-model="bsAstWaterMaterials.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['bsAstWaterMaterials_' + $index].$dirty && !form_pop_lat_census['bsAstWaterMaterials_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>
                        <td width="98" colspan="2">
                            <input ng-model="bsAstWaterMaterials.avg_replace_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98" colspan="2" ng-if="bsAstWaterMaterials.assets !='Fuel (per Liter)'">
                            <input ng-model="bsAstWaterMaterials.avg_repair_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>

                        <td width="98" class="tdpa" colspan="2" ng-if="bsAstWaterMaterials.assets =='Fuel (per Liter)'">

                        </td>


                    </tr>
                    <tr height="20">
                        <td height="20" width="264" class="tdpa">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertAssets('BsAstWaterMaterials')"
                                    class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                        <td width="98" colspan="4" class="tdpa">

                        </td>
                    </tr>


                    <tr class="trheadc" height="19">
                        <td width="253" height="19">
                            Structures
                        </td>
                        <td colspan="2" width="298">
                            (LKR/Meter)
                        </td>
                        <td colspan="2" width="335">
                            (LKR/Meter)
                        </td>
                    </tr>

                    <tr height="19"
                        ng-repeat="bsAstWaterStructures in bsAstTransWater.transport_water.Table_1.BsAstWaterStructures">
                        <!-- Fixed rows -->
                        <td ng-bind="bsAstWaterStructures.assets" ng-if="$index < 1" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98" ng-if="$index >0 ">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsAstWaterStructures', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i>
                            </button>
                            <input style="width:90%;float:right;" name="bsAstWaterStructures_{{$index}}"
                                   ng-model="bsAstWaterStructures.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['bsAstWaterStructures_' + $index].$dirty && !form_pop_lat_census['bsAstWaterStructures_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>
                        <td width="98" colspan="2">
                            <input ng-model="bsAstWaterStructures.avg_replace_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98" colspan="2">
                            <input ng-model="bsAstWaterStructures.avg_repair_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>


                    </tr>
                    <tr height="20">
                        <td height="20" width="264" class="tdpa">
                            Others (Enumerate)&nbsp;&nbsp;
                            <button ng-click="insertAssets('BsAstWaterStructures')"
                                    class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                        <td width="98" colspan="4" class="tdpa">

                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>
                <a href="#step3" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Building Informations</a>
                <br>
            </div>
            <div class="tab-pane fade" id="step3">

                <table class="table table-bordered">
                    <tr class="trheadc" height="19">
                        <td rowspan="2" width="393" height="38">
                            Buildings
                        </td>
                        <td rowspan="2" width="147">
                            Replacement Cost (LKR/sqm)
                        </td>
                        <td colspan="3" width="486">
                            Repair Cost (LKR/sqm)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td width="151" height="19">
                            Roof
                        </td>
                        <td width="165">
                            Wall
                        </td>
                        <td width="170">
                            Floor
                        </td>
                    </tr>
                    <tr height="19"
                        ng-repeat="bsAstWaterBuildings in bsAstTransWater.transport_water.Table_1.BsAstWaterBuildings">
                        <!-- Fixed rows -->
                        <td ng-bind="bsAstWaterBuildings.assets" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterBuildings.avg_replace_cost"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>

                        <td width="98">
                            <input ng-model="bsAstWaterBuildings.avg_repair_cost_roof"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterBuildings.avg_repair_cost_wall"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="98">
                            <input ng-model="bsAstWaterBuildings.avg_repair_cost_floor"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>

                    </tr>


                    <tr class="trheadc" height="19">
                        <td width="253" height="19">
                            Employment
                        </td>
                        <td width="147">
                        </td>
                        <td width="151">
                        </td>
                        <td width="165">
                        </td>
                        <td width="170">
                        </td>
                    </tr>
                    <tr height="19"
                        ng-repeat="bsAstWaterEmployment in bsAstTransWater.transport_water.Table_1.BsAstWaterEmployment"
                        ng-if="bsAstWaterEmployment.assets != 'Total Number of Other Employees in Water Transport' && $index==0">
                        <td class="tdpa" rowspan="2" width="253" height="59" ng-bind="bsAstWaterEmployment.assets">

                        </td>
                        <td class="trsubc" width="147">
                            Male
                        </td>
                        <td class="trsubc" width="151">
                            Female
                        </td>
                        <td class="trsubc" colspan="2" width="335">
                            Total
                        </td>
                    </tr>
                    <tr height="40">
                        <td width="147" height="40">
                            <input ng-model="bsAstWaterEmployment[0].male"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="151">
                            <input ng-model="bsAstWaterEmployment[0].female"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td colspan="2" width="335" ng-model="bsAstWaterEmployment[0].total" ng-bind="bsAstWaterEmployment[0].total =bsAstWaterEmployment[0].male + bsAstWaterEmployment[0].female ">

                        </td>
                    </tr>
                    <tr height="19"
                        ng-repeat="bsAstWaterEmployment in bsAstTransWater.transport_water.Table_1.BsAstWaterEmployment"
                        ng-if="bsAstWaterEmployment.assets == 'Total Number of Other Employees in Water Transport' && $index==1">
                        <td class="tdpa" rowspan="2" width="253" height="59" ng-bind="bsAstWaterEmployment.assets">

                        </td>
                        <td class="trsubc" width="147">
                            Male
                        </td>
                        <td class="trsubc" width="151">
                            Female
                        </td>
                        <td class="trsubc" colspan="2" width="335">
                            Total
                        </td>
                    </tr>
                    <tr height="40">
                        <td width="147" height="40">
                            <input ng-model="bsAstWaterEmployment[1].male"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="151">
                            <input ng-model="bsAstWaterEmployment[1].female"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                         <td colspan="2" width="335" ng-model="bsAstWaterEmployment[1].total" ng-bind="bsAstWaterEmployment[1].total =bsAstWaterEmployment[1].male + bsAstWaterEmployment[1].female ">

                        </td>
                    </tr>



                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                            <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">Edit
                            </button>
                            <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel Edit
                            </button>
                            <button type="button" ng-click="saveBsData()" class="btn btn-success">Submit
                            </button>
                </div>
                <br><br><br>
            </div>
        </div>


    </div>
    </div>

    <div class="col-md-12">


        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                       <button type="button" class="btn btn-info">Clear</button>
                            <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">Edit
                            </button>
                            <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel Edit
                            </button>
                            <button type="button" ng-click="saveBsData()" class="btn btn-success">Submit
                            </button>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
