{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<style>
    .right {text-align:right;}
</style>
<main class="main" ng-app="dlSumFisheriesInTheDisApp" ng-controller="dlSumFisheriesInTheDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:agri_fisheries_main' %}">Agri Fisheries Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 4. Summary of damages and losses to fisheries in the District
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/4C-Agriculture-Fisheries-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_sum_agrarian_dstr">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="125"/>
                        <col width="95"/>
                        <col width="111"/>
                        <col width="115"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="3"  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dl_sum_agrarian_dstr.incident.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dl_sum_agrarian_dstr.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td width="125" height="19">
                            Incident
                        </td>
                        <td colspan="2" width="95" height="19">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);loadData(form_dl_sum_agrarian_dstr);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                    <option value={{incident.id}}>
                                        <!--{{incident.disaster_type.name}}-->
                                        <!--{{incident.reported_date_time}}-->
                                        {{incident.incident_name}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" width="111" height="19">
                            District
                        </td>
                        <td colspan="3" width="482" height="19">
                            <select  ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-change="loadData(form_dl_sum_agrarian_dstr);" ng-model="district" ng-value="district.district__id" style="font-weight:400;"
                                    class="form-control" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" width="125" height="57">
                            Type of Fisheries
                        </td>
                        <td colspan="4" width="416" height="19">
                            Year 1
                        </td>
                        <td colspan="2" width="126" height="19">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" width="126" height="38">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" width="190" height="19">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="230" height="19">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="126" height="19">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td style="width:10%;" width="95" height="19">
                            Public
                        </td>
                        <td style="width:10%;" width="111" height="19">
                            Private
                        </td>
                        <td style="width:10%;" width="115" height="19">
                            Public
                        </td>
                        <td style="width:10%;" width="63" height="19">
                            Private
                        </td>
                        <td style="width:10%;" width="63" height="19">
                            Public
                        </td>
                        <td style="width:10%;" width="63" height="19">
                            Private
                        </td>
                        <td style="width:10%;" width="63" height="19">
                            Public
                        </td>
                        <td style="width:10%;" width="63" height="19">
                            Private
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="125" height="19">
                            Inland Fisheries
                        </td>
                        <td  width="95" height="19" ng-bind="data.agri_fisheries.Table_4.DlfDmgPubDistrict[0].dmg_pub">

                        </td>
                        <td ng-bind="data.agri_fisheries.Table_4.DlfDmgPvtDistrict[0].dmg_pvt" width="95" height="19">

                        </td>
                        <td width="111" height="19"ng-bind="data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pub" >

                        </td>

                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pvt">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pub">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[0].dmg_pub +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[0].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pvt">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="125" height="19">
                            River fisheries
                        </td>
                        <td  width="95" height="19" ng-bind="data.agri_fisheries.Table_4.DlfDmgPubDistrict[2].dmg_pub">

                        </td>
                        <td ng-bind="data.agri_fisheries.Table_4.DlfDmgPvtDistrict[2].dmg_pvt" width="95" height="19">

                        </td>
                        <td width="115" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pub">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pvt">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pub">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[2].dmg_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[2].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pvt">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="125" height="19">
                            Marine fisheries
                        </td>
                        <td  width="95" height="19" ng-bind="data.agri_fisheries.Table_4.DlfDmgPubDistrict[1].dmg_pub">

                        </td>
                        <td ng-bind="data.agri_fisheries.Table_4.DlfDmgPvtDistrict[1].dmg_pvt" width="95" height="19">

                        </td>
                        <td width="115" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pub">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pvt">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pub">
                        </td>
                        <td width="63" height="19" ng-bind="data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pvt">
                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[1].dmg_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[1].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pvt">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" width="125" height="19">
                            Total
                        </td>
                        <td class="right" width="95" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[0].dmg_pub +
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[1].dmg_pub +
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[2].dmg_pub">

                        </td>
                        <td class="right" width="111" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[0].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[1].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[2].dmg_pvt">

                        </td>
                        <td class="right" width="115" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pvt">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pvt">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[0].dmg_pub +
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[1].dmg_pub +
                        data.agri_fisheries.Table_4.DlfDmgPubDistrict[2].dmg_pub +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pub +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pub +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pub +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pub">

                        </td>
                        <td class="right" width="63" height="19" ng-bind="
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[0].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[1].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfDmgPvtDistrict[2].dmg_pvt +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_1_pvt +
                        data.agri_fisheries.Table_4.DlfLosIfisheriesDistrict[0].los_year_2_pvt +
                        data.agri_fisheries.Table_4.DlfLosRfisheriesDistrict[0].los_year_2_pvt +
                        data.agri_fisheries.Table_4.DlfLosMfisheriesDistrict[0].los_year_2_pvt">

                        </td>
                    </tr>
                    </tbody>
                </table>
               
                <!--<div class="pull-right">-->
                    <!--<br>-->
                    <!--<button type="button" class="btn btn-info">Clear</button>-->
                    <!--<button type="button" class="btn btn-success" ng-click="loadData(form_dl_sum_agrarian_dstr)">Submit</button>-->
                <!--</div>-->
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
