{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Main content -->
<main class="main" ng-app="mnIndusMinFirmApp" ng-controller="MnIndusMinFirmController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:health_main' %}">Mining Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 1: Baseline Information for Industrial Mining Firms</span>
        </li>
          <li style="float:right;"> <a href="{% static 'dashboard/doc/Mining.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content" ng-form name="form_industrial_mining">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="171"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0" >

                        </td>

                        <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_industrial_mining.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>

                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_industrial_mining.baselineDate.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1">
                        <td style="padding-left:5px;"> Name of District</td>

                        <td colspan="1" style="">
                            <select id="selectbasic" name="district" ng-change="fetchFirms()" ng-model='district'
                                    class="form-control"
                                    style="font-weight:400;" required>

                                <option value="" selected="true">Select a District</option>
                                {% for district in districts %}

                                <option value={{district.id}}>{{district.name}}
                                    {% endfor %}
                            </select>

                        </td>
                        <td colspan="1" style="padding-left:5px;">
                            Year/Month
                        </td>
                        <td colspan="1" style="font-weight:normal;">
                            <input id="datepicker" type="text" placeholder="mm/yy" ng-model="baselineDate"
                                   class="form-control input-md" name="baselineDate" required>

                        </td>

                    </tr>

                    <tr>

                        <td class="trhead1">
                            Firm Name
                        </td>

                        <td colspan="2">
                            <select ng-options="firm as firm.name for firm in firms track by firm.id"
                                    name="district" id="ccyear" ng-model="selectedFirm" class="form-control" required>
                                <option value="" selected>Select Firm</option>
                            </select>
                        </td>


                        <td class="trsubc1">
                            <a id="modal-469842" href="#modal-container-469842" role="button" data-toggle="modal"
                               class="btn btn-sm btn-info">Add</a>
                            <a id="modal-469840" href="#modal-container-469840" role="button" data-toggle="modal"
                               class="btn btn-sm btn-warning">Edit</a>
                        </td>

                    </tr>

                    <tr>

                        <td class="trhead1">
                            Ownership
                        </td>

                        <td colspan="3">
                            <span ng-bind="selectedFirm.ownership"></span>

                        </td>

                    </tr>


                    <tr class="trhead1" height="19">
                        <td style="padding-left:5px;" rowspan="3" height="53" width="171">
                            Name of Firm and Mineral Outputs
                        </td>

                        <td class="trheadc1" colspan="2" height="19" width="63">
                            Number of Employees
                        </td>
                        <td class="trheadc1" height="19" width="63">
                            Outputs
                        </td>
                    </tr>
                    <tr class="trsubc" height="34">

                        <td height="34" width="163" style="width:20%;">
                            Male
                        </td>
                        <td height="34" width="63" style="width:20%;">
                            Female
                        </td>
                        <td height="34" width="63" style="width:20%;">
                            Average Output Per Year (Tons/Year)
                        </td>
                    </tr>


                    <tr height="19" ng-repeat="bmaImFirmNum in mnIndusMinFirm.mining.Table_1.BmaImFirmNum">
                        <td height="19" width="126">
                            <input ng-model="bmaImFirmNum.male" id="textinput" name="textinput" type="number"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td height="19" width="126">
                            <input ng-model="bmaImFirmNum.female" id="textinput" name="textinput" type="number"
                                   placeholder="" class="form-control input-md">
                        </td>
                        <td class="trsub" height="19" width="63">
                        </td>
                    </tr>

                    <tr ng-repeat="bmaImFn in mnIndusMinFirm.mining.Table_1.BmaImFn" height="20">
                        <td ng-bind="bmaImFn.name_min_outputs" ng-if="$index < 3" height="20" width="264"
                            class="tdpa">

                        </td>
                        <td width="98" ng-if="$index > 2">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BmaImFn', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                            <input style="width:90%;float:right;" ng-model="bmaImFn.name_min_outputs"
                                   popover="This field is required" required
                                   popover-toggle="form_pop_lat_census['bmaImFn_' + $index].$dirty && !form_pop_lat_census['bmaImFn_' + $index].$valid"
                                   name="bmaImFn_{{$index}}" type="text" placeholder=""
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td width="98" class="tdpa">


                        </td>
                        <td width="98" class="tdpa">


                        </td>
                        <td width="98">

                            <input ng-model="bmaImFn.avg_per_year"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                    </tr>


                    <tr height="19">
                        <td colspan="4" class="tdpa" height="19" width="171">
                            Others 
                            <button ng-click="insertFirm('BmaImFn')" class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit(form_industrial_mining)"
                            ng-if="!is_edit" class="btn btn-success">Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                        Edit
                    </button>
                    <button type="button" ng-click="saveBsData(form_industrial_mining)"
                            class="btn btn-success">Submit
                    </button>

                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="tab-pane fade" id="step2">

                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit(form_industrial_mining)"
                            ng-if="!is_edit" class="btn btn-success">Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                        Edit
                    </button>
                    <button type="button" ng-click="saveBsData(form_industrial_mining)"
                            class="btn btn-success">Submit
                    </button>

                </div>
                <br><br><br>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- /.conainer-fluid -->

    <div class="col-md-12">

        <!-- add model -->
        <div class="modal fade" id="modal-container-469842" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Firm
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" ng-model="new_firm.name" type="text"
                                       placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='new_firm.ownership'
                                        class="form-control"
                                        style="font-weight:400;" required>

                                    <option value="" selected="true">Select Ownership</option>

                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>

                                </select>

                            </div>
                        </div>
                        <br>

                    </div>
                    <div class="modal-footer">

                        <button id="button1id" name="button1id" class="btn btn-warning">Cancel</button>
                        <button id="button2id" ng-click="saveFirm()" name="button2id" class="btn btn-success">Save
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <!-- edit model -->

        <div class="modal fade" id="modal-container-469840" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Edit Firm
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='ownership' class="form-control"
                                        style="font-weight:400;" required>

                                    <option value="" selected="true">Select Ownership</option>

                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>

                                </select>

                            </div>
                        </div>
                        <br>

                    </div>
                       <div class="modal-footer">
                        <button id="button2id" ng-click="saveEditFirm()" name="button2id" class="btn btn-success">Save</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</main>
{% endblock content %}s
