{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="bsCostsHusngUnitsApp" ng-controller="bsCostsHusngUnitsController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 2. Baseline Information for the Related Costs of Various Types of Housing Units
            </span>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_housing_dis">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_housing_dis.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_housing_dis.baselineDate.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td width="166" class="p5" height="19">
                            District
                        </td>
                        <td colspan="2" width="477" height="19">
                            <select id="selectbasic" name="district" class="form-control" ng-model="district" style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select a District</option>
                                {% for district in districts %}
                                    <option value={{ district.id }}>{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" class="p5" >
                            Year/Month:
                        </td>
                        <td colspan="2">
                            <input name="baselineDate" type="text" placeholder="mm/yy" id="datepicker" ng-model="bs_date"
                                   class="form-control input-md" required>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" width="166" height="49">
                            Housing Classification
                        </td>
                        <td rowspan="2" width="87" height="49">
                            Average Replacement Cost (LKR/sqm)
                        </td>
                        <td colspan="3" width="311" height="19">
                            Average Repair Cost (LKR/sqm)
                        </td>
                        <td rowspan="2" width="87" height="49">
                            Average Value of Contents (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="30">
                        <td width="112" height="30">
                            Roof
                        </td>
                        <td width="87" height="30">
                            Wall
                        </td>
                        <td width="104" height="30">
                            Floor
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td width="166" height="19">
                            Type 1. Permanent
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="112" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="104" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfPermanentCost in bsCostsHusngUnits.housing.Table_2.BhClfPermanentCost">
                        <td class="tdpa" width="166" height="19" ng-bind="bhClfPermanentCost.components">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanentCost.avg_replace_cost">
                        </td>
                        <td width="112" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanentCost.avg_repair_cost_roof">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanentCost.avg_repair_cost_wall">
                        </td>
                        <td width="104" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanentCost.avg_repair_cost_floor">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanentCost.avg_val_content">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td width="166" height="19">
                            Type 2. Semi-Permanent
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="112" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="104" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfSmiPermanentCost in bsCostsHusngUnits.housing.Table_2.BhClfSmiPermanentCost">
                        <td class="tdpa" width="166" height="19" ng-bind="bhClfSmiPermanentCost.components">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanentCost.avg_replace_cost">
                        </td>
                        <td width="112" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanentCost.avg_repair_cost_roof">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanentCost.avg_repair_cost_wall">
                        </td>
                        <td width="104" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanentCost.avg_repair_cost_floor">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanentCost.avg_val_content">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td width="166" height="19">
                            Type 3. Improvised
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="112" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                        <td width="104" height="19">
                            <br/>
                        </td>
                        <td width="87" height="19">
                            <br/>
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfImprovisedCost in bsCostsHusngUnits.housing.Table_2.BhClfImprovisedCost">
                        <td class="tdpa" width="166" height="19" ng-bind="bhClfImprovisedCost.components">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovisedCost.avg_replace_cost">
                        </td>
                        <td width="112" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovisedCost.avg_repair_cost_roof">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovisedCost.avg_repair_cost_wall">
                        </td>
                        <td width="104" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovisedCost.avg_repair_cost_floor">
                        </td>
                        <td width="87" height="19">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovisedCost.avg_val_content">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button type="button" class="btn btn-success" ng-click="saveBsData(form_bs_housing_dis)">Submit</button>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
