{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="bsHousingDisApp" ng-controller="BsHousingDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:housing_main' %}">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 1. Baseline Information of Housing in a District
            </span>
        </li>
         <li style="float:right;"> <a href="{% static 'dashboard/doc/5-Housing-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_housing_dis">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                        <col width="83"/>
                        <col width="93"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_housing_dis.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_housing_dis.baselineDate.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td class="p5" colspan="2" height="19" width="166">
                            Name of District:
                        </td>
                        <td colspan="2" height="19" width="647">
                            <select id="selectbasic" name="district" class="form-control" ng-model="district" style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select a District</option>
                                {% for district in districts %}
                                    <option value={{ district.id }}>{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" class="p5" height="19" width="647">
                            Year/Month:
                        </td>
                        <td colspan="2" height="19" width="647">
                            <input name="baselineDate" type="text" placeholder="mm/yy" id="datepicker" ng-model="bs_date"
                                   class="form-control input-md" required>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="35">
                        <td rowspan="2" height="54" width="166">
                            Housing Classification
                        </td>
                        <td rowspan="2" height="54" width="87" style="width:12%;">
                            Total Number of Houses
                        </td>
                        <td rowspan="2" height="54" width="112" style="width:12%;">
                            Number of Houses for Rent
                        </td>
                        <td rowspan="2" height="54" width="87" style="width:12%;">
                            Average Rent per Month
                        </td>
                        <td colspan="2" height="35" width="208">
                            Average Number of Occupants
                        </td>
                        <td colspan="2" height="35" width="166">
                            Average Period (in Months)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="104" style="width:10%;">
                            Female
                        </td>
                        <td height="19" width="87" style="width:10%;">
                            Male
                        </td>
                        <td height="19" width="83" style="width:10%;">
                            Construction
                        </td>
                        <td height="19" width="93" style="width:10%;">
                            Repair
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfPermanent in bsHousingDis.housing.Table_1.BhClfPermanent">
                        <td class="tdpa" height="19" width="166" ng-bind="bhClfPermanent.components">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.tot_num_house">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.tot_num_house_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.avg_rent_mont">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.ang_num_occ_female">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.avg_num_occ_male">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.avg_period_construct">
                        </td>
                        <td height="19" width="93">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfPermanent.avg_period_repair">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfSmiPermanent in bsHousingDis.housing.Table_1.BhClfSmiPermanent">
                        <td class="tdpa" height="19" width="166" ng-bind="bhClfSmiPermanent.components">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.tot_num_house">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.tot_num_house_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.avg_rent_mont">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.ang_num_occ_female">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.avg_num_occ_male">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.avg_period_construct">
                        </td>
                        <td height="19" width="93">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfSmiPermanent.avg_period_repair">
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bhClfImprovised in bsHousingDis.housing.Table_1.BhClfImprovised">
                        <td class="tdpa" height="19" width="166" ng-bind="bhClfImprovised.components">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.tot_num_house">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.tot_num_house_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.avg_rent_mont">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.ang_num_occ_female">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.avg_num_occ_male">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.avg_period_construct">
                        </td>
                        <td height="19" width="93">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bhClfImprovised.avg_period_repair">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <br>
                    <button type="button" ng-click="clear()" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button type="button" ng-disabled="form_pop_lat_census.$invalid" ng-click="saveBsData(form_bs_housing_dis)"

                    class="btn btn-success">Submit
                    </button>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
