{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<script>
    $(document).ready(function() {
        var nicesx = $("#boxscroll1").niceScroll({touchbehavior:false,cursorcolor:"#4679B2",cursoropacitymax:0.6,cursorwidth:8});
    });
</script>
<style>
    .right {text-align:right;}
</style>
<main class="main" ng-app="dlEduProvinceApp" ng-controller="DlEduProvinceController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:education_main' %}">
                Education Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 6. Summary of Damages and Losses in the Education Sector in a Province
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Education.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document"></a>
        </li>
    </ol>
    <div class="container-fluid">
        <ul class='nav nav-wizard'>
            <li id="li1" class="active">
                <a href='#step1' data-toggle="tab">1 - Public Sector</a>
            </li>
            <li id="li2">
                <a href='#step2' data-toggle="tab">2 - Private Sector</a>
            </li>
            <li id="li3">
                <a href='#step3' data-toggle="tab">3 - Total Damages and Losses</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content" ng-form name="form_damagelost_edu_province">
            <div class="tab-pane active" id="step1">
             
                <table class="table table-bordered">
                    <colgroup>
                        <col width="296"/>
                        <col width="91" span="7"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_damagelost_edu_province.incident.$error.required">
                                Please select Incident
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_damagelost_edu_province.district.$error.required">
                                Please select Province
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="17">
                        <td colspan="2" style="padding-left:5px;">
                            Incident
                        </td>
                        <td colspan="2" style="">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);loadData();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="padding-left:5px;"> Province</td>

                        <td colspan="3" style="">
                            <select name="province" ng-change="loadData();" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="34">
                        <td rowspan="2" width="296" style="width:28.5%;" height="51">
                            Facilities and Assets
                        </td>
                        <td rowspan="2" width="91">
                            Total Number Affected
                        </td>
                        <td colspan="2" width="182">
                            Total Number of Students Affected
                        </td>
                        <td rowspan="2" width="91">
                            Total Damages (LKR)
                        </td>
                        <td colspan="2" width="182">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="91">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="91" height="17">
                            Male
                        </td>
                        <td width="91">
                            Female
                        </td>
                        <td width="91">
                            Year 1
                        </td>
                        <td width="91">
                            Year 2
                        </td>
                    </tr>
                    </tbody>
              
                        <tbody ng-repeat="(key, value) in dlEduProvince.education.Table_6" id="boxscroll1" style="max-height:800px;overflow:auto;">
                            <tr height="20" class="trheadc">
                                <td ng-bind="key" width="202" height="20">
                                </td>
                                <td class="right" width="90">
                                </td>
                                <td width="90">
                                </td>
                                <td width="90">
                                </td>
                                <td class="right" width="90">
                                </td>
                                <td width="90">
                                </td>
                                <td  width="90">
                                </td>
                                <td class="right" width="90">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">
                                    1AB, 1C
                                </td>
                                <td  class="right" width="110" ng-bind="value['DugDfDistrict'][0].ab1_1c">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].ab1_1c">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].ab1_1c">
                                </td>
                                <td  class="right" class="right" width="110" ng-bind="value['DugNdafDistrict'][0].ab1_1c">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].ab1_1c">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].ab1_1c">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].ab1_1c">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">Type 2
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].type_2">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].type_2">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">Type 3
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].type_3">
                                </td>
                                <td  class="right" width="110" ng-bind="value['DugNsaDistrict'][1].type_3">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].type_3">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].type_3">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].type_3">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].type_3">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].type_3">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">Pirivena
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].pirivena">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].pirivena">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">Training Institutes
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].training_institutes">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].training_institutes">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">
                                    NCOE, Training Colleges
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].training_colleges">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].training_colleges">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">
                                    TC, CRC, RESC
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][1].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNsaDistrict'][0].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].tc_crc_resc">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].tc_crc_resc">
                                </td>
                            </tr>
                            <tr height="17">
                                <td class="tdpa" width="307" height="17">
                                    Ministry, Provincial, Zonal, Divisional Offices, NIE
                                </td>
                                <td class="right" width="110" ng-bind="value['DugDfDistrict'][0].min_pzd_offices">
                                </td>
                                <td class="tdpa" width="110">
                                </td>
                                <td class="tdpa" width="110">
                                </td>
                                <td class="right" width="110" ng-bind="value['DugNdafDistrict'][0].min_pzd_offices">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][0].min_pzd_offices">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][2].min_pzd_offices">
                                </td>
                                <td class="right" width="110" ng-bind="value['DpefBefDistrict'][1].min_pzd_offices">
                                </td>
                            </tr>
                            <tr height="17" class="boldash">
                                <td class="tdpa" width="307" height="17">
                                    Total
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DugDfDistrict'][0].ab1_1c, value['DugDfDistrict'][0].type_2, value['DugDfDistrict'][0].type_3, value['DugDfDistrict'][0].pirivena, value['DugDfDistrict'][0].training_institutes, value['DugDfDistrict'][0].training_colleges, value['DugDfDistrict'][0].tc_crc_resc, value['DugDfDistrict'][0].min_pzd_offices)"></span>
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DugNsaDistrict'][1].ab1_1c, value['DugNsaDistrict'][1].type_2, value['DugNsaDistrict'][1].type_3, value['DugNsaDistrict'][1].pirivena, value['DugNsaDistrict'][1].training_institutes, value['DugNsaDistrict'][1].training_colleges, value['DugNsaDistrict'][1].tc_crc_resc, 0)"></span>
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DugNsaDistrict'][0].ab1_1c, value['DugNsaDistrict'][0].type_2, value['DugNsaDistrict'][0].type_3, value['DugNsaDistrict'][0].pirivena, value['DugNsaDistrict'][0].training_institutes, value['DugNsaDistrict'][0].training_colleges, value['DugNsaDistrict'][0].tc_crc_resc, 0)"></span>
                                </td>
                                <td class="right" class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DugNdafDistrict'][0].ab1_1c, value['DugNdafDistrict'][0].type_2, value['DugNdafDistrict'][0].type_3, value['DugNdafDistrict'][0].pirivena, value['DugNdafDistrict'][0].training_institutes, value['DugNdafDistrict'][0].training_colleges, value['DugNdafDistrict'][0].tc_crc_resc, value['DugNdafDistrict'][0].min_pzd_offices)"></span>
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][0].ab1_1c, value['DpefBefDistrict'][0].type_2, value['DpefBefDistrict'][0].type_3, value['DpefBefDistrict'][0].pirivena, value['DpefBefDistrict'][0].training_institutes, value['DpefBefDistrict'][0].training_colleges, value['DpefBefDistrict'][0].tc_crc_resc, value['DpefBefDistrict'][0].min_pzd_offices)"></span>
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][2].ab1_1c, value['DpefBefDistrict'][2].type_2, value['DpefBefDistrict'][2].type_3, value['DpefBefDistrict'][2].pirivena, value['DpefBefDistrict'][2].training_institutes, value['DpefBefDistrict'][2].training_colleges, value['DpefBefDistrict'][2].tc_crc_resc, value['DpefBefDistrict'][2].min_pzd_offices)"></span>
                                </td>
                                <td class="right" width="110">
                                    <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][1].ab1_1c, value['DpefBefDistrict'][1].type_2, value['DpefBefDistrict'][1].type_3, value['DpefBefDistrict'][1].pirivena, value['DpefBefDistrict'][1].training_institutes, value['DpefBefDistrict'][1].training_colleges, value['DpefBefDistrict'][1].tc_crc_resc, value['DpefBefDistrict'][1].min_pzd_offices)"></span>
                                </td>
                            </tr>
                        
                            <tr height="17" class="boldash">
                                <td class="tdpa" width="307" height="17">
                                    TOTAL
                                </td>
                                <td class="right" width="110" ng-bind="totNumberAffectedPub()">
                                </td>
                                <td class="right" width="110" ng-bind="totNoOfPatientsAffectedMalePub()">
                                </td>
                                <td class="right" width="110" ng-bind="totNoOfPatientsAffectedFemalePub()">
                                </td>
                                <td class="right" width="110" ng-bind="totDamagesPub()">
                                </td>
                                <td class="right" width="110" ng-bind="totLossesYear1Pub()">
                                </td>
                                <td class="right" width="110" ng-bind="totLossesYear2Pub()">
                                </td>
                                <td class="right" width="110" ng-bind="totLossesYear1Pub() + totLossesYear2Pub()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
               
                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    Fill Private Sector Informations
                </a>
                <br>
            </div>
            <div class="tab-pane fade" id="step2">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="trheadc1" height="34">
                            <td rowspan="2" width="296" style="width:29%" height="51">
                                Facilities and Assets
                            </td>
                            <td rowspan="2" width="91">
                                Total Number Affected
                            </td>
                            <td colspan="2" width="182">
                                Total Number of Students Affected
                            </td>
                            <td rowspan="2" width="91">
                                Total Damages (LKR)
                            </td>
                            <td colspan="2" width="182">
                                Losses (LKR)
                            </td>
                            <td rowspan="2" width="91">
                                Total Losses (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="17">
                            <td width="91" height="17">
                                Male
                            </td>
                            <td width="91">
                                Female
                            </td>
                            <td width="91">
                                Year 1
                            </td>
                            <td width="91">
                                Year 2
                            </td>
                        </tr>
                        <table ng-repeat="(key, value) in dlEduProvince.education.Table_6" class="table table-bordered">
                            <tbody>
                                <tr height="20" class="trheadc">
                                    <td ng-bind="key" width="202" height="20">
                                    </td>
                                    <td class="right" width="91">
                                    </td>
                                    <td width="91">
                                    </td>
                                    <td width="91">
                                    </td>
                                    <td class="right" width="91">
                                    </td>
                                    <td width="91">
                                    </td>
                                    <td width="91">
                                    </td>
                                    <td class="right" width="91">
                                    </td>
                                </tr>
                                <tbody height="17" ng-repeat="dpefNafDistrict in value.DpefNafDistrict">
                                    <tr height="17" ng-if="dpefNafDistrict.edu_facilities == 'Pre-school'">
                                        <td class="tdpa" width="307" height="17" ng-bind="dpefNafDistrict.edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPreDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPreDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPreDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefPreDistrict'][0].est_los_year_1, value['DpefBefPreDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                    <tr height="17" ng-if="dpefNafDistrict.edu_facilities == 'Primary School'">
                                        <td class="tdpa" width="307" height="17">
                                            Primary Schools
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefPrimaryDistrict'][0].est_los_year_1, value['DpefBefPrimaryDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                    <tr height="17" ng-if="dpefNafDistrict.edu_facilities == 'Secondary School'">
                                        <td class="tdpa" width="307" height="17">
                                            Secondary Schools
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefSecondaryDistrict'][0].est_los_year_1, value['DpefBefSecondaryDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                    <tr height="17" ng-if="dpefNafDistrict.edu_facilities == 'University'">
                                        <td class="tdpa" width="307" height="17">
                                            Universities
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefUnvDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefUnvDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefUnvDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefUnvDistrict'][0].est_los_year_1, value['DpefBefUnvDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                    <tr height="17" ng-if="dpefNafDistrict.edu_facilities == 'Technical Institutes'">
                                        <td class="tdpa" width="307" height="17">
                                            Technical Institutes
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right"  width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefTechDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefTechDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefTechDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefTechDistrict'][0].est_los_year_1, value['DpefBefTechDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                    <tr ng-if="dpefNafDistrict.edu_facilities == 'Others'">
                                        <td class="tdpa" width="307" height="17" ng-bind="dpefNafDistrict.edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.num_edu_facilities">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.male">
                                        </td>
                                        <td class="right" width="110" ng-bind="dpefNafDistrict.female">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefOtherDistrict'][0].tot_damages">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefOtherDistrict'][0].est_los_year_1">
                                        </td>
                                        <td class="right" width="110" ng-bind="value['DpefBefOtherDistrict'][0].est_los_year_2">
                                        </td>
                                        <td class="right" width="110" ng-bind="sumFunc2(value['DpefBefOtherDistrict'][0].est_los_year_1, value['DpefBefOtherDistrict'][0].est_los_year_2)">
                                        </td>
                                    </tr>
                                </tbody>
                                <tr class="boldash" height="17" ng-repeat="dpefNafDistrict in value.DpefNafDistrict" ng-if="dpefNafDistrict.edu_facilities == 'TOTAL'">
                                    <td class="tdpa" width="307" height="17">
                                        Total
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="$parent.sumFunc6(value['DpefNafDistrict'][0].num_edu_facilities, value['DpefNafDistrict'][1].num_edu_facilities, value['DpefNafDistrict'][2].num_edu_facilities, value['DpefNafDistrict'][3].num_edu_facilities, value['DpefNafDistrict'][4].num_edu_facilities, value['DpefNafDistrict'][5].num_edu_facilities)"></span>
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="$parent.sumFunc6(value['DpefNafDistrict'][0].male, value['DpefNafDistrict'][1].male, value['DpefNafDistrict'][2].male, value['DpefNafDistrict'][3].male, value['DpefNafDistrict'][4].male, value['DpefNafDistrict'][5].male)"></span>
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="$parent.sumFunc6(value['DpefNafDistrict'][0].female, value['DpefNafDistrict'][1].female, value['DpefNafDistrict'][2].female, value['DpefNafDistrict'][3].female, value['DpefNafDistrict'][4].female, value['DpefNafDistrict'][5].female)"></span>
                                    </td>
                                    <td  class="right" width="110">
                                        <span ng-bind="$parent.sumFunc6(value['DpefBefPreDistrict'][0].tot_damages, value['DpefBefPrimaryDistrict'][0].tot_damages, value['DpefBefSecondaryDistrict'][0].tot_damages, value['DpefBefUnvDistrict'][0].tot_damages, value['DpefBefTechDistrict'][0].tot_damages, value['DpefBefOtherDistrict'][0].tot_damages)"></span>
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="value['DpefBefPreDistrict'][0].est_los_year_1 + value['DpefBefPrimaryDistrict'][0].est_los_year_1 + value['DpefBefSecondaryDistrict'][0].est_los_year_1 + value['DpefBefUnvDistrict'][0].est_los_year_1 + value['DpefBefTechDistrict'][0].est_los_year_1 + value['DpefBefOtherDistrict'][0].est_los_year_1"></span>
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="sumFunc6(value['DpefBefPreDistrict'][0].est_los_year_2, value['DpefBefPrimaryDistrict'][0].est_los_year_2, value['DpefBefSecondaryDistrict'][0].est_los_year_2, value['DpefBefUnvDistrict'][0].est_los_year_2, value['DpefBefTechDistrict'][0].est_los_year_2, value['DpefBefOtherDistrict'][0].est_los_year_2)"></span>
                                    </td>
                                    <td class="right" width="110">
                                        <span ng-bind="sumFunc6(sumFunc2(value['DpefBefPreDistrict'][0].est_los_year_1, value['DpefBefPreDistrict'][0].est_los_year_2),
                                         sumFunc2(value['DpefBefPrimaryDistrict'][0].est_los_year_1, value['DpefBefPrimaryDistrict'][0].est_los_year_2),
                                         sumFunc2(value['DpefBefSecondaryDistrict'][0].est_los_year_1, value['DpefBefSecondaryDistrict'][0].est_los_year_2),
                                         sumFunc2(value['DpefBefUnvDistrict'][0].est_los_year_1, value['DpefBefUnvDistrict'][0].est_los_year_2),
                                         sumFunc2(value['DpefBefTechDistrict'][0].est_los_year_1, value['DpefBefTechDistrict'][0].est_los_year_2),
                                         sumFunc2(value['DpefBefOtherDistrict'][0].est_los_year_1, value['DpefBefOtherDistrict'][0].est_los_year_2))">
                                        </span>
                                    </td>
                                </tr>
                           
                                <tr class="boldash">
                                    <td class="tdpa" width="307" height="17">
                                        TOTAL
                                    </td>
                                    <td class="right" width="110" ng-bind="totNumberAffectedPvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totNoOfPatientsAffectedMalePvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totNoOfPatientsAffectedFemalePvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totDamagesPvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totLossesYear1Pvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totLossesYear2Pvt()">
                                    </td>
                                    <td class="right" width="110" ng-bind="totLossesYear1Pvt() + totLossesYear2Pvt()">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                            <a href="#step3" id="s2" class="btn btn-sm btn-info pull-right" data-toggle="tab">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                                Fill Total Damages and Losses
                            </a>
                        <br>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="step3">
                <table class="table table-bordered">
                    <tbody>
                        <tr class="trheadc1" height="17">
                            <td rowspan="2" width="296" height="34">
                                Ownership
                            </td>
                            <td colspan="2" rowspan="2" width="182">
                                Damages (LKR)
                            </td>
                            <td colspan="4" width="364">
                                Losses (LKR)
                            </td>
                            <td rowspan="2" width="91">
                                Total (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="17">
                            <td colspan="2" width="182" height="17">
                                Year 1
                            </td>
                            <td colspan="2" width="182">
                                Year 2
                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Public Sector
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totDamagesPub()">
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totLossesYear1Pub()">
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totLossesYear2Pub()">
                            </td>
                            <td class="right" width="110" ng-bind="totDamagesPub() + totLossesYear1Pub() + totLossesYear2Pub()">
                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Private Sector
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totDamagesPvt()">
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totLossesYear1Pvt()">
                            </td>
                            <td class="right" width="110" colspan="2" ng-bind="totLossesYear2Pvt()">
                            </td>
                            <td class="right" width="110" ng-bind="totDamagesPvt() + totLossesYear1Pvt() + totLossesYear2Pvt()">
                            </td>
                        </tr>
                        <tr height="17">
                        <td class="tdpa" width="307" height="17">
                            Total
                        </td>
                        <td class="right" width="110" colspan="2" ng-bind="totDamagesPub() + totDamagesPvt()">
                        </td>
                        <td class="right" width="110" colspan="2" ng-bind="totLossesYear1Pub() + totLossesYear1Pvt()">
                        </td>
                        <td class="right" width="110" colspan="2" ng-bind="totLossesYear2Pub() + totLossesYear2Pvt()">
                        </td>
                        <td class="right" width="110" ng-bind="totDamagesPub() + totLossesYear1Pub() + totLossesYear2Pub() + totDamagesPvt() + totLossesYear1Pvt() + totLossesYear2Pvt()">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br><br><br>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
