{% extends "dashboard/base.html" %}
{% block content %}

<!-- Main content -->
<main class="main" ng-app="dlEduProvinceApp" ng-controller="DlEduProvinceController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Education Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 6. Summary of Damages and Losses in the Education Sector in a Province</span>
        </li>


    </ol>


    <div class="container-fluid">

        <ul class='nav nav-wizard'>
            <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 - Public Sector</a></li>
            <li id="li2"><a href='#step2' data-toggle="tab">2 - Private Sector</a></li>
            <li id="li3"><a href='#step3' data-toggle="tab">3 - Total Damages and Losses</a></li>

        </ul>

        <div id="myTabContent" class="tab-content" ng-form name="form_damagelost_edu_province">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">

                    <colgroup>
                        <col width="296"/>
                        <col width="91" span="7"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_damagelost_edu_province.incident.$error.required">
                                    Please select Incident
                                </span>
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_damagelost_edu_province.district.$error.required">
                                    Please select Province
                                </span>
                            </td>
                        </tr>
                    <tr class="trhead1" height="17">
                        <td colspan="2" style="padding-left:5px;">
                            Incident
                        </td>
                        <td colspan="2" style="">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>{{incident.disaster_type.names}}
                                    {{incident.reported_date_time}}
                                    {% endfor %}
                            </select>

                        </td>
                        <td style="padding-left:5px;"> Province</td>
                        <td colspan="2" style="background:#EFEFEF;">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;" required>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                                <option value="" selected="true">Select Province</option>
                            </select>
                        </td>
                        <td colspan="">
                            <button class="btn btn-block btn-info" ng-click="LoadData()">Load</button>
                        </td>
                    </tr>

                    <tr class="trheadc1" height="34">
                        <td rowspan="2" width="296" style="width:28.5%;" height="51">
                            Facilities and Assets
                        </td>
                        <td rowspan="2" width="91">
                            Total Number Affected
                        </td>
                        <td colspan="2" width="182">
                            Total Number of Students Affected
                        </td>
                        <td rowspan="2" width="91">
                            Total Damages (LKR)
                        </td>
                        <td colspan="2" width="182">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="91">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="91" height="17">
                            Male
                        </td>
                        <td width="91">
                            Female
                        </td>
                        <td width="91">
                            Year 1
                        </td>
                        <td width="91">
                            Year 2
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="boxscroll" style="max-height:400px;overflow:auto;">
                    <table ng-repeat="(key, value) in data.education.Table_6" class="table table-bordered">
                        <tbody>
                        <tr height="20" class="trheadc">
                            <td ng-bind="key" width="202" height="20">

                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                            <td width="90">
                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                1AB, 1C
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][0].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][1].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].ab1_1c">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].ab1_1c">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">Type 2
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].type_2">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][0].type_2">

                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][1].type_2">

                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].type_2">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].type_2">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].type_2">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].type_2">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">Type 3
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].type_3">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][0].type_3">

                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][1].type_3">

                            </td>
                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].type_3">
                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].type_3">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].type_3">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].type_3">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">Pirivena
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].pirivena">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][0].pirivena">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][1].pirivena">
                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].pirivena">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].pirivena">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].pirivena">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].pirivena">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">Training Institutes
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].training_institutes">
                            </td>
                            <td width="110"
                                ng-bind="value['DugNsaDistrict'][0].training_institutes">
                            </td>
                            <td width="110"
                                ng-bind="value['DugNsaDistrict'][1].training_institutes">
                            </td>
                            <td width="110"
                                ng-bind="value['DugNdafDistrict'][0].training_institutes">
                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][0].training_institutes">

                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][1].training_institutes">

                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][2].training_institutes">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">NCOE, Training Colleges
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].training_colleges">

                            </td>
                            <td width="110"
                                ng-bind="value['DugNsaDistrict'][0].training_colleges">
                            </td>
                            <td width="110"
                                ng-bind="value['DugNsaDistrict'][1].training_colleges">
                            </td>
                            <td width="110"
                                ng-bind="value['DugNdafDistrict'][0].training_colleges">
                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][0].training_colleges">

                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][1].training_colleges">

                            </td>
                            <td width="110"
                                ng-bind="value['DpefBefDistrict'][2].training_colleges">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">TC, CRC, RESC
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].tc_crc_resc">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][0].tc_crc_resc">
                            </td>
                            <td width="110" ng-bind="value['DugNsaDistrict'][1].tc_crc_resc">
                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].tc_crc_resc">
                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].tc_crc_resc">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].tc_crc_resc">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].tc_crc_resc">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">Ministry, Provincial, Zonal, Divisional Offices,
                                NIE
                            </td>
                            <td width="110" ng-bind="value['DugDfDistrict'][0].min_pzd_offices">
                            </td>
                            <td class="tdpa" width="110">

                            </td>
                            <td class="tdpa" width="110">

                            </td>
                            <td width="110" ng-bind="value['DugNdafDistrict'][0].min_pzd_offices">
                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][0].min_pzd_offices">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][1].min_pzd_offices">

                            </td>
                            <td width="110" ng-bind="value['DpefBefDistrict'][2].min_pzd_offices">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17"> Total 
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DugDfDistrict'][0].ab1_1c, value['DugDfDistrict'][0].type_2, value['DugDfDistrict'][0].type_3, value['DugDfDistrict'][0].pirivena, value['DugDfDistrict'][0].training_institutes, value['DugDfDistrict'][0].training_colleges, value['DugDfDistrict'][0].tc_crc_resc, value['DugDfDistrict'][0].min_pzd_offices)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DugNsaDistrict'][0].ab1_1c, value['DugNsaDistrict'][0].type_2, value['DugNsaDistrict'][0].type_3, value['DugNsaDistrict'][0].pirivena, value['DugNsaDistrict'][0].training_institutes, value['DugNsaDistrict'][0].training_colleges, value['DugNsaDistrict'][0].tc_crc_resc, 0)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DugNsaDistrict'][1].ab1_1c, value['DugNsaDistrict'][1].type_2, value['DugNsaDistrict'][1].type_3, value['DugNsaDistrict'][1].pirivena, value['DugNsaDistrict'][1].training_institutes, value['DugNsaDistrict'][1].training_colleges, value['DugNsaDistrict'][1].tc_crc_resc, 0)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DugNdafDistrict'][0].ab1_1c, value['DugNdafDistrict'][0].type_2, value['DugNdafDistrict'][0].type_3, value['DugNdafDistrict'][0].pirivena, value['DugNdafDistrict'][0].training_institutes, value['DugNdafDistrict'][0].training_colleges, value['DugNdafDistrict'][0].tc_crc_resc, value['DugNdafDistrict'][0].min_pzd_offices)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][0].ab1_1c, value['DpefBefDistrict'][0].type_2, value['DpefBefDistrict'][0].type_3, value['DpefBefDistrict'][0].pirivena, value['DpefBefDistrict'][0].training_institutes, value['DpefBefDistrict'][0].training_colleges, value['DpefBefDistrict'][0].tc_crc_resc, value['DpefBefDistrict'][0].min_pzd_offices)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][1].ab1_1c, value['DpefBefDistrict'][1].type_2, value['DpefBefDistrict'][1].type_3, value['DpefBefDistrict'][1].pirivena, value['DpefBefDistrict'][1].training_institutes, value['DpefBefDistrict'][1].training_colleges, value['DpefBefDistrict'][1].tc_crc_resc, value['DpefBefDistrict'][1].min_pzd_offices)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc8(value['DpefBefDistrict'][2].ab1_1c, value['DpefBefDistrict'][2].type_2, value['DpefBefDistrict'][2].type_3, value['DpefBefDistrict'][2].pirivena, value['DpefBefDistrict'][2].training_institutes, value['DpefBefDistrict'][2].training_colleges, value['DpefBefDistrict'][2].tc_crc_resc, value['DpefBefDistrict'][2].min_pzd_offices)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>


                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Private Sector Informations</a>
                <br>
            </div>
            <div class="tab-pane fade" id="step2">
                <table class="table table-bordered">
                    <tbody>


                    <tr class="trheadc1" height="34">
                        <td rowspan="2" width="296" style="width:28.5%" height="51">
                            Facilities and Assets
                        </td>
                        <td rowspan="2" width="91">
                            Total Number Affected
                        </td>
                        <td colspan="2" width="182">
                            Total Number of Students Affected
                        </td>
                        <td rowspan="2" width="91">
                            Total Damages (LKR)
                        </td>
                        <td colspan="2" width="182">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="91">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="91" height="17">
                            Male
                        </td>
                        <td width="91">
                            Female
                        </td>
                        <td width="91">
                            Year 1
                        </td>
                        <td width="91">
                            Year 2
                        </td>
                    </tr><!--find-->
                    <table ng-repeat="(key, value) in data.education.Table_6" class="table table-bordered">
                        <tbody>
                        <tr height="20" class="trheadc">
                            <td ng-bind="key" width="202" height="20">

                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                            <td width="91">
                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Pre-schools
                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][0].num_edu_facilities">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][0].male">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][0].female">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPreDistrict'][0].tot_damages">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPreDistrict'][0].est_los_year_1">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPreDistrict'][0].est_los_year_2">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Primary Schools
                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][1].num_edu_facilities">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][1].male">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][1].female">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].tot_damages">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].est_los_year_1">

                            </td>
                            <td width="110" ng-bind="value['DpefBefPrimaryDistrict'][0].est_los_year_2">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Secondary Schools
                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][2].num_edu_facilities">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][2].male">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][2].female">

                            </td>
                            <td width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].tot_damages">

                            </td>
                            <td width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].est_los_year_1">

                            </td>
                            <td width="110" ng-bind="value['DpefBefSecondaryDistrict'][0].est_los_year_2">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Universities
                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][3].num_edu_facilities">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][3].male">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][3].female">

                            </td>
                            <td width="110" ng-bind="value['DpefBefUnvDistrict'][0].tot_damages">

                            </td>
                            <td width="110" ng-bind="value['DpefBefUnvDistrict'][0].est_los_year_1">

                            </td>
                            <td width="110" ng-bind="value['DpefBefUnvDistrict'][0].est_los_year_2">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Technical Institutes
                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][4].num_edu_facilities">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][4].male">

                            </td>
                            <td width="110" ng-bind="value['DpefNaf'][4].female">

                            </td>
                            <td width="110" ng-bind="value['DpefBefTechDistrict'][0].tot_damages">

                            </td>
                            <td width="110" ng-bind="value['DpefBefTechDistrict'][0].est_los_year_1">

                            </td>
                            <td width="110" ng-bind="value['DpefBefTechDistrict'][0].est_los_year_2">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Others
                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                            <td width="110">

                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="307" height="17">
                                Total
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefNaf'][0].num_edu_facilities, value['DpefNaf'][1].num_edu_facilities, value['DpefNaf'][2].num_edu_facilities, value['DpefNaf'][3].num_edu_facilities, value['DpefNaf'][4].num_edu_facilities)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefNaf'][0].male, value['DpefNaf'][1].male, value['DpefNaf'][2].male, value['DpefNaf'][3].male,value['DpefNaf'][4].male)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefNaf'][0].female, value['DpefNaf'][1].female, value['DpefNaf'][2].female, value['DpefNaf'][3].female, value['DpefNaf'][4].female)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefBefPreDistrict'][0].tot_damages, value['DpefBefPrimaryDistrict'][0].tot_damages, value['DpefBefSecondaryDistrict'][0].tot_damages, value['DpefBefUnvDistrict'][0].tot_damages, value['DpefBefTechDistrict'][0].tot_damages)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefBefPreDistrict'][0].est_los_year_1, value['DpefBefPrimaryDistrict'][0].est_los_year_1, value['DpefBefSecondaryDistrict'][0].est_los_year_1, value['DpefBefUnvDistrict'][0].est_los_year_1, value['DpefBefUnvDistrict'][0].est_los_year_1)"></span>
                            </td>
                            <td width="110">
                                <span ng-bind="$parent.sumFunc5(value['DpefBefPreDistrict'][0].est_los_year_2, value['DpefBefPrimaryDistrict'][0].est_los_year_2, value['DpefBefSecondaryDistrict'][0].est_los_year_2, value['DpefBefTechDistrict'][0].est_los_year_2, value['DpefBefTechDistrict'][0].est_los_year_2)"></span>
                            </td>
                            <td width="110">

                            </td>
                        </tr>

                        </tbody>
                    </table>
<br>
                    <a href="#step3" id="s2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                            class="glyphicon glyphicon-arrow-right"></span> Fill Total Damages and Losses</a>
                    <br>

            </div>

            <div class="tab-pane fade" id="step3">

                <table class="table table-bordered">
                    <tbody>


                    <tr class="trheadc1" height="17">
                        <td rowspan="2" width="296" height="34">
                            Ownership
                        </td>
                        <td colspan="2" rowspan="2" width="182">
                            Damages (LKR)
                        </td>
                        <td colspan="4" width="364">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="91">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td colspan="2" width="182" height="17">
                            Year 1
                        </td>
                        <td colspan="2" width="182">
                            Year 2
                        </td>
                    </tr>
                     <tr  height="17">
                        <td class="tdpa" width="307" height="17">
                            Public Sector
                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110">

                        </td>

                    </tr>
                    <tr  height="17">
                        <td class="tdpa" width="307" height="17">
                            Private Sector
                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110">

                        </td>

                    </tr>
                    <tr  height="17">
                        <td class="tdpa" width="307" height="17">
                            Total
                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110" colspan="2">

                        </td>
                        <td width="110">

                        </td>

                    </tr>
                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                  
                    <button type="button" class="btn btn-info">Clear</button>
                    <!--<button type="button" class="btn btn-success">Submit</button>-->
                </div>
                <br><br><br>
            </div>

        </div>


    </div>
    </div>

    </div>

    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
