{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="dlAssmntHusingApp" ng-controller="dlAssmntHusingController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 3. Damage and loss assessment of the housing sector in a District
            </span>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_assmnt_husing_sector">
        <ul class='nav nav-wizard'>
            <li class="active"><a href='#step1' data-toggle="tab">1 Damages </a></li>
            <li><a href='#step2' data-toggle="tab">2 Partially Damaged Houses </a></li>
            <li><a href='#step3' data-toggle="tab">3 Losses</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                        <col width="83"/>
                        <col width="93"/>
                    </colgroup>
                    <tbody>

                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_dl_assmnt_husing_sector.incident.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_dl_assmnt_husing_sector.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                    </tr>
                     <tr height="43">
                            <td class="trhead" height="43" width="156">
                                Incident
                            </td>
                            <td class="trhead" colspan="2" height="43" width="63">
                                <select id="selectbasic" name="incident" ng-model="incident"
                                        class="form-control" ng-change="changedValue(true)" style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select an Incident</option>
                                    {% for incident in incidents %}

                                    <option value={{incident.id}}>{{incident.disaster_type.name}}
                                        {{incident.reported_date_time}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="trhead" height="43" width="120">
                                District
                            </td>
                            <td class="trhead" colspan="2" height="43" width="343">
                                <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                        name="district" id="ccyear" ng-model="district" ng-value="district.district__id" class="form-control" ng-change="changedValue(false)" required>
                                    <option value="" selected>Select District</option>
                                </select>
                            </td>
                        </tr>
                    <tr class="trheadc" height="19">
                        <td colspan="8" height="19" width="892">
                            Totally Destroyed Houses
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td rowspan="2" height="53" width="166">
                            Housing Classification
                        </td>
                        <td colspan="2" height="19" width="174">
                            Destroyed Houses
                        </td>
                        <td colspan="3" rowspan="2" height="53" width="278" style="width:25%;">
                            Total Square Meters Destroyed (sqm)
                        </td>
                        <td rowspan="2" height="53" width="83">
                            Per cent of House Contents Value Affected (%)
                        </td>
                        <td rowspan="2" height="53" width="93">
                            Damages (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="34">
                        <td height="34" width="87">
                            Total Number
                        </td>
                        <td height="34" width="112">
                            Per cent of total for rent
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td colspan="3" height="19" width="278">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesPermanent in dlAssmntHusing.housing.Table_3.DlDesPermanent" ng-if="dlDesPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesPermanent.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesPermanent.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesPermanent.per_cent_tot_rent">
                        </td>
                        <td colspan="3" height="19" width="278">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesPermanent.tot_sqm_destroyed">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesPermanent.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesPermanent in dlAssmntHusing.housing.Table_3.DlDesPermanent" ng-if="dlDesPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlDesPermanent.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" colspan="3" height="19" width="278">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td colspan="3" height="19" width="278">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesSemiPermanent in dlAssmntHusing.housing.Table_3.DlDesSemiPermanent" ng-if="dlDesSemiPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesSemiPermanent.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesSemiPermanent.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesSemiPermanent.per_cent_tot_rent">
                        </td>
                        <td colspan="3" height="19" width="278">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesSemiPermanent.tot_sqm_destroyed">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesSemiPermanent.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesSemiPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesSemiPermanent in dlAssmntHusing.housing.Table_3.DlDesSemiPermanent" ng-if="dlDesSemiPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesSemiPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlDesSemiPermanent.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" colspan="3" height="19" width="278">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesSemiPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td colspan="3" height="19" width="278">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesImprovised in dlAssmntHusing.housing.Table_3.DlDesImprovised" ng-if="dlDesImprovised.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesImprovised.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" onkeypress="return isNumberKey(event)" ng-model="dlDesImprovised.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesImprovised.per_cent_tot_rent">
                        </td>
                        <td colspan="3" height="19" width="278">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesImprovised.tot_sqm_destroyed">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlDesImprovised.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesImprovised.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlDesImprovised in dlAssmntHusing.housing.Table_3.DlDesImprovised" ng-if="dlDesImprovised.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlDesImprovised.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlDesImprovised.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" colspan="3" height="19" width="278">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlDesImprovised.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            TOTAL
                        </td>
                        <td height="19" width="87">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" colspan="3" height="19" width="278">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Partially Damaged Houses Informations</a>
                <br>
            </div>
            <div class="tab-pane " id="step2">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                        <col width="83"/>
                        <col width="93"/>
                    </colgroup>
                    <tbody>
                    <tr class="trheadc" height="29">
                        <td rowspan="2" height="63" width="166">
                            Housing Classification
                        </td>
                        <td colspan="2" height="29" width="174">
                            Damaged Houses
                        </td>
                        <td colspan="3" height="29" width="278">
                            House parts Affected (in sqm)
                        </td>
                        <td rowspan="2" height="63" width="83">
                            Per cent of House Contents Value Affected (%)
                        </td>
                        <td rowspan="2" height="63" width="93">
                            Damages (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="34">
                        <td height="34" width="87">
                            Total Number
                        </td>
                        <td height="34" width="112">
                            Per cent of total for rent
                        </td>
                        <td height="34" width="87">
                            Roof
                        </td>
                        <td height="34" width="104">
                            Wall
                        </td>
                        <td height="34" width="87">
                            Floor
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesPermanent in dlAssmntHusing.housing.Table_3.DlPdesPermanent" ng-if="dlPdesPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesPermanent.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.per_cent_tot_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.tot_sqm_roof">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.tot_sqm_wall">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.tot_sqm_floor">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesPermanent.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesPermanent in dlAssmntHusing.housing.Table_3.DlPdesPermanent" ng-if="dlPdesPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlPdesPermanent.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesSemiPermanent in dlAssmntHusing.housing.Table_3.DlPdesSemiPermanent" ng-if="dlPdesSemiPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesSemiPermanent.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.per_cent_tot_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.tot_sqm_roof">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.tot_sqm_wall">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.tot_sqm_floor">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesSemiPermanent.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesSemiPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesSemiPermanent in dlAssmntHusing.housing.Table_3.DlPdesSemiPermanent" ng-if="dlPdesSemiPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesSemiPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlPdesSemiPermanent.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesSemiPermanent.damages">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="83">
                        </td>
                        <td height="19" width="93">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesImprovised in dlAssmntHusing.housing.Table_3.DlPdesImprovised" ng-if="dlPdesImprovised.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesImprovised.assets">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.tot_num_houses">
                        </td>
                        <td height="19" width="112">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.per_cent_tot_rent">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.tot_sqm_roof">
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.tot_sqm_wall">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.tot_sqm_floor">
                        </td>
                        <td height="19" width="83">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlPdesImprovised.house_val_affected">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesImprovised.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlPdesImprovised in dlAssmntHusing.housing.Table_3.DlPdesImprovised" ng-if="dlPdesImprovised.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlPdesImprovised.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlPdesImprovised.tot_num_houses">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93" ng-bind="dlPdesImprovised.damages">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            TOTAL
                        </td>
                        <td height="19" width="87">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            TOTAL DAMAGES
                        </td>
                        <td height="19" width="87">
                            -
                        </td>
                        <td class="tdpa" height="19" width="112">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td class="tdpa" height="19" width="83">
                        </td>
                        <td height="19" width="93">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <a href="#step3" id="s2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Losses Informations</a>
                <br>
            </div>
            <div class="tab-pane" id="step3">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                        <col width="83"/>
                        <col width="93"/>
                    </colgroup>
                    <tbody>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                        </td>
                        <td colspan="2" height="19" width="174">
                            Number of Houses for Rent
                        </td>
                        <td colspan="3" height="19" width="278">
                            Types of Losses
                        </td>
                        <td colspan="2" rowspan="2" height="70" width="166">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="51">
                        <td height="51" width="166">
                            Housing Classification
                        </td>
                        <td height="51" width="87">
                            Totally Destroyed
                        </td>
                        <td height="51" width="112">
                            Partially Damaged
                        </td>
                        <td height="51" width="87">
                            Foregone income from rent (LKR)
                        </td>
                        <td height="51" width="104">
                            Average cost of cleaning debris (LKR)
                        </td>
                        <td height="51" width="87">
                            Average unexpected expenses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosPermanent in dlAssmntHusing.housing.Table_3.DlLosPermanent" ng-if="dlLosPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlLosPermanent.tot_num_des_houses" ng-value="dlLosPermanent.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosPermanent.tot_num_dmg_houses" ng-value="dlLosPermanent.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosPermanent.frg_income" ng-value="dlLosPermanent.frg_income">
                            -
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosPermanent.avg_cost_clean">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosPermanent.avg_un_expenses">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosPermanent.losses">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosPermanent in dlAssmntHusing.housing.Table_3.DlLosPermanent" ng-if="dlLosPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlLosPermanent.tot_num_des_houses" ng-value="dlLosPermanent.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosPermanent.tot_num_dmg_houses" ng-value="dlLosPermanent.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosPermanent.frg_income" ng-value="dlLosPermanent.frg_income">
                            -
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosPermanent.losses" ng-value="dlLosPermanent.losses">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosSemiPermanent in dlAssmntHusing.housing.Table_3.DlLosSemiPermanent" ng-if="dlLosSemiPermanent.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosSemiPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlLosSemiPermanent.tot_num_des_houses" ng-value="dlLosSemiPermanent.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosSemiPermanent.tot_num_dmg_houses" ng-value="dlLosSemiPermanent.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosSemiPermanent.frg_income" ng-value="dlLosSemiPermanent.frg_income">
                            -
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosSemiPermanent.avg_cost_clean">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosSemiPermanent.avg_un_expenses">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosSemiPermanent.losses" ng-value="dlLosSemiPermanent.losses">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosSemiPermanent in dlAssmntHusing.housing.Table_3.DlLosSemiPermanent" ng-if="dlLosSemiPermanent.assets == 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosSemiPermanent.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlLosSemiPermanent.tot_num_des_houses" ng-value="dlLosSemiPermanent.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosSemiPermanent.tot_num_dmg_houses" ng-value="dlLosSemiPermanent.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosSemiPermanent.frg_income" ng-value="dlLosSemiPermanent.frg_income">
                            -
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosSemiPermanent.losses" ng-value="dlLosSemiPermanent.losses">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosImprovised in dlAssmntHusing.housing.Table_3.DlLosImprovised" ng-if="dlLosImprovised.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosImprovised.assets">
                            1 floor
                        </td>
                        <td height="19" width="87" ng-bind="dlLosImprovised.tot_num_des_houses" ng-value="dlLosImprovised.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosImprovised.tot_num_dmg_houses" ng-value="dlLosImprovised.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosImprovised.frg_income" ng-value="dlLosImprovised.frg_income">
                            -
                        </td>
                        <td height="19" width="104">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosImprovised.avg_cost_clean">
                        </td>
                        <td height="19" width="87">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="dlLosImprovised.avg_un_expenses">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosImprovised.losses" ng-value="dlLosImprovised.losses">
                            -
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlLosImprovised in dlAssmntHusing.housing.Table_3.DlLosImprovised" ng-if="dlLosImprovised.assets != 'Total'">
                        <td class="tdpa" height="19" width="166" ng-bind="dlLosImprovised.assets">
                        </td>
                        <td height="19" width="87" ng-bind="dlLosImprovised.tot_num_des_houses" ng-value="dlLosImprovised.tot_num_des_houses">
                            -
                        </td>
                        <td height="19" width="112" ng-bind="dlLosImprovised.tot_num_dmg_houses" ng-value="dlLosImprovised.tot_num_dmg_houses">
                            -
                        </td>
                        <td height="19" width="87" ng-bind="dlLosImprovised.frg_income" ng-value="dlLosImprovised.frg_income">
                            -
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166" ng-bind="dlLosImprovised.losses" ng-value="dlLosImprovised.losses">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            TOTAL LOSSES
                        </td>
                        <td height="19" width="87">
                            -
                        </td>
                        <td height="19" width="112">
                            -
                        </td>
                        <td height="19" width="87">
                            -
                        </td>
                        <td class="tdpa" height="19" width="104">
                        </td>
                        <td class="tdpa" height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" class="btn btn-success" ng-click="saveDlData(form_dl_assmnt_husing_sector)">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
