{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSummHousProApp" ng-controller="DlSummHousroController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:housing_main' %}">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 5.  Summary of Damage and Losses in the Housing Sector in the Province
            </span>
        </li>
          <li style="float:right;"> <a href="{% static 'dashboard/doc/5-Housing-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                    </colgroup>
                    <tbody>

                    <tr class="trhead1" >
                        <td  width="130" class="p5" colspan="2">
                            Incident

                        </td>
                        <td width="125">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);fetchProvinces();fetchDlData();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="p5" width="281" >
                            Province
                        </td>

                        <td width="170">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false);fetchDlData();" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <td >
                            <!--<button class="btn btn-info btn-block"-->
                                    <!--ng-click="fetchDlData()">Load-->
                            <!--</button>-->
                        </td>
                     </tr>
                     </tbody>
                    </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">

                <tbody>

                    <tr class="trheadc1" height="51">
                        <td height="51" width="166">
                            Housing Classification
                        </td>
                        <td height="51" width="87">
                            Number of Totally Destroyed
                        </td>
                        <td height="51" width="112">
                            Number of Partially Damaged
                        </td>
                        <td height="51" width="87">
                            Damages (LKR)
                        </td>
                        <td height="51" width="104">
                            Losses (LKR)
                        </td>
                        <td height="51" width="87">
                            Total Damages and Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="19" ng-repeat="(key, value) in dlSumHousPro.housing.Table_5" ng-init="getTotal(key)">
                        <td height="19" width="166" ng-bind="key">

                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="(key, value) in dlSumHousPro.housing.Table_5">
                        <td class="tdpa" height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlNumDesPerProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="112" ng-bind="data.housing.Table_5[key].DlNumPdesPerProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgPerProvince[0].tot_damages">

                        </td>
                        <td height="19" width="104" ng-bind="data.housing.Table_5[key].DlLosPerProvince[0].tot_losses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgPerProvince[0].tot_damages + data.housing.Table_5[key].DlLosPerProvince[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19" ng-repeat="(key, value) in dlSumHousPro.housing.Table_5">
                        <td class="tdpa" height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlNumDesSemiPerProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="112" ng-bind="data.housing.Table_5[key].DlNumPdesSemiPerProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgSemiPerProvince[0].tot_damages">

                        </td>
                        <td height="19" width="104" ng-bind="data.housing.Table_5[key].DlLosSemiPerProvince[0].tot_losses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgSemiPerProvince[0].tot_damages + data.housing.Table_5[key].DlLosSemiPerProvince[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19" ng-repeat="(key, value) in dlSumHousPro.housing.Table_5">
                        <td class="tdpa" height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlNumDesImpProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="112" ng-bind="data.housing.Table_5[key].DlNumPdesImpProvince[0].tot_num_houses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgImpProvince[0].tot_damages">

                        </td>
                        <td height="19" width="104" ng-bind="data.housing.Table_5[key].DlLosImpProvince[0].tot_losses">

                        </td>
                        <td height="19" width="87" ng-bind="data.housing.Table_5[key].DlDmgImpProvince[0].tot_damages + data.housing.Table_5[key].DlLosImpProvince[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19" ng-repeat="(key, value) in dlSumHousPro.housing.Table_5">
                        <td class="boldash" height="19" width="166">
                            TOTAL
                        </td>
                        {% verbatim %}
                        <td width="98" ng-model="noTotDes" ng-bind="noTotDes= {{'noTotDes'+key}}">

                        </td>
                        {% endverbatim %}

                        {% verbatim %}
                        <td width="98" ng-model="noPartDes" ng-bind="noPartDes= {{'noPartDes'+key}}">

                        </td>
                        {% endverbatim %}
                       {% verbatim %}
                        <td width="98" ng-model="totdamage" ng-bind="totdamage= {{'totdamage'+key}}">

                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td width="98" ng-model="totalLosses" ng-bind="totalLosses= {{'totalLosses'+key}}">

                        </td>
                        {% endverbatim %}
                        <td height="19" width="87" ng-bind="tot">

                        </td>
                    </tr>
                     </tbody>
                    <tr height="19">
                        <td class="boldash" height="19" width="166">
                            GRAND TOTAL
                        </td>
                        <td height="19" width="87" ng-bind="grndtotalNumDes">
                        </td>

                        <td height="19" width="112" ng-bind="grndtotalNumPart">

                        </td>
                        <td height="19" width="87" ng-bind="grndtotalDamages">

                        </td>
                        <td height="19" width="104" ng-bind="grndtotalLosses">

                        </td>
                        <td height="19" width="87" ng-bind="grandTotal">
                    </tr>
                </table>
                <br>
                <div class="pull-right">
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
