{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlHousingDisApp" ng-controller="DlHousingDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:housing_main' %}">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 4.  Summary of Damage and Losses in the Housing Sector in the District
            </span>
        </li>
        <li style="float:right;"><a href="{% static 'dashboard/doc/5-Housing-24Jan17.pdf' %}" target="_blank"
                                    style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
                                    data-toggle="tooltip" title="Veiw Document"></a></li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                        <col width="83"/>
                        <col width="93"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1">
                        <td class="p5" width="156">
                            Incident
                        </td>
                        <td colspan="4" width="63">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);getDistrict();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="p5" width="120">
                            District
                        </td>
                        <td class="" colspan="1" width="491">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="changedValue(false)" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>

                    <tr class="trheadc1" height="51">
                        <td height="51" width="166" style="width:20%;">
                            Housing Classification
                        </td>
                        <td height="51" width="87" style="width:10%;">
                            Number Totally Destroyed
                        </td>
                        <td colspan="2" height="51" width="224" style="width:10%;">
                            Number of Partially Damaged
                        </td>
                        <td height="51" width="104" style="width:10%;">
                            Damages (LKR)
                        </td>
                        <td height="51" width="87" style="width:10%;">
                            Losses (LKR)
                        </td>
                        <td colspan="2" height="51" width="166" style="width:10%;">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="224">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            1 floor
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesPerDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesPerDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgPerDistrict[0].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosPerDistrict[0].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgPerDistrict[0].tot_damages + data.housing.Table_4.DlLosPerDistrict[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            2-3 floors
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesPerDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesPerDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgPerDistrict[1].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosPerDistrict[1].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgPerDistrict[1].tot_damages + data.housing.Table_4.DlLosPerDistrict[1].tot_losses ">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            4-5 floors
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesPerDistrict[2].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesPerDistrict[2].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgPerDistrict[2].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosPerDistrict[2].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgPerDistrict[2].tot_damages + data.housing.Table_4.DlLosPerDistrict[2].tot_losses">


                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            More than 5 floors
                        </td>

                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesPerDistrict[3].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesPerDistrict[3].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgPerDistrict[3].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosPerDistrict[3].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgPerDistrict[3].tot_damages + data.housing.Table_4.DlLosPerDistrict[3].tot_losses">


                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" height="19" width="166">
                            Total
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesPerDistrict[4].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesPerDistrict[4].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgPerDistrict[4].tot_damages">


                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosPerDistrict[4].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgPerDistrict[4].tot_damages + data.housing.Table_4.DlLosPerDistrict[4].tot_losses ">

                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="224">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            1 floor
                        </td>
                        <td class="right" height="19" width="87"
                            ng-bind="data.housing.Table_4.DlNumDesSemiPerDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesSemiPerDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[0].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosSemiPerDistrict[0].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[0].tot_damages + data.housing.Table_4.DlLosSemiPerDistrict[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            2-3 floors
                        </td>
                        <td class="right" height="19" width="87"
                            ng-bind="data.housing.Table_4.DlNumDesSemiPerDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesSemiPerDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[1].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosSemiPerDistrict[1].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[1].tot_damages +data.housing.Table_4.DlLosSemiPerDistrict[1].tot_losses ">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            4-5 floors
                        </td>
                        <td class="right" height="19" width="87"
                            ng-bind="data.housing.Table_4.DlNumDesSemiPerDistrict[2].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesSemiPerDistrict[2].tot_num_houses">

                        </td>

                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[2].tot_damages">


                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosSemiPerDistrict[2].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[2].tot_damages + data.housing.Table_4.DlLosSemiPerDistrict[2].tot_losses">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" height="19" width="166">
                            Total
                        </td>
                        <td class="right" height="19" width="87"
                            ng-bind="data.housing.Table_4.DlNumDesSemiPerDistrict[3].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesSemiPerDistrict[3].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[3].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosSemiPerDistrict[3].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgSemiPerDistrict[3].tot_damages + data.housing.Table_4.DlLosSemiPerDistrict[3].tot_losses">

                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="224">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td colspan="2" height="19" width="166">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            1 floor
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesImpDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesImpDistrict[1].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgImpDistrict[0].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosImpDistrict[1].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgImpDistrict[0].tot_damages + data.housing.Table_4.DlLosImpDistrict[1].tot_losses">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            2-3 floors
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesImpDistrict[2].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesImpDistrict[2].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgImpDistrict[1].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosImpDistrict[2].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgImpDistrict[1].tot_damages + data.housing.Table_4.DlLosImpDistrict[2].tot_losses ">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" height="19" width="166">
                            Total
                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlNumDesImpDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" colspan="2" height="19" width="224"
                            ng-bind="data.housing.Table_4.DlNumPdesImpDistrict[0].tot_num_houses">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="data.housing.Table_4.DlDmgImpDistrict[2].tot_damages">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="data.housing.Table_4.DlLosImpDistrict[0].tot_losses">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="data.housing.Table_4.DlDmgImpDistrict[2].tot_damages + data.housing.Table_4.DlLosImpDistrict[0].tot_losses">

                        </td>
                    </tr>
                    <tr height="19">
                        <td class="boldash" height="19" width="166">
                            GRAND TOTAL
                        </td>
                        <td class="right" height="19" width="87" ng-bind="convertToInt(
                        data.housing.Table_4.DlNumDesImpDistrict[0].tot_num_houses ,
                        data.housing.Table_4.DlNumDesSemiPerDistrict[3].tot_num_houses ,
                        data.housing.Table_4.DlNumDesPerDistrict[4].tot_num_houses)">

                        </td>
                        <td class="right" colspan="2" height="19" width="224" ng-bind="convertToInt(
                        data.housing.Table_4.DlNumPdesImpDistrict[0].tot_num_houses ,
                        data.housing.Table_4.DlNumPdesSemiPerDistrict[3].tot_num_houses ,
                        data.housing.Table_4.DlNumPdesPerDistrict[4].tot_num_houses)">

                        </td>
                        <td class="right" height="19" width="104" ng-bind="convertToInt(
                        data.housing.Table_4.DlDmgImpDistrict[2].tot_damages ,
                        data.housing.Table_4.DlDmgSemiPerDistrict[3].tot_damages ,
                        data.housing.Table_4.DlDmgPerDistrict[4].tot_damages)">

                        </td>
                        <td class="right" height="19" width="87" ng-bind="convertToInt(
                        data.housing.Table_4.DlLosImpDistrict[0].tot_losses ,
                        data.housing.Table_4.DlLosSemiPerDistrict[3].tot_losses ,
                        data.housing.Table_4.DlLosPerDistrict[4].tot_losses)">

                        </td>
                        <td class="right" colspan="2" height="19" width="166"
                            ng-bind="
                            data.housing.Table_4.DlDmgImpDistrict[2].tot_damages +
                            data.housing.Table_4.DlLosImpDistrict[0].tot_losses +
                            data.housing.Table_4.DlDmgSemiPerDistrict[3].tot_damages +
                            data.housing.Table_4.DlLosSemiPerDistrict[3].tot_losses +
                            data.housing.Table_4.DlDmgPerDistrict[4].tot_damages +
                            data.housing.Table_4.DlLosPerDistrict[4].tot_losses">

                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
