{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Housing Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 6.  Summary of Damage and Losses in the Housing Sector in the Nationwide
            </span>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="166"/>
                        <col width="87"/>
                        <col width="112"/>
                        <col width="87"/>
                        <col width="104"/>
                        <col width="87"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" >
                        <td width="118" class="p5">
                            Incident
                        </td>
                        <td colspan="8" width="340">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="fetchData()"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>{{incident.disaster_type.names}}
                                    {{incident.reported_date_time}}
                                    {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="51">
                        <td height="51" width="166">
                            Housing Classification
                        </td>
                        <td height="51" width="87">
                            Number of Totally Destroyed
                        </td>
                        <td height="51" width="112">
                            Number of Partially Damaged
                        </td>
                        <td height="51" width="87">
                            Damages (LKR)
                        </td>
                        <td height="51" width="104">
                            Losses (LKR)
                        </td>
                        <td height="51" width="87">
                            Total Damages and Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="166">
                            Province 1
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="112">
                        </td>
                        <td height="19" width="87">
                        </td>
                        <td height="19" width="104">
                        </td>
                        <td height="19" width="87">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            Type 1. Permanent
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="112">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="104">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            Type 2. Semi-Permanent
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="112">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="104">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            Type 3. Improvised
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="112">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="104">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            TOTAL
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="112">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="104">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="166">
                            GRAND TOTAL
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="112">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                        <td height="19" width="104">
                            <!-- - -->
                        </td>
                        <td height="19" width="87">
                            <!-- - -->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}