{% extends "admin/base_site.html" %}
{% load i18n admin_static %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href='{% static "admin/css/login.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "dashboard/css/font-awesome.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "dashboard/css/simple-line-icons.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "dashboard/css/style.css" %}'>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
.login #container {width:0;border:none;background:transparent;}


</style>
<!--script>
$(document).ready(function(){
    $('input[type=submit]').addClass('btn btn-info');
});
</script-->
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function(){
        if(window.location.href.indexOf("=/admin/") > -1)
        {
            window.location = "http://166.63.122.161/:8003";
        }
    });
</script>
<main class="main" ng-app="loginapp" ng-controller="LoginController">
<div id="content-main" style="position: relative;top:-50px;overflow: hidden;">
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-group">
                        <div class="card p-2">
                            <div class="card-block">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                {% if form.errors and not form.non_field_errors %}
                                <p class="errornote">
                                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below."
                                    %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                </p>
                                {% endif %}

                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="errornote">
                                    {{ error }}
                                </p>
                                {% endfor %}
                                {% endif %}
                                <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                                    <div class="form-row">
                                        {{ form.username.errors }}
                                        {{ form.username.label_tag }} {{ form.username }}
                                    </div>
                                    <div class="form-row">
                                        {{ form.password.errors }}
                                        {{ form.password.label_tag }} {{ form.password }}
                                        <input type="hidden" name="next" value="{{ next }}"/>
                                    </div>
                                    {% url 'admin_password_reset' as password_reset_url %}
                                    {% if password_reset_url %}
                                    <div class="password-reset-link">
                                        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or
                                            username?' %}</a>
                                    </div>
                                    {% endif %}
                                    <div class="submit-row">
                                        <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}"/>
                                    </div>
                                </form>
                                <a id="modal-316091" href="#modal-container-316091" role="button" data-toggle="modal"
                                   style="float:right;margin-top:10px;">Forget Password</a>
                            </div>
                        </div>
                        <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                            <div class="card-block text-xs-center">
                                <div>
                                    <img src="{% static 'dashboard/img/logo.png' %}" class="img-avatar"
                                         style="width:250px;background:#fff;padding:10px;" alt="">
                                    <br><br>
                                    <p style="font-size:20px;"><strong>Sri Lanka Post Disaster Damage and Loss Reporting
                                        System</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-container-316091" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true" >
                        <div class="modal-dialog" style="width:30%;">
                           <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Forget Password
            </h4>
        </div>
        <div class="modal-body">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">User Name</label>
                <div class="col-md-8">
                    <input id="textinput" name="textinput" type="text" placeholder=""
                           class="form-control input-md" ng-model="username">

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group" style="margin-top: 5px;">
                <label class="col-md-4 control-label" for="textinput">Your Name</label>
                <div class="col-md-8">
                    <input id="textinput" name="textinput" ng-model="name" type="text" placeholder=""
                           class="form-control input-md">

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- Text input-->
            <div ng-form="form" class="form-group" style="margin-top: 5px;">
                <label class="col-md-4 control-label" for="textinput">Contact No</label>
                <div class="col-md-8">
                     <input type="text" name="cno" ng-model="cno" ng-pattern="/^(?:\d{10}|\w+@\w+\.\w{2,3})$/" >
                     <span ng-if="form.cno.$error.pattern">Enter correct email or phone number!</span>

                </div>
            </div>
            <br>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="button" ng-click="sendMail()" class="btn btn-primary">
                Request
            </button>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
</div>
    </main>

{% endblock %}
