{% extends "dashboard/base.html" %}
{% block content %}

<!-- Main content -->
<main class="main" ng-app="dlTouismInfrstrctApp" ng-controller="dlTouismInfrstrctController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Tourism Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 2. Damages and Losses in Tourism Business</span></li>


    </ol>


    <div class="container-fluid" ng-form name="form_dl_tou_buss">

        <ul class='nav nav-wizard'>
            <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 - Damages</a></li>
            <li id="li2"><a href='#step2' data-toggle="tab">2 - Tourism</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">


                <table class="table table-bordered" >
                    <colgroup>
                        <col width="229"/>
                        <col width="100" span="6"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">

                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="3" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted
                            && form_dl_tou_buss.baselineDate.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted
                            && form_dl_tou_buss.district.$error.required">
                                Please Select District
                            </span>
                            <!--district == undefined-->
                        </td>
                    </tr>
                    <tr class="trhead1" height="20">

                        <td width="229" class="p5" height="20">
                            Incident
                        </td>
                        <td colspan="3" width="600">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>{{incident.disaster_type.name}}
                                    {{incident.reported_date_time}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td width="229" class="p5" height="20">
                            District
                        </td>
                        <td colspan="2" height="19" style="font-weight:normal;" width="427">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="changedValue(false);" required>
                                <!--fetchFirms();-->
                                <option value="" selected>Select District</option>
                            </select>
                        </td>

                    </tr>
                    <tr class="trhead1" height="20">
                        <td width="229" class="p5" height="20">
                            Name of Firm
                        </td>
                        <td colspan="4" width="600">
                            <select ng-options="firm as firm.name for firm in firms track by firm.id"
                                    name="district" id="ccyear" ng-model="selectedFirm" ng-value="firm.id" class="form-control" required="true">
                                <option value="" selected="true">Select Firm</option>
                            </select>

                        </td>
                        <td>
                            <a id="add_primary" href="#modal-container-218029" role="button" data-toggle="modal" data-id="Add " class="open-modal-container-218029 btn btn-sm btn-block btn-primary btn-info">Add</a>
                        </td>
                        <td>
                            <a id="edit_primary" href="#modal-container-218030" role="button" data-toggle="modal" data-id="Edit " class="btn btn-sm btn-block btn-primary btn-warning">Edit</a>
                        </td>
                    </tr>
                    <tr class="trhead1" height="20">
                        <td width="229" class="p5" height="20">
                            Type of Business
                        </td>
                        <td colspan="6" width="200">
                            <select id="selectbasic" name="selectbasic"
                                    ng-options="businessType as businessType.business for  businessType in businessTypes"
                                    name="selectedType" id="ccyear" ng-model="selectedType" ng-chnage="changeSelectedType()"
                                    class="form-control"
                                    style="width:100%;font-weight:400;">

                                <option value="" selected="true">Select Business Type</option>



                            </select>
                        </td>
                        <!--<td>-->
                        <!--<a id="add_primary" href="#modal-container-218029" role="button" data-toggle="modal" data-id="Add" class="open-modal-container-218029 btn btn-sm btn-block btn-primary btn-info">Add</a>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<a id="edit_primary" href="#modal-container-218029" role="button" data-toggle="modal" data-id="Edit" class="btn btn-sm btn-block btn-primary btn-warning">Edit</a>-->
                        <!--</td>-->
                    </tr>
                    <tr class="trhead1"  height="20">
                        <td width="229" class="p5" height="20">
                            Ownership
                        </td>
                        <td colspan="6" width="600">
                            <select id="selectbasic" name="selectbasic" ng-model="selectedFirm.ownership"
                                    class="form-control" disabled="true"  style="width:100%;font-weight:400;">
                                <option value="" selected="true">Select Ownership</option>
                                <option value="Public">Public</option>
                                <option value="Private">Private</option>

                            </select>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td rowspan="2" width="229" height="40">
                            Number of Employees
                        </td>
                        <td colspan="3" width="300">
                            Male
                        </td>
                        <td colspan="3" width="300">
                            Female
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dlNumEmpBusiness in
                dl_tourism_business.tourism.Table_2.DlNumEmpBusiness">
                        <td colspan="3" width="300" height="20">
                            <input id="textinput" name="textinput" type="number" min="0" pattern="[0-9]*"
                                   ng-model="dlNumEmpBusiness.num_emp_male" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="3" width="300">
                            <input id="textinput" name="textinput" type="number" min="0" pattern="[0-9]*"
                                   ng-model="dlNumEmpBusiness.num_emp_female"" placeholder="" class="form-control input-md">
                        </td>
                    </tr>

                    <tr class="trheadc1" height="34">
                        <td width="229" height="34">
                            Assets
                        </td>
                        <td colspan="2" width="200" style="width:28%;">
                            Replacement Value of Totally Destroyed Asset (LKR)
                        </td>
                        <td colspan="2" width="200">
                            Repair Cost of Partially Damaged Asset (LKR)
                        </td>
                        <td colspan="2" width="200">
                            Total Damages (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc" height="20">
                        <td width="229" height="20">
                            Structures
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstStructure in
                dl_tourism_business.tourism.Table_2.DmgBusAstStructures" ng-if="dmgBusAstStructure.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgBusAstStructure.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgBusAstStructures', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgBusAstStructures_{{$index}}" ng-model="dmgBusAstStructure.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgBusAstStructures_' + $index].$dirty && !form_pop_lat_census['DmgBusAstStructures_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>


                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstStructure.val_dst" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstStructure.val_pdmg" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="sum_of_dst_dpmg(dmgBusAstStructure.val_dst,
                dmgBusAstStructure.val_pdmg, dmgBusAstStructure, 'tot_dmg')">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" class="tdpa" height="20" >
                        <td class="tdpa" width="229" height="20">
                            Others &nbsp;
                            <button ng-click="insertBussiness('DmgBusAstStructures')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                            -
                        </td>
                    </tr>

                    <tr height="20" ng-repeat="dmgBusAstStructure in
                dl_tourism_business.tourism.Table_2.DmgBusAstStructures" ng-if="dmgBusAstStructure.assets == 'Total'">
                        <td class="tdpa" width="229" height="20">
                            Total
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="dmgBusAstStructure.val_dst = getTotalCol('DmgBusAstStructures', 'val_dst', dmgBusAstStructure )">
                            -
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="dmgBusAstStructure.val_pdmg = getTotalCol('DmgBusAstStructures', 'val_pdmg', dmgBusAstStructure)">
                            -
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="dmgBusAstStructure.tot_dmg = getTotalCol('DmgBusAstStructures', 'tot_dmg', dmgBusAstStructure)">
                            -
                        </td>
                    </tr>


                    <tr class="trheadc" height="20">
                        <td width="229" height="20">
                            Equipment
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstEquipment in
        dl_tourism_business.tourism.Table_2.DmgBusAstEquipment" ng-if="dmgBusAstEquipment.assets != 'Total'">
                        <td class="tdpa" width="229" height="20" ng-bind="dmgBusAstEquipment.assets" ng-if="$index < 1">

                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgBusAstEquipment', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgBusAstEquipment{{$index}}" ng-model="dmgBusAstEquipment.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgBusAstEquipment_' + $index].$dirty && !form_pop_lat_census['DmgBusAstEquipment_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstEquipment.val_dst" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstEquipment.val_pdmg" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200" ng-model="dmgBusAstEquipment.tot_dmg"
                            ng-bind="sum_of_dst_dpmg(dmgBusAstEquipment.val_dst, dmgBusAstEquipment.val_pdmg,
                dmgBusAstEquipment, 'tot_dmg')">
                            -
                    </tr>
                    <tr class="tdpa" class="tdpa" height="20">
                        <td class="tdpa" width="229" height="20">
                            Others &nbsp;&nbsp;
                            <button ng-click="insertBussiness('DmgBusAstEquipment')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                            -
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstEquipment in
                dl_tourism_business.tourism.Table_2.DmgBusAstEquipment" ng-if="dmgBusAstEquipment.assets == 'Total'">
                        <td class="tdpa" width="229" height="20">
                            Total
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstEquipment.val_dst = getTotalCol('DmgBusAstEquipment', 'val_dst', dmgBusAstEquipment)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstEquipment.val_pdmg = getTotalCol('DmgBusAstEquipment', 'val_pdmg', dmgBusAstEquipment)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstEquipment.tot_dmg = getTotalCol('DmgBusAstEquipment', 'tot_dmg', dmgBusAstEquipment)">
                            -
                        </td>

                    </tr>
                    <tr class="trheadc" height="20">
                        <td width="229" height="20">
                            Machinery
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                    </tr>

                    <tr height="20" ng-repeat="dmgBusAstMachinery in
        dl_tourism_business.tourism.Table_2.DmgBusAstMachinery" ng-if="dmgBusAstMachinery.assets != 'Total'">
                        <td class="tdpa" width="229" height="20" ng-bind="dmgBusAstMachinery.assets" ng-if="$index < 1">

                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgBusAstMachinery', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgBusAstMachinery{{$index}}"
                                   ng-model="dmgBusAstMachinery.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgBusAstMachinery_' + $index].$dirty
                            && !form_pop_lat_census['DmgBusAstMachinery_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstMachinery.val_dst" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstMachinery.val_pdmg" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="sum_of_dst_dpmg(dmgBusAstMachinery.val_dst, dmgBusAstMachinery.val_pdmg,
                dmgBusAstMachinery, 'tot_dmg')">

                    </tr>
                    <tr class="tdpa" class="tdpa" height="20">
                        <td class="tdpa" width="229" height="20">
                            Others &nbsp;&nbsp;
                            <button ng-click="insertBussiness('DmgBusAstMachinery')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                            -
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstMachinery in
                dl_tourism_business.tourism.Table_2.DmgBusAstMachinery" ng-if="dmgBusAstMachinery.assets == 'Total'">
                        <td class="tdpa" width="229" height="20">
                            Total
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstMachinery.val_dst = getTotalCol('DmgBusAstMachinery', 'val_dst', dmgBusAstMachinery)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstMachinery.val_pdmg = getTotalCol('DmgBusAstMachinery', 'val_pdmg', dmgBusAstMachinery)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstMachinery.tot_dmg = getTotalCol('DmgBusAstMachinery', 'tot_dmg', dmgBusAstMachinery)">
                            -
                        </td>

                    </tr>
                    <tr class="trheadc" height="20">
                        <td width="229" height="20">
                            Vehicles
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstVehicle in
                dl_tourism_business.tourism.Table_2.DmgBusAstVehicle" ng-if="dmgBusAstVehicle.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgBusAstVehicle.assets" ng-if="$index < 1">
                        </td>
                        <td width="98" ng-if="$index > 0">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgBusAstVehicle', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgBusAstVehicle_{{$index}}" ng-model="dmgBusAstVehicle.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgBusAstVehicle_' + $index].$dirty && !form_pop_lat_census['DmgBusAstVehicle_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>


                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstVehicle.val_dst" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstVehicle.val_pdmg" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="sum_of_dst_dpmg(dmgBusAstVehicle.val_dst, dmgBusAstVehicle.val_pdmg,
                dmgBusAstVehicle, 'tot_dmg')">
                            -
                        </td>
                    </tr>
                    <tr class="tdpa" height="20">
                        <td class="tdpa" width="229" height="20">
                            Others
                            <button ng-click="insertBussiness('DmgBusAstVehicle')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                            -
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstVehicle in
                dl_tourism_business.tourism.Table_2.DmgBusAstVehicle" ng-if="dmgBusAstVehicle.assets == 'Total'">
                        <td class="tdpa" width="229" height="20">
                            Total
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstVehicle.val_dst = getTotalCol('DmgBusAstVehicle', 'val_dst', dmgBusAstVehicle)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstVehicle.val_pdmg = getTotalCol('DmgBusAstVehicle', 'val_pdmg', dmgBusAstVehicle)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstVehicle.tot_dmg = getTotalCol('DmgBusAstVehicle', 'tot_dmg', dmgBusAstVehicle)">
                            -
                        </td>

                    </tr>
                    <tr class="trheadc" height="20">
                        <td width="229" height="20">
                            Inventories
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstInventories in
                dl_tourism_business.tourism.Table_2.DmgBusAstInventories" ng-if="dmgBusAstInventories.assets != 'Total'">

                        <td class="tdpa" width="229" height="20" ng-bind="dmgBusAstInventories.assets" ng-if="$index < 2">
                        </td>
                        <td width="98" ng-if="$index > 1">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DmgBusAstInventories', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="DmgBusAstInventories_{{$index}}" ng-model="dmgBusAstInventories.assets"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['DmgBusAstInventories_' + $index].$dirty
                            && !form_pop_lat_census['DmgBusAstInventories_' + $index].$valid"
                                   popover-placement="top" required
                                   type="text"
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>


                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstInventories.val_dst" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dmgBusAstInventories.val_pdmg" placeholder="" class="form-control input-md">
                        </td>
                        <td colspan="2" width="200"
                            ng-bind="sum_of_dst_dpmg(dmgBusAstInventories.val_dst, dmgBusAstInventories.val_pdmg,
                dmgBusAstInventories, 'tot_dmg')">
                            -
                        </td>
                    </tr>

                    <tr class="tdpa" height="20">
                        <td class="tdpa" width="229" height="20">
                            Others
                            <button ng-click="insertBussiness('DmgBusAstInventories')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>

                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                        </td>
                        <td colspan="2" width="200">
                            -
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dmgBusAstInventories in
                dl_tourism_business.tourism.Table_2.DmgBusAstInventories" ng-if="dmgBusAstInventories.assets == 'Total'">
                        <td class="tdpa" width="229" height="20">
                            Total
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstInventories.val_dst = getTotalCol('DmgBusAstInventories', 'val_dst', dmgBusAstInventories)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstInventories.val_pdmg = getTotalCol('DmgBusAstInventories', 'val_pdmg', dmgBusAstInventories)">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="dmgBusAstInventories.tot_dmg = getTotalCol('DmgBusAstInventories', 'tot_dmg', dmgBusAstInventories)">
                            -
                        </td>

                    </tr>
                    <tr height="20">
                        <td class="tdpa" width="229" height="20">
                            GRAND TOTAL
                        </td>
                        <td colspan="2" width="200" ng-bind="getGrandTotalCol('val_dst')">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="getGrandTotalCol('val_pdmg')">
                            -
                        </td>
                        <td colspan="2" width="200" ng-bind="getGrandTotalCol('tot_dmg')">
                            -
                        </td>
                    </tr>

                </table>


                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span class="glyphicon glyphicon-arrow-right"></span> Fill Tourism Informations</a>
                <br>
            </div>
            <div class="tab-pane fade" id="step2">

                <table class="table table-bordered" >
                    <tr class="trheadc1" height="51">
                        <td width="229" height="51">
                            Types of Losses
                        </td>
                        <td width="100">
                            Average Value of Income per Year
                        </td>
                        <td colspan="2" width="200">
                            Reduction in Value Of Income (%)
                        </td>
                        <td colspan="2" width="200">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="100">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="20">
                        <td width="229" height="20">
                        </td>
                        <td width="100">
                            LKR/Year
                        </td>
                        <td width="100">
                            Year 1
                        </td>
                        <td width="100">
                            Year 2
                        </td>
                        <td width="100">
                            Year 1
                        </td>
                        <td width="100">
                            Year 2
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dlBusLosses in dl_tourism_business.tourism.Table_2.DlBusLosses"
                        ng-if="(dlBusLosses.los_type != 'Total') && ($index < 1)" >

                        <td class="tdpa" width="229" height="20"
                            ng-bind="dlBusLosses.los_type">
                        </td>
                        <td width="100">
                            <input id="textinput" name="textinput" type="number"
                                   ng-model="dlBusLosses.avg_val_income_year"
                                   placeholder="" class="form-control input-md">
                        </td>
                        <td width="100">
                            <input id="textinput" name="textinput" type="number" placeholder="" type="number"
                                   ng-model="dlBusLosses.val_income_year1"
                                   class="form-control input-md">
                        </td>
                        <td width="100">
                            <input id="textinput" name="textinput" type="number" placeholder="" type="number"
                                   ng-model="dlBusLosses.val_income_year2"
                                   class="form-control input-md">
                        </td>
                        <td width="100" ng-model="dlBusLosses.val_los_year1"
                            ng-bind="getMulitiplyedYearLoss(dlBusLosses.avg_val_income_year
            ,dlBusLosses.val_income_year1,1)" >
                            -
                        </td>
                        <td width="100" ng-model="dlBusLosses.val_los_year2"
                            ng-bind="getMulitiplyedYearLoss(dlBusLosses.avg_val_income_year
            ,dlBusLosses.val_income_year2,2)">
                            -
                        </td>
                        <td width="100" ng-model="dlBusLosses.tol_losses"
                            ng-bind="getSumOfTwo(dlBusLosses.val_los_year1,
                dlBusLosses.val_los_year2,
                dlBusLosses, 'tol_losses')"
                        >
                            -
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="dlBusLosses in dl_tourism_business.tourism.Table_2.DlBusLosses"
                        ng-if="(dlBusLosses.los_type != 'Total') && ($index > 0)" >

                        <td class="tdpa" width="229" height="20" ng-bind="dlBusLosses.los_type">
                            Cleaning up of debris
                        </td>
                        <td class="tdpa" width="100">
                        </td>
                        <td class="tdpa" width="100">
                        </td>
                        <td class="tdpa" width="100">
                        </td>
                        <td width="100">
                            <input id="textinput" name="textinput" type="number" ng-model="dlBusLosses.val_los_year1" placeholder="" class="form-control input-md">
                        </td>
                        <td width="100">
                            <input id="textinput" name="textinput" type="number" ng-model="dlBusLosses.val_los_year2" class="form-control input-md">
                        </td>
                        <td width="100" ng-model="dlBusLosses.tol_losses"
                            ng-bind="getSumOfTwo(dlBusLosses.val_los_year1,dlBusLosses.val_los_year2,
                dlBusLosses, 'tol_losses')">
                            -
                        </td>
                    </tr>

                    <tr height="20" ng-repeat="dlBusLosses in dl_tourism_business.tourism.Table_2.DlBusLosses"
                        ng-if="dlBusLosses.los_type == 'Total'">
                        <td class="tdpa" width="229" height="20" ng-bind="dlBusLosses.los_type">
                            GRAND TOTAL
                        </td>
                        <td class="tdpa" width="100" ng-bind="dlBusLosses.avg_val_income_year = getTotalCol('DlBusLosses', 'avg_val_income_year', dlBusLosses)">
                        </td>
                        <td class="tdpa" width="100" ng-bind="dlBusLosses.val_income_year1 = getTotalCol('DlBusLosses', 'val_income_year1', dlBusLosses)">
                        </td>
                        <td class="tdpa" width="100" ng-bind="dlBusLosses.val_income_year2 = getTotalCol('DlBusLosses', 'val_income_year2', dlBusLosses)">
                        </td>
                        <td width="100" ng-bind="dlBusLosses.val_los_year1 = getTotalCol('DlBusLosses', 'val_los_year1', dlBusLosses)">
                            -
                        </td>
                        <td width="100" ng-bind="dlBusLosses.val_los_year2 = getTotalCol('DlBusLosses', 'val_los_year2' ,dlBusLosses)">
                            -
                        </td>
                        <td width="100" ng-bind="dlBusLosses.tol_losses = getTotalCol('DlBusLosses', 'tol_losses', dlBusLosses)">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" ng-click="clear()" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="dataEdit(form_dl_tou_buss)"
                            ng-if="!is_edit" class="btn btn-success">Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                        Edit
                    </button>
                    <button type="button" ng-click="saveDlData(form_dl_tou_buss)" class="btn btn-success">Submit</button>
                </div>
                <br><br><br>
            </div>
        </div>




    </div>
    </div>

    <div class="col-md-12">

        <!--Add model-->
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;" ng-form name="form_tourism_firm_add">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title" >
                            <span id="bookId"> Add new Firm </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       ng-model="new_firm.name" name="firm_name"
                                       class="form-control input-md">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='ownership' class="form-control"
                                        style="font-weight:400;" required>

                                    <option value="" selected="true">Select Ownership</option>

                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>

                                </select>

                            </div>
                        </div>
                        <br>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="saveForm(form_tourism_firm_add)">
                            Save Firm
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <!--Edit-->
        <div class="modal fade" id="modal-container-218030" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;" ng-form name="form_tourism_firm_edit">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title" >
                            <span id="bookId"> Edit Firm </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       ng-model="selectedFirm.name" name="firm_name"
                                       class="form-control input-md" required="true">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='selectedFirm.ownership' class="form-control"
                                        style="font-weight:400;" required="true">

                                    <option value="" selected="true">Select Ownership</option>

                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>

                                </select>

                            </div>
                        </div>

                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editFirm(form_tourism_firm_edit)">
                            Save changes
                        </button>
                    </div>
                </div>

            </div>

        </div>


    </div>           </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
