{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSummTouBusiFaciDisApp" ng-controller="dlSummTouBusiFaciDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:tourism_main' %}">Tourism Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 4. Summary of Damages and Losses in Tourism Businesses and Facilities in a District</span>
        </li>
         <li style="float:right;"> <a href="{% static 'dashboard/doc/Tourism.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_summ_tou_biss_faci_dis">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="263"/>
                        <col width="115"/>
                        <col width="114" span="2"/>
                        <col width="118"/>
                        <col width="85" span="4"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" height="20">
                       
                        <td width="85" class="p5">
                            Incident
                        </td>
                        <td colspan="3" width="255">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    {{incident.disaster_type.name}}
                                    {{incident.reported_date_time}}
                                    <!--{{incident.incident_name}}-->
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                         <td height="20" width="263" class="p5">
                            Name of District:
                        </td>
                        <td colspan="4" width="461">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    class="form-control" ng-change="loadData();" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td rowspan="3" height="60" width="263" style="width:20%;">
                            Type of Tourism Business
                        </td>
                        <td colspan="4" width="461" style="width:20%;">
                            Year 1
                        </td>
                        <td colspan="2" width="170" style="width:20%;">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" width="170" style="width:20%;">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td colspan="2" height="20" width="229">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="232">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="170">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="20">
                        <td height="20" width="115" style="width:10%;">
                            Public
                        </td>
                        <td width="114" style="width:10%;">
                            Private
                        </td>
                        <td width="114" style="width:10%;">
                            Public
                        </td>
                        <td width="118" style="width:10%;">
                            Private
                        </td>
                        <td width="85" style="width:10%;">
                            Public
                        </td>
                        <td width="85" style="width:10%;">
                            Private
                        </td>
                        <td width="85" style="width:10%;">
                            Public
                        </td>
                        <td width="85" style="width:10%;">
                            Private
                        </td>
                    </tr>
                    <tr class="trheadc" height="20">
                        <td height="20" width="263">
                            Tourism Firms
                        </td>
                        <td width="115">
                        </td>
                        <td width="114">
                        </td>
                        <td width="114">
                        </td>
                        <td width="118">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="businessType in businessTypes">
                        <td class="tdpa" height="20" width="263" ng-bind="businessType.business">
                            Hotels
                        </td>
                        <td width="115" ng-model="businessType.yr1DamPub" ng-bind="businessType.yr1DamPub = getConvertedVal(table.business[businessType.business].year1Damage.Public)">
                            -
                        </td>
                        <td width="114" ng-bind="businessType.yr1DamPri = getConvertedVal(table.business[businessType.business].year1Damage.Private)">
                            -
                        </td>
                        <td width="114" ng-bind="businessType.yr1LossPub = getConvertedVal(table.business[businessType.business].year1Loss.Public)">
                            -
                        </td>
                        <td width="118" ng-bind="businessType.yr1LossPri = getConvertedVal(table.business[businessType.business].year1Loss.Private)">
                            -
                        </td>
                        <td width="85" ng-bind="businessType.yr2LossPub = getConvertedVal(table.business[businessType.business].year2Loss.Public)">
                            -
                        </td>
                        <td width="85" ng-bind="businessType.yr2LossPri = getConvertedVal(table.business[businessType.business].year2Loss.Private)">
                            -
                        </td>
                        <td width="85" ng-model="businessType.totalPub" ng-bind="businessType.totalPub = getSum3(table.business[businessType.business].year1Damage.Public,
                                                table.business[businessType.business].year1Loss.Public,
                                                table.business[businessType.business].year2Loss.Public)
                                                ">
                            -
                        </td>
                        <td width="85" ng-model="businessType.totalPri" ng-bind="businessType.totalPri = getSum3(table.business[businessType.business].year1Damage.Private ,
                                                table.business[businessType.business].year1Loss.Private ,
                                                table.business[businessType.business].year2Loss.Private)
                                                ">

                        </td>
                    </tr>

                    <tr height="20">
                        <td class="tdpa" height="20" width="263">
                            Total
                        </td>
                        <td width="115"  ng-bind="table.business.year1DamagePub = getAggrigatedTotal('year1Damage','Public','business')">

                        </td>
                        <td width="114" ng-bind="table.business.year1DamagePri = getAggrigatedTotal('year1Damage','Private','business')">

                        </td>
                        <td width="114" ng-bind="table.business.year1LossPub = getAggrigatedTotal('year1Loss','Public','business')">

                        </td>
                        <td width="118" ng-bind="table.business.year1LossPri = getAggrigatedTotal('year1Loss','Private','business')">

                        </td>
                        <td width="85" ng-bind="table.business.year2LossPub = getAggrigatedTotal('year2Loss','Public','business')">

                        </td>
                        <td width="85" ng-bind="table.business.year2LossPri = getAggrigatedTotal('year2Loss','Private','business')">

                        </td>
                        <td width="85" ng-bind="table.business.fullTotPub = getPublicColBusinessTotal()">

                        </td>
                        <td width="85" ng-bind="table.business.fullTotPri = getPrivateColBusinessTotal()">

                        </td>
                    </tr>
                    <tr class="trheadc" height="20" >
                        <td height="20" width="263" >
                            Tourism Infrastructure
                        </td>
                        <td width="115" >
                        </td>
                        <td width="114">
                        </td>
                        <td width="114">
                        </td>
                        <td width="118">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                        <td width="85">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="inf_type in inf_types">
                        <td class="tdpa" height="20" width="263" ng-bind="inf_type.infrastructure">

                        </td>
                        <td width="115" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year1Damage.Public)">

                        </td>
                        <td width="114" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year1Damage.Private)">

                        </td>
                        <td width="114" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year1Loss.Public)">

                        </td>
                        <td width="118" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year1Loss.Private)">

                        </td>
                        <td width="85" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year2Loss.Public)">

                        </td>
                        <td width="85" ng-bind="getConvertedVal(table.infrastructures[inf_type.id].year2Loss.Public)">

                        </td>
                        <td width="85" ng-bind="inf_type.totalPub = getSum3(table.infrastructures[inf_type.id].year1Damage.Public,
                                                table.infrastructures[inf_type.id].year1Loss.Public,
                                                table.infrastructures[inf_type.id].year2Loss.Public)">

                        </td>
                        <td width="85" ng-bind="inf_type.totalPri = getSum3(table.infrastructures[inf_type.id].year1Damage.Private ,
                                                table.infrastructures[inf_type.id].year1Loss.Private ,
                                                table.infrastructures[inf_type.id].year2Loss.Private)
                                                ">

                        </td>
                    </tr>

                    <tr height="20">
                        <td class="tdpa" height="20" width="263">
                            Total
                        </td>
                        <td width="115" ng-bind="table.infrastructures.year1DamagePub = getAggrigatedTotal('year1Damage','Public','infrastructures')">

                        </td>
                        <td width="114" ng-bind="table.infrastructures.year1DamagePri = getAggrigatedTotal('year1Damage','Private','infrastructures')">

                        </td>
                        <td width="114" ng-bind="table.infrastructures.year1LossPub = getAggrigatedTotal('year1Loss','Public','infrastructures')">

                        </td>
                        <td width="118" ng-bind="table.infrastructures.year1LossPri = getAggrigatedTotal('year1Loss','Private','infrastructures')">

                        </td>
                        <td width="85" ng-bind="table.infrastructures.year2LossPub = getAggrigatedTotal('year2Loss','Public','infrastructures')">

                        </td>
                        <td width="85" ng-bind="table.infrastructures.year2LossPri = getAggrigatedTotal('year2Loss','Private','infrastructures')">

                        </td>
                        <td width="85" ng-bind="table.infrastructures.fullTotPub = getPublicColInfrastructuresTotal()">

                        </td>
                        <td width="85" ng-bind="table.infrastructures.fullTotPri = getPrivateColInfrastructuresTotal()">

                        </td>
                    </tr>
                    <tr height="20">
                        <td class="tdpa" height="20" width="263">
                            GRAND TOTAL
                        </td>
                        <td width="115" ng-bind="getGrandTotal('year1DamagePub')">

                        </td>
                        <td width="114" ng-bind="getGrandTotal('year1DamagePri')">

                        </td>
                        <td width="114" ng-bind="getGrandTotal('year1LossPub')">

                        </td>
                        <td width="118" ng-bind="getGrandTotal('year1LossPri')">

                        </td>
                        <td width="85" ng-bind="getGrandTotal('year2LossPub')">

                        </td>
                        <td width="85" ng-bind="getGrandTotal('year2LossPri')">

                        </td>
                        <td width="85" ng-bind="getGrandTotal('fullTotPub')">

                        </td>
                        <td width="85" ng-bind="getGrandTotal('fullTotPri')">

                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
