{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<script>
    $(document).ready(function() {
        var nicesx = $("#boxscroll").niceScroll({touchbehavior:false,cursorcolor:"#4679B2",cursoropacitymax:0.6,cursorwidth:8});
    });

</script>
<!-- Main content -->
<main class="main" ng-app="bsLivestockPoultryApp" ng-controller="bsLivestockPoultryController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:agri_livestock_main' %}">Agri Livestock Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 2. Baseline Information on Livestock and Poultry
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/4B-Agriculture-Livestock-24Jan17.pdf' %}" target="_blank"
               style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip"
               title="Veiw Document"></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_livestock_poultry">
        <div>
            <ul class='nav nav-wizard'>
                <li id="li1" class="active">
                    <a href='#step1' data-toggle="tab">1 Animals</a>
                </li>
                <li id="li2">
                    <a href='#step2' data-toggle="tab">2 Production Assets</a>
                </li>
                <li id="li3">
                    <a href='#step3' data-toggle="tab">3 Average Value of Production per Year (LKR/Year)</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="step1">
                <td style="width:100px;"> <span ng-if="!check_search">
									<button ng-if="!is_search" class="btn btn-info" disabled><span class="fa fa-search"></span></button>
					</span> <span ng-if="check_search">
									<button ng-click="searchBsData(form_bs_livestock_poultry)" ng-if="!is_search" class="btn btn-info"><span class="fa fa-search"></span></button>
					</span>
					<button ng-click="clear()" ng-if="is_search" class="btn  btn-warning">Cancel Search</button>
				</td>
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="113"/>
                            <col width="117"/>
                            <col width="122"/>
                            <col width="103"/>
                            <col width="136"/>
                            <col width="143"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                        </colgroup>
                        <tbody>
                        <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td style="background:#fff;border:1px solid #fff;text-align:center;" colspan="3" border="0">
                            </td>
                            <td colspan="4" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box"
                                      ng-show="submitted && form_bs_livestock_poultry.district.$error.required">
                                    Please select District
                                </span>
                            </td>
                            <td colspan="3" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="4" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box"
                                      ng-show="submitted && form_bs_livestock_poultry.baselineDate.$error.required">
                                    Please Select Date
                                </span>
                            </td>
                        </tr>
                        <tr class="trhead1" height="19">
                            <td width="113" height="19" colspan="3">
                                District
                            </td>
                            <td width="117" height="19" colspan="4">
                                <select id="selectbasic" name="district" class="form-control"
                                        ng-change="fetchOrganization();getBsData();changeDis();" ng-model="district"
                                        style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select a District</option>
                                    {% for district in districts %}
                                    <option value={{ district.id }}>{{ district.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="3" width="244" height="19">
                                Year/Month
                            </td>
                            <td colspan="5" width="793" height="19">
                                <input name="baselineDate" type="text" placeholder="mm/yy"
                                       ng-change="getBsData();changeDis();" id="datepicker" ng-model="bs_date"
                                       class="form-control input-md" required>
                            </td>
                            <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                        </tr>
                        <tr class="trheadc1" height="34">
                            <td width="113" height="34">
                                Name Of the Organization
                            </td>
                            <td colspan="4">
                                <select ng-options="organization as organization.name for organization in organizations track by organization.id"
                                        name="selectedOrganization" id="ccyear" ng-model="selectedOrganization"
                                        class="form-control" required>
                                    <option value="" selected>Select Organization</option>
                                </select>

                            </td>
                            <td width="136" height="34">
                                <a ng-click="is_edit = false ; new_organization.id = null;new_organization.name = null;new_organization.ownership = null;"
                                   href="#modal-container-469842" role="button" data-toggle="modal"
                                   class="open-modal-container-469842 btn btn-sm btn-block btn-primary btn-info">Add</a>
                            </td>
                            <td width="143" height="34">
                                <!--<a  ng-click="is_edit = true" href="#modal-container-469843" role="button" data-toggle="modal"-->
                                <!--class="btn btn-sm btn-block btn-primary btn-warning">Edit</a>-->
                                <!--<a id="modal-469840" href="#modal-container-0002" role="button" data-toggle="modal"-->
                                <!--class="btn btn-sm btn-warning">Edit</a>-->

                                <a id="modal-469840" href="#modal-container-0002" role="button" data-toggle="modal"
                                   class="btn btn-sm btn-block btn-primary btn-warning">Edit</a>
                            </td>
                            <td colspan="7" width="441" height="34">
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td class="trhead1">
                                Ownership
                            </td>
                            <td colspan="15">
                                <span ng-bind="selectedOrganization.ownership"></span>
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td colspan="13" width="1225" height="19">
                                Animals
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td rowspan="2" width="113" height="38" style="width:15%;">
                                Assets
                            </td>
                            <td colspan="6" width="738" height="19">
                                Number of Heads
                            </td>
                            <td colspan="6" width="378" height="19">
                                Average Value (LKR/Head)
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td colspan="2" width="234" height="19" style="width:10%;">
                                Young
                            </td>
                            <td colspan="2" width="206" height="19" style="width:10%;">
                                Juvenile
                            </td>
                            <td colspan="2" width="286" height="19" style="width:10%;">
                                Mature
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Young
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Juvenile
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Mature
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td width="113" height="19">
                                Livestock
                            </td>
                            <td width="117" height="19">
                                Male
                            </td>
                            <td width="122" height="19">
                                Female
                            </td>
                            <td width="103" height="19">
                                Male
                            </td>
                            <td width="136" height="19">
                                Female
                            </td>
                            <td width="143" height="19">
                                Male
                            </td>
                            <td width="63" height="19">
                                Female
                            </td>
                            <td width="63" height="19">
                                Male
                            </td>
                            <td width="63" height="19">
                                Female
                            </td>
                            <td width="63" height="19">
                                Male
                            </td>
                            <td width="63" height="19">
                                Female
                            </td>
                            <td width="63" height="19">
                                Male
                            </td>
                            <td width="63" height="19">
                                Female
                            </td>
                        </tr>
                        <tr height="19"
                            ng-repeat="blpAnmLivestock in bsLivestockPoultry.agri_livestock.Table_2.BlpAnmLivestock">
                            <td class="tdpa" width="113" height="19" ng-bind="blpAnmLivestock.livestock">
                            </td>
                            <td width="117" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.young_male">
                            </td>
                            <td width="122" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.young_female">
                            </td>
                            <td width="103" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.juvenile_male">
                            </td>
                            <td width="136" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.juvenile_female">
                            </td>
                            <td width="143" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.mature_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.mature_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_young_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_young_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_juvenile_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_juvenile_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_mature_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmLivestock.avg_val_mature_female">
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="113" height="19">
                                Poultry
                            </td>
                            <td width="117" height="19">
                                <br/>
                            </td>
                            <td width="122" height="19">
                                <br/>
                            </td>
                            <td width="103" height="19">
                                <br/>
                            </td>
                            <td width="136" height="19">
                                <br/>
                            </td>
                            <td width="143" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr height="19"
                            ng-repeat="blpAnmPoultry in bsLivestockPoultry.agri_livestock.Table_2.BlpAnmPoultry">
                            <td class="tdpa" width="113" height="19" ng-bind="blpAnmPoultry.poultry">
                                Chicken
                            </td>
                            <td width="117" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.young_male">
                            </td>
                            <td width="122" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.young_female">
                            </td>
                            <td width="103" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.juvenile_male">
                            </td>
                            <td width="136" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.juvenile_female">
                            </td>
                            <td width="143" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.mature_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.mature_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_young_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_young_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_juvenile_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_juvenile_female">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_mature_male">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpAnmPoultry.avg_val_mature_female">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                            class="glyphicon glyphicon-arrow-right"></span> Fill Production Assets Informations</a>
                    <br>
                </div>
                <div class="tab-pane" id="step2">
                    <table class="table table-bordered">
                        <tr class="trheadc1" height="19">
                            <td colspan="13" width="1225" height="19">
                                Production Assets
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td width="113" height="19">
                                <br/>
                            </td>
                            <td colspan="6" width="738" height="19" style="width:40%;">
                                Average Replacement Cost (LKR)
                            </td>
                            <td colspan="6" width="378" height="19" style="width:40%;">
                                Average Repair Cost (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td width="113" height="19" style="width:20%;">
                                <br/>
                            </td>
                            <td width="117" height="19" style="width:10%;">
                                Animal Shed
                            </td>
                            <td width="122" height="19" style="width:10%;">
                                Feeds
                            </td>
                            <td colspan="2" width="206" height="19" style="width:10%;">
                                Sets of Medicines
                            </td>
                            <td width="143" height="19" style="width:10%;">
                                Tools
                            </td>
                            <td width="63" height="19" style="width:10%;">
                                Others
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Animal Shed
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Tools
                            </td>
                            <td colspan="2" width="126" height="19" style="width:10%;">
                                Others
                            </td>
                        </tr>
                    </table>
                    <div id="boxscroll" style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <tr class="trheadc" height="19">
                                <td width="113" height="19" style="width:20%;">
                                    Livestock
                                </td>
                                <td width="117" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td width="122" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td colspan="2" width="206" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td width="143" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td width="63" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19" style="width:10%;">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19" style="width:10%;">
                                    <br/>
                                </td>
                            </tr>
                            <tr height="19"
                                ng-repeat="blpAstLivestock in bsLivestockPoultry.agri_livestock.Table_2.BlpAstLivestock">
                                <td class="tdpa" width="113" height="19" ng-bind="blpAstLivestock.livestock">
                                </td>
                                <td width="117" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md"
                                           ng-model="blpAstLivestock.avg_replacec_anm_shed">
                                </td>
                                <td width="122" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstLivestock.avg_replacec_feeds">
                                </td>
                                <td colspan="2" width="206" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md"
                                           ng-model="blpAstLivestock.avg_replacec_medicines">
                                </td>
                                <td width="143" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstLivestock.avg_replacec_tools">
                                </td>
                                <td width="63" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstLivestock.avg_replacec_others">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md"
                                           ng-model="blpAstLivestock.avg_repairc_anm_shed">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstLivestock.avg_repairc_tools">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstLivestock.avg_repairc_others">
                                </td>
                            </tr>
                            <tr class="trheadc" height="19">
                                <td width="113" height="19">
                                    Poultry
                                </td>
                                <td width="117" height="19">
                                    <br/>
                                </td>
                                <td width="122" height="19">
                                    <br/>
                                </td>
                                <td colspan="2" width="206" height="19">
                                    <br/>
                                </td>
                                <td width="143" height="19">
                                    <br/>
                                </td>
                                <td width="63" height="19">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <br/>
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <br/>
                                </td>
                            </tr>
                            <tr height="21"
                                ng-repeat="blpAstPoultry in bsLivestockPoultry.agri_livestock.Table_2.BlpAstPoultry">
                                <td class="tdpa" width="113" height="21" ng-bind="blpAstPoultry.poultry">
                                </td>
                                <td width="117" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_replacec_anm_shed">
                                </td>
                                <td width="122" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_replacec_feeds">
                                </td>
                                <td colspan="2" width="206" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md"
                                           ng-model="blpAstPoultry.avg_replacec_medicines">
                                </td>
                                <td width="143" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_replacec_tools">
                                </td>
                                <td width="63" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_replacec_others">
                                </td>
                                <td colspan="2" width="126" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_repairc_anm_shed">
                                </td>
                                <td colspan="2" width="126" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_repairc_tools">
                                </td>
                                <td colspan="2" width="126" height="21">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstPoultry.avg_repairc_others">
                                </td>
                            </tr>
                            <tr class="trheadc1" height="19">
                                <td colspan="3" rowspan="2" width="343" height="38">
                                    Structures/Buildings
                                </td>
                                <td colspan="4" rowspan="2" width="485" height="38">
                                    Average Replacement Cost (LKR/square meter)
                                </td>
                                <td colspan="6" width="378" height="19">
                                    Average Repair Cost (LKR/square meter)
                                </td>
                            </tr>
                            <tr class="trsubc" height="19">
                                <td colspan="2" width="126" height="19">
                                    Roof
                                </td>
                                <td colspan="2" width="126" height="19">
                                    Wall
                                </td>
                                <td colspan="2" width="126" height="19">
                                    Floor
                                </td>
                            </tr>
                            <tr height="19"
                                ng-repeat="blpAstStructures in bsLivestockPoultry.agri_livestock.Table_2.BlpAstStructures">
                                <td class="tdpa" colspan="3" width="343" height="19"
                                    ng-bind="blpAstStructures.structures">
                                </td>
                                <td colspan="4" width="485" height="19">
                                    <input id="textinput" name="textinput" ng-model="blpAstStructures.avg_replace_cost"
                                           type="number" placeholder=""
                                           class="form-control input-md">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" ng-model="blpAstStructures.avg_repair_roof"
                                           type="number" placeholder=""
                                           class="form-control input-md">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" ng-model="blpAstStructures.avg_repair_wall"
                                           type="number" placeholder=""
                                           class="form-control input-md">
                                </td>
                                <td colspan="2" width="126" height="19">
                                    <input id="textinput" name="textinput" ng-model="blpAstStructures.avg_repair_floor"
                                           type="number" placeholder=""
                                           class="form-control input-md">
                                </td>
                            </tr>
                            <tr class="trheadc1" height="19">
                                <td colspan="3" width="343" height="19">
                                    Other Assets
                                </td>
                                <td colspan="4" width="485" height="19">
                                    Average Replacement Cost (LKR)
                                </td>
                                <td colspan="6" width="378" height="19">
                                    Average Repair Cost (LKR)
                                </td>
                            </tr>
                            <tr height="24"
                                ng-repeat="blpAstOther in bsLivestockPoultry.agri_livestock.Table_2.BlpAstOther"
                                ng-if="blpAstOther.other_assets!='Others'">
                                <td class="tdpa" colspan="3" width="343" height="24" ng-bind="blpAstOther.other_assets"
                                    ng-if="$index < 5 ">
                                </td>
                                <td width="98" ng-if="$index >4">
                                    {% verbatim %}
                                    <button id="delete" ng-click="removeItem('BlpAstOther', $index)"
                                            class="btn btn-sm btn-danger btn-circle">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input style="width:65%;float:right;" name="blpAstOther_{{$index}}"
                                           ng-model="blpAstOther.other_assets"
                                           popover="This field is required"
                                           popover-toggle="form_bs_livestock_poultry_dst['blpAstOther_' + $index].$dirty && !form_bs_livestock_poultry_dst['blpAstOther_' + $index].$valid"
                                           popover-placement="top" required
                                           type="text"
                                           class="form-control input-md">
                                    {% endverbatim %}
                                </td>
                                <td colspan="4" width="485" height="24">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstOther.avg_replace_cost">
                                </td>
                                <td colspan="6" width="378" height="24">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="blpAstOther.avg_repair_cost">
                                </td>
                            </tr>
                            <tr class="tdpa" height="19">
                                <td width="343" colspan="14" height="19">
                                    Others
                                    <button ng-click="insertAsset('BlpAstOther')" class="btn btn-sm btn-info btn-circle"
                                            id="insert">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <a href="#step3" id="s2" class="btn btn-sm btn-info pull-right" data-toggle="tab">
                        <span class="glyphicon glyphicon-arrow-right"></span> Fill Average Value of Production per Year
                        Informations
                    </a>
                    <br>
                </div>
                <div class="tab-pane" id="step3">
                    <table class="table table-bordered">
                        <tr class="trheadc1" height="19">
                            <td colspan="13" width="1225" height="19">
                                Average Value of Production per Year (LKR/Year)
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td width="113" height="19" style="width:20%;">
                                <br/>
                            </td>
                            <td colspan="3" width="356" height="19" style="width:20%;">
                                Milk
                            </td>
                            <td colspan="3" width="415" height="19" style="width:20%;">
                                Meat
                            </td>
                            <td colspan="3" width="189" height="19" style="width:20%;">
                                Eggs
                            </td>
                            <td colspan="3" width="189" height="19" style="width:20%;">
                                Others
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="113" height="19" style="width:20%;">
                                Livestock
                            </td>
                            <td colspan="3" width="356" height="19" style="width:20%;">
                                <br/>
                            </td>
                            <td colspan="3" width="415" height="19" style="width:20%;">
                                <br/>
                            </td>
                            <td colspan="3" width="189" height="19" style="width:20%;">
                                <br/>
                            </td>
                            <td colspan="3" width="189" height="19" style="width:20%;">
                                <br/>
                            </td>
                        </tr>
                        <tr height="19"
                            ng-repeat="blpApyLivestock in bsLivestockPoultry.agri_livestock.Table_2.BlpApyLivestock">
                            <td class="tdpa" width="113" height="19" ng-bind="blpApyLivestock.livestock">
                            </td>
                            <td colspan="3" width="356" height="19"
                                ng-if="blpApyLivestock.livestock != 'Swine' && blpApyLivestock.livestock != 'Sheep'">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyLivestock.milk">
                            </td>
                            <td colspan="3" width="356" class="tdpa"
                                ng-if="blpApyLivestock.livestock == 'Swine' || blpApyLivestock.livestock == 'Sheep'">

                            </td>
                            <td colspan="3" width="415" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyLivestock.meat">
                            </td>
                            <td colspan="3" class="tdpa" width="189" height="19">
                            </td>
                            <td colspan="3" width="189" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyLivestock.others">
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="113" height="19">
                                Poultry
                            </td>
                            <td colspan="3" width="356" height="19">
                                <br/>
                            </td>
                            <td colspan="3" width="415" height="19">
                                <br/>
                            </td>
                            <td colspan="3" width="189" height="19">
                                <br/>
                            </td>
                            <td colspan="3" width="189" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr height="21"
                            ng-repeat="blpApyPoultry in bsLivestockPoultry.agri_livestock.Table_2.BlpApyPoultry">
                            <td class="tdpa" width="113" height="21" ng-bind="blpApyPoultry.poultry">
                                Chicken
                            </td>
                            <td colspan="3" class="tdpa" width="356" height="21">
                            </td>
                            <td colspan="3" width="415" height="21">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyPoultry.meat">
                            </td>
                            <td colspan="3" width="189" height="21">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyPoultry.eggs">
                            </td>
                            <td colspan="3" width="189" height="21">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="blpApyPoultry.others">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="pull-right">
                        <button id="clearbtn" type="button" ng-click="clear()" class="btn btn-info">Clear</button>
                        <span ng-if="is_edit_disable">
                        <button id="editbtn" type="button" ng-click="bsHsDataEdit(form_bs_livestock_poultry)" ng-if="!is_edit"
                                class="btn btn-success">
                            Edit
                        </button>
                    </span>
                        <span ng-if="!is_edit_disable">
                        <button id="editbtn" type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                        <button id="editbtn" type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                            Edit
                        </button>
                        <button id="subbtn" type="button" ng-click="saveBsData(form_bs_livestock_poultry)"
                                class="btn btn-success">Submit
                        </button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-469842" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Firm
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" ng-model="new_organization.name" type="text"
                                       placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='new_organization.ownership'
                                        class="form-control"
                                        style="font-weight:400;" required>
                                    <option value="" selected="true">Select Ownership</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button id="button1id" name="button1id" class="btn btn-warning">Cancel</button>
                        <button id="button2id" ng-click="saveOrganization()" name="button2id" class="btn btn-success">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal fade" id="modal-container-0002" role="dialog" style="width:50%;margin:0 auto;"-->
        <!--aria-hidden="true">-->
        <!--<div class="modal-dialog" style="width:50%;">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
        <!--×-->
        <!--</button>-->
        <!--<h5 class="modal-title">-->
        <!--<span id="bookId"> </span>-->
        <!--</h5>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--&lt;!&ndash; Text input&ndash;&gt;-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-2 control-label" for="textinput">Name</label>-->
        <!--<div class="col-md-10">-->
        <!--<input id="textinput" name="textinput" placeholder="" ng-model="selectedOrganization.name" type="text"-->
        <!--class="form-control input-md">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--<div class="form-group" style="margin-top:5px;">-->
        <!--<label class="col-md-4 control-label" for="textinput">Ownership</label>-->
        <!--<div class="col-md-5">-->
        <!--<select id="selectbasic" name="ownership" ng-model='selectedOrganization.ownership'-->
        <!--class="form-control"-->
        <!--style="font-weight:400;" required>-->

        <!--<option value="" selected="true">Select Ownership</option>-->
        <!--<option value="Public">Public</option>-->
        <!--<option value="Private">Private</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<br><br>-->
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">-->
        <!--Close-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary" ng-click="saveOrganization()" >-->
        <!--Save changes-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!-- edit model -->
        <div class="modal fade" id="modal-container-0002" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Edit Organization
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Firm Name</label>
                            <div class="col-md-5">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md" ng-model="editedOrganizationName">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-5">
                                <select id="selectbasic" name="ownership" ng-model='ownership' class="form-control"
                                        style="font-weight:400;" required>
                                    <option value="" selected="true">Select Ownership</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button id="button2id" ng-click="saveEditOrganization()" name="button2id"
                                class="btn btn-success">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
