{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="dlStrutsOthAsetsApp" ng-controller="dlStrutsOthAsetsController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Agriculture Sector</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Agrarian Sub Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 5. Damages to Structures and Other Related Assets</span>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_struts_oth_asets">
        <div>
            <ul class='nav nav-wizard'>
                <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 Totally Destroyed</a></li>
                <li id="li2"><a href='#step2' data-toggle="tab">2 Partially Damaged </a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="step1">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="249"/>
                            <col width="148"/>
                            <col width="121"/>
                            <col width="117" span="2"/>
                            <col width="112"/>
                            <col width="99"/>
                            <col width="85" span="2"/>
                        </colgroup>
                        <tbody>
                        <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="4" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_dl_struts_oth_asets.incident.$error.required">
                                    Please select Incident
                                </span>
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_dl_struts_oth_asets.district.$error.required">
                                    Please select District
                                </span>
                            </td>
                        </tr>
                        <tr class="trhead1" height="19">
                            <td width="249" height="19" style="padding-left:5px;">
                                Name of District:
                            </td>
                            <td colspan="4" width="503">
                                <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)" style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select an Incident</option>
                                    {% for incident in incidents %}

                                    <option value={{incident.id}}>{{incident.disaster_type.name}}
                                        {{incident.reported_date_time}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2" width="296" style="padding-left:5px;">
                                Incident:
                            </td>
                            <td width="85" colspan="2">
                                <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id" class="form-control" ng-change="changedValue(false)" required>
                                    <option value="" selected>Select District</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td colspan="9" width="1133" height="19">
                                Totally Destroyed
                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td width="249" height="19">
                                Assets
                            </td>
                            <td colspan="2" width="269">
                                Number of Destroyed Structures
                            </td>
                            <td colspan="4" width="445">
                                Total Square Meters Destroyed
                            </td>
                            <td colspan="2" width="170">
                                Damages (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td width="249" height="19">
                                Structures
                            </td>
                            <td width="148">
                                Public
                            </td>
                            <td width="121">
                                Private
                            </td>
                            <td colspan="2" width="234">
                                Public
                            </td>
                            <td colspan="2" width="211">
                                Private
                            </td>
                            <td width="85">
                                Public
                            </td>
                            <td width="85">
                                Private
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDestStructures in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDestStructures" ng-if="dsorDestStructures.assets != 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDestStructures.assets">
                            </td>
                            <td width="148">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDestStructures.num_dest_pub">
                            </td>
                            <td width="121">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDestStructures.num_dest_pvt">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDestStructures.tot_dest_pub">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDestStructures.tot_dest_pvt">
                            </td>

                            <td width="85" ng-model="dsorDestStructures.dmg_pub"
                             ng-bind="dsorDestStructures.dmg_pub =
                                          dsorDestStructures.tot_dest_pub *
                                          bs_data['BsoeStructure'][$index].fields.avg_replace_cost">
                        </td>
                           <td width="85" ng-model="dsorDestStructures.dmg_pvt"
                             ng-bind="dsorDestStructures.dmg_pvt =
                                          dsorDestStructures.tot_dest_pvt *
                                          bs_data['BsoeStructure'][$index].fields.avg_replace_cost">
                        </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDestStructures in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDestStructures" ng-if="dsorDestStructures.assets == 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDestStructures.assets">
                                Total
                            </td>
                            <td class="tdpa" width="148">

                            </td>
                            <td class="tdpa" width="121">

                            </td>
                            <td class="tdpa" colspan="2">

                            </td>
                            <td class="tdpa" colspan="2">

                            </td>
                            <td width="85" ng-model="dsorDestStructures.dmg_pub" ng-bind="dsorDestStructures.dmg_pub = calPubTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDestStructures)">

                            </td>
                            <td width="85" ng-model="dsorDestStructures.dmg_pvt" ng-bind="dsorDestStructures.dmg_pvt = calPvtTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDestStructures)">

                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <br>
                    <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                            class="glyphicon glyphicon-arrow-right"></span> Fill Partially Damaged Informations</a>
                    <br>
                </div>


                <div class="tab-pane fade" id="step2">

                    <table class="table table-bordered">
                        <tr class="trheadc1" height="19">
                            <td width="249" height="19">
                                Assets
                            </td>
                            <td colspan="2" rowspan="2" width="269">
                                Number of Partially Damaged
                            </td>
                            <td colspan="4" width="445">
                                Total Square Meters Damaged
                            </td>
                            <td colspan="2" rowspan="2" width="170">
                                Damages (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td class="trhead" width="249" height="19">
                                Public Sector
                            </td>
                            <td width="117">
                                Roof
                            </td>
                            <td colspan="2" width="229">
                                Walls
                            </td>
                            <td width="99">
                                Floors
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="249" height="19">
                                Structure
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="117">
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="99">
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDmgPubStructure in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPubStructure" ng-if="dsorDmgPubStructure.assets != 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPubStructure.assets">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPubStructure.num_part_dmg">
                            </td>
                            <td width="117">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPubStructure.tot_dmg_roof">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPubStructure.tot_dmg_walls">
                            </td>
                            <td width="99">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPubStructure.tot_dmg_floors">
                            </td>
                             <td colspan="2" width="170"  ng-model="dsorDmgPubStructure.damages"
                             ng-bind="dsorDmgPubStructure.damages =
                                     dsorDmgPubStructure.tot_dmg_roof * bs_data['BsoeStructure'][$index].fields.avg_repair_roof +
                                     dsorDmgPubStructure.tot_dmg_walls * bs_data['BsoeStructure'][$index].fields.avg_repair_wall +
                                     dsorDmgPubStructure.tot_dmg_floors * bs_data['BsoeStructure'][$index].fields.avg_repair_flooring ">
                        </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDmgPubStructure in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPubStructure" ng-if="dsorDmgPubStructure.assets == 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPubStructure.assets">
                            </td>
                            <td class="tdpa" colspan="2">
                            </td>
                            <td class="tdpa" width="117">
                            </td>
                            <td class="tdpa" colspan="2">
                            </td>
                            <td class="tdpa" width="99">
                            </td>
                            <td colspan="2" width="170" ng-model="dsorDmgPubStructure.damages" ng-bind="dsorDmgPubStructure.damages = calDamgTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPubStructure)">

                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="249" height="19">
                                Private Sector
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="117">
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="99">
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="249" height="19">
                                Structure
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="117">
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="99">
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDmgPvtStructures in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtStructures" ng-if="dsorDmgPvtStructures.assets != 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtStructures.assets">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtStructures.num_part_dmg">
                            </td>
                            <td width="117">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtStructures.tot_dmg_roof">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtStructures.tot_dmg_walls">
                            </td>
                            <td width="99">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtStructures.tot_dmg_floors">
                            </td>
                            <td colspan="2" width="170"  ng-model="dsorDmgPvtStructures.damages"
                             ng-bind="dsorDmgPvtStructures.damages =
                                     dsorDmgPvtStructures.tot_dmg_roof * bs_data['BsoeStructure'][$index].fields.avg_repair_roof +
                                     dsorDmgPvtStructures.tot_dmg_walls * bs_data['BsoeStructure'][$index].fields.avg_repair_wall +
                                     dsorDmgPvtStructures.tot_dmg_floors * bs_data['BsoeStructure'][$index].fields.avg_repair_flooring ">
                        </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDmgPvtStructures in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtStructures" ng-if="dsorDmgPvtStructures.assets == 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtStructures.assets">
                            </td>
                            <td class="tdpa" colspan="2" ng-bind="dsorDmgPvtStructures.num_part_dmg">
                            </td>
                            <td class="tdpa" width="117" ng-bind="dsorDmgPvtStructures.tot_dmg_roof">
                            </td>
                            <td class="tdpa" colspan="2" ng-bind="dsorDmgPvtStructures.tot_dmg_walls">
                            </td>
                            <td class="tdpa" width="99" ng-bind="dsorDmgPvtStructures.tot_dmg_floors">
                            </td>
                            <td colspan="2" width="170" ng-model="dsorDmgPvtStructures.damages" ng-bind="dsorDmgPvtStructures.damages = calDamgTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtStructures)">

                            </td>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td width="249" height="19">
                                Assets
                            </td>
                            <td colspan="2" width="269">
                                Number of Totally Destroyed
                            </td>
                            <td colspan="4" width="445">
                                Number of Partially Damaged
                            </td>
                            <td colspan="2" width="170">
                                Damages (LKR)
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="249" height="19">
                                Office Equipment
                            </td>
                            <td width="148">
                                Public
                            </td>
                            <td width="121">
                                Private
                            </td>
                            <td colspan="2" width="234">
                                Public
                            </td>
                            <td colspan="2" width="211">
                                Private
                            </td>
                            <td width="85">
                                Public
                            </td>
                            <td width="85">
                                Private
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dsorDmgPvtOequipment in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtOequipment" ng-if="dsorDmgPvtOequipment.assets != 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtOequipment.assets">
                                Computers
                            </td>
                            <td width="148">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtOequipment.num_dest_pub">
                            </td>
                            <td width="121">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtOequipment.num_dest_pvt">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtOequipment.num_dmg_pub">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtOequipment.num_dmg_pvt">
                            </td>

                            <td width="85"  ng-model="dsorDmgPvtOequipment.dmg_pub"
                             ng-bind="dsorDmgPvtOequipment.dmg_pub =
                                     dsorDmgPvtOequipment.num_dest_pub * bs_data['BsoeOequipment'][$index].fields.avg_replace_cost +
                                     dsorDmgPvtOequipment.num_dmg_pub * bs_data['BsoeOequipment'][$index].fields.avg_repair_cost">
                        </td>
                            <td width="85"  ng-model="dsorDmgPvtOequipment.dmg_pvt"
                             ng-bind="dsorDmgPvtOequipment.dmg_pvt =
                                     dsorDmgPvtOequipment.num_dest_pvt * bs_data['BsoeOequipment'][$index].fields.avg_replace_cost +
                                     dsorDmgPvtOequipment.num_dmg_pvt * bs_data['BsoeOequipment'][$index].fields.avg_repair_cost">
                        </td>
                        </tr>

                        <!--Total-->
                        <tr height="19" ng-repeat="dsorDmgPvtOequipment in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtOequipment" ng-if="dsorDmgPvtOequipment.assets == 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtOequipment.assets">
                            </td>
                            <td class="tdpa" width="148">
                            </td>
                            <td class="tdpa" width="121">
                            </td>
                            <td class="tdpa" colspan="2">
                            </td>
                            <td class="tdpa" colspan="2">
                            </td>
                            <td width="85" ng-model="dsorDmgPvtOequipment.dmg_pub" ng-bind="dsorDmgPvtOequipment.dmg_pub = calPubTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtOequipment)">

                            </td>
                            <td width="85" ng-model="dsorDmgPvtOequipment.dmg_pvt" ng-bind="dsorDmgPvtOequipment.dmg_pvt = calPvtTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtOequipment)">

                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="249" height="19">
                                Machinery
                            </td>
                            <td width="148">
                            </td>
                            <td width="121">
                            </td>
                            <td colspan="2">
                            </td>
                            <td colspan="2">
                            </td>
                            <td width="85">
                            </td>
                            <td width="85">
                            </td>
                        </tr>
                        <!--Machinery-->
                        <tr height="19" ng-repeat="dsorDmgPvtMachinery in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtMachinery"
                            ng-if="dsorDmgPvtMachinery.assets != 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtMachinery.assets">
                            </td>
                            <td width="148">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtMachinery.num_dest_pub">
                            </td>
                            <td width="121">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtMachinery.num_dest_pvt">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtMachinery.num_dmg_pub">
                            </td>
                            <td colspan="2">
                                <input id="textinput" name="textinput" type="numbe" placeholder=""
                                       class="form-control input-md" ng-model="dsorDmgPvtMachinery.num_dmg_pvt">
                            </td>

                            <td width="85"  ng-model="dsorDmgPvtMachinery.dmg_pub"
                             ng-bind="dsorDmgPvtMachinery.dmg_pub =
                                     dsorDmgPvtMachinery.num_dest_pub * bs_data['BsoeMachinery'][$index].fields.avg_replace_cost +
                                     dsorDmgPvtMachinery.num_dmg_pub * bs_data['BsoeMachinery'][$index].fields.avg_repair_cost">
                        </td>
                          <td width="85"  ng-model="dsorDmgPvtMachinery.dmg_pvt"
                             ng-bind="dsorDmgPvtMachinery.dmg_pvt =
                                     dsorDmgPvtMachinery.num_dest_pvt * bs_data['BsoeMachinery'][$index].fields.avg_replace_cost +
                                     dsorDmgPvtMachinery.num_dmg_pvt * bs_data['BsoeMachinery'][$index].fields.avg_repair_cost">
                        </td>
                        </tr>

                        <!--Total-->
                        <tr height="19" ng-repeat="dsorDmgPvtMachinery in dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtMachinery"
                            ng-if="dsorDmgPvtMachinery.assets == 'Total'">
                            <td class="tdpa" width="249" height="19" ng-bind="dsorDmgPvtMachinery.assets">
                            </td>
                            <td class="tdpa" width="148" ng-bind="dsorDmgPvtMachinery.num_dest_pub">
                            </td>
                            <td class="tdpa" width="121" ng-bind="dsorDmgPvtMachinery.num_dest_pvt">
                            </td>
                            <td class="tdpa" colspan="2" ng-bind="dsorDmgPvtMachinery.num_dmg_pub">
                            </td>
                            <td class="tdpa" colspan="2" ng-bind="dsorDmgPvtMachinery.num_dmg_pvt">
                            </td>
                            <td width="85" ng-model="dsorDmgPvtMachinery.dmg_pub" ng-bind="dsorDmgPvtMachinery.dmg_pub = calPubTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtMachinery)">

                            </td>
                            <td width="85" ng-model="dsorDmgPvtMachinery.dmg_pvt" ng-bind="dsorDmgPvtMachinery.dmg_pvt = calPubTotal($parent.dlStrutsOthAsets.agri_agrarian.Table_5.DsorDmgPvtMachinery)">

                            </td>
                        </tr>
                        <!--GRAND TOTAL-->
                        <tr height="19" >
                            <td class="boldash" colspan="7" width="963" height="19">
                                GRAND TOTAL
                            </td>
                            <td width="85" ng-bind="calGrandPubTotal()">

                            </td>
                            <td width="85" ng-bind="calGrandPvtTotal()">

                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <br>
                    <div class="pull-right">
                        <button type="button" ng-click="clear()"  class="btn btn-info">Clear</button>
                    <button type="button" ng-click="dlDataEdit(form_dl_struts_oth_asets)" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                        Edit
                    </button>
                    <button type="button" ng-disabled="form_pop_lat_census.$invalid" ng-click="saveDlData(form_dl_struts_oth_asets)"
                    class="btn btn-success">Submit
                    </button>
                    </div>
                </div>


            </div>
        </div>


        <div class="col-md-12">


            <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
                 aria-hidden="true">
                <div class="modal-dialog" style="width:50%;">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h5 class="modal-title">
                                <span id="bookId"> </span>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Name</label>
                                <div class="col-md-10">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">

                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
