{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlWaterSupplyApp" ng-controller="DlWaterSupplyController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:water_supply_main' %}">
                Water Supply Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 5. Summary of damages and losses in a district
            </span>
        </li>
         <li style="float:right;"> <a href="{% static 'dashboard/doc/Water_Supply.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dlsum_wter_sply_dst">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="160"/>
                        <col width="107" span="5"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1">
                        <tr>
                            <td class="trhead1 p5"  width="156">
                                Incident
                            </td>
                             <td class="trhead1" colspan="2" width="268">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="getDistrict();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                            <td class="trhead1 p5" width="253" >
                            Name of District
                        </td>
                        <td class="trhead1" colspan="2" width="463">
                            <select ng-change="changedValue()" ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id"
                                    style="font-weight:400;"
                                    class="form-control" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                    </table>
                    <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                    <tr class="trheadc1" height="34">
                        <td rowspan="2" width="160" height="55">
                            Number of Affected Clients of Commercial Water Supply
                        </td>
                        <td width="107">
                            Residential
                        </td>
                        <td width="107">
                            Commercial
                        </td>
                        <td width="107">
                            Industrial
                        </td>
                        <td width="107">
                            Others
                        </td>
                        <td width="107">
                            Total
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="right" width="107" height="21" ng-bind="data.water_supply.Table_5.DlcwNumClients[0].residential">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwNumClients[0].commercial">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwNumClients[0].industrial">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwNumClients[0].others">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwNumClients[0].total">

                        </td>
                    </tr>
                    <tr class="trheadc1" height="34">
                        <td rowspan="2" width="160" height="55">
                            Number of Affected Rural Water Supply Users (Families)
                        </td>
                        <td width="107">
                            Type 1
                        </td>
                        <td width="107">
                            Type 2
                        </td>
                        <td width="107">
                            Type 3
                        </td>
                        <td width="107">
                            Type 4
                        </td>
                        <td width="107">
                            Total
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="right" width="107" height="21" ng-bind="data.water_supply.Table_5.DlRuralDmg[0].families_affected">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralDmg[1].families_affected">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralDmg[2].families_affected">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralDmg[3].families_affected">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralDmg[4].families_affected">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="21">
                        <td rowspan="3" width="160" height="63">
                            Type of Water Supply System
                        </td>
                        <td colspan="3" width="321">
                            Damages and Losses (LKR)
                        </td>
                        <td colspan="2" rowspan="3" width="214">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="21">
                        <td colspan="2" width="214" height="21">
                            Year 1
                        </td>
                        <td width="107">
                            Year 2
                        </td>
                    </tr>
                    <tr class="trsubc" height="21">
                        <td width="107" height="21">
                            Damages
                        </td>
                        <td width="107">
                            Losses
                        </td>
                        <td width="107">
                            Losses
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" width="160" height="21">
                            Commercial Water Supply
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwTotDmgDistrict[0].dlcw_tot_dmg">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_1">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_2">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlcwTotDmgDistrict[0].dlcw_tot_dmg +
                            data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_1 +
                            data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_2">
                        </td>
                    </tr>
                    <tr class="tdpa" height="21">
                        <td width="160" height="21">
                            Rural Water Supply
                        </td>
                        <td width="107">
                        </td>
                        <td width="107">
                        </td>
                        <td width="107">
                        </td>
                        <td colspan="2" width="214">
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" class="tdpa" width="160" height="21">
                            Type 1
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[1].tot_damages">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotLosDistrict[1].tot_los">
                        </td>
                        <td class="right" class="tdpa" width="107">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[1].tot_damages +
                            data.water_supply.Table_5.DlRuralTotLosDistrict[1].tot_los">
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" width="160" height="21">
                            Type 2
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[2].tot_damages">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotLosDistrict[2].tot_los">
                        </td>
                        <td class="tdpa" width="107">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[2].tot_damages + data.water_supply.Table_5.DlRuralTotLosDistrict[2].tot_los">
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" width="160" height="21">
                            Type 3
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[3].tot_damages">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotLosDistrict[2].tot_los">
                        </td>
                        <td class="tdpa" width="107">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[3].tot_damages + data.water_supply.Table_5.DlRuralTotLosDistrict[2].tot_los">
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" width="160" height="21">
                            Type 4
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[4].tot_damages">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotLosDistrict[4].tot_los">
                        </td>
                        <td class="tdpa" width="107">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[4].tot_damages +
                            data.water_supply.Table_5.DlRuralTotLosDistrict[4].tot_los">
                        </td>
                    </tr>
                    <tr height="20">
                        <td class="boldash" width="160" height="20">
                            Total
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[0].tot_damages">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_5.DlRuralTotLosDistrict[0].tot_los">

                        </td>
                        <td class="tdpa" width="107">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlRuralTotDmgDistrict[0].tot_damages +
                            data.water_supply.Table_5.DlRuralTotLosDistrict[0].tot_los">
                        </td>
                    </tr>
                    <tr height="17">
                        <td class="boldash" height="17">
                            GRAND TOTAL
                        </td>
                        <td class="right" ng-bind="data.water_supply.Table_5.DlcwTotDmgDistrict[0].dlcw_tot_dmg + data.water_supply.Table_5.DlRuralTotDmgDistrict[0].tot_damages">
                        </td>
                        <td class="right" ng-bind="data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_1 + data.water_supply.Table_5.DlRuralTotLosDistrict[0].tot_los">
                        </td>
                        <td class="right" ng-bind="data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_2">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_5.DlcwTotDmgDistrict[0].dlcw_tot_dmg +
                            data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_1 +
                            data.water_supply.Table_5.DlcwLosOther[0].tot_los_year_2 + data.water_supply.Table_5.DlRuralTotDmgDistrict[0].tot_damages +
                            data.water_supply.Table_5.DlRuralTotLosDistrict[0].tot_los">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
