{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlWaterSupplyProApp" ng-controller="DlWaterSupplyProController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:water_supply_main' %}">Water Supply Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 6. Summary of damages and losses in the Province
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Water_Supply.pdf' %}" target="_blank"
                style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document">
            </a>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="298"/>
                        <col width="98" span="5"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1">
                        <td class="trhead1 p5" width="130" colspan="2">
                            Incident
                        </td>
                        <td width="125">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);fetchDlData();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1 p5" width="281" height="20">
                            Province
                        </td>
                        <td width="170">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false);fetchDlData();" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                    <tr class="trhead1" height="20">
                        <td rowspan="2" width="298" height="40">
                            Number of Affected Clients of Commercial Water Supply
                        </td>
                        <td width="98">
                            Residential
                        </td>
                        <td width="98">
                            Commercial
                        </td>
                        <td width="98">
                            Industrial
                        </td>
                        <td width="98">
                            Others
                        </td>
                        <td width="98">
                            Total
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6">
                        <td width="107" height="21"
                            ng-bind="data.water_supply.Table_6[key].DlcwNumClients[0].residential">

                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwNumClients[0].commercial">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwNumClients[0].industrial">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwNumClients[0].others">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwNumClients[0].total">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td rowspan="2" width="298" height="40">
                            Number of Affected Rural Water Supply Users (Families)
                        </td>
                        <td width="98">
                            Type 1
                        </td>
                        <td width="98">
                            Type 2
                        </td>
                        <td width="98">
                            Type 3
                        </td>
                        <td width="98">
                            Type 4
                        </td>
                        <td width="98">
                            Total
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6">
                        <td  width="107" height="21" ng-bind="data.water_supply.Table_6[key].DlRuralDmg[0].families_affected">
                        </td>
                        <td class="right" class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlRuralDmg[1].families_affected">
                        </td>
                        <td class="right" class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlRuralDmg[2].families_affected">
                        </td>
                        <td class="right" class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlRuralDmg[3].families_affected">
                        </td>
                        <td class="right" class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlRuralDmg[4].families_affected">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td rowspan="3" width="298" height="60">
                            Type of Water Supply System
                        </td>
                        <td colspan="3" width="294">
                            Damages and Losses (LKR)
                        </td>
                        <td colspan="2" rowspan="3" width="196">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td colspan="2" width="196" height="20">
                            Year 1
                        </td>
                        <td width="98">
                            Year 2
                        </td>
                    </tr>
                    <tr class="trsubc" height="20">
                        <td width="98" height="20">
                            Damages
                        </td>
                        <td width="98">
                            Losses
                        </td>
                        <td width="98">
                            Losses
                        </td>
                    </tr>
                    <tr class="tdpa" height="20">
                        <td width="298" height="20">
                            NWSDB Commercial Water Supply
                        </td>
                        <td width="98">
                        </td>
                        <td width="98">
                        </td>
                        <td width="98">
                        </td>
                        <td colspan="2" width="196">
                        </td>
                    </tr>
                    <tr height="20" height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6"
                        ng-init="getTotal(key)">
                        <td  class="tdpa" width="298" height="20" ng-bind="key">
                        </td>
                        <td class="right" class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwTotDmgDistrict[0].dlcw_tot_dmg">
                        </td>
                        <td  class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwLosOther[3].tot_los_year_1">
                        </td>
                        <td class="right" width="107" ng-bind="data.water_supply.Table_6[key].DlcwLosOther[3].tot_los_year_2">
                        </td>
                        <td class="right" colspan="2" width="214" ng-bind="data.water_supply.Table_6[key].DlcwTotDmgDistrict[0].dlcw_tot_dmg +
                            data.water_supply.Table_6[key].DlcwLosOther[0].tot_los_year_1 +
                            data.water_supply.Table_6[key].DlcwLosOther[0].tot_los_year_2">
                        </td>
                    </tr>
                    <tr height="20" height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6">
                        <td class="boldash" width="298" height="20">
                            Total - Commercial Water Supply
                        </td>
                        {% verbatim %}
                        <td class="right" width="98" ng-model="totalDamages" ng-bind="totalDamages= {{'totalDamages'+key}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" ng-model="totalLossYear1" ng-bind="totalLossYear1= {{'totalLossYear1'+key}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" ng-model="totalLossYear2" ng-bind="totalLossYear2= {{'totalLossYear2'+key}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" colspan="2" ng-model="total" ng-bind="tot">
                        </td>
                        {% endverbatim %}
                    </tr>
                    <tr class="tdpa" height="20">
                        <td width="298" height="20">
                            Rural Water Supply
                        </td>
                        <td width="98">
                        </td>
                        <td width="98">
                        </td>
                        <td width="98">
                        </td>
                        <td colspan="2" width="196">
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6"
                        ng-init="getTotal(key)">
                        <td class="right tdpa" width="298" height="20" ng-bind="key">
                        </td>
                        <td class="right" width="98" ng-bind="data.water_supply.Table_6[key].DlRuralTotDmgDistrict[0].tot_damages">
                        </td>
                        <td class="right" width="98" ng-bind="data.water_supply.Table_6[key].DlRuralTotLosDistrict[0].tot_los">
                        </td>
                        <td  class="right tdpa" width="98">
                        </td>
                        <td class="right" colspan="2" width="196"
                            ng-bind="data.water_supply.Table_6[key].DlRuralTotDmgDistrict[0].tot_damages + data.water_supply.Table_6[key].DlRuralTotLosDistrict[0].tot_los">
                        </td>
                    </tr>

                    <tr height="20" ng-repeat="(key, value) in dlWaterSupplyPro.water_supply.Table_6">
                        <td class="boldash" width="298" height="20">
                            Total - Rural Water Supply
                        </td>
                        {% verbatim %}
                        <td class="right" width="98" ng-model="ruralDamgetot" ng-bind="ruralDamgetot= {{'ruraltotalDamage'+key}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" ng-model="ruralLosstot" ng-bind="ruralLosstot= {{'ruralLosstot'+key}}">
                        </td>
                        {% endverbatim %}
                        <td class="right" class="tdpa" width="98">
                        </td>
                        {% verbatim %}
                        <td class="right" width="98" colspan="2" ng-bind="ruraltot">
                        </td>
                        {% endverbatim %}
                    </tr>
                    <tr height="20">
                        <td class="tdpa" width="298" height="20">
                            GRAND TOTAL
                        </td>
                        {% verbatim %}
                        <td class="right" width="98" ng-bind="grandDamge">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" ng-bind="grandLossYear1">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" ng-bind="grandLossYear2">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="98" colspan="2" ng-bind="grandTot">
                        </td>
                        {% endverbatim %}
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
