{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<script>
  $(document).ready(function() {

   var nicesx = $("#boxscroll1").niceScroll({touchbehavior:false,cursorcolor:"#4679B2",cursoropacitymax:0.6,cursorwidth:8}); 
  });
</script>
<!-- Main content -->
<main class="main" ng-app="dlRoadBrdgsApp" ng-controller="dlRoadBrdgsController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
             <a href="{% url 'dashboard:index' %}">
                 Dashboard
             </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:transport_land_main' %}">
                Transport Land Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 4. Roads and Bridges
            </span>
        </li>
        <span style="margin-left:15px;color:#000;" ng-bind="currentBaselineDate"></span>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/1A-Land_Transportation-24Jan17.pdf' %}" target="_blank"
               style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_dl_road_brdgs">
        <div>
            <ul class='nav nav-wizard'>
                <li id="li1" class="active">
                    <a href='#step1' data-toggle="tab">
                        1 Road Classification
                    </a>
                </li>
                <li id="li2">
                    <a href='#step2' data-toggle="tab">
                        2 Other Assest
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="step1">
                <td>
                    <button ng-click="dlDataEdit(form_dl_road_brdgs)" class="btn btn-sm btn-info" style="float:right;">
                        <span class="fa fa-search"></span>
                    </button>
                </td>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="156"/>
                        <col width="63"/>
                        <col width="120"/>
                        <col width="99"/>
                        <col width="145"/>
                        <col width="148"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                        <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_dl_road_brdgs.incident.$error.required">
                                    Please Select Incident
                                </span>
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_dl_road_brdgs.district.$error.required">
                                    Please Select District
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="trhead1" colspan="1" width="156">
                                Incident
                            </td>
                            <td class="trhead1" colspan="2"  width="63">
                                <select id="selectbasic" name="incident" ng-model="incident"
                                        class="form-control" ng-change="changedValue(true)" style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select an Incident</option>
                                    {% for incident in incidents %}
                                    <option value={{incident.id}}>
                                        <!--{{incident.disaster_type.name}}-->
                                        <!--{{incident.reported_date_time}}-->
                                        {{incident.incident_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="trhead1" colspan="2"  width="120">
                                District
                            </td>
                            <td class="trhead1" colspan="5"  width="680">
                                <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                        name="district" id="ccyear" ng-model="district" ng-value="district.district__id" class="form-control" ng-change="changedValue(false)" required>
                                    <option value="" selected>Select District</option>
                                </select>
                            </td>
                            <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                        </tr>
                        <tr class="trheadc1" height="19">
                            <td rowspan="2" height="38" width="156">
                                Road Classification
                            </td>
                            <td colspan="4" height="19" width="345" style="width:30%;">
                                Totally Destroyed (km)
                            </td>
                            <td colspan="4" height="19" width="422" style="width:30%;">
                                Partially Damaged (km)
                            </td>
                            <td rowspan="2" height="38" width="63">
                                Damages (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td height="19" width="63" style="width:8%;">
                                Concrete
                            </td>
                            <td height="19" width="120">
                                Asphalt
                            </td>
                            <td height="19" width="99" style="width:7%;">
                                Gravel
                            </td>
                            <td height="19" width="145" style="width:8%;">
                                Earth
                            </td>
                            <td height="19" width="148" style="width:8%;">
                                Concrete
                            </td>
                            <td height="19" width="63">
                                Asphalt
                            </td>
                            <td height="19" width="63">
                                Gravel
                            </td>
                            <td height="19" width="63">
                                Earth
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dlRbdRclassification in dlRoadBrdgs.transport_land.Table_4.DlRbdRclassification"
                            ng-if="dlRbdRclassification.road_classification != 'Total'">
                            <td class="tdpa" height="19" width="156" ng-bind="dlRbdRclassification.road_classification">
                            </td>
                            <td height="19" width="63">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.tot_dest_concrete">
                            </td>
                            <td height="19" width="120">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.tot_dest_asphalt">
                            </td>
                            <td height="19" width="99">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.tot_dest_gravel">
                            </td>
                            <td height="19" width="145">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.tot_dest_earth">
                            </td>
                            <td height="19" width="148">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.part_dest_concrete">
                            </td>
                            <td height="19" width="63">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.part_dest_asphalt">
                            </td>
                            <td height="19" width="63">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.part_dest_gravel">
                            </td>
                            <td height="19" width="63">
                                <input name="textinput" type="number" placeholder="" id=""
                                       class="form-control input-md" ng-model="dlRbdRclassification.part_dest_earth">
                            </td>

                            <td class="right" height="19" width="63" ng-model="dlRbdRclassification.damages"
                                 ng-bind="dlRbdRclassification.damages =
                                          dlRbdRclassification.tot_dest_concrete * bs_data['BsRbuRclassificattion'][$index].fields.avg_replace_concrete +
                                          dlRbdRclassification.tot_dest_asphalt * bs_data['BsRbuRclassificattion'][$index].fields.avg_replace_asphalt +
                                          dlRbdRclassification.tot_dest_gravel * bs_data['BsRbuRclassificattion'][$index].fields.avg_replace_gravel +
                                          dlRbdRclassification.tot_dest_earth * bs_data['BsRbuRclassificattion'][$index].fields.avg_replace_earth +
                                          dlRbdRclassification.part_dest_concrete * bs_data['BsRbuRclassificattion'][$index].fields.avg_repair_concrete +
                                          dlRbdRclassification.part_dest_asphalt * bs_data['BsRbuRclassificattion'][$index].fields.avg_repair_asphalt +
                                          dlRbdRclassification.part_dest_gravel * bs_data['BsRbuRclassificattion'][$index].fields.avg_repair_gravel +
                                          dlRbdRclassification.part_dest_earth * bs_data['BsRbuRclassificattion'][$index].fields.avg_repair_earth">

                            </td>
                        </tr>
                        <tr height="19" ng-repeat="dlRbdRclassification in dlRoadBrdgs.transport_land.Table_4.DlRbdRclassification"
                            ng-if="dlRbdRclassification.road_classification == 'Total'" >
                            <td class="tdpa" height="19" width="156"
                                ng-bind="dlRoadBrdgs.transport_land.Table_4.DlRbdRclassification[5].road_classification">

                            </td>
                            <td class="tdpa" height="19" width="63">

                            </td>
                            <td class="tdpa" height="19" width="120">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="99">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="145">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="148">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="63">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="63">
                                <br/>
                            </td>
                            <td class="tdpa" height="19" width="63">
                                <br/>
                            </td>
                            <td class="right" height="19" width="63" ng-model="dlRbdRclassification.damages"
                                ng-bind="dlRbdRclassification.damages = calTot()">
                            </td>
                    </tr>
                    </tbody>
                </table>
                    <br>
                    <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                            class="glyphicon glyphicon-arrow-right"></span> Fill Other Assest Informations</a>
                    <br>
                </div>
                <div class="tab-pane fade" id="step2">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="156"/>
                            <col width="63"/>
                            <col width="120"/>
                            <col width="99"/>
                            <col width="145"/>
                            <col width="148"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                        </colgroup>
                        <tbody>
                            <tr class="trheadc1" height="19">
                                <td rowspan="2" height="38" width="156" style="width:16.3%;">
                                    Types of Bridges
                                </td>
                                <td colspan="4" height="19" width="345">
                                    Totally Destroyed (m)
                                </td>
                                <td colspan="4" height="19" width="422">
                                    Partially Damaged (m)
                                </td>
                                <td rowspan="2" height="38" width="63">
                                    Damages (LKR)
                                </td>
                            </tr>
                            <tr class="trsubc" height="19">
                                <td colspan="2" height="19" width="126" style="width:18%;">
                                    2 lanes
                                </td>
                                <td colspan="2" height="19" width="198" style="width:18%;">
                                    Multi-lanes
                                </td>
                                <td colspan="2" height="19" width="296" style="width:18%;">
                                    2 lanes
                                </td>
                                <td colspan="2" height="19" width="126" style="width:18%;">
                                    Multi-lanes
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="boxscroll1" style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr height="19" ng-repeat="dlRbdTbridges in dlRoadBrdgs.transport_land.Table_4.DlRbdTbridges" ng-if="dlRbdTbridges.type_bridges != 'Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTbridges.type_bridges" style="width:16.3%;">
                                </td>
                                <td colspan="2" height="19" width="126" style="width:18%;">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTbridges.tot_dest_2_lanes">
                                </td>
                                <td style="width:18%;" colspan="2" height="19" width="198">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTbridges.tot_dest_multi_lanes">
                                </td>
                                <td colspan="2" height="19" width="296" style="width:18%;">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTbridges.part_dest_2_lanes">
                                </td>
                                <td colspan="2" height="19" width="126" style="width:18%;">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTbridges.part_dest_multi_lanes">
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTbridges.damages"
                                 ng-bind="dlRbdTbridges.damages =
                                          dlRbdTbridges.tot_dest_2_lanes * bs_data['BsRbuTbridges'][$index].fields.avg_replace_2_lanes +
                                          dlRbdTbridges.tot_dest_multi_lanes * bs_data['BsRbuTbridges'][$index].fields.avg_replace_multi_lanes +
                                          dlRbdTbridges.part_dest_2_lanes * bs_data['BsRbuTbridges'][$index].fields.avg_repair_2_lanes +
                                          dlRbdTbridges.part_dest_multi_lanes * bs_data['BsRbuTbridges'][$index].fields.avg_repair_multi_lanes">
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTbridges in dlRoadBrdgs.transport_land.Table_4.DlRbdTbridges" ng-if="dlRbdTbridges.type_bridges == 'Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTbridges.type_bridges">
                                </td>
                                <td class="tdpa" colspan="2" height="19" width="126" >
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="2" height="19" width="198">
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="2" height="19" width="296" >
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="2" height="19" width="126">
                                    <br/>
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTbridges.damages"
                                   ng-bind="dlRbdTbridges.damages = calTotal(dlRoadBrdgs.transport_land.Table_4.DlRbdTbridges)">
                                </td>
                            </tr>
                            <tr class="trheadc" height="34">
                                <td height="34" width="156">
                                    Types of Culverts
                                </td>
                                <td colspan="4" height="34" width="345">
                                    Totally Destroyed (m)
                                </td>
                                <td colspan="4" height="34" width="422">
                                    Partially Damaged (m)
                                </td>
                                <td height="34" width="63">
                                    Damages (LKR)
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTculverts in dlRoadBrdgs.transport_land.Table_4.DlRbdTculverts" ng-if="dlRbdTculverts.type_culverts !='Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTculverts.type_culverts">
                                </td>
                                <td colspan="4" height="19" width="345">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTculverts.tot_destroyed">
                                </td>
                                <td colspan="4" height="19" width="422">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTculverts.part_destroyed">
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTculverts.damages"
                                 ng-bind="dlRbdTculverts.damages =
                                          dlRbdTculverts.tot_destroyed * bs_data['BsRbuTculverts'][$index].fields.avg_replace_cost +
                                          dlRbdTculverts.part_destroyed * bs_data['BsRbuTculverts'][$index].fields.avg_repair_cost">
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTculverts in dlRoadBrdgs.transport_land.Table_4.DlRbdTculverts" ng-if="dlRbdTculverts.type_culverts == 'Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTculverts.type_culverts">
                                    Total
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="345" ng-bind="dlRbdTculverts.tot_destroyed">
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="422" ng-bind="dlRbdTculverts.part_destroyed">
                                    <br/>
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTculverts.damages" ng-bind="dlRbdTculverts.damages = calTotal(dlRoadBrdgs.transport_land.Table_4.DlRbdTculverts)">
                                </td>
                            </tr>
                            <tr class="trheadc" height="34">
                                <td height="34" width="156">
                                    Types of Retaining Walls
                                </td>
                                <td colspan="4" height="34" width="345">
                                    Totally Destroyed (m)
                                </td>
                                <td colspan="4" height="34" width="422">
                                    Partially Damaged (m)
                                </td>
                                <td height="34" width="63">
                                    Damages (LKR)
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTrwalls in dlRoadBrdgs.transport_land.Table_4.DlRbdTrwalls" ng-if="dlRbdTrwalls.type_retain_walls !='Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTrwalls.type_retain_walls">
                                </td>
                                <td colspan="4" height="19" width="345">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTrwalls.tot_destroyed">
                                </td>
                                <td colspan="4" height="19" width="422">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTrwalls.part_destroyed">
                                </td>
                                 <td class="right" height="19" width="63" ng-model="dlRbdTrwalls.damages"
                                 ng-bind="dlRbdTrwalls.damages =
                                          dlRbdTrwalls.tot_destroyed * bs_data['BsRbuTrwalls'][$index].fields.avg_replace_cost +
                                          dlRbdTrwalls.part_destroyed * bs_data['BsRbuTrwalls'][$index].fields.avg_repair_cost">
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTrwalls in dlRoadBrdgs.transport_land.Table_4.DlRbdTrwalls" ng-if="dlRbdTrwalls.type_retain_walls == 'Total'">
                                <td class="tdpa" height="19" width="156"ng-bind="dlRbdTrwalls.type_retain_walls">
                                    Total
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="345" ng-bind="dlRbdTrwalls.tot_destroyed">
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="422" ng-bind="dlRbdTrwalls.part_destroyed">
                                    <br/>
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTrwalls.damages" ng-bind="dlRbdTrwalls.damages = calTotal(dlRoadBrdgs.transport_land.Table_4.DlRbdTrwalls)">
                                </td>
                            </tr>
                            <tr class="trheadc" height="34">
                                <td height="34" width="156">
                                    Types of Drains
                                </td>
                                <td colspan="4" height="34" width="345">
                                    Totally Destroyed (m)
                                </td>
                                <td colspan="4" height="34" width="422">
                                    Partially Damaged (m)
                                </td>
                                <td height="34" width="63">
                                    Damages (LKR)
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTdrains in dlRoadBrdgs.transport_land.Table_4.DlRbdTdrains" ng-if="dlRbdTdrains.type_drains != 'Total' && dlRbdTdrains.type_drains != 'TOTAL DAMAGES'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTdrains.type_drains">
                                </td>
                                <td colspan="4" height="19" width="345">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTdrains.tot_destroyed">
                                </td>
                                <td colspan="4" height="19" width="422">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdTdrains.part_destroyed">
                                </td>

                                <td class="right" height="19" width="63" ng-model="dlRbdTdrains.damages"
                                 ng-bind="dlRbdTdrains.damages =
                                          dlRbdTdrains.tot_destroyed * bs_data['BsRbuTdrains'][$index].fields.avg_replace_cost +
                                          dlRbdTdrains.part_destroyed * bs_data['BsRbuTdrains'][$index].fields.avg_repair_cost">
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdTdrains in dlRoadBrdgs.transport_land.Table_4.DlRbdTdrains" ng-if="dlRbdTdrains.type_drains == 'Total'">
                                <td class="tdpa" height="19" width="156" ng-bind="dlRbdTdrains.type_drains">
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="345" ng-bind="dlRbdTdrains.tot_destroyed">
                                    <br/>
                                </td>
                                <td class="tdpa" colspan="4" height="19" width="422" ng-bind="dlRbdTdrains.part_destroyed">
                                    <br/>
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdTdrains.damages" ng-bind="dlRbdTdrains.damages = calTotal(dlRoadBrdgs.transport_land.Table_4.DlRbdTdrains)">
                                </td>
                            </tr>
                            <tr height="19" >
                                <td class="tdpa" class="boldash" colspan="9" height="19" width="1013">
                                    TOTAL DAMAGES
                                </td>
                                <td class="right" height="19" width="63" ng-bind="calGrandTotal()">
                                </td>
                            </tr>
                            <tr class="trheadc" height="19">
                                <td colspan="10" height="19" width="1076">
                                    Losses
                                </td>
                            </tr>
                            <tr class="trsubc" height="34">
                                <td colspan="5" height="34" width="594">
                                    <br/>
                                </td>
                                <td colspan="2" height="34" width="296">
                                    Year 1
                                </td>
                                <td colspan="2" height="34" width="126">
                                    Year 2
                                </td>
                                <td height="34" width="63">
                                    Losses (LKR)
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdLosses in dlRoadBrdgs.transport_land.Table_4.DlRbdLosses" ng-if="dlRbdLosses.loss_type !='TOTAL LOSSES'">
                                <td class="boldash" colspan="5" height="19" width="594" ng-bind="dlRbdLosses.loss_type">
                                </td>
                                <td colspan="2" height="19" width="296">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdLosses.year_1" >
                                </td>
                                <td colspan="2" height="19" width="126">
                                    <input id="textinput" name="textinput" type="number" placeholder=""
                                           class="form-control input-md" ng-model="dlRbdLosses.year_2">
                                </td>
                                <td class="right" height="19" width="63" ng-model="dlRbdLosses.part_destroyed" ng-bind="dlRbdLosses.part_destroyed = dlRbdLosses.year_1 + dlRbdLosses.year_2">
                                </td>
                            </tr>
                            <tr height="19" ng-repeat="dlRbdLosses in dlRoadBrdgs.transport_land.Table_4.DlRbdLosses" ng-if="dlRbdLosses.loss_type =='TOTAL LOSSES'">
                                <td class="boldash" colspan="5" height="19" width="594"
                                    ng-bind="dlRbdLosses.loss_type">
                                </td>
                                <td class="right" colspan="2" height="19" width="126" ng-model="dlRbdLosses.year_1"
                                    ng-bind="dlRbdLosses.year_1 = dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[0].year_1 +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[1].year_1 +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[2].year_1 +
                                   dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[3].year_1 ">
                                </td>
                                <td class="right" colspan="2" height="19" width="126" ng-model="dlRbdLosses.year_2"
                                    ng-bind="dlRbdLosses.year_2 = dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[0].year_2 +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[1].year_2 +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[2].year_2 +
                                   dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[3].year_2 ">
                                </td>

                                <td class="right" colspan="2" height="19" width="126" ng-model="dlRbdLosses.part_destroyed"
                                    ng-bind="dlRbdLosses.part_destroyed = dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[0].part_destroyed +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[1].part_destroyed +
                                    dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[2].part_destroyed +
                                   dlRoadBrdgs.transport_land.Table_4.DlRbdLosses[3].part_destroyed ">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="pull-right">
                        <button type="button" ng-click="clear()" class="btn btn-info">
                            Clear
                        </button>
                        <span ng-if="is_edit_disable">
                        <button type="button" ng-click="dlDataEdit(form_dl_road_brdgs)" ng-if="!is_edit" class="btn btn-success">
                            Edit
                        </button>
                    </span>
                    <span ng-if="!is_edit_disable">
                        <button type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                        <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                            Cancel Edit
                        </button>
                        <button type="button" ng-disabled="form_pop_lat_census.$invalid" ng-click="saveDlData(form_dl_road_brdgs)" class="btn btn-success">
                            Submit
                        </button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
                 aria-hidden="true">
                <div class="modal-dialog" style="width:50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h5 class="modal-title">
                                <span id="bookId"> </span>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Name</label>
                                <div class="col-md-10">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
    <!-- update the baseline Model -->
    <div class="modal fade" id="modal-container-239458" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:window.location.reload()">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Warning
                    </h4>
                </div>
                <div class="modal-body alert-info">
                    <h4>
                        <span class="icon-close"></span>
                        Please update the baseline <br>
                        <b>Table 1. Baseline of Public Roads, Bridges and Users</b><br>
                        information before you calculate the damage and loss !
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">
                        Close
                    </button>
                    <button id="ok" onclick="javascript:window.location.reload()" type="button" class="btn btn-primary">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
