{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="bsindustryServicesInfoInformalApp" ng-controller="bsindustryServicesInfoInformalController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:industry_services_main' %}">
                Industry & Services Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 2. Baseline Information on the Informal IS Sector in a District
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Industry_and_Services.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_industry_services_info_informal_sector">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
             <td><button ng-click="editBsData(form_bs_industry_services_info_informal_sector)" class="btn btn-sm btn-info" style="float:right;"><span class="fa fa-search"></span></button>
                            </td>
                <table class="table table-bordered" >
                    <colgroup>
                        <col width="212"/>
                        <col width="108"/>
                        <col width="110"/>
                        <col width="100"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan=""  style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_industry_services_info_informal_sector.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_bs_industry_services_info_informal_sector.baselineDate.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td height="19" width="212">
                            District
                        </td>
                        <td height="19" width="108">
                            <select id="selectbasic"  name="district" class="form-control" ng-change="changeDis();" ng-model="district" style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select a District</option>
                                {% for district in districts %}
                                <option value={{ district.id }}>{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td height="19" width="110">
                            Year/Month
                        </td>
                        <td height="19" width="100">
                            <input name="baselineDate" type="text" style="font-weight:normal;" ng-change="changeDis();" placeholder="mm/yy"
                                   id="datepicker" ng-model="bs_date" class="form-control input-md" required="true">
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="35">
                        <td rowspan="2" height="56" width="212">
                            Type of businesses
                        </td>
                        <td rowspan="2" height="56" width="108">
                            Number of businesses
                        </td>
                        <td colspan="2" height="35" width="220">
                            Average Number of People Employed
                        </td>
                    </tr>
                    <tr class="trsubc" height="21">
                        <td height="21" width="110">
                            Male
                        </td>
                        <td height="21" width="100">
                            Female
                        </td>
                    </tr>
                    <!--bs_ind_ser_info_informl-->
                    <tr height="19" ng-repeat="bsNumBusSector in
                    bs_ind_ser_info_informl.industry_services.Table_2.BsNumBusSector">
                        <td class="tdpa" height="19" width="212" ng-bind="bsNumBusSector.components" ng-if="$index < 3">
                            Trading
                        </td>
                        <td width="98" ng-if="$index > 2">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsNumBusSector', $index)" class="btn btn-sm btn-danger btn-circle" >
                                <i class="fa fa-minus"></i>
                            </button>
                            <input style="width:80%;float:right;" name="bsNumBusSector_{{$index}}" ng-model="bsNumBusSector.components"
                                   popover="This field is required"
                                   popover-toggle="form_pop_lat_census['bsNumBusSector_' + $index].$dirty && !form_pop_lat_census['bsNumBusSector_' + $index].$valid"
                                   popover-placement="top" required type="text" class="form-control input-md">
                            {% endverbatim %}
                        </td>
                        <td height="19" width="108">
                            <input id="textinput" name="textinput" type="number" min="0" pattern="[0-9]*" ng-model="bsNumBusSector.num_businesses"
                                   placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="110">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="bsNumBusSector.avg_num_emp_male"
                                    placeholder="" class="form-control input-md">
                        </td>
                        <td height="19" width="100">
                            <input id="textinput" name="textinput" type="number" min="0" ng-model="bsNumBusSector.avg_num_emp_female"
                                    placeholder="" class="form-control input-md">
                        </td>
                    </tr>
                    <tr class="tdpa" height="19">
                        <td class="tdpa" height="19" width="212">
                            Others (Enumerate)&nbsp;&nbsp; <button ng-click="insertRow('BsNumBusSector')"
                                    class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>
                        </td>
                        <td height="19" width="108">
                        </td>
                        <td height="19" width="110">
                        </td>
                        <td height="19" width="100">
                        </td>
                    </tr>
                    <tr height="21">
                        <td class="tdpa" height="21" width="212">
                            TOTAL
                        </td>
                        <td class="right" height="21" width="108" ng-bind="getGrandTotalCol('num_businesses')">
                        </td>
                        <td class="right" height="21" width="110" ng-bind="getGrandTotalCol('avg_num_emp_male')">
                        </td>
                        <td class="right" height="21" width="100" ng-bind="getGrandTotalCol('avg_num_emp_female')">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info" ng-click="clear()">
                        Clear
                    </button>
                    <span ng-if="is_edit_disable">
                        <button type="button" ng-click="editBsData(form_bs_industry_services_info_informal_sector)" ng-if="!is_edit"
                                class="btn btn-success">
                            Edit
                        </button>
                    </span>
                        <span ng-if="!is_edit_disable">
                        <button type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button type="button" class="btn btn-success" ng-click="saveBsData(form_bs_industry_services_info_informal_sector)">
                        Submit
                    </button>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title" >
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
