{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="bsInfoFisheriesApp" ng-controller="bsInfoFisheriesController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Agriculture Sector</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Fisheries Sub Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 2. Baseline information on fisheries</span>
        </li>
    </ol>
    <div class="container-fluid">
        <div>
            <ul class='nav nav-wizard'>
                <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 Production</a></li>
                <li id="li2"><a href='#step2' data-toggle="tab">2 Assets </a></li>
            </ul>
            <div id="myTabContent" class="tab-content" ng-form name="form_info_fisheries">
                <div class="tab-pane active" id="step1">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="125"/>
                            <col width="95"/>
                            <col width="111"/>
                            <col width="115"/>
                            <col width="63"/>
                            <col width="63"/>
                            <col width="63"/>
                        </colgroup>
                        <tbody>
                        <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                            </td>
                            <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_info_fisheries.district.$error.required">
                                    Please Select District
                                </span>
                            </td>
                            <td colspan="" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_info_fisheries.baselineDate.$error.required">
                                    Please Select Date
                                </span>
                            </td>
                        </tr>
                        <tr class="trhead" class="trhead" height="19">
                            <td width="125" height="19">
                                District
                            </td>
                            <td width="95" height="19">
                                <select id="selectbasic" name="district" class="form-control" ng-model="district" style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select a District</option>
                                    {% for district in districts %}
                                        <option value={{ district.id }}>{{ district.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td width="111" height="19">
                                Year/Month
                            </td>
                            <td colspan="4" width="356" height="19">
                                <input name="baselineDate" style="font-weight:normal;" type="text" placeholder="mm/yy" id="datepicker" ng-model="bs_date" class="form-control input-md" required>
                            </td>
                        </tr>
                        <tr class="trheadc" class="trheadc" height="19">
                            <td colspan="7" width="697" height="19">
                                Production
                            </td>
                        </tr>
                        <tr class="trheadc" class="trhead" height="19">
                            <td rowspan="2" width="125" height="38">
                                Types
                            </td>
                            <td colspan="2" width="190" height="19">
                                Area
                            </td>
                            <td colspan="2" width="230" height="19">
                                Average Value of Yield
                            </td>
                            <td colspan="2" width="126" height="19">
                                Production Cost
                            </td>
                        </tr>
                        <tr class="trheadc" class="trhead" height="19">
                            <td colspan="2" width="190" height="19">
                                (Acres)
                            </td>
                            <td colspan="2" width="230" height="19">
                                (LKR/Year)
                            </td>
                            <td colspan="2" width="126" height="19">
                                (LKR/Acre/Year)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td width="125" height="19">
                                <br/>
                            </td>
                            <td width="95" height="19">
                                Public
                            </td>
                            <td width="111" height="19">
                                Private
                            </td>
                            <td width="115" height="19">
                                Public
                            </td>
                            <td width="63" height="19">
                                Private
                            </td>
                            <td width="63" height="19">
                                Public
                            </td>
                            <td width="63" height="19">
                                Private
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bifProduction in bsInfoFisheries.agri_fisheries.Table_2.BifProduction">
                            <td class="tdpa" width="125" height="19" ng-bind="bifProduction.types">
                                Inland Fisheries
                            </td>

                            <td width="95" height="19" ng-if="bifProduction.types == 'Inland fisheries'">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.area_pub">
                            </td>
                            <td class="tdpa" width="115" height="19" ng-if="bifProduction.types != 'Inland fisheries'">

                                <br/>
                            </td>

                            <td width="111" height="19" ng-if="bifProduction.types == 'Inland fisheries'">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.area_pvt">
                            </td>
                            <td class="tdpa" width="115" height="19" ng-if="bifProduction.types != 'Inland fisheries'">
                                <br/>

                            </td>

                            <td width="63" height="19" ng-if="bifProduction.types != 'Inland fisheries'">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.avg_yield_pub">
                            </td>
                            <td class="tdpa" width="115" height="19" ng-if="bifProduction.types == 'Inland fisheries'">
                                <br/>

                            </td>

                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.avg_yield_pvt">
                            </td>

                            <td width="63" height="19" ng-if="bifProduction.types != 'Inland fisheries'">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.prodc_pub">
                            </td>
                            <td class="tdpa" width="63" height="19" ng-if="bifProduction.types == 'Inland fisheries'">
                                <br/>

                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifProduction.prodc_pvt">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <a href="#step2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                            class="glyphicon glyphicon-arrow-right"></span> Fill Assets Informations</a>
                    <br>
                </div>
                <div class="tab-pane fade" id="step2">

                    <table class="table table-bordered">
                        <tbody>
                        <tr class="trheadc" height="19">
                            <td width="125" height="19">
                                <br/>
                            </td>
                            <td colspan="2" width="190" height="19">
                                Inland Fisheries
                            </td>
                            <td colspan="2" width="230" height="19">
                                River Fisheries
                            </td>
                            <td colspan="2" width="126" height="19">
                                Marine Fisheries
                            </td>
                        </tr>
                        <tr class="trheadc" height="68">
                            <td width="125" height="68">
                                Types of Assets
                            </td>
                            <td width="95" height="68">
                                Average Replacement Cost (LKR)
                            </td>
                            <td width="111" height="68">
                                Average Repair Cost (LKR)
                            </td>
                            <td width="115" height="68">
                                Average Replacement Cost (LKR)
                            </td>
                            <td width="63" height="68">
                                Average Repair Cost (LKR)
                            </td>
                            <td width="63" height="68">
                                Average Replacement Cost (LKR)
                            </td>
                            <td width="63" height="68">
                                Average Repair Cost (LKR)
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="125" height="19">
                                Fishing Equipment
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr class="tdpa" height="19" ng-repeat="bifAstFequipment in bsInfoFisheries.agri_fisheries.Table_2.BifAstFequipment">
                            <td width="125" height="19" ng-bind="bifAstFequipment.assets" ng-bind="bsAstAirAircrafts.assets" ng-if="$index < 5">
                            </td>
                            <td width="98" ng-if="$index > 4">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('BifAstFequipment', $index)" class="btn btn-sm btn-danger btn-circle" >
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input style="width:90%;float:right;" name="bifAstFequipment_{{$index}}" ng-model="bifAstFequipment.assets"
                                    popover="This field is required"
                                    popover-toggle="form_info_fisheries['bifAstFequipment_' + $index].$dirty && !form_info_fisheries['bifAstFequipment_' + $index].$valid"
                                    popover-placement="top" required
                                    type="text"
                                    class="form-control input-md">
                                {% endverbatim %}
                            </td>
                            <td width="95" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.if_avg_replace_cost">
                            </td>
                            <td width="111" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.if_avg_repair_cost">
                            </td>
                            <td width="115" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.rf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.rf_avg_repair_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.mf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstFequipment.mf_avg_repair_cost">
                            </td>
                        </tr>
                        <tr class="tdpa" height="19">
                            <td width="125" height="19">
                                Others &nbsp;&nbsp;
                                <button ng-click="insertAsset('BifAstFequipment')" class="btn btn-sm btn-info btn-circle" id="insert">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="125" height="19">
                                Office equipment
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bifAstOequipment in bsInfoFisheries.agri_fisheries.Table_2.BifAstOequipment">
                            <td class="tdpa" width="125" height="19" ng-bind="bifAstOequipment.assets" ng-bind="bsAstAirAircrafts.assets" ng-if="$index < 3">
                            </td>
                            <td width="98" ng-if="$index > 2">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('BifAstOequipment', $index)" class="btn btn-sm btn-danger btn-circle" >
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input style="width:90%;float:right;" name="bifAstOequipment_{{$index}}" ng-model="bifAstOequipment.assets"
                                    popover="This field is required"
                                    popover-toggle="form_info_fisheries['bifAstOequipment_' + $index].$dirty && !form_info_fisheries['bifAstOequipment_' + $index].$valid"
                                    popover-placement="top" required
                                    type="text"
                                    class="form-control input-md">
                                {% endverbatim %}
                            </td>
                            <td width="95" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.if_avg_replace_cost">
                            </td>
                            <td width="111" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.if_avg_repair_cost">
                            </td>
                            <td width="115" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.rf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.rf_avg_repair_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.mf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstOequipment.mf_avg_repair_cost">
                            </td>
                        </tr>
                        <tr class="tdpa" height="19">
                            <td width="125" height="19">
                                Others &nbsp;&nbsp;
                                <button ng-click="insertAsset('BifAstOequipment')" class="btn btn-sm btn-info btn-circle" id="insert">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="125" height="19">
                                Machinery
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bifAstMachinery in bsInfoFisheries.agri_fisheries.Table_2.BifAstMachinery">
                            <td class="tdpa" width="125" height="19" ng-bind="bifAstMachinery.assets" ng-if="$index < 1">
                            </td>
                            <td width="98" ng-if="$index > 0">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('BifAstMachinery', $index)" class="btn btn-sm btn-danger btn-circle" >
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input style="width:90%;float:right;" name="bifAstMachinery_{{$index}}" ng-model="bifAstMachinery.assets"
                                    popover="This field is required"
                                    popover-toggle="form_info_fisheries['bifAstMachinery_' + $index].$dirty && !form_info_fisheries['bifAstMachinery_' + $index].$valid"
                                    popover-placement="top" required
                                    type="text"
                                    class="form-control input-md">
                                {% endverbatim %}
                            </td>
                            <td width="95" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.if_avg_replace_cost">
                            </td>
                            <td width="111" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.if_avg_repair_cost">
                            </td>
                            <td width="115" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.rf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.rf_avg_repair_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.mf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstMachinery.mf_avg_repair_cost">
                            </td>
                        </tr>
                        <tr class="tdpa" height="32">
                            <td width="125" height="32">
                                Others &nbsp;&nbsp;
                                <button ng-click="insertAsset('BifAstMachinery')" class="btn btn-sm btn-info btn-circle" id="insert">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                            <td width="95" height="32">
                                <br/>
                            </td>
                            <td width="111" height="32">
                                <br/>
                            </td>
                            <td width="115" height="32">
                                <br/>
                            </td>
                            <td width="63" height="32">
                                <br/>
                            </td>
                            <td width="63" height="32">
                                <br/>
                            </td>
                            <td width="63" height="32">
                                <br/>
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td width="125" height="19">
                                Structures
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bifAstStructures in bsInfoFisheries.agri_fisheries.Table_2.BifAstStructures">
                            <td class="tdpa" width="125" height="19" ng-bind="bifAstStructures.assets" ng-if="$index < 2">
                            </td>
                            <td width="98" ng-if="$index > 1">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('BifAstStructures', $index)" class="btn btn-sm btn-danger btn-circle" >
                                    <i class="fa fa-minus"></i>
                                </button>
                                <input style="width:90%;float:right;" name="bifAstStructures_{{$index}}" ng-model="bifAstStructures.assets"
                                    popover="This field is required"
                                    popover-toggle="form_info_fisheries['bifAstStructures_' + $index].$dirty && !form_info_fisheries['bifAstStructures_' + $index].$valid"
                                    popover-placement="top" required
                                    type="text"
                                    class="form-control input-md">
                                {% endverbatim %}
                            </td>
                            <td width="95" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.if_avg_replace_cost">
                            </td>
                            <td width="111" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.if_avg_repair_cost">
                            </td>
                            <td width="115" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.rf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.rf_avg_repair_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.mf_avg_replace_cost">
                            </td>
                            <td width="63" height="19">
                                <input id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md" ng-model="bifAstStructures.mf_avg_repair_cost">
                            </td>
                        </tr>
                        <tr class="tdpa" height="19">
                            <td width="125" height="19">
                                Others &nbsp;&nbsp;
                                <button ng-click="insertAsset('BifAstStructures')" class="btn btn-sm btn-info btn-circle" id="insert">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                            <td width="95" height="19">
                                <br/>
                            </td>
                            <td width="111" height="19">
                                <br/>
                            </td>
                            <td width="115" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                            <td width="63" height="19">
                                <br/>
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td rowspan="2" width="125" height="38">
                                Buildings
                            </td>
                            <td colspan="3" rowspan="2" width="301" height="38">
                                Average Replacement Cost (LKR/sqm)
                            </td>
                            <td colspan="3" width="189" height="19">
                                Average Repair Cost (LKR/sqm)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td width="63" height="19">
                                Roof
                            </td>
                            <td width="63" height="19">
                                Wall
                            </td>
                            <td width="63" height="19">
                                Floor
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bifAstBuildings in bsInfoFisheries.agri_fisheries.Table_2.BifAstBuildings">
                            <td class="tdpa" width="125" height="19" ng-bind="bifAstBuildings.assets">

                            </td>
                            <td colspan="3" width="301" height="19" >
                                <input ng-model="bifAstBuildings.avg_replace_cost" id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="63" height="19" >
                                <input ng-model="bifAstBuildings.avg_repair_cost_roof" id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="63" height="19" >
                                <input ng-model="bifAstBuildings.avg_repair_cost_wall" id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="63" height="19" >
                                <input ng-model="bifAstBuildings.avg_repair_cost_floor" id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="pull-right">
                        <br>
                         <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>

                        <button type="button" class="btn btn-success" ng-click="saveBsData(form_info_fisheries)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
                 aria-hidden="true">
                <div class="modal-dialog" style="width:50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h5 class="modal-title">
                                <span id="bookId"> </span>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Name</label>
                                <div class="col-md-10">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
