{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSumPowsupDisApp" ng-controller="dlSumPowsupDisController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:power_supply_main' %}">Power Supply Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 4. Summary of damages and losses in the district</span>
        </li>
        <li style="float:right;"><a href="{% static 'dashboard/doc/2-Power Supply-24Jan17.pdf' %}" target="_blank"
                                    style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
                                    data-toggle="tooltip" title="Veiw Document"></a></li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content" ng-form name="form_dl_sum_powsup_dis">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">

                    <colgroup>
                        <col width="244"/>
                        <col width="112"/>
                        <col width="108" span="2"/>
                        <col width="103"/>
                        <col width="107"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1" height="19">
                        <td class="trhead1" width="218" height="19">
                            Incident:
                        </td>
                        <td colspan="" width="567" height="19">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);LoadData(form_dl_sum_powsup_dis);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" colspan="2">
                            Name of District:
                        </td>
                        <td colspan="">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-change="LoadData(form_dl_sum_powsup_dis);" ng-value="district.district__id"
                                    class="form-control" style="font-weight:normal;" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <td>
                            <!--<button class="btn btn-info btn-block"-->
                                    <!--ng-click="LoadData(form_dl_sum_powsup_dis)">Load-->
                            <!--</button>-->
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="38" width="244">
                            Number of Customers Affected
                        </td>
                        <td width="112" style="width:10%;">
                            Domestic
                        </td>
                        <td width="108">
                            Industrial
                        </td>
                        <td width="108">
                            Commercial
                        </td>
                        <td width="103">
                            Others
                        </td>
                        <td width="107">
                            Total
                        </td>
                    </tr>
                    <tr height="19">
                        <td height="19" width="112" ng-bind="data.power_supply.Table_4.DlNumAffDistrict[0].domestic">
                        </td>
                        <td width="108" ng-bind="data.power_supply.Table_4.DlNumAffDistrict[0].industrial">
                        </td>
                        <td width="108" ng-bind="data.power_supply.Table_4.DlNumAffDistrict[0].commercial">
                        </td>
                        <td width="103" ng-bind="data.power_supply.Table_4.DlNumAffDistrict[0].other">
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="38" width="244">
                            Name of Firm
                        </td>
                        <td colspan="2" rowspan="2" width="220" style="width:20%;">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="211">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="107">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td height="19" width="108">
                            Year 1
                        </td>
                        <td width="103">
                            Year 2
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            CEB
                        </td>
                        <td colspan="2" width="220" ng-bind="data.power_supply.Table_4.TotDmgCebDistrict[0].tot_dmg">
                            -
                        </td>
                        <td width="108" ng-bind="data.power_supply.Table_4.TotLosCebDistrict[0].losses_y1">
                            -
                        </td>
                        <td width="103" ng-bind="data.power_supply.Table_4.TotLosCebDistrict[0].losses_y2">
                            -
                        </td>
                        <td width="107"
                            ng-bind="(data.power_supply.Table_4.TotDmgCebDistrict[0].tot_dmg) + (data.power_supply.Table_4.TotLosCebDistrict[0].losses_y1) + (data.power_supply.Table_4.TotLosCebDistrict[0].losses_y2)">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="244">
                            IPPs
                        </td>
                        <td colspan="2">
                        </td>
                        <td width="108">
                        </td>
                        <td width="103">
                        </td>
                        <td width="107">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="totDmgPvtDistrict in data.power_supply.Table_4.TotDmgPvtDistrict">
                        <td class="tdpa" height="19" width="244">
                            IPP 1
                        </td>
                        <td colspan="2" width="220">
                            -
                        </td>
                        <td width="108">
                            -
                        </td>
                        <td width="103">
                            -
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            IPP N
                        </td>
                        <td colspan="2">
                        </td>
                        <td width="108">
                        </td>
                        <td width="103">
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            Total
                        </td>
                        <td colspan="2" width="220">
                            -
                        </td>
                        <td width="108">
                            -
                        </td>
                        <td width="103">
                            -
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr class="trheadc" height="19">
                        <td height="19" width="244">
                            SPPs
                        </td>
                        <td colspan="2">
                        </td>
                        <td width="108">
                        </td>
                        <td width="103">
                        </td>
                        <td width="107">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            SPP 1
                        </td>
                        <td colspan="2" width="220">
                            -
                        </td>
                        <td width="108">
                            -
                        </td>
                        <td width="103">
                            -
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            SPP N
                        </td>
                        <td colspan="2">
                        </td>
                        <td width="108">
                        </td>
                        <td width="103">
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            Total
                        </td>
                        <td colspan="2" width="220">
                            -
                        </td>
                        <td width="108">
                            -
                        </td>
                        <td width="103">
                            -
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" height="19" width="244">
                            GRAND TOTAL
                        </td>
                        <td colspan="2" width="220">
                            -
                        </td>
                        <td width="108">
                            -
                        </td>
                        <td width="103">
                            -
                        </td>
                        <td width="107">
                            -
                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>

                <br>
            </div>

        </div>

    </div>
    </div>


    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
