{% extends "dashboard/base.html" %}
{% block content %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
			 <li class="breadcrumb-item"><a href="#">Power Supply Sector</a>
            </li>
           
			<li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 4. Summary of damages and losses in the district</span></li>

           
        </ol>


        <div class="container-fluid">

        
				
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active" id="step1">
						 
                     <table class="table table-bordered" >
 
    <colgroup>
        <col width="244"/>
        <col width="112"/>
        <col width="108" span="2"/>
        <col width="103"/>
        <col width="107"/>
    </colgroup>
    <tbody>
        <tr class="trhead" height="19">
            <td height="19" width="244">
                
                 Incident
            </td>
            <td colspan="3" width="328">
             <select id="selectbasic" name="selectbasic" class="form-control" style="width:100%;font-weight:400;">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
            </td>
            <td width="103">
               District
            </td>
            <td width="107">
                 <select id="selectbasic" name="selectbasic" class="form-control" style="width:100%;font-weight:400;">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
            </td>
        </tr>
        <tr class="trheadc" height="19">
            <td rowspan="2" height="38" width="244">
                Number of Customers Affected
            </td>
            <td width="112">
                Domestic
            </td>
            <td width="108">
                Industrial
            </td>
            <td width="108">
                Commercial
            </td>
            <td width="103">
                Others
            </td>
            <td width="107">
                Total
            </td>
        </tr>
        <tr height="19">
            <td height="19" width="112">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr class="trheadc" height="19">
            <td rowspan="2" height="38" width="244">
                Name of Firm
            </td>
            <td colspan="2" rowspan="2" width="220">
                Damages (LKR)
            </td>
            <td colspan="2" width="211">
                Losses (LKR)
            </td>
            <td rowspan="2" width="107">
                Total (LKR)
            </td>
        </tr>
        <tr class="trsubc" height="19">
            <td height="19" width="108">
                Year 1
            </td>
            <td width="103">
                Year 2
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                CEB
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr class="trheadc" height="19">
            <td height="19" width="244">
                IPPs
            </td>
            <td colspan="2">
            </td>
            <td width="108">
            </td>
            <td width="103">
            </td>
            <td width="107">
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                IPP 1
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                IPP N
            </td>
            <td colspan="2">
            </td>
            <td width="108">
            </td>
            <td width="103">
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                Total
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr class="trheadc" height="19">
            <td  height="19" width="244">
                SPPs
            </td>
            <td colspan="2">
            </td>
            <td width="108">
            </td>
            <td width="103">
            </td>
            <td width="107">
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                SPP 1
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                SPP N
            </td>
            <td colspan="2">
            </td>
            <td width="108">
            </td>
            <td width="103">
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                Total
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" height="19" width="244">
                GRAND TOTAL
            </td>
            <td colspan="2" width="220">
                -
            </td>
            <td width="108">
                -
            </td>
            <td width="103">
                -
            </td>
            <td width="107">
                -
            </td>
        </tr>
    </tbody>
</table>

 
   

             <br>               

               <br>        
           </div> 
                        	
        </div>

                            </div>
                        </div>

                
		
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
