{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<style>
    .right {text-align:right;}
</style>
<main class="main" ng-app="dlPowerSupplyNatApp" ng-controller="DlPowerSupplyNatController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:power_supply_main' %}">Power Supply Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 6. Summary of damages and losses nationwide</span>
        </li>
 <li style="float:right;"> <a href="{% static 'dashboard/doc/2-Power Supply-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>

    </ol>


    <div class="container-fluid">


        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">

                    <colgroup>
                        <col width="193"/>
                        <col width="97"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>

                    <tbody>
                    <tr class="trhead1">
                        <td class="trhead1 p5" width="130" colspan="6">
                            Incident
                        </td>
                        <td width="125">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);fetchDlData();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="38" width="193">
                            Number of Customers Affected
                        </td>
                        <td height="19" width="97">
                            Domestic
                        </td>
                        <td height="19" width="63">
                            Industrial
                        </td>
                        <td height="19" width="63">
                            Commercial
                        </td>
                        <td height="19" colspan="2" width="63">
                            Others
                        </td>
                        <td height="19" width="63">
                            Total
                        </td>
                    </tr>

                    <tr height="19">
                        <td height="19" width="97" ng-bind="totNumAffDom()">

                        </td>
                        <td height="19" width="63" ng-bind="totNumAffInd()">

                        </td>
                        <td height="19" width="63" ng-bind="totNumAffComm()">

                        </td>
                        <td height="19" width="63" ng-bind="totNumAffOther()">

                        </td>
                        <td class="right" height="19" width="63" ng-bind="totNumAffDom() + totNumAffInd() + totNumAffComm() + totNumAffOther()">

                        </td>
                    </tr>
                    </tbody>
                    </table>
                         <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="38" width="193">
                            District
                        </td>
                        <td colspan="2" rowspan="2" height="38" width="194">
                            Damages (LKR)
                        </td>
                        <td colspan="2" height="19" width="126">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" height="38" width="63">
                            Total (LKR)
                        </td>
                    </tr>

                    <tr class="trsubc" height="19">
                        <td height="19" width="63">
                            Year 1
                        </td>
                        <td height="19" width="63">
                            Year 2
                        </td>
                    </tr>
                             </table>
                         <table class="table table-bordered" ng-if="!checkIfNull()" ng-repeat="(key, value) in dlPowerSupplySumNat.power_supply.Table_6">
                    <tr class="trheadc" height="19" >
                        <td height="19" width="193" ng-bind="key">

                        </td>
                        <td colspan="2" height="19" width="194">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td class="right" height="19" width="63">
                        </td>
                    </tr>
                    <tr height="19" >
                        <td class="tdpa" height="19" width="193">
                            CEB
                        </td>
                        <td colspan="2" class="right"height="19" width="194" ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[0].tot_dmg">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLosCebNational[0].losses_y1">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLosCebNational[0].losses_y2">

                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[0].tot_dmg +
                            data.power_supply.Table_6[key].TotLosCebNational[0].losses_y1 +
                             data.power_supply.Table_6[key].TotLosCebNational[0].losses_y2">

                        </td>
                    </tr>
                    <tr height="19" >
                        <td class="tdpa" class="right"height="19" width="193" >
                            IPPs
                        </td>
                        <td colspan="2" class="right"height="19" width="194" ng-bind="data.power_supply.Table_6[key].TotDmgPvtNational[0].tot_dmg">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year1">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year2">

                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[0].tot_dmg +
                            data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year1 +
                             data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year2">

                        </td>
                    </tr>
                    <tr height="19" >
                        <td class="tdpa" class="right"height="19" width="193">
                            SPPs
                        </td>
                        <td colspan="2" class="right"height="19" width="194" ng-bind="data.power_supply.Table_6[key].TotDmgPvtNational[1].tot_dmg">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year1">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year2">

                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[1].tot_dmg +
                            data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year1 +
                             data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year2">

                        </td>
                    </tr>
                    <tr height="19" >
                        <td class="tdpa" height="19" width="193">
                            Total
                        </td>
                        <td class="right" colspan="2" height="19" width="194"
                            ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[0].tot_dmg +
                            data.power_supply.Table_6[key].TotDmgPvtNational[1].tot_dmg +
                            data.power_supply.Table_6[key].TotDmgPvtNational[0].tot_dmg">

                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="data.power_supply.Table_6[key].TotLosCebNational[0].losses_y1 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year1 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year1">
                        </td>
                        <td class="right" height="19" width="63"
                            ng-bind="data.power_supply.Table_6[key].TotLosCebNational[0].losses_y2 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year2 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year2">
                        </td>
                        <td class="right" height="19" width="63" ng-bind="data.power_supply.Table_6[key].TotDmgCebNational[0].tot_dmg +
                            data.power_supply.Table_6[key].TotDmgPvtNational[1].tot_dmg +
                            data.power_supply.Table_6[key].TotDmgPvtNational[0].tot_dmg +
                            data.power_supply.Table_6[key].TotLosCebNational[0].losses_y1 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year1 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year1 +
                            data.power_supply.Table_6[key].TotLosCebNational[0].losses_y2 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[1].los_year2 +
                            data.power_supply.Table_6[key].TotLossesPvtNational[0].los_year2"
                        >

                        </td>
                    </tr>

                          </table>
                <table class="table table-bordered" ng-if="!checkIfNull()" >

                    <tr height="19">
                        <td class="tdpa" height="19" width="193">
                            TOTAL
                        </td>
                        <td colspan="2" class="right" height="19" width="194" ng-bind="totDmg()">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="totLossY1()">

                        </td>
                        <td height="19"class="right" width="63" ng-bind="totLossY2()">

                        </td>
                        <td height="19" class="right"width="63" ng-bind="totDmg() +totLossY1() + totLossY2() ">

                        </td>
                    </tr>
                    </tbody>
                </table>


                <br>

                <br>
            </div>

        </div>

    </div>
    </div>


    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
