{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="bsHealthStatusApp" ng-controller="BsHealthStatusController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:health_main' %}">Health Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 1: Baseline Information on Health Status in a District or RDH
            </span>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="col-sm-12" style="padding:0;">
            <div class="card">
                <div class="card-block">
                    <table class="table table-bordered" style="width:98.5%;background:#4679B2;color:#fff;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="4"/>
                        </colgroup>
                        <tbody>
                        <tr style="background:#4679B2;">
                            <td class="trhead"> Name of District or RDH</td>
                            <td colspan="2" style="background:#EFEFEF;">
                                <select ng-model="district" id="selectbasic" name="selectbasic" class="form-control"
                                        style="width:50%;font-weight:400;">
                                    {% for district in districts %}
                                    <option value="{{ district.id }}">{{ district.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="1" style="padding-right:5px;text-align:right;">
                                Year/Month
                            </td>
                            <td colspan="1" style="background:#EFEFEF;font-weight:normal;">
                                <input ng-model="bs_date" name="textinput" type="text" placeholder="" id="datepicker"
                                       class="form-control input-md">
                            </td>
                            <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                        </tr>
                        <tr height="20" class="trhead">
                            <td rowspan="3" height="60" width="264" style="padding-left:5px;">
                                Population as of Latest Census
                            </td>
                            <td colspan="2" width="196" style="text-align:center;" style="padding-left:5px;">
                                By Sex
                            </td>
                            <td colspan="2" width="196" style="text-align:center;" style="padding-left:5px;">
                                By Age Group
                            </td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="98" class="trsubc">
                                Male
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Female
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Children (&lt;12)
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Elderly (&gt;60)
                            </td>
                        </tr>
                        <tr height="20" style="background:#fff;">
                            <td height="20" width="98">
                                <input ng-model="dataHealthStatus.Table_1.BhsPlc[0].popMl_1" id="textinput"
                                       name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="98">
                                <input ng-model="dataHealthStatus.Table_1.BhsPlc[0].popFm_1" id="textinput"
                                       name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="98">
                                <input ng-model="dataHealthStatus.Table_1.BhsPlc[0].popChUnder12_1" id="textinput"
                                       name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td width="98">
                                <input ng-model="dataHealthStatus.Table_1.BhsPlc[0].popElOver60_1" id="textinput"
                                       name="textinput" type="text" placeholder=""
                                       class="form-control input-md">
                            </td>
                        </tr>
                        <tr height="34" class="trhead">
                            <td rowspan="2" height="54" width="264" style="padding-left:5px;text-align:center;">
                                Common Diseases
                            </td>
                            <td colspan="2" width="196" style="text-align:center; ">
                                Incidence for the Past Three Years By Sex
                            </td>
                            <td colspan="2" width="196" style="text-align:center;">
                                Incidence for the Past Three Years By Age Group
                            </td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="98" class="trsubc">
                                Male
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Female
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Children
                            </td>
                            <td width="98" style="text-align:center;background:#EFEFEF;color:#000; ">
                                Elderly
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="height:300px;overflow:auto;">
                        <table class="table table-bordered" id="tb1" style="width:100%;margin-top:0px;">
                            <tbody>
                            <tr ng-repeat="comDisease in dataHealthStatus.Table_1.BhsComDiseases" height="20">

                                <!-- Fixed rows -->
                                <td ng-bind="comDisease.com_disease" ng-if="$index < 2" height="20" width="264"
                                    class="tdpa">

                                </td>
                                <td>
                                    <span ng-bind="comDisease[0]"></span>
                                </td>
                                <td ng-repeat="(key, value) in comDisease" ng-if="$parent.$index < 2 && $index > 0"
                                    width="98">


                                    <input ng-model="comDisease[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>

                                <!-- Enumerate rows -->
                                <td ng-repeat="(key, value) in comDisease" ng-if="$parent.$index >= 2 " width="98">

                                    <input ng-model="comDisease[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>

                            </tr>

                            <tr height="20">
                                <td height="20" width="264" class="tdpa">
                                    Others (Enumerate)&nbsp;&nbsp;
                                    <button ng-click="insertDisease('BhsComDiseases')" class="btn btn-sm btn-info"
                                            id="insert"><span
                                            class="fa fa-plus"></span> Add
                                        Field
                                    </button>
                                </td>
                                <td width="98" colspan="4" class="tdpa">

                                </td>
                            </tr>

                            <tr height="20" style="background:#4679B2;color:#fff;">
                                <td height="20" width="264" class="trheadc">
                                    Vital Indicators
                                </td>
                                <td width="98" colspan="4">

                                </td>

                            </tr>
                            <tr ng-repeat="vitalIndicator in dataHealthStatus.Table_1.BhsVi" height="20">
                                <td ng-bind="vitalIndicator.vital_indicators" ng-if="$index < 2" height="20" width="264"
                                    class="tdpa">

                                </td>
                                <td ng-repeat="(key, value) in vitalIndicator" ng-if="$parent.$index < 2 && $index > 0"
                                    width="98">

                                    <input ng-model="vitalIndicator[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>

                                <!-- Enumerate rows -->
                                <td ng-repeat="(key, value) in vitalIndicator" ng-if="$parent.$index >= 2 " width="98">

                                    <input ng-model="vitalIndicator[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>

                            </tr>

                            <tr height="20">
                                <td height="20" width="264" class="tdpa">
                                    Others (Enumerate)&nbsp;&nbsp;
                                    <button ng-click="insertDisease('BhsVi')" class="btn btn-sm btn-info" id="insert4">
                                        <span class="fa fa-plus"></span>
                                        Add Field
                                    </button>
                                </td>
                                <td width="98" colspan="4" class="tdpa">

                                </td>
                            </tr>
                            <tr height="20" style="background:#4679B2;color:#fff;">
                                <td height="20" width="264" class="trheadc">
                                    Other Indicators
                                </td>
                                <td colspan="4" width="392" class="trheadc">
                                    Unit of Measure
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="otherIndicator in dataHealthStatus.Table_1.BhsOi">
                                <td ng-bind="otherIndicator.other_indicators" ng-if="$index < 2" width="264" height="20"
                                    class="tdpa">

                                </td>
                                <td colspan="4" ng-repeat="(key, value) in otherIndicator"
                                    ng-if="$parent.$index < 2 && $index > 0">

                                    <input ng-model="otherIndicator[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>

                                <!-- Enumerate rows -->
                                <td ng-attr-colspan="4" ng-repeat="(key, value) in otherIndicator"
                                    ng-if="$parent.$index >= 2 ">

                                    <input ng-model="otherIndicator[key]"
                                           id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </td>
                            </tr>

                            <tr height="20">
                                <td height="20" width="264" class="tdpa">
                                    Others (Enumerate)&nbsp;&nbsp;
                                    <button ng-click="insertDisease('BhsOi')" class="btn btn-sm btn-info" id="insert2">
                                        <span class="fa fa-plus"></span>
                                        Add Field
                                    </button>
                                </td>
                                <td width="98" colspan="4" class="tdpa">

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <br>
                        <button type="button" ng-click="clear()" class="btn btn-info">
                            Clear
                        </button>
                        <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">Edit
                        </button>
                        <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">Cancel
                            Edit
                        </button>
                        <button type="button" ng-click="hSDataSubmit()" class="btn btn-success">Submit</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /.conainer-fluid -->
    <!--input ng-model="number1" type="number" class="form-control input-md">
    <input ng-model="number2" type="number" class="form-control input-md">
    <input ng-value="sum=number1 + number2" ng-model="sum" class="form-control input-md">

    <button ng-click="getSum()">Click</button-->

</main>

<script>
/*var button = document.getElementById('insert');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 4);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" placeholder="Name" style="width:90%;float:right;" name="textinput" type="text" placeholder="" class="form-control input-md"><span></span></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+ '<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"> </td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';

	$("#delete").click(function(){
 $(this).parent().parent().remove();
});
}
*/






</script>
<script>
/*var button = document.getElementById('insert4');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 2);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete1" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" placeholder="Name" style="width:90%;float:right;" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+ '<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"> </td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td width="98"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';

	$("#delete1").click(function(){
 $(this).parent().parent().remove();
});
}*/




</script>
<script>
/*var button = document.getElementById('insert2');
var table = document.getElementById('tb1');

button.onclick = function() {
    var position=Math.round(table.rows.length / 1);
    var row = table.insertRow(position);
    row.innerHTML = '<td width="264"><button id="delete2" class="btn btn-sm btn-danger btn-circle" ><i class="fa fa-minus"></i></button><input id="textinput" style="width:90%;float:right;" placeholder="Name" name="textinput" type="text" placeholder="" class="form-control input-md"></td>'+'<td colspan="4" width="392"><input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md"></td>';
	$("#delete2").click(function(){
 $(this).parent().parent().remove();
});
}*/




</script>
{% endblock content %}
