{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<style type="text/css">
td {
   width: 20sem!important;
}
</style>
<!-- Main content -->
<main class="main" ng-app="dlSummeryTSProApp" ng-controller="DlSummeryTSProController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:transport_summary_main' %}">
                Transport Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Summary of Damages and Losses in the Transportation Sector in a Province
            </span>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="197"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                        <tr class="trhead1" height="17">
                         <td class="trhead1" width="130" colspan="">
                            Incident
                        </td>
                        <td width="125" colspan="3">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" width="281" height="20">
                            Province
                        </td>
                        <td width="170" colspan="2">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false)" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name">
                                </option>
                            </select>
                        </td>
                        <!--<td colspan="2">-->
                            <!--<button class="btn btn-info btn-block"-->
                                    <!--ng-click="fetchDlData()">Load-->
                            <!--</button>-->
                        <!--</td>-->
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                        <tr class="trheadc1" height="17">
                        <td width="197" height="17">
                            <br/>
                        </td>
                        <td colspan="4" width="252" height="17">
                            Year 1
                        </td>
                        <td colspan="2" width="126" height="17">
                            Year 2
                        </td>
                        <td colspan="2" width="126" height="17">
                            Total
                        </td>
                    </tr>
                        <tr class="trheadc1" height="17">
                            <td rowspan="2" width="197" height="34" style="width:33.5%;">
                                Districts
                            </td>
                            <td colspan="2" width="126" height="17">
                                Damages (LKR)
                            </td>
                            <td colspan="2" width="126" height="17">
                                Losses (LKR)
                            </td>
                            <td colspan="2" width="126" height="17">
                                Losses (LKR)
                            </td>
                            <td colspan="2" width="126" height="17">
                                (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="17">
                        <td width="63" height="17" style="width:;">
                            Public
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Private
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Public
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Private
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Public
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Private
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Public
                        </td>
                        <td width="63" height="17" style="width:8.5%;">
                            Private
                        </td>
                    </tr>
                    <tbody ng-repeat="(key1, value1) in dlTransSumPro.transport_land.Table_8">
                        <tr class="trhead" height="17">
                            <td ng-bind="key1" class="trhead" width="253" height="19">
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                            <td width="63" height="17">
                                <br/>
                            </td>
                        </tr>
                        <tr height="17">
                            <td class="tdpa" width="197" height="17">
                                Land Transportation
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlGacPubProvince[0].damages">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlGacPvtProvince[0].tot_damages_pvt">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlYearsPubProvince[0].year_1">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlOtherLosPvtDistrict[0].year_1_pvt">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlYearsPubProvince[0].year_2">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="value1.DlOtherLosPvtDistrict[0].year_2_pub">
                            </td>
                            <td class="right" width="63" height="17"  ng-bind="value1.DlGacPubProvince[0].damages +
                                value1.DlYearsPubProvince[0].year_1+ value1.DlYearsPubProvince[0].year_2">
                            </td>
                            <td class="right" width="63" height="17" ng-bind="convertToInt(value1.DlGacPvtProvince[0].tot_damages_pvt,
                                value1.DlOtherLosPvtDistrict[0].year_1_pvt , value1.DlOtherLosPvtDistrict[0].year_2_pub)">
                            </td>
                        </tr>
                        <tr height="17">
                        <td class="tdpa" width="197" height="17">
                            Air Transportation
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPubProvince[0].tot_destroyed_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPvtProvince[0].tot_destroyed_pvt">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPubProvince[0].tot_destroyed_pub +
                            dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pub +
                            dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pub ">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPvtProvince[0].tot_destroyed_pvt +
                            dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pvt +
                            dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pvt">
                        </td>
                    </tr>
                        <tr height="17" >
                        <td class="tdpa" width="197" height="17">
                            Water Transportation
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterDmgPubProvince[0].tot_dmg_public">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterDmgPvtProvince[0].tot_dmg_private">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_1_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_1_pvt">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_2_pvt">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterDmgPubProvince[0].tot_dmg_public +
                            dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_1_pub +
                            dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_2_pub">
                        </td>
                        <td class="right" width="63" height="17"
                            ng-bind="dlTransSumPro.transport_water.Table_4[key1].DlWaterDmgPvtProvince[0].tot_dmg_private +
                            dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_1_pvt +
                            dlTransSumPro.transport_water.Table_4[key1].DlWaterLosProvince[0].year_2_pvt">
                        </td>
                    </tr>
                        <tr height="17" >
                            <td class="tdpa" width="197" height="17">
                                Rail Transportation
                            </td>
                            <td class="right" width="63" height="17"
                                ng-bind="dlTransSumPro.transport_rail.Table_3[key1].TotDmgProvince[0].tot_damages">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                            <td class="right" width="63" height="17"
                                ng-bind="dlTransSumPro.transport_rail.Table_3[key1].TotDmgProvince[0].tot_damages">
                            </td>
                            <td width="63" height="17" class="tdpa">
                            </td>
                        </tr>
                        <tr height="17">
                        <td class="boldash tdpa" width="197" height="17">
                            Total
                        </td>
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="totaldpub" ng-bind="totaldpub = {{'totaldpub_'+key1}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" mg-model="totaldpvt" ng-bind="totaldpvt = {{'totaldpvt_'+key1}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="totalyear1pub" ng-bind="totalyear1pub = {{'totalyear1pub_'+key1}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="totalyear1pvt" ng-bind="totalyear1pvt = {{'totalyear1pvt_'+key1}}" >
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="totalyear2pub" ng-bind="totalyear2pub = {{'totalyear2pub_'+key1}}" >
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="totalyear2pvt" ng-bind="totalyear2pvt = {{'totalyear2pvt_'+key1}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="finaltotalpublic" ng-bind="finaltotalpublic = {{'finaltotalpublic_'+key1}}">
                        </td>
                        {% endverbatim %}
                        {% verbatim %}
                        <td class="right" width="63" height="17" ng-model="finaltotalprivate" ng-bind="finaltotalprivate = {{'finaltotalprivate_'+key1}}">
                        </td>
                        {% endverbatim %}
                    </tr>
                    </tbody>
                    <tr height="17">
                        <td class="boldash tdpa" width="197" height="17">
                            GRAND TOTAL
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotDmgPub()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotDmgPvt()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotLosY1Pub()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotLosY1Pvt()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotLosY2Pub()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotLosY2Pvt()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotDmgPub() + grndTotLosY1Pub() + grndTotLosY2Pub()">
                        </td>
                        <td class="right" width="63" height="17" ng-bind="grndTotDmgPvt() + grndTotLosY1Pvt() + grndTotLosY2Pvt()">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="17">
                        <td rowspan="2" width="197" height="34">
                            PROVINCIAL SUMMARY
                        </td>
                        <td colspan="2" width="126" height="17">
                            Damages
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses Year 1
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses Year 2
                        </td>
                        <td colspan="2" width="126" height="17">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr height="17">
                        <td class="right" colspan="2" width="126" height="17"
                            ng-bind="grndTotDmgPub() + grndTotDmgPvt()">
                        </td>
                        <td class="right" colspan="2" width="126" height="17"
                            ng-bind="grndTotLosY1Pub() + grndTotLosY1Pvt()">
                        </td>
                        <td class="right" colspan="2" width="126" height="17"
                            ng-bind="grndTotLosY2Pub() + grndTotLosY2Pvt()">
                        </td>
                        <td class="right" colspan="2" width="126" height="17"
                            ng-bind="grndTotDmgPub() + grndTotLosY1Pub() + grndTotLosY2Pub() + grndTotDmgPvt() +
                            grndTotLosY1Pvt() + grndTotLosY2Pvt()">
                        </td>
                    </tr>
                </table>
                <div class="pull-right">
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
    <!-- add model -->
    <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Add Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- edit model -->
    <div class="modal fade" id="modal-container-218028" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Edit Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
