{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="dlSummeryTSProApp" ng-controller="DlSummeryTSProController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Transport Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Summary of damages and losses in the transportation sector in a province</span>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="197"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead" height="17">
                         <td class="trhead" width="130" colspan="2">
                            Incident
                        </td>
                        <td width="125" colspan="2">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true)"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>{{incident.disaster_type.names}}
                                    {{incident.reported_date_time}}
                                    {% endfor %}
                            </select>
                        </td>
                        <td class="trhead" width="281" height="20">
                            Province
                        </td>
                        <td width="170" colspan="2">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false)" required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <td colspan="2">
                            <button class="btn btn-info btn-block"
                                    ng-click="fetchDlData()">Load
                            </button>
                        </td>
                    </tr>
                    <tr class="trheadc" height="17">
                        <td width="197" height="17">
                            <br/>
                        </td>
                        <td colspan="4" width="252" height="17">
                            Year 1
                        </td>
                        <td colspan="2" width="126" height="17">
                            Year 2
                        </td>
                        <td colspan="2" width="126" height="17">
                            Total
                        </td>
                    </tr>
                    <tr class="trheadc" height="17">
                        <td rowspan="2" width="197" height="34">
                            Districts
                        </td>
                        <td colspan="2" width="126" height="17">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="126" height="17">
                            (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="63" height="17">
                            Public
                        </td>
                        <td width="63" height="17">
                            Private
                        </td>
                        <td width="63" height="17">
                            Public
                        </td>
                        <td width="63" height="17">
                            Private
                        </td>
                        <td width="63" height="17">
                            Public
                        </td>
                        <td width="63" height="17">
                            Private
                        </td>
                        <td width="63" height="17">
                            Public
                        </td>
                        <td width="63" height="17">
                            Private
                        </td>
                    </tr>
                     <table
                           class="table table-bordered">
                        <tbody ng-repeat="(key1, value1) in dlTransSumPro.transport_land.Table_8">
                        <!--<tr><td ng-bind="value.Table_8"></td></tr>-->
                    <tr class="trhead" height="17" ng-init="getTotal(key1)" >
                        <td ng-bind="key1" class="trhead" width="253" height="19">

                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>
                        <td width="63" height="17">
                            <br/>
                        </td>

                    </tr>


                      <tr height="17">
                        <td class="tdpa" width="197" height="17">
                            Land Transportation
                        </td>
                        <td width="63" height="17" ng-bind="value1.DlGacPubProvince[0].damages">

                        </td>
                        <td width="63" height="17" ng-bind="value1.DlGacPvtProvince[0].tot_damages_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="value1.DlYearsPubProvince[0].year_1">

                        </td>
                        <td width="63" height="17" ng-bind="value1.DlOtherLosPvtDistrict[0].year_1_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="value1.DlYearsPubProvince[0].year_2">

                        </td>
                        <td width="63" height="17" ng-bind="value1.DlOtherLosPvtDistrict[0].year_2_pub">

                        </td>
                        <td width="63" height="17"  ng-bind="value1.DlGacPubProvince[0].damages + value1.DlYearsPubProvince[0].year_1 + value1.DlYearsPubProvince[0].year_2">

                        </td>
                        <td width="63" height="17" ng-bind="convertToInt(value1.DlGacPvtProvince[0].tot_damages_pvt,value1.DlOtherLosPvtDistrict[0].year_1_pvt , value1.DlOtherLosPvtDistrict[0].year_2_pub)">

                        </td>
                    </tr>
                        <tr height="17" ng-init="getTotal(key1)">
                        <td class="tdpa" width="197" height="17">
                            Air Transportation
                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPubProvince[0].tot_destroyed_pub">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPvtProvince[0].tot_destroyed_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pub">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pub">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPubProvince[0].tot_destroyed_pub +dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pub + dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pub ">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_air.Table_4[key1].DlAirDmgPvtProvince[0].tot_destroyed_pvt +dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_1_pvt + dlTransSumPro.transport_air.Table_4[key1].DlAirLosProvince[0].year_2_pvt ">

                        </td>
                    </tr>
                         <tr height="17" ng-init="getTotal(key1)">
                        <td class="tdpa" width="197" height="17">
                            Water Transportation
                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterDmgPubProvince[0].tot_dmg_public">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterDmgPvtProvince[0].tot_dmg_private">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_1_pub">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_1_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_2_pub">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_2_pvt">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterDmgPubProvince[0].tot_dmg_public +dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_1_pub + dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_2_pub ">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_water.Table_3[key1].DlWaterDmgPvtProvince[0].tot_dmg_private + dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_1_pvt + dlTransSumPro.transport_water.Table_3[key1].DlWaterLosProvince[0].year_2_pvt">

                        </td>
                    </tr>
                    </tr>
                         <tr height="17" ng-init="getTotal(key1)">
                        <td class="tdpa" width="197" height="17">
                            Rail Transportation
                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_rail.Table_3[key1].TotDmgProvince[0].tot_damages">

                        </td>
                        <td width="63" height="17" class="tdpa">

                        </td>
                        <td width="63" height="17" class="tdpa">

                        </td>
                        <td width="63" height="17"class="tdpa">

                        </td>
                        <td width="63" height="17" class="tdpa">

                        </td>
                        <td width="63" height="17" class="tdpa">

                        </td>
                        <td width="63" height="17" ng-bind="dlTransSumPro.transport_rail.Table_3[key1].TotDmgProvince[0].tot_damages">

                        </td>
                        <td width="63" height="17" class="tdpa">

                        </td>

                    <tr height="17">
                        <td class="boldash" width="197" height="17">
                            Total
                        </td>
                        <td width="63" height="17" ng-bind="display()">

                        </td>

                        <!--<td width="63" height="17" ng-bind="totaldpvt">-->

                        <!--</td>-->
                        <!--<td width="63" height="17" ng-bind="totalyear1pub">-->

                        <!--</td>-->
                        <!--<td width="63" height="17"  ng-bind="totalyear1pvt">-->

                        <!--</td>-->
                        <!--<td width="63" height="17" ng-bind="totalyear2pub">-->

                        <!--</td>-->
                        <!--<td width="63" height="17" ng-bind="totalyear2pvt">-->

                        <!--</td>-->
                        <!--<td width="63" height="17" ng-bind="finaltotalpublic">-->

                        <!--</td>-->
                        <!--<td width="63" height="17" ng-bind="finaltotalprivate">-->

                        <!--</td>-->
                    </tr>


                    </tbody>
                         <tr height="17">
                        <td class="boldash" width="197" height="17">
                            GRAND TOTAL
                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                        <td width="63" height="17">

                        </td>
                    </tr>
                    <tr class="trheadc" height="17">
                        <td rowspan="2" width="197" height="34">
                            PROVINCIAL SUMMARY
                        </td>
                        <td colspan="2" width="126" height="17">
                            Damages
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses Year 1
                        </td>
                        <td colspan="2" width="126" height="17">
                            Losses Year 2
                        </td>
                        <td colspan="2" width="126" height="17">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr height="17">
                        <td colspan="2" width="126" height="17">

                        </td>
                        <td colspan="2" width="126" height="17">

                        </td>
                        <td colspan="2" width="126" height="17">

                        </td>
                        <td colspan="2" width="126" height="17">

                        </td>
                    </tr>
                </table>



                <div class="pull-right">

                </div>


            </div>


            <br><br><br>

        </div>


    </div>
    </div>


    </div>
    <!-- add model -->
    <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Add Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">

                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>

        </div>

    </div>
    <!-- edit model -->
    <div class="modal fade" id="modal-container-218028" role="dialog" style="width:50%;margin:0 auto;"
         aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h5 class="modal-title">
                        Edit Railroad Company
                    </h5>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="textinput">Name</label>
                        <div class="col-md-10">
                            <input id="textinput" name="textinput" type="text" placeholder=""
                                   class="form-control input-md">

                        </div>
                    </div>
                </div>
                <br><br>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>

        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
