{% extends "dashboard/base.html" %}
{% block content %}
<!-- Main content -->
<main class="main" ng-app="bsRwaterSplyDisApp" ng-controller="bsRwaterSplyDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Water Supply Sector</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 2. Baseline Information on Rural Water Supply in a District
            </span>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_rwater_sply_dis">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="240"/>
                        <col width="125" span="3"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box"
                                  ng-show="submitted && form_bs_rwater_sply_dis.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box"
                                  ng-show="submitted && form_bs_rwater_sply_dis.baselineDate.$error.required">
                                Please Select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1">
                        <td style="padding-left:5px;"> Name of District</td>
                        <td colspan="1" style="">
                            <select ng-model="district" id="selectbasic" name="district" class="form-control"
                                    style="font-weight:400;" required>
                                <option value="">Select District</option>
                                {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="" style="padding-right:5px;text-align:right;">
                            Year/Month
                        </td>
                        <td colspan="" style="font-weight:normal;">
                            <input name="baselineDate" type="text" placeholder="mm/yy" id="datepicker" ng-model="bs_date"
                                   class="form-control input-md" required>
                        </td>
                    </tr>
                    <tr class="trheadc1" height="36">
                        <td width="240" height="36">
                            Type of Water Supply
                        </td>
                        <td width="125">
                            Number of Users (Families)
                        </td>
                        <td width="125">
                            Average Replacement Cost (LKR)
                        </td>
                        <td width="125">
                            Average Repair Cost (LKR)
                        </td>
                    </tr>
                    <tr height="20" ng-repeat="bimRuralWater in bsRwaterSplyDis.water_supply.Table_2.BimRuralWater">
                        <td class="tdpa" width="240" height="20" ng-bind="bimRuralWater.type_water_supply">
                        </td>
                        <td width="125">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bimRuralWater.num_users">
                        </td>
                        <td width="125">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bimRuralWater.avg_replace_cost">
                        </td>
                        <td width="125">
                            <input id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md" ng-model="bimRuralWater.avg_repair_cost">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" ng-click="bsHsDataEdit()" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button type="button" class="btn btn-success" ng-click="saveBsData(form_bs_rwater_sply_dis)">Submit</button>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<script>
   $(document).ready(function(){
   $(document).on("click", "#add_preschool", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});
 $(document).on("click", "#edit_preschool", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});

$(document).on("click", "#add_primary", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});
 $(document).on("click", "#edit_primary", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});

$(document).on("click", "#add_secondary", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});
 $(document).on("click", "#edit_secondary", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});

$(document).on("click", "#add_university", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});
 $(document).on("click", "#edit_university", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});

$(document).on("click", "#add_technical", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});
 $(document).on("click", "#edit_technical", function () {
     var title = $(this).data('id');
	 $(".modal-title").text(title);
});


});
</script>
{% endblock content %}
