{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSummeryTWNatApp" ng-controller="DlSummeryTWNatController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>

        <li class="breadcrumb-item"><a href="{% url 'dashboard:transport_water_main' %}">Transport Water Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 5. Summary of Damage and Losses in the Water Transportation Sub-sector Nationwide</span>
        </li>
         <li style="float:right;"> <a href="{% static 'dashboard/doc/1C-Water_Transportation-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>


    <div class="container-fluid">


        <div id="myTabContent" class="tab-content" ng-form name="form_dl_summary_trans_water_nat">
            <div class="tab-pane active" id="step1">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="253"/>
                        <col width="147"/>
                        <col width="151"/>
                        <col width="165"/>
                        <col width="170"/>
                        <col width="135"/>
                        <col width="133"/>
                        <col width="126"/>
                        <col width="85"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_dl_summary_trans_water_nat.incident.$error.required">
                                Please select Incident
                            </span>
                        </td>
                    </tr>
                    <tr height="19" class="trhead1">
                         <td colspan="2" style="padding-left:5px;">
                                Incident
                            </td>
                            <td colspan="6" style="">

                                <select id="select" name="incident" ng-model="incident"
                                        class="form-control"
                                        style="width:100%;font-weight:400;"
                                        ng-change="changedValue(incident);fetchDlData(form_dl_summary_trans_water_nat);" required>

                                    <option value="" selected="true">Select an Incident</option>
                                    {% for incident in incidents %}

                                    <option value={{incident.id}}>
                                        <!--{{incident.disaster_type.name}}-->
                                        <!--{{incident.reported_date_time}}-->
                                        {{incident.incident_name}}
                                    </option>
                                    {% endfor %}

                                </select>

                            </td>
                            <td >
                                <!--<button class="btn btn-info btn-block" ng-click="fetchDlData(form_dl_summary_trans_water_nat)">Load</button>-->
                            </td>
                    </tr>
                    </tbody>
                    </table>

                     <table class="table table-bordered" ng-if="!checkIfNull()">
                        <tbody>
                        <tr class="trheadc1" height="19" >
                        <td rowspan="2" width="253" height="38">
                            Provinces
                        </td>
                        <td colspan="4" width="633">
                            Year 1
                        </td>
                        <td colspan="2" width="268">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" width="211">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" width="298" height="19">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="335">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="268">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td width="253" height="19">
                        </td>
                        <td width="147">
                            Public
                        </td>
                        <td width="151">
                            Private
                        </td>
                        <td width="165">
                            Public
                        </td>
                        <td width="170">
                            Private
                        </td>
                        <td width="135">
                            Public
                        </td>
                        <td width="133">
                            Private
                        </td>
                        <td width="126">
                            Public
                        </td>
                        <td width="85">
                            Private
                        </td>
                    </tr>
                        <tr ng-repeat="(key, value) in dlWaterTransSumNat.transport_water.Table_5"  height="20" ng-init="getTotal($index,key);">

                        <td ng-bind="key" class="tdpa" width="253" height="19">

                        </td>
                        <td width="147" ng-bind="value.DlWaterDmgPubNational[0].tot_dmg_public">

                        </td>
                        <td width="151" ng-bind="value.DlWaterDmgPvtNational[0].tot_dmg_private">

                        </td>
                        <td width="165" ng-bind="value.DlWaterLosNational[0].year_1_pub">

                        </td>
                        <td width="170" ng-bind="value.DlWaterLosNational[0].year_1_pvt">

                        </td>
                        <td width="135" ng-bind="value.DlWaterLosNational[0].year_2_pub">

                        </td>
                        <td width="133" ng-bind="value.DlWaterLosNational[0].year_2_pvt">

                        </td>
                        <td width="126" ng-bind="value.DlWaterDmgPubNational[0].tot_dmg_public + value.DlWaterLosNational[0].year_1_pub +value.DlWaterLosNational[0].year_2_pub ">

                        </td>
                        <td width="85" ng-bind="value.DlWaterDmgPvtNational[0].tot_dmg_private + value.DlWaterLosNational[0].year_1_pvt +value.DlWaterLosNational[0].year_2_pvt ">

                        </td>

                        </tr>
                        <tr height="19">
                        <td class="boldash" width="253" height="19">
                            TOTAL
                        </td>
                        <td width="147" ng-bind="totaldpub">

                        </td>
                        <td width="151" ng-bind="totaldpvt"  >

                        </td>
                        <td width="165" ng-bind="totalyear1pub"  >

                        </td>
                        <td width="170"  ng-bind="totalyear1pvt"  >

                        </td>
                        <td width="135" ng-bind="totalyear2pub"  >

                        </td>
                        <td width="133" ng-bind="totalyear2pvt"  >

                        </td>
                        <td width="126" ng-bind="finaltotalpublic">

                        </td>
                        <td width="85" ng-bind="finaltotalprivate">

                        </td>
                    </tr>

                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>

                </div>
            </div>
            <br><br><br>

        </div>
    </div>


    <div class="col-md-12">


        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
