{% extends "dashboard/base.html" %}
{% block content %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
			 <li class="breadcrumb-item"><a href="#">Transport Sector</a>
            </li>
			 <li class="breadcrumb-item"><a href="#">Water Sub Sector</a>
            </li>
           
			<li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 5. Summary of damage and losses in the water transportation sub-sector nationwide</span></li>

           
        </ol>


        <div class="container-fluid">

       
				
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active" id="step1">
						 <table class="table table-bordered" >
    <colgroup>
        <col width="253"/>
        <col width="147"/>
        <col width="151"/>
        <col width="165"/>
        <col width="170"/>
        <col width="135"/>
        <col width="133"/>
        <col width="126"/>
        <col width="85"/>
    </colgroup>
    <tbody>
        <tr height="19">
            <td class="trheadc" width="253" height="19">
                Incident
            </td>
            <td colspan="8" width="1112">
                <select id="selectbasic" name="selectbasic" class="form-control" style="width:100%;font-weight:400;">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
            </td>
        </tr>
        <tr class="trheadc" height="19">
            <td rowspan="2" width="253" height="38">
                Provinces
            </td>
            <td colspan="4" width="633">
                Year 1
            </td>
            <td colspan="2" width="268">
                Year 2
            </td>
            <td colspan="2" rowspan="2" width="211">
                Total (LKR)
            </td>
        </tr>
        <tr class="trsubc" height="19">
            <td colspan="2" width="298" height="19">
                Damages (LKR)
            </td>
            <td colspan="2" width="335">
                Losses (LKR)
            </td>
            <td colspan="2" width="268">
                Losses (LKR)
            </td>
        </tr>
        <tr class="trsubc" height="19">
            <td width="253" height="19">
            </td>
            <td width="147">
                Public
            </td>
            <td width="151">
                Private
            </td>
            <td width="165">
                Public
            </td>
            <td width="170">
                Private
            </td>
            <td width="135">
                Public
            </td>
            <td width="133">
                Private
            </td>
            <td width="126">
                Public
            </td>
            <td width="85">
                Private
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" width="253" height="19">
                Province 1
            </td>
            <td width="147">
                -
            </td>
            <td width="151">
                -
            </td>
            <td width="165">
                -
            </td>
            <td width="170">
                -
            </td>
            <td width="135">
                -
            </td>
            <td width="133">
                -
            </td>
            <td width="126">
                -
            </td>
            <td width="85">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" width="253" height="19">
                Province 2
            </td>
            <td width="147">
            </td>
            <td width="151">
            </td>
            <td width="165">
            </td>
            <td width="170">
            </td>
            <td width="135">
            </td>
            <td width="133">
            </td>
            <td width="126">
                -
            </td>
            <td width="85">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" width="253" height="19">
                Province N
            </td>
            <td width="147">
            </td>
            <td width="151">
            </td>
            <td width="165">
            </td>
            <td width="170">
            </td>
            <td width="135">
            </td>
            <td width="133">
            </td>
            <td width="126">
                -
            </td>
            <td width="85">
                -
            </td>
        </tr>
        <tr height="19">
            <td class="tdpa" width="253" height="19">
                TOTAL
            </td>
            <td width="147">
                -
            </td>
            <td width="151">
                -
            </td>
            <td width="165">
                -
            </td>
            <td width="170">
                -
            </td>
            <td width="135">
                -
            </td>
            <td width="133">
                -
            </td>
            <td width="126">
                -
            </td>
            <td width="85">
                -
            </td>
        </tr>
    </tbody>
</table>

						
						
						
						 <br>
                   <div class="pull-right">
		<br>
<button type="button" class="btn btn-info">Clear</button>
<button type="button" class="btn btn-success">Submit</button>
</div>	         
           </div> 
           <br><br><br>            
								
        </div>
        </div>
							
							
			
								
                          

         <div class="col-md-12">
			
			
			<div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
				<div class="modal-dialog" style="width:50%;">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h5 class="modal-title" >
								<span id="bookId"> </span>
							</h5>
						</div>
						<div class="modal-body">
						<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="textinput">Name</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>
</div>
<br><br>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
			
		</div>           </div>    

        </div>
		
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
