{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSumTransWaterDstApp" ng-controller="dlSumTransWaterDstController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
           <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:transport_water_main' %}">Transport Water Sector</a>
        </li>

        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 3. Summary of Damages and Losses to Water Transportation in a District
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/1C-Water_Transportation-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;"
               class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content" ng-form name="form_dlsum_trans_water_dst">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">
                    <colgroup>
                        <col width="253"/>
                        <col width="147"/>
                        <col width="151"/>
                        <col width="165"/>
                        <col width="170"/>
                        <col width="135"/>
                        <col width="133"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dlsum_trans_water_dst.incident.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td colspan="" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="isLoded && form_dlsum_trans_water_dst.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="20">
                        <td class="trhead1" width="170">
                            Incident
                        </td>
                        <td lass="trhead1" colspan="2" width="268">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue(true);loadData(form_dlsum_trans_water_dst);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" width="253" height="20">
                            Name of District
                        </td>
                        <td lass="trhead1" colspan="3" width="463">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-change="loadData(form_dlsum_trans_water_dst);" ng-model="district" ng-value="district.district__id"
                                    style="font-weight:400;" class="form-control" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" width="253" height="38">
                            Assets
                        </td>
                        <td colspan="6" width="901">
                            Damages (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td colspan="2" width="298" height="19">
                            Public
                        </td>
                        <td colspan="2" width="335">
                            Private
                        </td>
                        <td colspan="2" width="268">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            Watercrafts
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_public">
                        </td>
                        <td class="right" colspan="2" width="335"
                            ng-bind="data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_private">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_public">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            Equipment and Machinery
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_public">
                        </td>
                        <td class="right " colspan="2" width="335"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_private">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_public">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            Materials and Supplies
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_public">
                        </td>
                        <td class="right" colspan="2" width="335"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_private">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_public">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            Structures
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgStructuresDistrict[0].tot_damages">
                        </td>
                        <td class="right tdpa" colspan="2">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgStructuresDistrict[0].tot_damages">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            Buildings
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgBuildingsDistrict[0].tot_damages">
                        </td>
                        <td class="right tdpa" colspan="2">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="data.transport_water.Table_3.DlWaterDmgBuildingsDistrict[0].tot_damages">
                        </td>
                    </tr>
                    <tr height="19">
                        <td class="tdpa" width="253" height="19">
                            TOTAL
                        </td>
                        <td class="right" colspan="2" width="298"
                            ng-bind="data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_public +
                            data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_public +
                            data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_public +
                            data.transport_water.Table_3.DlWaterDmgStructuresDistrict[0].tot_damages +
                            data.transport_water.Table_3.DlWaterDmgBuildingsDistrict[0].tot_damages">
                        </td>
                        <td class="right" colspan="2" width="335"
                            ng-bind="data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_private">
                        </td>
                        <td class="right" colspan="2" width="268"
                            ng-bind="(data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlAstWaterWcraftsDistrict[0].tot_dmg_public) +
                            (data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgEquipmentDistrict[0].tot_dmg_public) +
                            (data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_private +
                            data.transport_water.Table_3.DlWaterDmgMaterialsDistrict[0].tot_dmg_public) +
                            (data.transport_water.Table_3.DlWaterDmgStructuresDistrict[0].tot_damages) +
                            (data.transport_water.Table_3.DlWaterDmgBuildingsDistrict[0].tot_damages)">
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td width="253" height="19">
                        </td>
                        <td colspan="6" width="901">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" width="253" height="38">
                            Type of Losses
                        </td>
                        <td colspan="2" width="298">
                            Year 1
                        </td>
                        <td colspan="2" width="335">
                            Year2
                        </td>
                        <td colspan="2" width="268">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td width="147" height="19">
                            Public
                        </td>
                        <td width="151">
                            Private
                        </td>
                        <td width="165">
                            Public
                        </td>
                        <td width="170">
                            Private
                        </td>
                        <td width="135">
                            Public
                        </td>
                        <td width="133">
                            Private
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosFi in data.transport_water.Table_3.DlWaterLosFi"
                            ng-if="dlWaterLosFi.type_los == 'Income of companies'">
                        <td class="tdpa" width="253" height="19">
                            Foregone Income of Companies
                        </td>
                        <td class="right" width="147" ng-bind="dlWaterLosFi.year_1_pub">
                        </td>
                        <td class="right" width="151" ng-bind="dlWaterLosFi.year_1_pvt">
                        </td>
                        <td class="right" width="165" ng-bind="dlWaterLosFi.year_2_pub">
                        </td>
                        <td class="right" width="170" ng-bind="dlWaterLosFi.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="dlWaterLosFi.year_1_pub + dlWaterLosFi.year_2_pub">
                        </td>
                        <td class="right" width="133" ng-bind="dlWaterLosFi.year_1_pvt + dlWaterLosFi.year_2_pvt">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosFi in data.transport_water.Table_3.DlWaterLosFi"
                            ng-if="dlWaterLosFi.type_los == 'Income of ports'">
                        <td class="tdpa" width="253" height="19">
                            Foregone Income of Ports
                        </td>
                        <td class="right" width="147" ng-bind="dlWaterLosFi.year_1_pub">
                        </td>
                        <td class="right" width="151" ng-bind="dlWaterLosFi.year_1_pvt">
                        </td>
                        <td class="right" width="165" ng-bind="dlWaterLosFi.year_2_pub">
                        </td>
                        <td class="right" width="170" ng-bind="dlWaterLosFi.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="dlWaterLosFi.year_1_pub + dlWaterLosFi.year_2_pub">
                        </td>
                        <td class="right" width="133" ng-bind="dlWaterLosFi.year_1_pvt + dlWaterLosFi.year_2_pvt">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosOther in data.transport_water.Table_3.DlWaterLosOther"
                        ng-if="dlWaterLosOther.type_los == 'Cleaning costs'">
                        <td class="tdpa" width="253" height="19" ng-bind="dlWaterLosOther.type_los">
                        </td>
                        <td class="right" width="147" ng-bind="dlWaterLosOther.year_1_pub">
                        </td>
                        <td class="right" width="151" ng-bind="dlWaterLosOther.year_1_pvt">
                        </td>
                        <td class="right" width="165" ng-bind="dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="170" ng-bind="dlWaterLosOther.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="dlWaterLosOther.year_1_pub + dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="133" ng-bind="dlWaterLosOther.year_1_pvt + dlWaterLosOther.year_2_pvt">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosOther in data.transport_water.Table_3.DlWaterLosOther"
                        ng-if="dlWaterLosOther.type_los == 'Higher operating costs'">
                        <td class="tdpa" width="253" height="19" ng-bind="dlWaterLosOther.type_los">
                        </td>
                        <td class="right" width="147" ng-bind="dlWaterLosOther.year_1_pub">
                        </td>
                        <td class="right" width="151" ng-bind="dlWaterLosOther.year_1_pvt">
                        </td>
                        <td class="right" width="165" ng-bind="dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="170" ng-bind="dlWaterLosOther.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="dlWaterLosOther.year_1_pub + dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="133" ng-bind="dlWaterLosOther.year_1_pvt + dlWaterLosOther.year_2_pvt">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosOther in data.transport_water.Table_3.DlWaterLosOther"
                        ng-if="dlWaterLosOther.type_los == 'Other unexpected expenses'">
                        <td class="tdpa" width="253" height="19" ng-bind="dlWaterLosOther.type_los">
                        </td>
                        <td class="right" width="147" ng-bind="dlWaterLosOther.year_1_pub">
                        </td>
                        <td class="right" width="151" ng-bind="dlWaterLosOther.year_1_pvt">
                        </td>
                        <td class="right" width="165" ng-bind="dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="170" ng-bind="dlWaterLosOther.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="dlWaterLosOther.year_1_pub + dlWaterLosOther.year_2_pub">
                        </td>
                        <td class="right" width="133" ng-bind="dlWaterLosOther.year_1_pvt + dlWaterLosOther.year_2_pvt">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="dlWaterLosOther in data.transport_water.Table_3.DlWaterLosOther"
                        ng-if="dlWaterLosOther.type_los == 'TOTAL LOSSES'">
                        <td class="tdpa" width="253" height="19" ng-bind="dlWaterLosOther.type_los">
                        </td>
                        <td class="right" width="147"
                            ng-bind="dlWaterLosOther.year_1_pub">
                        </td>
                        <td class="right" width="151"
                            ng-bind="dlWaterLosOther.year_1_pvt">
                        </td>
                        <td class="right" width="165"
                            ng-bind="dlWaterLosOther.year_2_pub ">
                        </td>
                        <td class="right" width="170"
                            ng-bind="dlWaterLosOther.year_2_pvt">
                        </td>
                        <td class="right" width="135" ng-bind="calGrandTotalPub()">
                        </td>
                        <td class="right" width="133" ng-bind="calGrandTotalPvt()">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
                 aria-hidden="true">
                <div class="modal-dialog" style="width:50%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h5 class="modal-title">
                                <span id="bookId"> </span>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Name</label>
                                <div class="col-md-10">
                                    <input id="textinput" name="textinput" type="text" placeholder=""
                                           class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
