{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="dlSummeryTWProApp" ng-controller="DlSummeryTWProController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>

        <li class="breadcrumb-item"><a href="{% url 'dashboard:transport_water_main' %}">Transport Water Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 4. Summary of Damage and Losses in the Water Transportation Sub-Sector in a Province</span>
        </li>
        <li style="float:right;"><a href="{% static 'dashboard/doc/1C-Water_Transportation-24Jan17.pdf' %}"
                                    target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;"
                                    class="icon-info" data-toggle="tooltip" title="Veiw Document"></a></li>
    </ol>

    <div class="container-fluid">


        <div id="myTabContent" class="tab-content" ng-form name="form_dl_summary_trans_water_pro">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">
                    <colgroup>
                        <col width="253"/>
                        <col width="147"/>
                        <col width="151"/>
                        <col width="165"/>
                        <col width="170"/>
                        <col width="135"/>
                        <col width="133"/>
                        <col width="126"/>
                        <col width="85"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box"
                                  ng-show="submitted && form_dl_summary_trans_water_pro.incident.$error.required">
                                Please select Incident
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box"
                                  ng-show="submitted && form_dl_summary_trans_water_pro.province.$error.required">
                                Please select Province
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td class="trhead1" width="130" colspan="2">
                            Incident
                        </td>
                        <td width="125" colspan="2">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control"
                                    ng-change="changedValue(true);fetchDlData(form_dl_summary_trans_water_pro);"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="trhead1" width="281" height="20">
                            Province
                        </td>
                        <td width="170" colspan="3">
                            <select name="province" ng-model="province"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(false);fetchDlData(form_dl_summary_trans_water_pro);"
                                    required>
                                <option value="" selected="true">Select Province</option>
                                <option ng-repeat="province in provinces" ng-value="province.district__province_id"
                                        ng-bind="province.district__province__name"></option>
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tbody>
                    <tr class="trheadc1" height="19">
                        <td rowspan="3" width="253" height="57" style="width:19.5%;">
                            Districts
                        </td>
                        <td colspan="4" width="633">
                            Year 1
                        </td>
                        <td colspan="2" width="268">
                            Year 2
                        </td>
                        <td colspan="2" rowspan="2" width="211">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td colspan="2" width="298" height="19">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="335">
                            Losses (LKR)
                        </td>
                        <td colspan="2" width="268">
                            Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="19">
                        <td width="147" height="19" style="width:%;">
                            Public
                        </td>
                        <td width="151" style="width:%;">
                            Private
                        </td>
                        <td width="165" style="width:%;">
                            Public
                        </td>
                        <td width="170" style="width:11.8%;">
                            Private
                        </td>
                        <td width="135" style="width:10%;">
                            Public
                        </td>
                        <td width="133" style="width:9.8%;">
                            Private
                        </td>
                        <td width="126" style="width:9%;">
                            Public
                        </td>
                        <td width="85">
                            Private
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered"
                       ng-repeat="(key, value) in dlWaterTransSumPro.transport_water.Table_4" ng-if="!checkIfNull()">
                    <tbody>
                    <tr height="20" ng-init="getTotal($index,key);">

                        <td ng-bind="key" class="tdpa" width="253" height="19">

                        </td>
                        <td class="right" width="147" ng-bind="value.DlWaterDmgPubProvince[0].tot_dmg_public">

                        </td>
                        <td class="right" width="151" ng-bind="value.DlWaterDmgPvtProvince[0].tot_dmg_private">

                        </td>
                        <td class="right" width="165" ng-bind="value.DlWaterLosProvince[0].year_1_pub">

                        </td>
                        <td class="right" width="170" ng-bind="value.DlWaterLosProvince[0].year_1_pvt">

                        </td>
                        <td class="right" width="135" ng-bind="value.DlWaterLosProvince[0].year_2_pub">

                        </td>
                        <td class="right" width="133" ng-bind="value.DlWaterLosProvince[0].year_2_pvt">

                        </td>
                        <td class="right" width="126"
                            ng-bind="value.DlWaterDmgPubProvince[0].tot_dmg_public + value.DlWaterLosProvince[0].year_1_pub +value.DlWaterLosProvince[0].year_2_pub ">

                        </td>
                        <td class="right" width="85"
                            ng-bind="value.DlWaterDmgPvtProvince[0].tot_dmg_private + value.DlWaterLosProvince[0].year_1_pvt +value.DlWaterLosProvince[0].year_2_pvt ">

                        </td>

                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered" ng-if="!checkIfNull()">
                    <tr height="19">
                        <td class="boldash" width="253" height="19">
                            TOTAL
                        </td>
                        <td class="right" width="147" ng-bind="totDmgPublic()">

                        </td>
                        <td class="right" width="151" ng-bind="totDmgPrivate()">

                        </td>
                        <td class="right" width="165" ng-bind="totLosY1Public()">

                        </td>
                        <td class="right" width="170" ng-bind="totLosY1Private()">

                        </td>
                        <td class="right" width="135" ng-bind="totLosY2Public()">

                        </td>
                        <td class="right" width="133" ng-bind="totLosY2Private()">

                        </td>
                        <td class="right" width="126" ng-bind="totDmgPublic() + totLosY1Public()+ totLosY1Public()">

                        </td>
                        <td class="right" width="85" ng-bind="totDmgPrivate()+totLosY2Private()+totLosY2Private()">

                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="pull-right">
                    <br>
                    <!--<button type="button" class="btn btn-info">Clear</button>-->
                    <!--<button type="button" class="btn btn-success">Submit</button>-->
                </div>
                <br>
                <br>
                <br>
            </div>


        </div>
    </div>


    <div class="col-md-12">


        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>

    </div>

    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
