{% extends "dashboard/base.html" %}
{% block content %}

   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
			 <li class="breadcrumb-item"><a href="#">Tourism Sector</a>
            </li>
           
			<li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 1. Baseline information of tourism facilities in a district</span></li>

           
        </ol>


        <div class="container-fluid">

        
				
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active" id="step1">
						 
                     <table class="table table-bordered" >
    <colgroup>
        <col width="172"/>
        <col width="101" span="4"/>
    </colgroup>
    <tbody>
       <tr class="trhead" height="19">
            <td style="padding-left:5px;" height="19" width="171">
                District
            </td>
            <td colspan="1" height="19" style="background:#EFEFEF;font-weight:normal;" width="427">
                <select id="selectbasic" name="selectbasic" class="form-control" style="width:100%;font-weight:400;">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
            </td>
            <td style="padding-left:5px;"  height="19" width="171">
               Year/Month
            </td>
            <td colspan="2" height="19" style="background:#EFEFEF;font-weight:normal;" width="427">
                <input name="textinput" type="text" placeholder="" id="datepicker" class="form-control input-md">
            </td>
        </tr>
        <tr class="trheadc" height="20">
            <td rowspan="2" width="172" height="40">
                Tourism Business
            </td>
            <td colspan="2" width="202">
                Number by Ownership
            </td>
            <td colspan="2" width="202">
                Number of Employees
            </td>
        </tr>
        <tr class="trsubc" height="20">
            <td width="101" height="20">
                Private
            </td>
            <td width="101">
                Public
            </td>
            <td width="101">
                Male
            </td>
            <td width="101">
                Female
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Hotels
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Guest Houses
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Travel Agents
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Tour Guides
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr height="34">
            <td class="tdpa" width="172" height="34">
                Adventure Tourism Operators
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Ayurveda Resorts
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr class="tdpa" height="20">
            <td class="tdpa" width="172" height="20">
                Others (Enumerate) &nbsp;&nbsp;<button class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
        <tr class="trheadc" height="20">
            <td width="172" height="20">
                Tourism Infrastructure
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
        <tr class="tdpa" height="20">
            <td width="172" height="20">
                Cultural sites
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Temples
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr class="tdpa" height="20">
            <td class="tdpa" width="172" height="20">
                Others (Enumerate) &nbsp;&nbsp;<button class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
        <tr class="trheadc" height="20">
            <td  width="172" height="20">
                Natural Formations
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
        <tr height="20">
            <td class="tdpa" width="172" height="20">
                Waterfalls
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
            <td width="101">
			 <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </td>
        </tr>
        <tr class="tdpa" height="20">
            <td class="tdpa" width="172" height="20">
                Others (Enumerate) &nbsp;&nbsp;<button class="btn btn-sm btn-info btn-circle" id="insert"><span class="fa fa-plus"></span></button>
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
            <td width="101">
            </td>
        </tr>
    </tbody>
</table>


 
   <div class="pull-right">
		<br>
<button type="button" class="btn btn-info">Clear</button>
<button type="button" class="btn btn-success">Submit</button>
</div>	

             <br>               

               <br>        
           </div> 
                        	
        </div>

                            </div>
                        </div>

                
		
        <!-- /.conainer-fluid -->
    </main> 
  
  
{% endblock content %}
