{% extends "dashboard/base.html" %}
{% block content %}

   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Agriculture / Irrigation Sub Sector</li>

           
        </ol>


       <div class="container-fluid">
<h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Information</h3>

         <div class="row">
                    <div class="col-sm-6 col-md-4">
					<a href="agri_irrigation/base_line/bs_irg_facilities" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>Irrigation Facilities</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->

                    <div class="col-sm-6 col-md-4">
                    <a href="agri_irrigation/base_line/bs_rparpl_cos_assts" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
                            <h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>Repair and Replacement Costs of Irrigation Assets</p>
                                    
                                </blockquote>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!--/.col-->
                   
                    
                    
					</div>
					</div>
					<div class="container-fluid">
					 <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
					<div  class="row">
					
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="agri_irrigation/damage_losses/dl_irrigation" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>Irrigation </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                   </div>
                    <!--/.col-->
                   
					
					                    
					
					                    <div class="col-sm-6 col-md-4">
										<a href="agri_irrigation/damage_losses/dl_sum_irg_district" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> to Irrigation in the District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="agri_irrigation/damage_losses/dl_sum_irg_province" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  in the Irrigation Sub-sector in the Province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="agri_irrigation/damage_losses/dl_sum_irg_national" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  in the Irrigation Sub-sector Nationwide </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
                </div>   
</div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
