{% extends "dashboard/base.html" %}
{% block content %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Industry & Services Sector</li>

           
        </ol>


       <div class="container-fluid">
<h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Information</h3>

         <div class="row">
                    <div class="col-sm-6 col-md-4">

					<a href="industry_services/base_line/bs_info_forml_dis" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>on the Formal IS Sector in a District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->

                    <div class="col-sm-6 col-md-4">

                    <a href="industry_services/base_line/bs_info_informl_dis" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
                            <h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>on the Informal IS Sector in a District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!--/.col-->
                   
                    
                    
					</div>
					</div>
					<div class="container-fluid">
					 <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
					<div  class="row">
					
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="industry_services/damage_losses/dl_formal_sector" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> of a Firm in the Formal Sector </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                   </div>
                    <!--/.col-->
                    
					
					                    
					
					                    <div class="col-sm-6 col-md-4">
										<a href="industry_services/damage_losses/dl_informal_sector" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> of the Informal Sector</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
					

                     <div class="col-sm-6 col-md-4">
                                        <a href="industry_services/damage_losses/dl_forml_informl_dis" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
                            <h3> Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> of the Formal Informal Sector</p>
                                    
                                </blockquote>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!--/.col-->
					</div>
					<div  class="row">
					  <div class="col-sm-6 col-md-4">
										<a href="industry_services/damage_losses/dl_summ_forml_informl_dis" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> of the Formal and Informal Sectors in the District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->

                     <div class="col-sm-6 col-md-4">
                                        <a href="industry_services/damage_losses/dl_sum_forml_informl_dis_inputs" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
                            <h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> of the Formal and Informal Sectors in the District / Inputs</p>
                                    
                                </blockquote>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!--/.col-->



                    <div class="col-sm-6 col-md-4">
                                        <a href="industry_services/damage_losses/dl_sum_pro" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
                            <h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> in a Province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
                        </a>
 <br><br>
                    </div>
                    <!--/.col-->


					
					  <div class="col-sm-6 col-md-4">
										<a href="industry_services/damage_losses/dl_sum_nat" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  Nationwide</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
                </div>   
</div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
