{% extends "dashboard/base.html" %}
{% block content %}

   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Transport / Land Sub Sector</li>

           
        </ol>


       <div class="container-fluid">
<h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Informations</h3>

         <div class="row">
                    <div class="col-sm-6 col-md-4">
					<a href="transport_land/base_line/bs_pub_rod_brid_user" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>of Public Roads, Bridges and Users</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-md-4">
					<a href="transport_land/base_line/bs_trans_assets" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>Land Transportation Assets</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    
                    <div class="col-sm-6 col-md-4">
					<a href="transport_land/base_line/bs_gov_admn_aset" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>Government Administrative Assets</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    
                    
					</div>
					</div>
					<div class="container-fluid">
					 <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
					<div  class="row">
					
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="transport_land/damage_losses/dl_roads_bridges" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>Roads and Bridges </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                   </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-md-4">
					<a href="transport_land/damage_losses/dl_oth_lnd_trnspt_asts" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>to Other Land Transportation Assets</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					                    
					
					                    <div class="col-sm-6 col-md-4">
										<a href="transport_land/damage_losses/dl_govn_admin_aset" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> to Government Agency in Charge of Land Transportation  </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_land/damage_losses/dl_sum_trnsland_distc" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  to Land Transportation in a District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_land/damage_losses/dl_sum_trnsland_povnc" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> in the Land Transportation Sub-sector in a Province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    
                    
                    		  <div class="col-sm-6 col-md-4">
										<a href="transport_land/damage_losses/dl_sum_trnsland_natnal" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> in the Land Transportation Sub-sector Nationwide</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    
                    <!--/.col-->
					
                </div>   
</div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
