{% extends "dashboard/base.html" %}
{% block content %}

   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Transport Summary</li>

           
        </ol>


      
					<div class="container-fluid">
					 <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
					<div  class="row">
					
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="transport_summary/damage_losses/dl_trns_sumr_distr" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3>Summary of Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>in the Transportation Sector in a District </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                   </div>
                    <!--/.col-->
                   
					
					               
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_summary/damage_losses/dl_trns_sumr_provn" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary of Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  in the Transportation Sector in a Province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_summary/damage_losses/dl_trns_sumr_natal" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary of Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  in the Transportation Sector Nationwide</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
                </div>   
</div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
