{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">
            Transport Rail Sector
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/1D-Rail_Transportation-24Jan17.pdf' %}"
               target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document"></a>
        </li>
    </ol>
    <div class="container-fluid">
        <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Informations</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a href="transport_rail/base_line/bs_inc_ast_rail_cmpy" style="text-decoration:none;">
                    <div class="card card-inverse card-primary text-xs-center">
                        <h5><span style="float:right;" class="label label-default">Table 1</span></h5>
                        <div class="card-block">
                            <h3> Baseline Information</h3>
                            <blockquote class="card-blockquote">
                                <p>Income and Assets in the Rail Transportation Company</p>
                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
        </div>
    </div>
    <div class="container-fluid">
        <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damages and Losses</h3>
        <div class="row">
            <!--/.col-->
            <div class="col-sm-6 col-md-4">
                <a href="transport_rail/damage_losses/dl_rail_trnspt_cmpny" style="text-decoration:none;">
                    <div class="card card-inverse card-danger text-xs-center">
                        <h5><span style="float:right;" class="label label-default">Table 2</span></h5>
                        <div class="card-block">
                            <h3> Damages and Losses</h3>
                            <blockquote class="card-blockquote">
                                <p>to the Rail Transportation Company </p>

                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-md-4">
                <a href="transport_rail/damage_losses/dl_rail_trnspt_dis_summary" style="text-decoration:none;">
                    <div class="card card-inverse card-danger text-xs-center">
                        <h5><span style="float:right;" class="label label-default">Table 3</span></h5>
                        <div class="card-block">
                            <h3> Summary Damages & Losses</h3>
                            <blockquote class="card-blockquote">
                                <p> in the Rail Transportation</p>

                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-md-4">
                <a href="transport_rail/damage_losses/dl_rail_trans_nat_type_summary" style="text-decoration:none;">
                    <div class="card card-inverse card-danger text-xs-center">
                        <h5><span style="float:right;" class="label label-default">Table 4</span></h5>
                        <div class="card-block">
                            <h3> Summary Damages & Losses</h3>
                            <blockquote class="card-blockquote">
                                <p> in the Rail Transportation Nationwide</p>

                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
            <div class="col-sm-6 col-md-4">
                <a href="transport_rail/damage_losses/dl_rail_trans_nat_summary" style="text-decoration:none;">
                    <div class="card card-inverse card-danger text-xs-center">
                        <h5><span style="float:right;" class="label label-default">Table 5</span></h5>
                        <div class="card-block">
                            <h3> Summary Damages & Losses</h3>
                            <blockquote class="card-blockquote">
                                <p> in the Rail Transportation Nationwide Type of Losses</p>

                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
