{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
            <li class="breadcrumb-item active">Transport  Air  Sector</li>

           
   <li style="float:right;"> <a href="{% static 'dashboard/doc/1B-Air Transportation-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
        </ol>


       <div class="container-fluid">
<h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Information</h3>

         <div class="row">
                    <div class="col-sm-6 col-md-4">
					<a href="transport_air/base_line/bs_info_aset_trns" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline Information</h3>
                                <blockquote class="card-blockquote">
                                    <p>on the Assets in the Air Transportation Sub-sector</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
                   
                    
                    
					</div>
					</div>
					<div class="container-fluid">
					 <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
					<div  class="row">
					
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="transport_air/damage_losses/dl_air_trnspt" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>to Air Transportation </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                   </div>
                    <!--/.col-->
                    
                    <!--/.col-->
					
					                    
					
					                    <div class="col-sm-6 col-md-4">
										<a href="transport_air/damage_losses/dl_air_trnspt_dstrct" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> to Air Transportation in a District</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_air/damage_losses/dl_air_trnspt_provn" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> in the Air Transportation Sub-sector in a Province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="transport_air/damage_losses/dl_air_trnspt_natnal" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>  in the Air Transportation Sub-sector Nationwide</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
                </div>   
</div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
  
  
{% endblock content %}
