{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<style type="text/css">
td {
   width:8em!important;
}
</style>
<main class="main" ng-app="dlAgriLivestocknNatApp" ng-controller="DlAgriLivestocknNatController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

         <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard:agri_livestock_main' %}">Agri Livestock  Sector</a>
        </li>
        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 6. Summary of Damages and Losses in the Livestock and Poultry Sub-sector Nationwide</span>
        </li>
          <li style="float:right;"> <a href="{% static 'dashboard/doc/4B-Agriculture-Livestock-24Jan17.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info" data-toggle="tooltip" title="Veiw Document" ></a> </li>
    </ol>
    <div class="container-fluid">


        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">


                    <colgroup>
                        <col width="113"/>
                        <col width="117"/>
                        <col width="122"/>
                        <col width="103"/>
                        <col width="136"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>

                    <tr height="19" class="trhead1">
                        <td colspan="2" style="padding-left:5px;">
                            Incident
                        </td>
                        <td colspan="5" style="">

                            <select id="select" name="incident" ng-model="incident"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(incident);fetchDlData();" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    <!--{{incident.disaster_type.name}}-->
                                    <!--{{incident.reported_date_time}}-->
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tbody>
                    <table class="table table-bordered" ng-if="!checkIfNull()" >
                     <colgroup>
                        <col width="113"/>
                        <col width="117"/>
                        <col width="122"/>
                        <col width="103"/>
                        <col width="136"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                        <tbody >
                        <tr class="trhead1" height="19">
                            <td rowspan="3" width="113" height="57">
                                Province
                            </td>
                            <td colspan="4" width="459" height="19">
                                Year 1
                            </td>
                            <td colspan="2" width="286" height="19">
                                Year 2
                            </td>
                            <td colspan="2" rowspan="2" width="126" height="38">
                                Total (LKR)
                            </td>
                        </tr>
                        <tr class="trhead1" height="19">
                            <td colspan="2" width="234" height="19">
                                Damages (LKR)
                            </td>
                            <td colspan="2" width="206" height="19">
                                Losses (LKR)
                            </td>
                            <td colspan="2" width="286" height="19">
                                Losses (LKR)
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td width="117" height="19">
                                Public
                            </td>
                            <td width="122" height="19">
                                Private
                            </td>
                            <td width="103" height="19">
                                Public
                            </td>
                            <td width="136" height="19">
                                Private
                            </td>
                            <td width="143" height="19">
                                Public
                            </td>
                            <td width="63" height="19">
                                Private
                            </td>
                            <td width="63" height="19">
                                Public
                            </td>
                            <td width="63" height="19">
                                Private
                            </td>
                        </tr>

                    <table class="table table-bordered" ng-if="!checkIfNull()" ng-repeat="(key, value) in dlAgriLivestockSumNat.agri_livestock.Table_6">
                     <colgroup>
                        <col width="113"/>
                        <col width="117"/>
                        <col width="122"/>
                        <col width="103"/>
                        <col width="136"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>

                        <tr  height="20" ng-init="getTotal($index,key);">
                            <td class="tdpa" ng-bind="key" width="253" height="19" ></td>

                            <td width="147" class="right" ng-bind="value.DlpNdaPubNational[0].damages">

                            </td>
                            <td width="151" class="right" ng-bind="value.DlpNdaPvtNational[0].damages">

                            </td>
                            <td width="165" class="right" ng-bind="value.DlpLosPubNational[0].los_year_1">

                            </td>
                            <td width="170" class="right" ng-bind="value.DlpLosPvtNational[0].los_year_1">

                            </td>
                            <td width="135" class="right" ng-bind="value.DlpLosPubNational[0].los_year_2">

                            </td>
                            <td width="133" class="right" ng-bind="value.DlpLosPvtNational[0].los_year_2">

                            </td>
                            <td width="85" class="right" ng-bind="value.DlpNdaPubNational[0].damages +
                        value.DlpLosPubNational[0].los_year_1 +
                        value.DlpLosPubNational[0].los_year_2">
                            </td>
                            <td width="85" class="right" ng-bind="value.DlpNdaPvtNational[0].damages +
                        value.DlpLosPvtNational[0].los_year_1 +
                        value.DlpLosPvtNational[0].los_year_2">
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    <table class="table table-bordered" ng-if="!checkIfNull()">
                     <colgroup>
                        <col width="113"/>
                        <col width="117"/>
                        <col width="122"/>
                        <col width="103"/>
                        <col width="136"/>
                        <col width="143"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>

                        <tr height="19">
                            <td class="tdpa" width="253" height="19">
                                GRAND TOTAL
                            </td>
                            <td width="147" class="right" ng-bind="totDmgPub()">

                            </td>
                            <td width="151" class="right" ng-bind="totDmgPvt()"  >

                            </td>
                            <td width="165" class="right" ng-bind="totLosPubY1()"  >

                            </td>
                            <td width="170" class="right"  ng-bind="totLosPvtY1()"  >

                            </td>
                            <td width="135" class="right" ng-bind="totLosPubY2()"  >

                            </td>
                            <td width="133" class="right" ng-bind="totLosPvtY2()"  >

                            </td>
                            <td width="126" class="right" ng-bind="totDmgPub() + totLosPubY1() + totLosPubY2()">

                            </td>
                            <td width="85" class="right" ng-bind="totDmgPvt() + totLosPvtY1() + totLosPvtY2()">

                            </td>

                        </tr>
                    </table>


                    <br>
                    <div class="pull-right">
                        <br>

                    </div>
            </div>


        </div>
    </div>


    <div class="col-md-12">


        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;"
             aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            <span id="bookId"> </span>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Name</label>
                            <div class="col-md-10">
                                <input id="textinput" name="textinput" type="text" placeholder=""
                                       class="form-control input-md">

                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
