s{% extends "dashboard/base.html" %}
{% block content %}
<script>
  $(document).ready(function() {

   var nicesx = $("#boxscroll1").niceScroll({touchbehavior:false,cursorcolor:"#4679B2",cursoropacitymax:0.6,cursorwidth:8});
  
   
    
  });
  

</script>
<!-- Main content -->
<main class="main" ng-app="mnDLArtisanalMinApp" ng-controller="mnDLArtisanalMinController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Mining Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 4: Damages and Losses in Artisanal Mining  </span>
        </li>


    </ol>


    <div class="container-fluid">

        <ul class='nav nav-wizard'>
            <li id="li1" class="active"><a href='#step1' data-toggle="tab">1 - Damages</a></li>
            <li id="li2"><a href='#step2' data-toggle="tab">2 - Losses</a></li>

        </ul>

        <div id="myTabContent" class="tab-content" ng-form name="form_mining_artisanal_dl">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">
                    <colgroup>
                        <col width="171"/>
                        <col width="119" span="5"/>
                        <col width="120"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td colspan="1"  style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_mining_artisanal_dl.incident.$error.required">
                                Please Select Incident
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_mining_artisanal_dl.district.$error.required">
                                Please Select District
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1">

                        <td colspan="2" style="padding-left:5px;">
                            Incident
                        </td>
                        <td colspan="3" style="">
                            <select id="select" name="incident" ng-model="incident"
                                    class="form-control"
                                    style="width:100%;font-weight:400;"
                                    ng-change="changedValue(true)" required>

                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}

                                <option value={{incident.id}}>{{incident.disaster_type.name}}
                                    {{incident.reported_date_time}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="padding-left:5px;">District</td>
                        <td colspan="2" style="">
                            <select ng-options="district as district.district__name for district in districts track by district.district__id"
                                    name="district" id="ccyear" ng-model="district" ng-value="district.district__id" style="font-weight:400;"
                                    class="form-control" ng-change="changedValue(false)" required>
                                <option value="" selected>Select District</option>
                            </select>
                        </td>
                    </tr>

                        <tr class="trheadc1" height="34">
                            <td width="171" height="34" style="width:25%;">
                                Assets
                            </td>
                            <td colspan="2" width="238">
                                Replacement Value of Totally Destroyed Assets (LKR)
                            </td>
                            <td colspan="2" width="238">
                                Repair Cost for Partially Damaged Assets (LKR)
                            </td>
                            <td colspan="2" width="239">
                                Total Damages (LKR)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div id="boxscroll1" style="height:400px;overflow:auto;">
                    <table class="table table-bordered">

                        <tbody>


                        <tr class="trheadc" height="20">
                            <td width="171" height="20" style="width:25%;">
                                Structures
                            </td>
                            <td colspan="2" width="238" style="width:26%;">
                            </td>
                            <td colspan="2" width="238" style="width:26%;">
                            </td>
                            <td colspan="2" width="239">
                            </td>
                        </tr>


                        <tr ng-repeat="dlaDmgStructures in mnDLArtisanalMin.mining.Table_4.DlaDmgStructures"
                            height="20" ng-if="dlaDmgStructures.assets !='Total'">
                            <td ng-bind="dlaDmgStructures.assets" height="20" width="174"
                                class="tdpa" ng-if="$index < 1">

                            </td>
                            <td colspan="" width="98"
                                ng-if="$index > 0 ">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('DlaDmgStructures', $index)"
                                        class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                                <input style="width:80%;float:right;" ng-model="dlaDmgStructures.assets"
                                       popover="This field is required" required
                                       popover-toggle="form_pop_lat_census['dlaDmgStructures' + $index].$dirty && !form_pop_lat_census['dlaDmgStructures_' + $index].$valid"
                                       name="dlaDmgStructures_{{$index}}" type="text" placeholder=""
                                       class="form-control input-md">
                                {% endverbatim %}
                            </td>

                            <td colspan="2" width="98" >

                                <input ng-model="dlaDmgStructures.rep_tot_dassets"
                                       ng-change="getTotal('DlaDmgStructures','rep_tot_dassets');getColumnTotal('DlaDmgStructures','rep_tot_dassets');"
                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98">

                                <input ng-model="dlaDmgStructures.repair_pdmg_assets"
                                       ng-change="getTotal('DlaDmgStructures','repair_pdmg_assets');getColumnTotal('DlaDmgStructures','repair_pdmg_assets');"
                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>

                            <td colspan="2" width="98">
                                <input ng-model="dlaDmgStructures.tot_damages"
                                       id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                       class="form-control input-md nborder"
                                       ng-bind="dlaDmgStructures.tot_damages=dlaDmgStructures.rep_tot_dassets+ dlaDmgStructures.repair_pdmg_assets">

                            </td>




                        </tr>

                        <tr height="20" >
                            <td colspan="8" class="tdpa" height="19" width="171">
                                Others 
                                <button ng-click="insertFirm('DlaDmgStructures')" class="btn btn-sm btn-info btn-circle"
                                        id="insert"><span
                                        class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat="dlaDmgStructures in mnDLArtisanalMin.mining.Table_4.DlaDmgStructures"
                            ng-if="dlaDmgStructures.assets=='Total'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgStructures.assets"
                                height="20" width="264"
                                class="boldash">

                            </td>

                            <td width="98" colspan="2" ng-model="dlaDmgStructures.rep_tot_dassets"
                                ng-bind="dlaDmgStructures.rep_tot_dassets = DlaDmgStructures_rep_tot_dassets">
                            <td width="98" colspan="2" ng-model="dlaDmgStructures.repair_pdmg_assets"
                                ng-bind="dlaDmgStructures.repair_pdmg_assets=DlaDmgStructures_repair_pdmg_assets">
                            <td width="98" colspan="2" ng-model="dlaDmgStructures.tot_damages"
                                ng-bind="dlaDmgStructures.tot_damages = DlaDmgStructures_total">


                        </tr>

                        <tr class="trheadc" height="20">
                            <td width="171" height="20">
                                Equipment
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="239">
                            </td>
                        </tr>
                        <tr ng-repeat="dlaDmgEquipment in mnDLArtisanalMin.mining.Table_4.DlaDmgEquipment"
                            height="20" ng-if="dlaDmgEquipment.assets !='Total'">
                            <td ng-bind="dlaDmgEquipment.assets" height="20" width="174"
                                class="tdpa" ng-if="$index < 1">

                            </td>
                            <td colspan="" width="98"
                                ng-if="$index > 0">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('DlaDmgEquipment', $index)"
                                        class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                                <input style="width:80%;float:right;" ng-model="dlaDmgEquipment.assets"
                                       popover="This field is required" required
                                       popover-toggle="form_pop_lat_census['dlaDmgEquipment' + $index].$dirty && !form_pop_lat_census['dlaDmgEquipment_' + $index].$valid"
                                       name="dlaDmgStructures_{{$index}}" type="text" placeholder=""
                                       class="form-control input-md">
                                {% endverbatim %}
                            </td>

                            <td colspan="2" width="98">

                                <input ng-model="dlaDmgEquipment.rep_tot_dassets"
                                      ng-change="getTotal('DlaDmgEquipment','rep_tot_dassets');getColumnTotal('DlaDmgEquipment','rep_tot_dassets');"
                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98" >

                                <input ng-model="dlaDmgEquipment.repair_pdmg_assets"
                                      ng-change="getTotal('DlaDmgEquipment','repair_pdmg_assets');getColumnTotal('DlaDmgEquipment','repair_pdmg_assets');"
                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>

                            <td colspan="2" width="98" >
                                <input ng-model="dlaDmgEquipment.tot_damages"
                                       id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                       class="form-control input-md nborder"
                                       ng-bind="dlaDmgEquipment.tot_damages=dlaDmgEquipment.rep_tot_dassets+ dlaDmgEquipment.repair_pdmg_assets">

                            </td>




                        </tr>

                        <tr height="20">

                             <td colspan="6" class="tdpa" height="19" width="171" >
                                Others 
                                <button ng-click="insertFirm('DlaDmgEquipment')" class="btn btn-sm btn-info btn-circle"
                                        id="insert"><span
                                        class="fa fa-plus"></span>
                                </button>
                            </td>

                        </tr>

                        <tr ng-repeat="dlaDmgEquipment in mnDLArtisanalMin.mining.Table_4.DlaDmgEquipment"
                            ng-if="dlaDmgEquipment.assets=='Total'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgEquipment.assets"
                                height="20" width="264"
                                class="boldash">

                            </td>

                            <td width="98" colspan="2" ng-model="dlaDmgEquipment.rep_tot_dassets"
                                ng-bind="dlaDmgEquipment.rep_tot_dassets = DlaDmgEquipment_rep_tot_dassets">
                            <td width="98" colspan="2" ng-model="dlaDmgEquipment.repair_pdmg_assets"
                                ng-bind=" dlaDmgEquipment.repair_pdmg_assets = DlaDmgEquipment_repair_pdmg_assets">
                            <td width="98" colspan="2" ng-model="dlaDmgEquipment.tot_damages"
                                ng-bind="dlaDmgEquipment.tot_damages = DlaDmgEquipment_total">


                        </tr>

                        <tr class="trheadc" height="20">
                            <td width="171" height="20">
                                Machinery
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="239">
                            </td>
                        </tr>

                        <tr ng-repeat="dlaDmgMachinery in mnDLArtisanalMin.mining.Table_4.DlaDmgMachinery" height="20" ng-if="dlaDmgMachinery.assets !='Total'">

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgMachinery.assets" ng-if="$index < 1"
                                height="20" width="264"
                                class="tdpa">

                            </td>
                            <td colspan="" width="98"
                                ng-if="$index > 0 ">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('DlaDmgMachinery', $index)"
                                        class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                                <input style="width:80%;float:right;" ng-model="dlaDmgMachinery.assets"
                                       popover="This field is required" required
                                       popover-toggle="form_pop_lat_census['dlaDmgMachinery' + $index].$dirty && !form_pop_lat_census['dlaDmgMachinery' + $index].$valid"
                                       name="dlaDmgMachinery{{$index}}" type="text" placeholder=""
                                       class="form-control input-md">
                                {% endverbatim %}
                            </td>

                            <td colspan="2" width="98" >

                                <input ng-model="dlaDmgMachinery.rep_tot_dassets"
                                       id="textinput" name="textinput" type="number" placeholder=""
                                       ng-change="getTotal('DlaDmgMachinery','rep_tot_dassets');getColumnTotal('DlaDmgMachinery','rep_tot_dassets');"

                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98" >

                                <input ng-model="dlaDmgMachinery.repair_pdmg_assets"
                                        ng-change="getTotal('DlaDmgMachinery','repair_pdmg_assets');getColumnTotal('DlaDmgMachinery','repair_pdmg_assets');"

                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98" >
                                <input ng-model="dlaDmgMachinery.tot_damages"
                                       id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                       class="form-control input-md nborder"
                                       ng-bind="dlaDmgMachinery.tot_damages=dlaDmgMachinery.rep_tot_dassets+ dlaDmgMachinery.repair_pdmg_assets">

                            </td>
                        </tr>

                        <tr height = "20">

                             <td colspan="6" class="tdpa" height="19" width="171">
                                Others 
                                <button ng-click="insertFirm('DlaDmgMachinery')" class="btn btn-sm btn-info btn-circle"
                                        id="insert"><span
                                        class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>

                        <tr ng-repeat="dlaDmgMachinery in mnDLArtisanalMin.mining.Table_4.DlaDmgMachinery"
                            ng-if="dlaDmgMachinery.assets=='Total'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgMachinery.assets"
                                height="20" width="264"
                                class="boldash">

                            </td>

                            <td width="98" colspan="2" ng-model="dlaDmgMachinery.rep_tot_dassets"
                                ng-bind="dlaDmgMachinery.rep_tot_dassets = DlaDmgMachinery_rep_tot_dassets">
                            <td width="98" colspan="2" ng-model="dlaDmgMachinery.repair_pdmg_assets"
                                ng-bind="dlaDmgMachinery.repair_pdmg_assets = DlaDmgMachinery_repair_pdmg_assets">
                            <td width="98" colspan="2" ng-model="dlaDmgMachinery.tot_damages"
                                ng-bind="dlaDmgMachinery.tot_damages = DlaDmgMachinery_total">


                        </tr>

                        <tr class="trheadc" height="20">
                            <td width="171" height="20">
                                Stocks
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="238">
                            </td>
                            <td colspan="2" width="239">
                            </td>
                        </tr>


                        <tr ng-repeat="dlaDmgStocks in mnDLArtisanalMin.mining.Table_4.DlaDmgStocks" height="20" ng-if="dlaDmgStocks.assets !='Total' && dlaDmgStocks.assets !='GRAND TOTAL'">

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgStocks.assets"
                                ng-if="$index < 1"
                                height="20" width="264"
                                class="tdpa">

                            </td>
                            <td colspan="" width="98">
                                {% verbatim %}
                                <button id="delete" ng-click="removeItem('DlaDmgStocks', $index)"
                                        class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                                <input style="width:80%;float:right;" ng-model="dlaDmgStocks.assets"
                                       popover="This field is required" required
                                       popover-toggle="form_pop_lat_census['dlaDmgStocks' + $index].$dirty && !form_pop_lat_census['dlaDmgStocks' + $index].$valid"
                                       name="dlaDmgStocks{{$index}}" type="text" placeholder=""
                                       class="form-control input-md">
                                {% endverbatim %}
                            </td>

                            <td colspan="2" width="98">

                                <input ng-model="dlaDmgStocks.rep_tot_dassets"
                              ng-change="getTotal('DlaDmgStocks','rep_tot_dassets');getColumnTotal('DlaDmgStocks','rep_tot_dassets');"

                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98">

                                <input ng-model="dlaDmgStocks.repair_pdmg_assets"
                                      ng-change="getTotal('DlaDmgStocks','repair_pdmg_assets');getColumnTotal('DlaDmgStocks','repair_pdmg_assets');"

                                       id="textinput" name="textinput" type="number" placeholder=""
                                       class="form-control input-md">
                            </td>
                            <td colspan="2" width="98">

                                <input ng-model="dlaDmgStocks.tot_damages"
                                       id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                       class="form-control input-md nborder"
                                       ng-bind="dlaDmgStocks.tot_damages=dlaDmgStocks.rep_tot_dassets + dlaDmgStocks.repair_pdmg_assets">

                            </td>

                        </tr>

                        <tr height="20">
                            <td colspan="6" class="tdpa" height="19" width="171" >
                                Minerals 
                                <button ng-click="insertFirm('DlaDmgStocks')" class="btn btn-sm btn-info btn-circle"
                                        id="insert"><span
                                        class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>

                          <tr ng-repeat="dlaDmgStocks in mnDLArtisanalMin.mining.Table_4.DlaDmgStocks"
                            ng-if="dlaDmgStocks.assets=='Total'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgStocks.assets"
                                height="20" width="264"
                                class="boldash">

                            </td>

                             <td width="98" colspan="2" ng-model="dlaDmgStocks.rep_tot_dassets "
                            ng-bind="dlaDmgStocks.rep_tot_dassets = DlaDmgStocks_rep_tot_dassets">
                             <td width="98" colspan="2" ng-model="dlaDmgStocks.repair_pdmg_assets"
                            ng-bind="dlaDmgStocks.repair_pdmg_assets = DlaDmgStocks_repair_pdmg_assets">
                             <td width="98" colspan="2" ng-moddel="dlaDmgStocks.tot_damages"
                            ng-bind="dlaDmgStocks.tot_damages = DlaDmgStocks_total">


                        </tr>
                          <tr ng-repeat="dlaDmgStocks in mnDLArtisanalMin.mining.Table_4.DlaDmgStocks"
                            ng-if="dlaDmgStocks.assets=='GRAND TOTAL'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaDmgStocks.assets"
                                height="20" width="264"
                               class="boldash">

                            </td>

                            <td width="98" colspan="2" ng-model="dlaDmgStocks[$index].rep_tot_dassets"
                                ng-bind="dlaDmgStocks.rep_tot_dassets = DlaDmg_rep_tot_dassets_grnd">
                            <td width="98" colspan="2" ng-model="dlaDmgStocks.repair_pdmg_assets "
                                ng-bind="dlaDmgStocks.repair_pdmg_assets = DlaDmg_repair_pdmg_assets_grnd">
                            <td width="98" colspan="2" ng-model="dlaDmgStocks.tot_damages"
                                ng-bind="dlaDmgStocks.tot_damages = DlaDmg_tot_damages_grnd">


                        </tr>

                        </tbody>
                    </table>
                </div>
                <br>
                <a href="#step2" id="s1" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Losses Informations</a>
                <br>
            </div>


            <div class="tab-pane fade" id="step2">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="171"/>
                        <col width="119"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="120"/>
                    </colgroup>
                    <tbody>

                    <tr class="trheadc1" height="34">
                        <td height="34" width="171">
                            Types of losses
                        </td>
                        <td height="34" width="119">
                            Average Value of Output Per Year
                        </td>
                        <td colspan="2" height="34" width="126">
                            Reduction in Value 0f Output (%)
                        </td>
                        <td colspan="2" height="34" width="126">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" height="53" width="120">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td height="19" width="171">
                            Production Losses
                        </td>
                        <td height="19" width="119">
                            LKR/Year
                        </td>
                        <td height="19" width="63">
                            Year 1
                        </td>
                        <td height="19" width="63">
                            Year 2
                        </td>
                        <td height="19" width="63">
                            Year 1
                        </td>
                        <td height="19" width="63">
                            Year 2
                        </td>
                    </tr>

                    <tr ng-repeat="dlaLosPlos in mnDLArtisanalMin.mining.Table_4.DlaLosPlos" height="20" ng-if="dlaLosPlos.type_los !='Total'">

                        <!-- Fixed rows -->
                        <td ng-bind="dlaLosPlos.type_los" ng-if="$index < 3"
                            height="20" width="264"
                            class="tdpa">

                        </td>
                        <td colspan="" width="98"
                            ng-if="$index > 2">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('DlaLosPlos', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                            <input style="width:80%;float:right;" ng-model="dlaLosPlos.type_los"
                                   popover="This field is required" required
                                   popover-toggle="form_pop_lat_census['dlaLosPlos' + $index].$dirty && !form_pop_lat_census['dlaLosPlos' + $index].$valid"
                                   name="dlaLosPlos{{$index}}" type="text" placeholder=""
                                   class="form-control input-md">
                            {% endverbatim %}
                        </td>

                        <td colspan="1" width="98" >

                            <input ng-model="dlaLosPlos.avg_per_year" ng-change="getValue('DlaLosPlos','avg_per_year');"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td colspan="1" width="98" >

                            <input ng-model="dlaLosPlos.red_voutput_year1" ng-change="getValue('DlaLosPlos','red_voutput_year1');"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td colspan="1" width="98" >

                            <input ng-model="dlaLosPlos.red_voutput_year2" ng-change="getValue('DlaLosPlos','red_voutput_year2');"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td colspan="1" width="98">

                            <input ng-model="dlaLosPlos.los_year1"
                                   id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                   class="form-control input-md nborder"
                                   ng-bind="dlaLosPlos.los_year1 = dlaLosPlos.avg_per_year * dlaLosPlos.red_voutput_year1 ">
                        </td>
                        <td colspan="1" width="98" >

                            <input ng-model="dlaLosPlos.los_year2"
                                   id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                   class="form-control input-md nborder"
                                   ng-bind="dlaLosPlos.los_year2 = dlaLosPlos.avg_per_year * dlaLosPlos.red_voutput_year2 ">
                        </td>
                        <td colspan="1" width="98" >

                            <input ng-model="dlaLosPlos.tot_losses"
                                   id="textinput" name="textinput" onfocus="this.blur()" placeholder=""
                                   class="form-control input-md nborder"
                                   ng-bind="dlaLosPlos.tot_losses = dlaLosPlos.los_year1 + dlaLosPlos.los_year2">
                        </td>

                    </tr>

                    <tr height="20">
                         <td colspan="8" class="tdpa" height="19" width="171">
                            Others 
                            <button ng-click="insertFirm('DlaLosPlos')" class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                    </tr>



                     <tr ng-repeat="dlaLosPlos in mnDLArtisanalMin.mining.Table_4.DlaLosPlos"
                            ng-if="dlaLosPlos.type_los=='Total'" height="20">

                            <!-- Fixed rows -->
                            <td ng-bind="dlaLosPlos.type_los"
                                height="20" width="264"
                                class="boldash">

                            </td>


                            <td width="98" colspan="1" ng-model="dlaLosPlos.avg_per_year"
                                class="boldash" >
                            <td width="98" colspan="1" ng-model="dlaLosPlos.red_voutput_year1"
                                class="boldash" >
                            <td width="98" colspan="1" ng-model="dlaLosPlos.red_voutput_year2"
                               class="boldash" >

                            <td width="98" colspan="1" ng-model="dlaLosPlos.los_year1"
                                ng-bind="dlaLosPlos.los_year1 = DlaLosPlos_los_year1">
                            <td width="98" colspan="1" ng-model="dlaLosPlos.los_year2"
                                ng-bind="dlaLosPlos.los_year2 = DlaLosPlos_los_year2">
                            <td width="98" colspan="1" ng-model="dlaLosPlos.tot_losses"
                                ng-bind="dlaLosPlos.tot_losses = DlaLosPlos_total">


                        </tr>

                    <tr class="trheadc" height="19">
                        <td height="19" width="171">
                            Other Losses
                        </td>
                        <td height="19" width="119">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="63">
                        </td>
                        <td height="19" width="120">
                        </td>
                    </tr>


                    <tr ng-repeat="dlaLosOlos in mnDLArtisanalMin.mining.Table_4.DlaLosOlos" height="20" ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                        <!-- Fixed rows -->
                        <td ng-bind="dlaLosOlos.type_los"
                            height="20" width="264"
                            class="tdpa">

                        </td>


                        <td colspan="1" width="98" class="tdpa"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                        </td>
                        <td colspan="1" width="98" class="tdpa"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                        </td>
                        <td colspan="1" width="98" class="tdpa"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">


                        </td>
                        <td colspan="1" width="98"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                            <input ng-model="dlaLosOlos.los_year1" ng-change="getTotal('DlaLosOlos','los_year1');getColumnTotal('DlaLosOlos','los_year1');"
                                   id="textinput" name="textinput" type="number" placeholder=""
                                   class="form-control">
                        </td>
                        <td colspan="1" width="98"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                            <input ng-model="dlaLosOlos.los_year2" ng-change="getTotal('DlaLosOlos','los_year2');getColumnTotal('DlaLosOlos','los_year2');"
                                   id="textinput" name="textinput" type="number"  placeholder=""
                                   class="form-control">
                        </td>
                        <td colspan="1" width="98"
                            ng-if="dlaLosOlos.type_los !='Total' && dlaLosOlos.type_los !='GRAND TOTAL'">

                            <input ng-model="dlaLosOlos.tot_losses"
                                   id="textinput" name="textinput"  onfocus="this.blur()" placeholder=""
                                   class="form-control input-md nborder"
                                   ng-bind="dlaLosOlos.tot_losses = dlaLosOlos.los_year1 + dlaLosOlos.los_year2">
                        </td>
                    </tr>

                    <tr ng-repeat="dlaLosOlos in mnDLArtisanalMin.mining.Table_4.DlaLosOlos"
                            ng-if="dlaLosOlos.type_los=='Total'" height="20" >

                            <!-- Fixed rows -->
                            <td ng-bind="dlaLosOlos.type_los"
                                height="20" width="264"
                                class="boldash">

                            </td>


                            <td width="98" colspan="1"
                                class="boldash" ></td>
                            <td width="98" colspan="1"
                                class="boldash" ></td>
                            <td width="98" colspan="1"
                               class="boldash" ></td>

                            <td width="98" colspan="1" ng-model="dlaLosOlos.los_year1"
                                ng-bind="dlaLosOlos.los_year1 = DlaLosOlos_los_year1"></td>
                            <td width="98" colspan="1" ng-model="dlaLosOlos.los_year2"
                                ng-bind="dlaLosOlos.los_year2 = DlaLosOlos_los_year2"></td>
                            <td width="98" colspan="1" ng-model="dlaLosOlos.tot_losses"
                                ng-bind="dlaLosOlos.tot_losses = DlaLosOlos_total"></td>


                        </tr>

                     <tr ng-repeat="dlaLosOlos in mnDLArtisanalMin.mining.Table_4.DlaLosOlos"
                            ng-if="dlaLosOlos.type_los=='GRAND TOTAL'" height="20">

                            <!-- Fixed rows -->
                            <td ng-bind="dlaLosOlos.type_los"
                                height="20" width="264"
                                class="boldash">

                            </td>


                            <td width="98" colspan="1"
                                class="boldash" ></td>
                            <td width="98" colspan="1"
                                class="boldash" ></td>
                            <td width="98" colspan="1"
                               class="boldash" ></td>

                            <td width="98" colspan="1"
                                ng-bind="dlaLosOlos[$index].los_year1= DlaLosOlos_los_year1_grnd"></td>
                            <td width="98" colspan="1"
                                ng-bind="dlaLosOlos[$index].los_year2 = DlaLosOlos_los_year2_grnd"></td>
                            <td width="98" colspan="1"
                                ng-bind="dlaLosOlos[$index].tot_losses = DlaLosOlos_tot_losses_grnd"></td>


                        </tr>



                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                   
                    <button type="button" ng-click="dlDataEdit(form_mining_artisanal_dl)" ng-if="!is_edit" class="btn btn-success">
                        Edit
                    </button>
                    <button type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel edit
                    </button>
                     <button type="button" class="btn btn-success" ng-click="saveData(form_mining_artisanal_dl)">Submit</button>
                </div>
                <br><br><br>
            </div>
        </div>


    </div>
    </div>

    </div>

    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
