{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="bsPowGenFrimDisApp" ng-controller="BsPowGenFrimDisController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:power_supply_main' %}">
                Power Supply Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 1. Power Generation Firms in a District
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/2-Power Supply-24Jan17.pdf' %}" target="_blank"
                                    style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
                                    data-toggle="tooltip" title="Veiw Document"></a>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1" ng-form name="form_power_firm_dis">
             <td style="width:100px;"> <span ng-if="!check_search">
									<button ng-if="!is_search" class="btn btn-info" disabled><span class="fa fa-search"></span></button>
					</span> <span ng-if="check_search">
									<button ng-click="searchBsData(form_power_firm_dis)" ng-if="!is_search" class="btn btn-info"><span class="fa fa-search"></span></button>
					</span>
					<button ng-click="clear()" ng-if="is_search" class="btn  btn-warning">Cancel Search</button>
				</td>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="244"/>
                        <col width="112"/>
                        <col width="108" span="2"/>
                        <col width="103"/>
                        <col width="107"/>
                        <col width="111" span="2"/>
                    </colgroup>
                    <tbody>
                    <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                        <td style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_power_firm_dis.district.$error.required">
                                Please select District
                            </span>
                        </td>
                        <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                        </td>
                        <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            <span class="arrow_box" ng-show="submitted && form_power_firm_dis.baselineDate.$error.required">
                                Please select Date
                            </span>
                        </td>
                    </tr>
                    <tr class="trhead1" height="19">
                        <td style="padding-left:5px;"> Name of District</td>
                        <td colspan="2" style="">
                            <select ng-model="district" id="selectbasic" ng-change="changeDis()" name="district"
                                    class="form-control"
                                    style="font-weight:400;" required>
                                <option value="">Select District</option>
                                {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="4" style="padding-right:5px;text-align:right;">
                            Year/Month
                        </td>
                        <td colspan="2" style="font-weight:normal;">
                            <input name="baselineDate" type="text" placeholder="mm/yy" ng-change="changeDis()"
                                   id="datepicker" ng-model="bs_date"
                                   class="form-control input-md" required>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="19">
                        <td rowspan="2" height="62" width="244">
                            Power generation plants by ownership
                        </td>
                        <td rowspan="2" width="107">
                            Name
                        </td>
                        <td rowspan="2" width="107">
                            Other Description
                        </td>
                        <td colspan="3" width="431">
                            Number of Power Plants
                        </td>
                        <td width="107">
                        </td>
                        <td rowspan="2" width="111">
                            Total Capacity (kW)
                        </td>
                        <td rowspan="2" width="111">
                            Average Income per Year (LKR/Year)
                        </td>
                    </tr>
                    <tr class="trsubc" height="43">

                        <td height="43" width="112">
                            Hydro
                        </td>
                        <td width="108">
                            Coal
                        </td>
                        <td width="108">
                            Diesel
                        </td>
                        <td width="103">
                            Others
                        </td>
                    </tr>

                    <tr class="tdpa" height="19">
                        <td class="tdpa" height="19" width="244">
                            Power generation plants &nbsp;&nbsp;
                            <button ng-click="insertFirm('BsPwGenFirm')" class="btn btn-sm btn-info btn-circle"
                                    id="insert"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </td>
                        <td colspan="8" width="112">
                        </td>
                    </tr>
                    <tr height="19" ng-repeat="bsPwGenFirm in bsPowGenFrimDis.power_supply.Table_1.BsPwGenFirm">
                        <td width="98">
                            {% verbatim %}
                            <button id="delete" ng-click="removeItem('BsPwGenFirm', $index)"
                                    class="btn btn-sm btn-danger btn-circle"><i class="fa fa-minus"></i></button>
                            <select id="selectbasic" ng-model="bsPwGenFirm.ownership" class="form-control"
                                    popover="This field is required" required
                                    popover-toggle="form_pop_lat_census['bsPwGenFirm_' + $index].$dirty && !form_pop_lat_census['bsPwGenFirm_' + $index].$valid"
                                    name="bsPwGenFirm_{{$index}}" type="text" placeholder=""
                                    style="width:80%;float:right;font-weight:400;">
                                <option value="" selected>Select ownership</option>
                                <option value="CEB">CEB</option>
                                <option value="IPP">IPP</option>
                                <option value="SPPA">SPPA</option>
                            </select>
                            {% endverbatim %}
                        </td>
                        <td width="112">
                            <input id="textinput" name="textinput" type="text" ng-model="bsPwGenFirm.assets"
                                   placeholder="" class="form-control input-md">
                        </td>
                        <td width="108">
                            <input id="textinput" name="textinput" type="text" ng-model="bsPwGenFirm.description"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="108">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.num_hydro"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="103">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.num_coal"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="107">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.num_diesel"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="111">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.num_other"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="111">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.tot_capacity"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                        <td width="111">
                            <input id="textinput" name="textinput" type="number" ng-model="bsPwGenFirm.avg_income"
                                   placeholder=""
                                   class="form-control input-md">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <br>
                    <button id="clearbtn" type="button" ng-click="clear()" class="btn btn-info">
                        Clear
                    </button>
                    <span ng-if="is_edit_disable">
                        <button id="editbtn" type="button" ng-click="editBsData(form_power_firm_dis)" ng-if="!is_edit" class="btn btn-success">
                            Edit
                        </button>
                    </span>
                    <span ng-if="!is_edit_disable">
                        <button id="editbtn" type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                    <button id="editbtn" type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <button id="subbtn" type="button" ng-click="saveBsData(form_power_firm_dis)" class="btn btn-success">
                        Submit
                    </button>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

{% endblock content %}
