{% extends "dashboard/base.html" %}
{% block content %}
<main class="main" ng-app="healthApp" ng-controller="HealthChartController">
    <div class="container-fluid" >
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        </script>
        <style>
        text {font-size:11px!important;color:#000!important;}
        </style>
        <div class="container-fluid">
            <br>
            <div class="card no-print" >
                <div class="card-header" id="search">
                    <strong>Search</strong>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-xs-4" for="cvv">Incident</label>
                                <div class="col-sm-8">
                                    <select id="selectbasic" name="incident" ng-model="incident"
                                            class="form-control" ng-change="changedValue(true);fetchDlData();"
                                            style="width:100%;font-weight:400;" required>
                                        <option value="" selected="true">Select an Incident</option>
                                        {% for incident in incidents %}

                                        <option value={{incident.id}}>
                                            <!--{{incident.disaster_type.name}}-->
                                            <!--{{incident.reported_date_time}}-->
                                            {{incident.incident_name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span style="color:red"
                                      ng-show="submitted && chart_sum_dl_province.incident.$error.required">
                                       Please select Incident
                            </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button class="btn btn-md btn-primary" ng-click="printDiv();"><i
                                        class="fa fa-print"></i> Print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="card" ng-if="!checkIfNull()">
                        <div class="card-header">
                           Total Damages and Total Losses
                        </div>
                        <div class="card-block" style="height:250px;">
                            <div id="barchart" style="border: 0px solid #ccc;padding:15px;"></div>
                        </div>
                    </div>
                </div>
                 <div class="col-xs-6">
                    <div class="card" ng-if="!checkIfNull()">
                        <div class="card-header">
                           Total Number of Patients Affected in  Private Sector
                        </div>
                        <div class="card-block" style="height:250px;">
                            <div id="piechart" style="border: 0px solid #ccc;padding:15px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card" ng-if="!checkIfNull()">
                        <div class="card-header">
                          Total Number of Patients Affected in  Public Sector
                        </div>
                        <div class="card-block" style="height:250px;">
                            <div id="piechartTwo" style="border: 0px solid #ccc;padding:15px;"></div>
                        </div>
                    </div>
                </div>


                </div>



        </div>
        </div>
</main>

{% endblock content %}
