{% extends "dashboard/base.html" %}
{% block content %}
<main class="main" ng-app="waterChartApp" ng-controller="WaterChartController">
    <div>
        <table>
            <tr>
                <td class="" width="130" colspan="2">
                    Incident
                </td>
                <td width="125" colspan="" style="width:300px;">
                    <select id="selectbasic" name="incident" ng-model="incident"
                            class="form-control" ng-change="changedValue(true);fetchDlData();"
                            style="width:100%;font-weight:400;" required>
                        <option value="" selected="true">Select an Incident</option>
                        {% for incident in incidents %}

                        <option value={{incident.id}}>{{incident.disaster_type.name}}
                            {{incident.reported_date_time}}
                            {% endfor %}
                    </select>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </div>
    <br><br>

    <br><br>
    <span ng-if="!checkIfNull()">Total Damages and Total Losses </span>
    <div style="width:600px;height:350px;">
        <canvas id="bar" class="chart chart-bar"
                chart-data="tableDamageLosses" chart-labels="provincenames" chart-series="damageLossesSeries">
        </canvas>
    </div>
    <br><br>
    <span ng-if="!checkIfNull()">Number of Affected Clients of Commercial Water Supply</span>
    <div style="width:600px;height:350px;">
        <canvas id="pie1" class="chart chart-pie"
                chart-data="totalAffectedCommercial" chart-labels="totalAffectedCommercialSeries" chart-options="options">
        </canvas>
    </div>
    <br><br>
    <span ng-if="!checkIfNull()">Number of Affected Clients of Rural Water Supply</span>
    <div style="width:600px;height:350px;">
        <canvas id="pie2" class="chart chart-pie"
                chart-data="totalAffectedRural" chart-labels="totalAffectedRuralSeries" chart-options="options">
        </canvas>
    </div>
</main>
{% endblock content %}
