{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<!-- Main content -->
<main class="main" ng-app="bsTelcomCmpnysApp" ng-controller="bsTelcomCmpnysController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:telecom_main' %}">
                Telecommunication Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 1. Baseline Information on Telecommunication Companies
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Telecommunications.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
                data-toggle="tooltip" title="Veiw Document" >
            </a>
        </li>
    </ol>
    <div class="container-fluid" ng-form name="form_bs_telcom_cmpnys">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <td style="width:100px;">
                    <span ng-if="!check_search">
                        <button ng-if="!is_search" class="btn btn-info" disabled><span class="fa fa-search"></span></button>
                    </span>
                    <span ng-if="check_search">
                        <button ng-click="searchBsData(form_bs_telcom_cmpnys)" ng-if="!is_search" class="btn btn-info"><span class="fa fa-search"></span></button>
                    </span>
                    <button ng-click="clear()" ng-if="is_search" class="btn  btn-warning">Cancel Search</button>
                </td>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="293"/>
                        <col width="254"/>
                        <col width="145"/>
                        <col width="221"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                        <col width="63"/>
                    </colgroup>
                    <tbody>
                        <tr style="background:#fff;border:1px solid #fff;text-align:center;">
                            <td  style="background:#fff;border:1px solid #fff;text-align:center;" border="0">
                            </td>
                            <td colspan="2"  style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_bs_telcom_cmpnys.district.$error.required">
                                    Please select District
                                </span>
                            </td>
                            <td colspan="1" style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td  style="background:#fff;border:1px solid #fff;text-align:center;">
                            </td>
                            <td colspan="2" style="background:#fff;border:1px solid #fff;text-align:center;">
                                <span class="arrow_box" ng-show="submitted && form_bs_telcom_cmpnys.baselineDate.$error.required">
                                    Please Select Date
                                </span>
                            </td>
                        </tr>
                        <tr class="trhead1" height="19">
                            <td height="19" colspan="2" width="293">
                                District
                            </td>
                            <td height="19" width="254">
                                <select id="selectbasic" ng-change="fetchCompanies();changeDis();" name="district" class="form-control" ng-model="district" style="width:100%;font-weight:400;" required>
                                    <option value="" selected="true">Select a District</option>
                                    {% for district in districts %}
                                        <option value={{ district.id }}>{{ district.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2" height="19" width="290">
                                Year/Month
                            </td>
                            <td colspan="7" height="19" width="252">
                                <input name="baselineDate" type="text" placeholder="mm/yy" id="datepicker" ng-change="changeDis()" ng-model="bs_date" class="form-control input-md" required>
                            </td>
                            <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                        </tr>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                        <tr height="19" class="tdpa">
                            <td class="tdpa" height="19" width="293">
                                Company Name
                            </td>
                            <td colspan="10" height="19" width="126">
                                <button id="add_preschool" href="#modal-container-218029" role="button" data-toggle="modal"
                                   data-id="Add "
                                   class="open-modal-container-218029 btn   btn-primary btn-info">Add New Company</button>
                                    <a id="edit_preschool" href="#modal-container-218020" role="button" data-toggle="modal"
                                   data-id="Edit " class="btn   btn-primary btn-warning">Edit Company</a>
                            </td>
                        </tr>
                        <tr class="trheadc" height="19">
                            <td colspan="12" height="19" width="1395">
                                Services provided
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td colspan="6" height="19" width="840">
                                Fixed
                            </td>
                            <td colspan="6" height="19" width="631">
                                Mobile
                            </td>
                        </tr>
                        <tr height="19" ng-repeat="bsTelCompany in bsTelcomCmpnys.telecommunication.Table_1.BsTelCompany">
                            <td height="19" width="293">
                                <select ng-options="company as company.company_name for company in companies track by company.id"
                                        name="firm" ng-value="company.id" id="ccyear" ng-model="bsTelCompany.company" class="form-control"
                                        style="font-weight:400;" required>
                                    <option value="" selected>Select Firm</option>
                                </select>
                            </td>
                            <td style="display:none;" ng-model="company_name" ng-bind="bsTelCompany.company_name = bsTelCompany.company.company_name">
                            </td>
                            <td ng-model="bsTelCompany.ownership" ng-bind="bsTelCompany.ownership = bsTelCompany.company.ownership">
                            </td>
                            <td height="19" width="293">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="1" ng-model="bsTelCompany.fixed_voice">
                                        Voice
                                    </label>
                                </div>
                            </td>
                            <td height="19" width="254">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-2" value="1" ng-model="bsTelCompany.fixed_tv">
                                        Tv
                                    </label>
                                </div>
                            </td>
                            <td height="19" width="145">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-3" value="1" ng-model="bsTelCompany.fixed_data">
                                        Data/Internet
                                    </label>
                                </div>
                            </td>
                            <td colspan="2" height="19" width="442">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-4" value="1" ng-model="bsTelCompany.mobile_voice">
                                        Voice
                                    </label>
                                </div>
                            </td>
                            <td colspan="3" height="19" width="189" style="width:17%;">
                                <div class="checkbox">
                                    <label for="checkboxes-0">
                                        <input type="checkbox" name="checkboxes" id="checkboxes-5" value="1" ng-model="bsTelCompany.mobile_data">
                                        Data/Internet
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button id="delete" class="btn btn-sm btn-danger btn-circle" ng-click="removeFermForForm('BsTelCompany', $index)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="trsubc" height="19">
                            <td height="19" colspan="11" width="293" align="left">
                                New Company &nbsp;&nbsp;
                                <button ng-click="addFermForForm()" class="btn btn-sm btn-info btn-circle" id="insert">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="pull-right">
                    <br>
                    <button id="clearbtn" type="button" ng-click="clear()" class="btn btn-info">
                        Clear
                    </button>
                    <span ng-if="is_edit_disable">
                        <button id="editbtn" type="button" ng-click="editBsData(form_bs_telcom_cmpnys)" ng-if="!is_edit"
                                class="btn btn-success">Edit
                        </button>
                    </span>
                    <span ng-if="!is_edit_disable">
                        <button id="editbtn" type="button" ng-else="!is_edit" class="btn btn-success" disabled>
                            Edit
                        </button>
                    </span>
                    <button id="editbtn" type="button" ng-click="cancelEdit()" ng-if="is_edit" class="btn btn-warning">
                        Cancel Edit
                    </button>
                    <span ng-if="!is_submit">
                        <button id="subbtn" type="button" ng-click="saveBsData(form_bs_telcom_cmpnys)" class="btn btn-success">
                            Submit
                        </button>
                    </span>
                    <span ng-if="is_submit">
                        <button id="subbtn" type="button" class="btn btn-success" disabled>
                            Submit
                        </button>
                    </span>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!--Save-->
        <div class="modal fade" id="modal-container-218029" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            Add Company
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Name</label>
                            <div class="col-md-8">
                                <input id="textinput" name="textinput" ng-model="company" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="ownership" ng-model='ownership' class="form-control" style="font-weight:400;" required>
                                    <option value="" selected="true">Select Ownership</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="saveCompany()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit-->
        <div class="modal fade" id="modal-container-218020" role="dialog" style="width:50%;margin:0 auto;" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h5 class="modal-title">
                            Edit Company
                        </h5>
                    </div>
                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Select Company</label>
                            <div class="col-md-8">
                                <select ng-options="company as company.company_name for company in companies track by company.id"
                                    name="firm" ng-value="company.id" id="ccyear" ng-model="editTelCompany" class="form-control" style="font-weight:400;" required>
                                    <option value="" selected>Select Firm</option>
                                </select>
                            </div>
                        </div>
                         <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Edit Name</label>
                            <div class="col-md-8">
                                <input id="textinput" name="textinput" ng-model="editTelCompany.company_name" type="text" placeholder=""
                                       class="form-control input-md">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-4 control-label" for="textinput">Ownership</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="ownership" ng-model='editTelCompany.ownership' class="form-control" style="font-weight:400;" required>
                                    <option value="" selected="true">Select Ownership</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editCompany()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
