{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<main class="main" ng-app="dlNationwideApp" ng-controller="dlNationwideController">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:othergov_main' %}">
                Other Government Sector
            </a>
        </li>
        <li class="breadcrumb-item active">
            <span class="label label-success" style="font-size:14px;">
                Table 5. Damage and Loss Assessment for Other Agencies Nationwide
            </span>
        </li>
        <li style="float:right;">
            <a href="{% static 'dashboard/doc/Other_Government Services.pdf' %}" target="_blank" style="font-size: 18px;font-weight:bold;text-decoration: none;" class="icon-info"
               data-toggle="tooltip" title="Veiw Document"></a>
        </li>
    </ol>
    <div class="container-fluid">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">
                <td>
                    <a href="#" class="btn btn-sm btn-info" style="float:right;">
                        <span class="fa fa-search"></span>
                    </a>
                </td>
                <table class="table table-bordered">
                    <colgroup>
                        <col width="107"/>
                        <col width="191"/>
                        <col width="118" span="4"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead1">
                        <td style="padding-left:5px;"> Incident {{user1}}</td>
                        <td colspan="4" style="">
                            <select id="selectbasic" name="incident" ng-model="incident"
                                    class="form-control" ng-change="changedValue();fetchDlData();"
                                    style="width:100%;font-weight:400;" required>
                                <option value="" selected="true">Select an Incident</option>
                                {% for incident in incidents %}
                                <option value={{incident.id}}>
                                    {{incident.incident_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <span ng-bind="user_id={{user.id}}" style="display:none;"></span>
                    </tr>
                    <tr class="trheadc1" height="20">
                        <td rowspan="2" width="191">
                            Asset Ownership
                        </td>
                        <td rowspan="2" width="118">
                            Damages (LKR)
                        </td>
                        <td colspan="2" width="236">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="118">
                            Total (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="20">
                        <td width="118" height="20">
                            Year 1
                        </td>
                        <td width="118">
                            Year 2
                        </td>
                    </tr>
                    <table ng-repeat="(key, value) in dlNationwideSys.other_govn_services.Table_5" class="table table-bordered">
                        <tbody>
                            <tr height="20" class="trhead">
                                <td style="width:26%;" ng-bind="key" width="191">
                                </td>
                                <td style="width:25.8%;" width="118">
                                </td>
                                <td width="118">
                                </td>
                                <td width="118">
                                </td>
                                <td width="118" style="width:16%;">
                                </td>
                            </tr>
                            <tr ng-repeat="(key, value) in value" ng-if="value.DlagdDmgNational[0].ownership == 1" height="20">
                                <td ng-bind="key" class="tdpa" width="191">
                                </td>
                                <td class="right" ng-bind="value.DlagdDmgNational[0].damages" width="118">
                                </td>
                                <td class="right" ng-bind="value.DlagdLossesNational[0].los_year1" width="118">
                                </td>
                                <td class="right" ng-bind="value.DlagdLossesNational[0].los_year2" width="118">
                                </td>
                                <td class="right" ng-bind="value.damages + value.DlagdLossesNational[0].los_year1 +
                                    value.DlagdLossesNational[0].los_year2">
                                </td>
                            </tr>
                            <tr ng-repeat="(key, value) in value" ng-if="value.DlagdDmgNational[0].ownership == 2" height="20">
                                <td ng-bind="key" class="tdpa" width="191">
                                </td>
                                <td class="right" ng-bind="value.DlagdDmgNational[0].damages" width="118">
                                </td>
                                <td class="right" ng-bind="value.DlagdLossesNational[0].los_year1" width="118">
                                </td>
                                <td class="right" ng-bind="value.DlagdLossesNational[0].los_year2" width="118">
                                </td>
                                <td class="right" ng-bind="value.damages + value.DlagdLossesNational[0].los_year1 +
                                    value.DlagdLossesNational[0].los_year2">
                                </td>
                            </tr>
                            <tbody ng-repeat="(key, uui) in value" ng-if="key == 'National Ministry or Agency'" height="20">
                                <tr ng-repeat="tbl in uui.DlagdDmgNational" height="20">
                                    <td ng-bind="tbl.name" class="tdpa" width="191">
                                    </td>
                                    <td ng-bind="tbl.damages" class="right" width="118">
                                    </td>
                                    <td ng-bind="uui.DlagdLossesNational[$index].los_year1" class="right" width="118">
                                    </td>
                                    <td ng-bind="uui.DlagdLossesNational[$index].los_year2" class="right" width="118">
                                    </td>
                                    <td ng-bind="tbl.damages + uui.DlagdLossesNational[$index].los_year1 +
                                        uui.DlagdLossesNational[$index].los_year2" class="right">
                                    </td>
                                </tr>
                            </tbody>
                            <tr height="20">
                                <td class="tdpa" width="191" height="20">
                                    Total
                                </td>
                                <td class="right" width="118" ng-bind="getTotDamages(key)">
                                </td>
                                <td class="right" width="118" ng-bind="getTotLosYear1(key)">
                                </td>
                                <td class="right" width="118" ng-bind="getTotLosYear2(key)">
                                </td>
                                <td class="right" width="118" ng-bind="getTotDamages(key) + getTotLosYear1(key) + getTotLosYear2(key)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-if="dlNationwideSys.other_govn_services.Table_5 != null" class="table table-bordered">
                        <tbody>
                            <tr height="20">
                                <td class="tdpa" colspan="0" width="298" height="20">
                                    TOTAL
                                </td>
                                <td class="right" width="118" ng-bind="getTOTDamages()">
                                </td>
                                <td class="right"  width="118" ng-bind="getTOTLosYear1()">
                                </td>
                                <td class="right" width="118" ng-bind="getTOTLosYear2()">
                                </td>
                                <td class="right" width="118" ng-bind="getTOTDamages() + getTOTLosYear1() + getTOTLosYear2()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


{% endblock content %}
